<h2 class="text-center">Circuncisão do Senhor e Oitava do Natal</h2><em>1 de Janeiro</em>

<h4 class="text-center">Intróito</h4><em>Is. 9, 6</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Puer natus est nobis, et fílius datus est nobis: cujus impénum super húmerum ejus: et vocábitur nomen ejus magni consílii Angelus. <em>Ps. 97, 1</em> Cantáte Dómino cánticum novum: quia mirabília fecit.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">
Nasceu para nós um Menino e foi-nos dado um Filho que traz sobre os ombros o manto da realeza, o qual será chamado «Anjo do admirável conselho». <em>Sl. 97, 1</em> Cantai ao Senhor um hino novo, pois Ele operou maravilhas.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Deus, qui salútis ætérnæ, beátæ Maríæ virginitáte fecúnda, humáno géneri prǽmia præstitísti: tríbue, quǽsumus; ut ipsam pro nobis intercédere sentiámus, per quam merúimus auctórem vitæ suscípere, Dóminum nostrum Jesum Christum, Fílium tuum: Qui tecum vivit <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que pela virgindade fecunda da Bem-aventurada Virgem Maria concedestes ao género humano o prémio da salvação eterna, permiti, Vos imploramos, que gozemos a intercessão daquela pela qual fomos julgados dignos de receber o autor da vida, nosso Senhor Jesus Cristo, vosso Filho: Que, sendo Deus, convosco vive e reina <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4><em>Tt. 2, 11-15</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio Epístolæ beati Pauli Apóstoli ad Titum.
</div>
<div class="col-6 text-justify">
Lição da Ep.ª do B. Ap.º Paulo a Tito.
</div>
<div class="col-6 text-justify">
Caríssime: Appáruit grátia Dei Salvatóris nostri ómnibus homínibus, erúdiens nos, ut, abnegántes impietátem et sæculária desidéria, sóbrie et juste et pie vivámus in hoc sǽculo, exspectántes beátam spem et advéntum glóriæ magni Dei et Salvatóris nostri Jesu Christi: qui dedit semetípsum pro nobis: ut nos redímeret ab omni iniquitáte, et mundáret sibi pópulum acceptábilem, sectatórem bonórum óperum. Hæc lóquere et exhortáre: in Christo Jesu, Dómino nostro.
</div>
<div class="col-6 text-justify">
Caríssimo: A graça de Deus, nosso Salvador, manifestou-se a todos os homens, ensinando-nos, a fim de que, repudiando a impiedade e os apetites terrenos, vivamos neste mundo com temperança, justiça e piedade, pensando na esperança, na bem-aventurança eterna e na vinda da glória do nosso grande Deus e Salvador, Jesus Cristo: que se ofereceu espontaneamente por nós, para nos resgatar de toda a iniquidade e tornar-nos numa raça purificada, escolhida e zelosa em suas boas obras. Ensina e prega estas cousas, em Jesus Cristo, nosso Senhor!
</div>
</div>
</div>

<h4 class="text-center">Gradual</h4><em>Sl. 97, 3 & 2</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Vidérunt omnes fines terræ salutare Dei nostri: jubiláte Deo, omnis terra. ℣. Notum fecit Dominus salutare suum: ante conspéctum géntium revelávit justitiam suam.
</div>
<div class="col-6 text-justify">
Toda a terra viu o Salvador que o nosso Deus enviou: aclamai, pois, o Senhor, ó povos de toda a terra! ℣. O Senhor manifestou o Salvador que havia prometido: e manifestou a sua justiça aos olhos dos povos.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Hebr. 1, 1-2</em> Multifárie olim Deus loquens pátribus in Prophétis, novíssime diébus istis locútus est nobis in Fílio. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Heb. 1, 1-2</em> Deus, que outrora falou de diversas maneiras pelos Profetas, dignou-se falar-nos nos últimos tempos pelo seu Filho. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4><em>Lc. 2, 21</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
&#10016; Sequéntia sancti Evangélii secúndum Lucam.
</div>
<div class="col-6 text-justify">
&#10016; Continuação do santo Evangelho segundo S. Lucas.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Postquam consummáti sunt dies octo, ut circumciderétur Puer: vocátum est nomen ejus Jesus, quod vocátum est ab Angelo, priúsquam in útero conciperétur.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, passados que foram oito dias depois dos quais o Menino devia ser circuncidado, foi-Lhe dado o nome de Jesus, que foi aquele que o Anjo Lhe havia dado, antes de ser concebido no seio de sua Mãe.
</div>
</div>
</div>

<h4 class="text-center">Ofertório</h4><em>Sl. 88, 12 & 15</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Tui sunt cœli et tua est terra: orbem terrárum et plenitúdinem ejus tu fundásti: justítia et judícium præparátio sedis tuæ.
</div>
<div class="col-6 text-justify">
A Vós, Senhor, pertencem os céus e a terra, pois criastes o universo e tudo o que ele encerra. A justiça e a equidade são a base do vosso trono.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Munéribus nostris, quǽsumus, Dómine, precibúsque suscéptis: et cœléstibus nos munda mystériis, et cleménter exáudi. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Havendo Vós, Senhor, recebido benignamente os nossos dons e orações, dignai-Vos ainda, Vos suplicamos, purificar-nos pela virtude dos vossos celestiais mystérios e ouvir-nos misericordiosamente. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4><em>Sl. 97, 3</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Vidérunt omnes fines terræ salutáre Dei nostri.
</div>
<div class="col-6 text-justify">
Toda a terra viu o Salvador que o nosso Deus enviou.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Hæc nos commúnio, Dómine, purget a crímine: et, intercedénte beáta Vírgine Dei Genetríce María, cœléstis remédii fáciat esse consórtes. Per eúndem Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Que esta comunhão, Senhor, nos purifique de nossos crimes e que por intercessão da B. Virgem Maria, Mãe de Deus, nos torne participantes do remédio celestial. Pelo mesmo nosso Senhor <em>&c.</em>
</div>
</div>
</div>
