---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
  <div class="container mx-auto">
    <img src="/img/1.gif" alt="First slide" />

    <div class="shadow card text-center h-100">
      <img
        src="/img/cruxifixao2.gif"
        class="card-img-top img-fluid h-20"
        alt="Card image cap"
      />
      <div class="card-body">
        <div class="card-title">
          <h4>Santa Missa Diária</h4>
        </div>
        <div class="card-text">
          <span
            >Missa diariamente actualiazada com os textos e segundo o calendário
            do Rito Romano</span
          >
        </div>
        <a href="missa" class="btn btn-danger mt-2">Ver</a>
      </div>

      <div class="shadow card text-center h-100">
        <img
          src="/img/murillo.jpeg"
          class="card-img-top img-fluid h-20"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title">
            <h4>Pequeno Ofício de Nossa Senhora</h4>
          </div>
          <div class="card-text">
            <span>Os vários Ofícios da muito Tradicional oração dos fiéis.</span
            >
          </div>
          <a href="oficio" class="btn btn-danger mt-2">Ver</a>
        </div>
      </div>

      <div class="shadow card text-center h-100">
        <img
          src="/img/salmo.gif"
          class="card-img-top img-fluid h-20"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title">
            <h4>Saltério</h4>
          </div>
          <div class="card-text">
            <span
              >O Saltério da Vulgata e a base para o Canto Gregoriano, por ele
              muitos aprenderam a ler, outros tantos a cantar e muitos mais a
              louvar o Senhor.</span
            >
          </div>
          <a href="salterio" class="btn btn-danger mt-2">Ver</a>
        </div>
      </div>

      <div class="shadow card text-center h-100">
        <img
          src="/img/altar.gif"
          class="card-img-top h-20"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title">
            <h4>Bênção do Santíssimo Sacramento</h4>
          </div>
          <div class="card-text">
            <span
              >Hinos em honra do Santíssimo Sacramento, Hinos para antes da
              Bênção, Louvores Dívinos, Hinos para depois da Bênção.</span
            >
          </div>
          <a href="adoracao" class="btn btn-danger mt-2">Ver</a>
        </div>
      </div>

      <div class="shadow card text-center h-100">
        <img
          src="/img/moutains.gif"
          class="card-img-top img-fluid h-20"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title">
            <h4>Oração da Manhã</h4>
          </div>
          <a href="oracaomanha" class="btn btn-danger mt-2">Ver</a>
        </div>
      </div>

      <div class="shadow card text-center h-100">
        <img
          src="/img/penitent.gif"
          class="card-img-top img-fluid h-20"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title">
            <h4>Angelus</h4>
          </div>
          <a href="angelus" class="btn btn-danger mt-2">Ver</a>
        </div>
      </div>

      <div class="shadow card text-center h-100">
        <img
          src="/img/jose.jpeg"
          class="card-img-top img-fluid h-20"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title">
            <h4>Oração da Noite</h4>
          </div>
          <a href="oracaonoite" class="btn btn-danger mt-2">Ver</a>
        </div>
      </div>

      <div class="shadow card text-center h-100">
        <img
          src="/img/pale.gif"
          class="card-img-top img-fluid h-20"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title">
            <h4>Baptismo</h4>
          </div>
          <a href="baptismo" class="btn btn-danger mt-2">Ver</a>
        </div>
      </div>

      <div class="shadow card text-center h-100">
        <img
          src="/img/virgin.gif"
          class="card-img-top img-fluid h-20"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title">
            <h4>Antífonas de Nossa Senhora</h4>
          </div>
          <a href="antifonas" class="btn btn-danger mt-2">Ver</a>
        </div>
      </div>

      <div class="shadow card text-center h-100">
        <img
          src="/img/antonio.gif"
          class="card-img-top img-fluid h-20"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title">
            <h4>Verdades de Fé</h4>
          </div>
          <a href="verdadesfe" class="btn btn-danger mt-2">Ver</a>
        </div>
      </div>

      <div class="shadow card text-center h-100">
        <img
          src="/img/catecismo.jpg"
          class="card-img-top img-fluid h-20"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title">
            <h4>Catecismo</h4>
          </div>
          <a href="catecismo" class="btn btn-danger mt-2">Ver</a>
        </div>
      </div>

      <div class="shadow card text-center h-100">
        <img
          src="/img/sanctemichael.png"
          class="card-img-top img-fluid h-20"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title">
            <h4>Orações Leoninas</h4>
          </div>
          <a href="oracoesleoninas" class="btn btn-danger mt-2">Ver</a>
        </div>
      </div>
    </div>
  </div>
</Layout>
