[submodule "divinum-officium"]
	path = divinum-officium
	url = https://github.com/ofrades/divinum-officium
[submodule "divinum-officium"]
	path = divinum-officium
	url = https://github.com/ofrades/divinum-officium.git
