node_modules
_includes/.DS_Store
.vscode
.DS_Store
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
_config.yml
missa/
Missal1962/
.vs
.netlify
.gitignore
.gitmodules
.DS_Store
Gemfile
Gemfile.lock
gen_static_data.sh
tesouro.code-workspace