# build output
dist
.astro/

# dependencies
node_modules/

# Local Netlify folder
.netlify

.env
/playwright-report/
/blob-report/
/playwright/.cache/
coverage
bench/report.json

src-tauri/gen/android/app/universal/release
src-tauri/gen/android/.idea
