[submodule "DivinumOfficium"]
    path = Missal1962/resources/divinum-officium
    url = git@github.com:ofrades/divinum-officium.git

[submodule "Missal1962"]
    path = Missal1962
    url = git@github.com:ofrades/Missal1962.git
