---
layout: default
title: Bênção do Santíssimo Sacramento
---

<div class="col-2 desktop">
  <nav id="toc" data-spy="affix" data-toggle="toc" class="toc-bencao"></nav>
</div>

<div class="col-md-10">
  <h1 class="text-center">Bênção do Santíssimo Sacramento</h1>

  <h2 class="text-center">O Salutáris Hóstia</h2>

  {% include adoracao/osalutaris.html %}

  <h4 class="text-center">Acto de Adoração</h4>

  <p class="dropcaps">
    Meu Senhor e meu Deus, creio que estais verdadeiramente, realmente e
    substancialmente nessa Hóstia Consagrada, como estais no céu! Creio-o,
    Senhor, porque Vós o disseste! Humildemente prostrado no abysmo do meu nada
    e da minha miséria, profundamente Vos adoro e reconheço como meu Deus,
    Criador, Senhor, Redentor e Juiz. Não só Vos Adoro nessa Divina Hóstia, mas
    também em todos os Sacrários do mundo, principalmente onde sois menos
    adorado, manifestando-Vos o meu maior amor e reconhecimento pela vossa
    existência na Hóstia Consagrada. Tende misericórdia de mim, Senhor, e
    suportai-me na vossa presença! Senhor, pesa-me do íntimo do coração de Vos
    haver ofendido tantas vezes e tão vilmente! Arrependo-me sinceramente de Vos
    haver ultrajado! Quem me dera, Senhor, antes ter morrido, do que Vos haver
    ofendido! Mas... aqui me tendes a vossos pés, humilhado e contrito.
    Proponho, auxiliado com vossa graça, nunca, nunca mais pecar! Senhor, sois
    bom e misericordioso, perdoai-me! E agora, Senhor, vinde a mim. Já que não
    posso receber-Vos sacramentalmente, ao menos desejo receber-Vos
    espiritualmente. Vinde, Senhor, e Vos não afasteis nunca mais. Ah! Como é
    bom viver unido a Vós! Senhor, eu Vos amo; eu Vos adoro!
  </p>

  <h2 class="text-center">Hinos em Honra do Santíssimo Sacramento</h2>

  <h4 class="text-center">Adoro Te Devote</h4>

  {% include adoracao/adorotedevote.html %}

  <h4 class="text-center">Ave Verum Corpus</h4>

  {% include adoracao/aveverum.html %}

  <h4 class="text-center">Ecce Panis Angelorum</h4>

  {% include adoracao/eccepanisangelorum.html %}

  <h4 class="text-center">Parce Domine</h4>

  {% include adoracao/parcedomine.html %}

  <h4 class="text-center">Cor jesu sacratissimum</h4>

  <div class="container-fluid">
    <div class="row">
      <div class="col-6 text-justify">
        V. Cor Jesu sacratissimum:
      </div>
      <div class="col-6 text-justify">
        V. Coração sacratíssimo de Jesus:
      </div>
      <div class="col-6 text-justify">
        <span class="text-danger">R.</span> Miserere nobis.
      </div>
      <div class="col-6 text-justify">
        <span class="text-danger">R.</span> Tende misericórdia de nós.
      </div>
    </div>
  </div>

  <h2 class="text-center">Hino para antes da Bênção</h2>

  <h4 class="text-center">Tantum Ergo</h4>

  {% include adoracao/tantumergo.html %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-6 text-justify">
        V. Panem de cælo præstitísti eis. (T. P. Aleluia)
      </div>
      <div class="col-6 text-justify">
        V. Vós lhes destes, Senhor, o pão do céu. (T. P. Aleluia)
      </div>
      <div class="col-6 text-justify">
        <span class="text-danger">R.</span> Omne delectaméntum in se habéntem.
        (T. P. Aleluia)
      </div>
      <div class="col-6 text-justify">
        <span class="text-danger">R.</span> O qual encerra em si toda a doçura.
        (T. P. Aleluia)
      </div>
      <div class="col-6 text-danger text-center">
        Orémus.
      </div>
      <div class="col-6 text-danger text-center">
        Oremos.
      </div>
      <div class="col-6 text-justify">
        Deus, quid nobis sub Sacraménto mirábili passiónis tuæ memóriam
        reliquísti: tríbue, quǽsumus, ita nos Córporis et Sánguinis tui sacra
        mystéria venerári; ut redemptiónis tuæ fructum in nobis júgiter
        sentiámus: Qui vivis et régnas in sæcula sæculórum.
      </div>
      <div class="col-6 text-justify">
        Ó Deus, que neste admirável Sacramento nos deixastes um memorial da
        vossa paixão, concedei-nos a graça, Vos suplicamos, de honrarmos por tal
        modo os sagrados mystérios do vosso Corpo e Sangue que sintamos sempre
        os frutos da vossa Redenção: Vós, que viveis e reinais em todos os
        séculos dos séculos.
      </div>
      <div class="col-6 text-justify">
        <span class="text-danger">R.</span> Amen.
      </div>
      <div class="col-6 text-justify">
        <span class="text-danger">R.</span> Amen.
      </div>
    </div>
  </div>

  <h2 class="text-center">Louvores Dívinos</h2>

  <div class="container-fluid">
    <div class="row">
      <div class="col-6 dropcaps text-justify">
        Benedíctus Deus. Benedíctum Nomen sanctum ejus.
      </div>
      <div class="col-6 dropcaps text-justify">
        Bendito seja Deus. Bendito o seu Santo Nome.
      </div>
      <div class="col-6 text-justify">
        Benedíctus Jesus Christus, verus Deus et verus homo.
      </div>
      <div class="col-6 text-justify">
        Bendito Jesus Cristo, verdadeiro Deus e verdadeiro homem.
      </div>
      <div class="col-6 text-justify">
        Benedíctum Nomen Jesu.
      </div>
      <div class="col-6 text-justify">
        Bendito o nome de Jesus.
      </div>
      <div class="col-6 text-justify">
        Benedíctum Cor ejus sacratíssimum.
      </div>
      <div class="col-6 text-justify">
        Bendito o seu Sacratíssimo Coração.
      </div>
      <div class="col-6 text-justify">
        Benedíctus Sanguis ejus pretiosíssimus.
      </div>
      <div class="col-6 text-justify">
        Bendito o seu Preciosíssimo sangue.
      </div>
      <div class="col-6 text-justify">
        Benedíctus Jesus in sanctíssimo altáris Sacraménto.
      </div>
      <div class="col-6 text-justify">
        Bendito Jesus Cristo no Santíssimo Sacramento do altar.
      </div>
      <div class="col-6 text-justify">
        Benedíctus Spíritus Sanctus, Paráclitus.
      </div>
      <div class="col-6 text-justify">
        Bendito o Espírito Santo Paráclito.
      </div>
      <div class="col-6 text-justify">
        Benedícta magna Mater Dei, María sanctíssima.
      </div>
      <div class="col-6 text-justify">
        Bendita Excelsa Mãe de Deus, Maria Santíssima.
      </div>
      <div class="col-6 text-justify">
        Benedicta sancta ejus et immaculáta concéptio.
      </div>
      <div class="col-6 text-justify">
        Bendita a sua Santa e Imaculada Conceição.
      </div>
      <div class="col-6 text-justify">
        Benedícta ejus gloriósa assúmptio.
      </div>
      <div class="col-6 text-justify">
        Bendita a sua Gloriosa Assun-ção.
      </div>
      <div class="col-6 text-justify">
        Benedíctum nomen Maríæ, Vírginis e Matris.
      </div>
      <div class="col-6 text-justify">
        Bendito o nome de Maria, Virgem e Mãe.
      </div>
      <div class="col-6 text-justify">
        Benedíctus sanctus Joseph, ejus castíssimus Sponsus.
      </div>
      <div class="col-6 text-justify">
        Bendito São José, seu Castíssimo Esposo.
      </div>
      <div class="col-6 text-justify">
        Benedíctus Deus em Ángelis ejus, et in Sanctis suis.
      </div>
      <div class="col-6 text-justify">
        Bendito Deus nos seus Anjos e nos seus Santos.
      </div>
    </div>
  </div>

  <h2 class="text-center">Hinos para depois da Bênção</h2>

  <h4 class="text-center">Cristus Vincit</h4>

  <div class="container-fluid">
    <div class="row">
      <div class="col-6 text-justify">
        Christus Vincit!
      </div>
      <div class="col-6 text-justify">
        Cristo Vence!
      </div>
      <div class="col-6 text-justify">
        Christus Regnat!
      </div>
      <div class="col-6 text-justify">
        Cristo Reina!
      </div>
      <div class="col-6 text-justify">
        Christus, Cristus Imperat!
      </div>
      <div class="col-6 text-justify">
        Cristo, Cristo Impera!
      </div>
    </div>
  </div>

  <h4 class="text-center">Graças e Louvores</h4>

  <div class="container-fluid">
    <div class="row">
      <div class="col-6 text-justify">
        V. Adoremus in aeternum sanctissimum Sacramentum.
      </div>
      <div class="col-6 text-justify">
        V. Graças e louvores se dêem a todo o momento.
      </div>
    </div>
  </div>

  <p>
    <em>Sl. 116</em> Que todas as nações louvem o Senhor; que todos os povos O
    aclamem. Porquanto grandiosa é para connosco a sua misericórdia, e a
    fidelidade do Senhor permanecerá eternamente.
  </p>

  <p>
    Glória ao Pai, e ao Filho e ao Espírito Santo. Assim como era no princípio,
    agora e sempre, e por todos os séculos dos séculos.
  </p>
</div>
