---
layout: default
title: Antífonas de Nossa Senhora
---

<div class="col-lg-2">
        <nav id="toc" data-spy="affix" data-toggle="toc" class="toc-antifonas"></nav>
</div>

<div class="col-lg-2 info">
    <nav id="toc" data-spy="affix" class="toc-antifonas">
        <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#item-1">Salve Regína</a>
            <a class="nav-link" href="#item-2">Regína cæli</a>
            <a class="nav-link" href="#item-3">Alma Redemptóris Mater</a>
            <a class="nav-link" href="#item-4">Ave Regína cælórum</a>
        </nav>
    </nav>
</div>

<div class="col-sm-10">

<h1 class="text-center">Antífonas de Nossa Senhora</h1>

<h2 class="text-center" id="item-1">Salve Regína</h2>

{% include antifonas/salveregina.html %}

<h2 class="text-center" id="item-2">Regína cæli</h2>

{% include antifonas/reginacaeli.html %}

<h2 class="text-center" id="item-3">Alma Redemptóris Mater</h2>

{% include antifonas/almaredemptorismater.html %}

<h2 class="text-center" id="item-4">Ave Regína cælórum</h2>

{% include antifonas/avereginacaelorum.html %}

</div>