---
layout: default
title: Antífonas de Nossa Senhora
---

<div class="col-2 desktop">
        <nav id="toc" data-spy="affix" data-toggle="toc" class="toc-antifonas"></nav>
</div>

<div class="col-md-10">

<h1 class="text-center">Antífonas de Nossa Senhora</h1>

<h2 class="text-center" id="item-1">Salve Regína</h2>

{% include antifonas/salveregina.html %}

<h2 class="text-center" id="item-2">Regína cæli</h2>

{% include antifonas/reginacaeli.html %}

<h2 class="text-center" id="item-3">Alma Redemptóris Mater</h2>

{% include antifonas/almaredemptorismater.html %}

<h2 class="text-center" id="item-4">Ave Regína cælórum</h2>

{% include antifonas/avereginacaelorum.html %}

</div>