---
layout: default
title: Comum dos Santos
---

<div class="col-2 desktop">
	<nav id="toc" data-spy="affix" data-toggle="toc" class="toc-comumsantos"></nav>
</div>

<div class="col-md-10">

<h1 class="text-center">Comum dos Santos</h1>

<p>Os Santos caem em classes distintas: Mártires, Confessores, Bispos, Confessores não Bispos, Doutores, Virgens Mártires, Virgens e Mulheres Santas que não são nem Virgens nem Mártires. Para além das Festas em honra dos Santos destas diferentes classes há a Festa que comemora o aniversário da Dedicação de uma Igreja. Todas estas Festas têm uma Missa própria. Essas Festas estão na seguinte secção deste Missal e são usadas para Santos que não têm uma Missa especialmente dedicada a eles. As Missas de Nossa Senhora foram também trazidas para esta secção.</p>

{% include missal/comum/sumospontifices.html %}

{% include missal/comum/1vigiliaapostolos.html %}

<h2 class="text-center">Comum dos Mártires <em>Fora do Tempo Pascal</em></h2>

{% include missal/comum/2martirpontificeforapascal.html %}
{% include missal/comum/3martirpontifice.html %}
{% include missal/comum/4martirnaopontifice1.html %}
{% include missal/comum/5martirnaopontifice2.html %}
{% include missal/comum/6muitosmartires1.html %}
{% include missal/comum/7muitosmartires2.html %}
{% include missal/comum/8muitosmartires3.html %}

<h2 class="text-center">Comum dos Mártires <em>Dentro do Tempo Pascal</em></h2>

{% include missal/comum/9martir.html %}
{% include missal/comum/10martires.html %}

<h2 class="text-center">Comum dos Confessores</h2>

{% include missal/comum/11confessorespontifices1.html %}
{% include missal/comum/12confessorespontifices2.html %}

{% include missal/comum/13doutores.html %}
{% include missal/comum/14confessoresnaopontifices1.html %}
{% include missal/comum/15confessoresnaopontifices2.html %}
{% include missal/comum/16abades.html %}

<h2 class="text-center">Comum das Virgens</h2>

{% include missal/comum/17virgensmartires1.html %}
{% include missal/comum/18virgensmartires2.html %}
{% include missal/comum/19muitasvirgensmartires.html %}
{% include missal/comum/20virgemnaomartir1.html %}
{% include missal/comum/21virgemnaomartir2.html %}

<h2 class="text-center">Comum das Mulheres Santas</h2>

{% include missal/comum/22martiresnaovirgens.html %}
{% include missal/comum/23muitasmartiresnaovirgens.html %}
{% include missal/comum/24nemvirgensnemmartires.html %}
{% include missal/comum/25dedicacaoigreja.html %}

<h1 class="text-center">Missas da B. V. Maria</h1>

<em>Podem ser celebradas aos Sábados e Missas Votivas de acordo com os diferentes Tempos.</em>

{% include missal/comum/26festasmaria1.html %}
{% include missal/comum/27missamaria1.html %}
{% include missal/comum/28missamaria2.html %}
{% include missal/comum/29missamaria3.html %}
{% include missal/comum/30missamaria4.html %}
{% include missal/comum/31missamaria5.html %}
