---
layout: default
title: Pequeno Ofício de Nossa Senhora
---

<div class="col-lg-2">
    <nav id="toc" data-spy="affix" data-toggle="toc" class="toc-oficio"></nav>
</div>

<div class="col-lg-2 info">
    <nav id="toc" data-spy="affix" class="toc-antifonas">
        <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#item-1"></a>
            <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#item-1-1"></a>
            <a class="nav-link" href="#item-1-2"></a>
            <a class="nav-link" href="#item-1-3"></a>
            <a class="nav-link" href="#item-1-4"></a>
            <a class="nav-link" href="#item-1-5"></a>
            <a class="nav-link" href="#item-1-6"></a>
            <a class="nav-link" href="#item-1-7"></a>
            <a class="nav-link" href="#item-1-8"></a>
            <a class="nav-link" href="#item-1-9"></a>
            <a class="nav-link" href="#item-1-10"></a>
            <a class="nav-link" href="#item-1-11"></a>
            <a class="nav-link" href="#item-1-12"></a>
            <a class="nav-link" href="#item-1-13"></a>
            <a class="nav-link" href="#item-1-14"></a>
            <a class="nav-link" href="#item-1-15"></a>
            <a class="nav-link" href="#item-1-16"></a>
            <a class="nav-link" href="#item-1-17"></a>
            <a class="nav-link" href="#item-1-18"></a>
            <a class="nav-link" href="#item-1-19"></a>
            <a class="nav-link" href="#item-1-20"></a>
            <a class="nav-link" href="#item-1-21"></a>
            <a class="nav-link" href="#item-1-22"></a>
            <a class="nav-link" href="#item-1-23"></a>
            <a class="nav-link" href="#item-1-24"></a>
        </nav>
            <a class="nav-link" href="#item-2"></a>
            <a class="nav-link" href="#item-2-1"></a>
            <a class="nav-link" href="#item-2-2"></a>
            <a class="nav-link" href="#item-2-3"></a>
            <a class="nav-link" href="#item-2-4"></a>
            <a class="nav-link" href="#item-2-5"></a>
            <a class="nav-link" href="#item-2-6"></a>
            <a class="nav-link" href="#item-2-7"></a>
            <a class="nav-link" href="#item-3"></a>
            <a class="nav-link" href="#item-3-1"></a>
            <a class="nav-link" href="#item-3-2"></a>
            <a class="nav-link" href="#item-3-3"></a>
            <a class="nav-link" href="#item-3-4"></a>
            <a class="nav-link" href="#item-3-5"></a>
            <a class="nav-link" href="#item-3-6"></a>
            <a class="nav-link" href="#item-3-7"></a>
            <a class="nav-link" href="#item-3-8"></a>
            <a class="nav-link" href="#item-3-9"></a>
            <a class="nav-link" href="#item-3-10"></a>
            <a class="nav-link" href="#item-3-11"></a>
            <a class="nav-link" href="#item-3-12"></a>
            <a class="nav-link" href="#item-3-13"></a>
            <a class="nav-link" href="#item-4"></a>
            <a class="nav-link" href="#item-4-1"></a>
            <a class="nav-link" href="#item-4-2"></a>
            <a class="nav-link" href="#item-4-3"></a>
            <a class="nav-link" href="#item-4-4"></a>
            <a class="nav-link" href="#item-4-5"></a>
            <a class="nav-link" href="#item-4-6"></a>
            <a class="nav-link" href="#item-4-7"></a>
            <a class="nav-link" href="#item-4-8"></a>
            <a class="nav-link" href="#item-5"></a>
            <a class="nav-link" href="#item-5-1"></a>
            <a class="nav-link" href="#item-5-2"></a>
            <a class="nav-link" href="#item-5-3"></a>
            <a class="nav-link" href="#item-5-4"></a>
            <a class="nav-link" href="#item-5-5"></a>
            <a class="nav-link" href="#item-5-6"></a>
            <a class="nav-link" href="#item-5-7"></a>
            <a class="nav-link" href="#item-5-8"></a>
            <a class="nav-link" href="#item-6"></a>
            <a class="nav-link" href="#item-6-1"></a>
            <a class="nav-link" href="#item-6-2"></a>
            <a class="nav-link" href="#item-6-3"></a>
            <a class="nav-link" href="#item-6-4"></a>
            <a class="nav-link" href="#item-6-5"></a>
            <a class="nav-link" href="#item-7"></a>
            <a class="nav-link" href="#item-7-1"></a>
            <a class="nav-link" href="#item-8"></a>
            <a class="nav-link" href="#item-9"></a>
            <a class="nav-link" href="#item-9-1"></a>
            <a class="nav-link" href="#item-9-2"></a>
            <a class="nav-link" href="#item-9-3"></a>
            <a class="nav-link" href="#item-9-4"></a>
            <a class="nav-link" href="#item-10"></a>
            <a class="nav-link" href="#item-10-1"></a>
            <a class="nav-link" href="#item-11"></a>
            <a class="nav-link" href="#item-12"></a>
            <a class="nav-link" href="#item-12-1"></a>
            <a class="nav-link" href="#item-12-2"></a>
            <a class="nav-link" href="#item-12-3"></a>
            <a class="nav-link" href="#item-12-4"></a>
            <a class="nav-link" href="#item-12-5"></a>
            <a class="nav-link" href="#item-13"></a>
            <a class="nav-link" href="#item-13-1"></a>
            <a class="nav-link" href="#item-14"></a>
            <a class="nav-link" href="#item-14-1"></a>
            <a class="nav-link" href="#item-15"></a>
            <a class="nav-link" href="#item-15-1"></a>
            <a class="nav-link" href="#item-15-2"></a>
            <a class="nav-link" href="#item-15-3"></a>
            <a class="nav-link" href="#item-15-4"></a>
            <a class="nav-link" href="#item-15-5"></a>
            <a class="nav-link" href="#item-16"></a>
            <a class="nav-link" href="#item-16-1"></a>
            <a class="nav-link" href="#item-17"></a>
            <a class="nav-link" href="#item-17-1"></a>
            <a class="nav-link" href="#item-18"></a>
            <a class="nav-link" href="#item-18-1"></a>
            <a class="nav-link" href="#item-18-2"></a>
            <a class="nav-link" href="#item-18-3"></a>
            <a class="nav-link" href="#item-18-4"></a>
            <a class="nav-link" href="#item-18-5"></a>
            <a class="nav-link" href="#item-18-6"></a>
            <a class="nav-link" href="#item-18-7"></a>
            <a class="nav-link" href="#item-18-8"></a>
            <a class="nav-link" href="#item-18-9"></a>
            <a class="nav-link" href="#item-18-10"></a>
            <a class="nav-link" href="#item-18-11"></a>
            <a class="nav-link" href="#item-18-12"></a>
            <a class="nav-link" href="#item-19"></a>
            <a class="nav-link" href="#item-19-1"></a>
            <a class="nav-link" href="#item-19-2"></a>
            <a class="nav-link" href="#item-19-3"></a>
            <a class="nav-link" href="#item-19-4"></a>
            <a class="nav-link" href="#item-19-5"></a>
            <a class="nav-link" href="#item-19-6"></a>
            <a class="nav-link" href="#item-19-7"></a>
            <a class="nav-link" href="#item-19-8"></a>
            <a class="nav-link" href="#item-20"></a>
            <a class="nav-link" href="#item-20-1"></a>
            <a class="nav-link" href="#item-20-2"></a>
            <a class="nav-link" href="#item-20-3"></a>
            <a class="nav-link" href="#item-20-4"></a>
            <a class="nav-link" href="#item-20-5"></a>
            <a class="nav-link" href="#item-20-6"></a>
            <a class="nav-link" href="#item-20-7"></a>
            <a class="nav-link" href="#item-20-8"></a>
            <a class="nav-link" href="#item-21"></a>
            <a class="nav-link" href="#item-21-1"></a>
            <a class="nav-link" href="#item-21-2"></a>
            <a class="nav-link" href="#item-21-3"></a>
            <a class="nav-link" href="#item-21-4"></a>
            <a class="nav-link" href="#item-21-5"></a>
            <a class="nav-link" href="#item-21-6"></a>
            <a class="nav-link" href="#item-21-7"></a>
            <a class="nav-link" href="#item-21-8"></a>
            <a class="nav-link" href="#item-21-9"></a>
            <a class="nav-link" href="#item-21-10"></a>
            <a class="nav-link" href="#item-22"></a>
            <a class="nav-link" href="#item-22-1"></a>
            <a class="nav-link" href="#item-23"></a>
            <a class="nav-link" href="#item-23-1"></a>
        </nav>
    </nav>
</div>

<div class="col-lg-10">

    <h1 class="text-center">Advento</h1>

    <h2 class="text-center" id="item-1">Primeiro Domingo</h2>

    {% include missal/advento/1.html %}

    <h2 class="text-center" id="item-2">Segundo Domingo</h2>

    {% include missal/advento/2.html %}

    <h2 class="text-center" id="item-3">Lauds 1</h2>

    {% include missal/advento/3.html %}

    <h2 class="text-center" id="item-4">Lauds 2</h2>

    {% include missal/advento/4.html %}

    <h2 class="text-center" id="item-5">Lauds 3</h2>

    {% include missal/advento/quartafeiratemporas.html %}

    <h2 class="text-center" id="item-6">Prima 1</h2>

    {% include missal/advento/sabadotemporasinverno.html %}

    <h2 class="text-center" id="item-7">Prima 2</h2>

    {% include missal/advento/.html %}

    <h2 class="text-center" id="item-38">Prima 3</h2>

    {% include oficio/prima3.html %}

    <h2 class="text-center" id="item-9">Terça 1</h2>

    {% include oficio/terca1.html %}

    <h2 class="text-center" id="item-10">Terça 2</h2>

    {% include oficio/terca2.html %}

    <h2 class="text-center" id="item-11">Terça 3</h2>

    {% include oficio/terca3.html %}

    <h2 class="text-center" id="item-12">Sexta 1</h2>

    {% include oficio/sexta1.html %}

    <h2 class="text-center" id="item-13">Sexta 2</h2>

    {% include oficio/sexta2.html %}

    <h2 class="text-center" id="item-14">Sexta 3</h2>

    {% include oficio/sexta3.html %}

    <h2 class="text-center" id="item-15">Noa 1</h2>

    {% include oficio/noa1.html %}

    <h2 class="text-center" id="item-16">Noa 2</h2>

    {% include oficio/noa2.html %}

    <h2 class="text-center" id="item-17">Noa 3</h2>

    {% include oficio/noa3.html %}

    <h2 class="text-center" id="item-18">Vésperas 1</h2>

    {% include oficio/vespers1.html %}

    <h2 class="text-center" id="item-19">Vésperas 2</h2>

    {% include oficio/vespers2.html %}

    <h2 class="text-center" id="item-20">Vésperas 3</h2>

    {% include oficio/vespers3.html %}

    <h2 class="text-center" id="item-21">Completas 1</h2>

    {% include oficio/completas1.html %}

    <h2 class="text-center" id="item-22">Completas 2</h2>

    {% include oficio/completas2.html %}

    <h2 class="text-center" id="item-23">Completas 3</h2>

    {% include oficio/completas3.html %}

</div>