---
layout: default
title: Pequeno Ofício de Nossa Senhora
---

<div class="col-md-10">
<h1 class="text-center">Pequeno Ofício de Nossa Senhora</h1>

<h2 class="text-center">Matinas 1</h2>

{% include oficio/matins1.html %}

<h2 class="text-center">Matinas 2</h2>

{% include oficio/matins2.html %}

<h2 class="text-center">Lauds 1</h2>

{% include oficio/lauds1.html %}

<h2 class="text-center">Lauds 2</h2>

{% include oficio/lauds2.html %}

<h2 class="text-center">Lauds 3</h2>

{% include oficio/lauds3.html %}

<h2 class="text-center">Prima 1</h2>

{% include oficio/prima1.html %}

<h2 class="text-center">Prima 2</h2>

{% include oficio/prima2.html %}

<h2 class="text-center">Prima 3</h2>

{% include oficio/prima3.html %}

<h2 class="text-center">Terça 1</h2>

{% include oficio/terca1.html %}

<h2 class="text-center">Terça 2</h2>

{% include oficio/terca2.html %}

<h2 class="text-center">Terça 3</h2>

{% include oficio/terca3.html %}

<h2 class="text-center">Sexta 1</h2>

{% include oficio/sexta1.html %}

<h2 class="text-center">Sexta 2</h2>

{% include oficio/sexta2.html %}

<h2 class="text-center">Sexta 3</h2>

{% include oficio/sexta3.html %}

<h2 class="text-center">Noa 1</h2>

{% include oficio/noa1.html %}

<h2 class="text-center">Noa 2</h2>

{% include oficio/noa2.html %}

<h2 class="text-center">Noa 3</h2>

{% include oficio/noa3.html %}

<h2 class="text-center">Vésperas 1</h2>

{% include oficio/vespers1.html %}

<h2 class="text-center">Vésperas 2</h2>

{% include oficio/vespers2.html %}

<h2 class="text-center">Vésperas 3</h2>

{% include oficio/vespers3.html %}

<h2 class="text-center">Completas 1</h2>

{% include oficio/completas1.html %}

<h2 class="text-center">Completas 2</h2>

{% include oficio/completas2.html %}

<h2 class="text-center">Completas 3</h2>

{% include oficio/completas3.html %}

</div>