---
layout: default
title: Orações Leoninas
---

<div class="col-2 desktop">
	<nav id="toc" data-spy="affix" data-toggle="toc" class="toc-oracoesleoninas"></nav>
</div>

<div class="col-md-10">

<h2 class="text-center">Orações Leoninas</h2>

<em>De joelhos diante do altar, o Sacerdote diz com os fiéis as seguintes preces prescritas pelo Papa Leão XIII e por Pio XI enriquecidas de indulgências (10 anos). Este último Papa mandou se rezassem pela conversão da Rússia.</em>

<h3 class="text-center">Ave Maria</h3>
{% include oracoes/avemaria.html %}

<h3 class="text-center">Salve Regina</h3>
{% include antifonas/salveregina.html %}

<h3 class="text-center">Oração a São Miguel Arcanjo</h3>
{% include oracoes/saomiguel.html %}

<em>S. Pio X pediu se juntasse três vezes a seguinte jaculatória:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
V. Cor Jesu sacratíssimum:
</div>
<div class="col-6 text-justify">
V. Coração sacratíssimo de Jesus:
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Miserére nobis.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Tende misericórdia de nós.
</div>
</div>
</div>
</div>
