---
layout: default
title: Próprio dos Santos
---

<div class="col-2 desktop">
	<nav id="toc" data-spy="affix" data-toggle="toc" class="toc-propriosantos"></nav>
</div>

<div class="col-md-10">

<h1 class="text-center">Próprio dos Santos</h1>
{% include missal/santos/saturnino.html %}

{% include missal/santos/andreapostolo.html %}

{% include missal/santos/bibiana.html %}

{% include missal/santos/franciscoxavier.html %}

{% include missal/santos/crisologo.html %}

{% include missal/santos/barbara.html %}

{% include missal/santos/sabas.html %}

{% include missal/santos/inc/geraldobraga.html %}

{% include missal/santos/nicolau.html %}

{% include missal/santos/ambrosio.html %}

{% include missal/santos/imaculadaconceicao.html %}

{% include missal/santos/melquiades.html %}

{% include missal/santos/damaso.html %}

{% include missal/santos/inc/trasladacaopantaleao.html %}

{% include missal/santos/guadalupe.html %}

{% include missal/santos/luzia.html %}

{% include missal/santos/eusebio.html %}

{% include missal/santos/inc/trasladacaogeraldo.html %}

{% include missal/santos/tomeapostolo.html %}

{% include missal/santos/estevao.html %}

{% include missal/santos/joaoapostolo.html %}

{% include missal/santos/inocentesmartires.html %}

{% include missal/santos/tomascantorbery.html %}

{% include missal/santos/higino.html %}

{% include missal/santos/hilario.html %}

{% include missal/santos/felix.html %} 

{% include missal/santos/pauloeremita.html %}

{% include missal/santos/amaro.html %}

{% include missal/santos/marcelo.html %}

{% include missal/santos/martiresmarrocos.html %}

{% include missal/santos/antonioabade.html %}

{% include missal/santos/votivacadeirapedro.html %}

{% include missal/santos/santaprisca.html %}

{% include missal/santos/goncaloamarante.html %}

{% include missal/santos/fabiaosebastiao.html %}

{% include missal/santos/ines.html %}

{% include missal/santos/vicentemartir.html %}

{% include missal/santos/raimundo.html %}

{% include missal/santos/emerenciana.html %}

{% include missal/santos/timoteo.html %}

{% include missal/santos/conversaopaulo.html %}

{% include missal/santos/policarpo.html %}

{% include missal/santos/joaocrisostomo.html %}

{% include missal/santos/pedronolasco.html %}

{% include missal/santos/franciscosales.html %}

{% include missal/santos/martinha.html %}

{% include missal/santos/joaobosco.html %}

{% include missal/santos/inacio.html %}

{% include missal/santos/purificacaomaria.html %}

{% include missal/santos/bras.html %}

{% include missal/santos/joaobrito.html %}

{% include missal/santos/corsino.html %}

{% include missal/santos/agueda.html %}

{% include missal/santos/tito.html %}

{% include missal/santos/doroteia.html %}

{% include missal/santos/romualdo.html %}

{% include missal/santos/joaomata.html %}

{% include missal/santos/ciriloalexandria.html %}

{% include missal/santos/apolonia.html %}

{% include missal/santos/escolastica.html %}

{% include missal/santos/aparicaomaria.html %}

{% include missal/santos/servitas.html %}

{% include missal/santos/cincochagas.html %}

{% include missal/santos/valentim.html %}

{% include missal/santos/faustinojovita.html %}

{% include missal/santos/trasladacaoantonio.html %}

{% include missal/santos/simeao.html %}

{% include missal/santos/teotonio.html %}

{% include missal/santos/cadeirapedro.html %}

{% include missal/santos/pedrodamiao.html %}

{% include missal/santos/matiasapostolo.html %}

{% include missal/santos/gabrieldores.html %}

{% include missal/santos/inc/torcato.html %}

{% include missal/santos/inc/miguelcarv.html %}

{% include missal/santos/casimiro.html %}

{% include missal/santos/lucio.html %}

{% include missal/santos/perpetua.html %}

{% include missal/santos/tomasaquino.html %}

{% include missal/santos/joaodeus.html %}

{% include missal/santos/francisca.html %}

{% include missal/santos/quarentamartires.html %}

{% include missal/santos/gregorio.html %}

{% include missal/santos/sanchamafalda.html %}

{% include missal/santos/patricio.html %}

{% include missal/santos/cirilojerusalem.html %}

{% include missal/santos/joseesposomaria.html %}

{% include missal/santos/inc/martinhodume.html %}

{% include missal/santos/bento.html %}

{% include missal/santos/gabrielarcanjo.html %}

{% include missal/santos/santissimosacramento.html %}

{% include missal/santos/anunciacao.html %}

{% include missal/santos/joaodamasceno.html %}

{% include missal/santos/joaocapistrano.html %}

{% include missal/santos/setedoresmarco.html %}

{% include missal/santos/franciscopaula.html %}

{% include missal/santos/isidoro.html %}

{% include missal/santos/vicenteferrer.html %}

{% include missal/santos/leaoi.html %}

{% include missal/santos/inc/vitor.html %}

{% include missal/santos/hermenegildo.html %}

{% include missal/santos/justino.html %}

{% include missal/santos/inc/engracia.html %}

{% include missal/santos/inc/frutuoso.html %}

{% include missal/santos/aniceto.html %}

{% include missal/santos/anselmo.html %}

{% include missal/santos/soterocaio.html %}

{% include missal/santos/jorge.html %}

{% include missal/santos/fiel.html %}

{% include missal/santos/marcosevangelista.html %}

{% include missal/santos/cletomarcelino.html %}

{% include missal/santos/inc/pedrorates.html %}

{% include missal/santos/pedrocanisio.html %}

{% include missal/santos/paulodacruz.html %}

{% include missal/santos/pedroverona.html %}

{% include missal/santos/catarina.html %}

{% include missal/santos/joseoperario.html %}

{% include missal/santos/atanasio.html %}

{% include missal/santos/invencaosantacruz.html %}

{% include missal/santos/alexandre.html %}

{% include missal/santos/monica.html %}

{% include missal/santos/inc/trasladacaovicente.html %}

{% include missal/santos/piov.html %}

{% include missal/santos/estanislau.html %}

{% include missal/santos/aparicaoarcanjomiguel.html %}

{% include missal/santos/gregorionazianzeno.html %}

{% include missal/santos/antonino.html %}

{% include missal/santos/filipetiagoapostolos.html %}

{% include missal/santos/joanaprincesa.html %}

{% include missal/santos/belarmino.html %}

{% include missal/santos/votivaimaculadocoracaomaria.html %}

{% include missal/santos/inc/gil.html %}

{% include missal/santos/bonifacio.html %}

{% include missal/santos/baptistasalle.html %}

{% include missal/santos/inc/mancio.html %}

{% include missal/santos/ubaldo.html %}

{% include missal/santos/pascoal.html %}

{% include missal/santos/venancio.html %}

{% include missal/santos/pedrocelestino.html %}

{% include missal/santos/bernardinosena.html %}

{% include missal/santos/inc/catedralevora.html %}

{% include missal/santos/inc/joaomachado.html %}

{% include missal/santos/ritacassia.html %}

{% include missal/santos/inc/basileu.html %}

{% include missal/santos/auxiliocristaos.html %}

{% include missal/santos/inc/trasladacaotiagointercisio.html %}

{% include missal/santos/gregoriovii.html %}

{% include missal/santos/filipeneri.html %}

{% include missal/santos/eleuterio.html %}

{% include missal/santos/beda.html %}

{% include missal/santos/joaopapa.html %}

{% include missal/santos/agostinhocantorbery.html %}

{% include missal/santos/mariamadalenapazzi.html %}

{% include missal/santos/felixpapa.html %}

{% include missal/santos/rainhavirgemmaria.html %}

{% include missal/santos/angelamericia.html %}

{% include missal/santos/marcelino.html %}

{% include missal/santos/inc/ovidio.html %}

{% include missal/santos/inc/carloslwanga.html %}

{% include missal/santos/franciscaraciolo.html %}

{% include missal/santos/bonifaciomartir.html %}

{% include missal/santos/norberto.html %}

{% include missal/santos/inc/joaonepomuceno.html %}

{% comment %}{% include missal/santos/quiteria.html %}{% endcomment %}

{% include missal/santos/primofeliciano.html %}

{% include missal/santos/margaridarainha.html %}

{% include missal/santos/barnabeapostolo.html %}

{% include missal/santos/joaofacundo.html %}

{% include missal/santos/antoniolisboa.html %}

{% include missal/santos/basiliomagno.html %}

{% include missal/santos/vitomodestocrescencia.html %}

{% include missal/santos/teresaviuva.html %}

{% include missal/santos/efrem.html %}

{% include missal/santos/juliana.html %}

{% include missal/santos/silverio.html %}

{% include missal/santos/inc/franciscopacheco.html %}

{% include missal/santos/luisgonzaga.html %}

{% include missal/santos/paulino.html %}

{% include missal/santos/vigiliajoaobaptista.html %}

{% include missal/santos/nascimentojoaobaptista.html %}

{% include missal/santos/guilherme.html %}

{% include missal/santos/joaoepaulo.html %}

{% include missal/santos/inc/pelagio.html %}

{% include missal/santos/vigiliapedropaulo.html %}

{% include missal/santos/pedropauloapostolos.html %}

{% include missal/santos/comemoracaopaulo.html %}

{% include missal/santos/preciosissimosangue.html %}

{% include missal/santos/visitacao.html %}

{% include missal/santos/ireneu.html %}

{% include missal/santos/isabelrainha.html %}

{% include missal/santos/antoniozacarias.html %}

{% include missal/santos/cirilometodio.html %}

{% include missal/santos/seteirmaos.html %}

{% include missal/santos/pioi.html %}

{% include missal/santos/joaogualberto.html %}

{% include missal/santos/anacleto.html %}

{% include missal/santos/boaventura.html %}

{% include missal/santos/inc/inacioazevedo.html %}

{% include missal/santos/montecarmelo.html %}

{% include missal/santos/inc/sisenando.html %}

{% include missal/santos/aleixo.html %}

{% include missal/santos/camilolelis.html %}

{% include missal/santos/vicentepaulo.html %}

{% include missal/santos/jeronimoemiliano.html %}

{% include missal/santos/santamargarida.html %}

{% include missal/santos/inc/colomba.html %}

{% include missal/santos/praxedes.html %}

{% include missal/santos/inc/anjoportugal.html %}

{% include missal/santos/mariamadalena.html %}

{% include missal/santos/inc/lourencobrindes.html %}

{% include missal/santos/apolinario.html %}

{% include missal/santos/liborio.html %}

{% include missal/santos/cristina.html %}

{% include missal/santos/tiagoapostolo.html %}

{% include missal/santos/santaana.html %}


{% include missal/santos/inc/pantaleao.html %}

{% include missal/santos/inc/rodolfoaguaviva.html %}

{% include missal/santos/nazario.html %}

{% include missal/santos/vitorpapa.html %}

{% include missal/santos/inocencio.html %}

{% include missal/santos/santamarta.html %}

{% include missal/santos/felixii.html %}

{% include missal/santos/abdonsenen.html %}

{% include missal/santos/inacioloiola.html %}

{% include missal/santos/macabeus.html %}

{% include missal/santos/afonsoligorio.html %}

{% include missal/santos/estevaopapa.html %}

{% include missal/santos/domingos.html %}

{% include missal/santos/dedicacaomarianeves.html %}

{% include missal/santos/transfiguracao.html %}

{% include missal/santos/sixtofelicissimoagapito.html %}

{% include missal/santos/sixtoii.html %}

{% include missal/santos/caetano.html %}

{% include missal/santos/vianney.html %}

{% include missal/santos/ciriaco.html %}

{% include missal/santos/vigilialourenco.html %}

{% include missal/santos/romao.html %}

{% include missal/santos/lourenco.html %}

{% include missal/santos/tiburciosusana.html %}

{% include missal/santos/filomena.html %}

{% include missal/santos/clara.html %}

{% include missal/santos/hipolitocassiano.html %}

{% include missal/santos/vigiliaassuncao.html %}

{% include missal/santos/assuncao.html %}

{% include missal/santos/joaquim.html %}

{% include missal/santos/jacinto.html %}

{% include missal/santos/agapito.html %}

{% include missal/santos/inc/saoroque.html %}

{% include missal/santos/joaoeudes.html %}

{% include missal/santos/bernardo.html %}

{% include missal/santos/joanachantal.html %}

{% include missal/santos/imaculadocoracaomaria.html %}

{% include missal/santos/timoteooutros.html %}

{% include missal/santos/filipebenicio.html %}

{% include missal/santos/bartolomeuapostolo.html %}

{% include missal/santos/saoluisrei.html %}

{% include missal/santos/zeferino.html %}

{% include missal/santos/josecalasans.html %}

{% include missal/santos/agostinho.html %}

{% include missal/santos/hermes.html %}

{% include missal/santos/degolacaobaptista.html %}

{% include missal/santos/rosalima.html %}

{% include missal/santos/raimundononato.html %}

{% include missal/santos/egidio.html %}

{% include missal/santos/dozeirmaos.html %}

{% include missal/santos/estevaorei.html %}

{% include missal/santos/piox.html %}

{% include missal/santos/lourencojustiniano.html %}

{% include missal/santos/natividademaria.html %}

{% include missal/santos/gorgonio.html %}

{% include missal/santos/inc/pedroclaver.html %}

{% include missal/santos/nicolautolentino.html %}

{% include missal/santos/protojacinto.html %}

{% include missal/santos/santissimonomemaria.html %}

{% include missal/santos/exaltacaocruz.html %}

{% include missal/santos/setedoressetembro.html %}

{% include missal/santos/corneliocipriano.html %}

{% include missal/santos/cornelio.html %}

{% include missal/santos/eufemiaoutros.html %}

{% comment %}{% include missal/santos/trasladacaovicentemartir.html %}{% endcomment %}

{% include missal/santos/estigmasfrancisco.html %}

{% include missal/santos/josecupertino.html %}

{% include missal/santos/januariooutros.html %}

{% include missal/santos/eustaquiooutros.html %}

{% include missal/santos/mateus.html %}

{% include missal/santos/tomasvilanova.html %}

{% include missal/santos/lino.html %}

{% include missal/santos/tecla.html %}

{% include missal/santos/mariamerces.html %}

{% include missal/santos/ciprianojustina.html %}

{% include missal/santos/cosmedamiao.html %}

{% include missal/santos/venceslau.html %}

{% include missal/santos/dedicacaoarcanjomiguel.html %}

{% include missal/santos/jeronimo.html %}

{% include missal/santos/remigio.html %}

{% include missal/santos/inc/verissimooutros.html %}

{% include missal/santos/anjosguarda.html %}

{% include missal/santos/teresamenino.html %}

{% include missal/santos/francisco.html %}

{% include missal/santos/placido.html %}

{% include missal/santos/bruno.html %}

{% include missal/santos/rosariomaria.html %}

{% include missal/santos/marcospapa.html %}

{% include missal/santos/sergiobaco.html %}

{% include missal/santos/brigida.html %}

{% include missal/santos/joaoleonardo.html %}

{% include missal/santos/dionisio.html %}

{% include missal/santos/inc/mariamonte.html %}

{% include missal/santos/franciscoborgia.html %}

{% include missal/santos/maternidademaria.html %}

{% include missal/santos/eduardo.html %}

{% include missal/santos/calisto.html %}

{% include missal/santos/teresa.html %}

{% include missal/santos/hedviges.html %}

{% include missal/santos/inc/trasladacaopedrorates.html %}

{% include missal/santos/margaridamaria.html %}

{% include missal/santos/lucas.html %}

{% include missal/santos/pedroalcantara.html %}

{% include missal/santos/joaocancio.html %}

{% include missal/santos/inc/santairia.html %}

{% include missal/santos/hilariao.html %}

{% include missal/santos/ursulaoutras.html %}

{% include missal/santos/basilicamafra.html %}

{% include missal/santos/antoniomariaclaret.html %}

{% include missal/santos/rafaelarcanjo.html %}

{% include missal/santos/inc/trasladacaomartinho.html %}

{% include missal/santos/inc/crispimcrispiniano.html %}

{% include missal/santos/crisantodaria.html %}

{% include missal/santos/evaristo.html %}

{% include missal/santos/inc/vicentesabinacristeta.html %}

{% include missal/santos/goncalolagos.html %}

{% include missal/santos/simaojudas.html %}

{% include missal/santos/trasladacaorainhaisabel.html %}

{% include missal/santos/cristorei.html %}

{% include missal/santos/inc/vitoriacristaos.html %}

{% include missal/santos/todossantos.html %}

{% include missal/santos/comemoracaofieisdefuntos.html %}

{% include missal/santos/carlosborromeu.html %}

{% include missal/santos/santasreliquias.html %}

{% include missal/santos/nunosantamaria.html %}

{% include missal/santos/quatrosantosmartires.html %}

{% include missal/santos/dedicacaobasilicasalvador.html %}

{% include missal/santos/andreavelino.html %}

{% include missal/santos/martinho.html %}

{% include missal/santos/martinhopapa.html %}

{% include missal/santos/diogo.html %}

{% include missal/santos/josofa.html %}

{% include missal/santos/dedicacaobasilicajesus.html %}

{% include missal/santos/albertomagno.html %}

{% include missal/santos/gertrudes.html %}

{% include missal/santos/gregoriotaumaturgo.html %}

{% include missal/santos/dedicacaobasilicapedropaulo.html %}

{% include missal/santos/isabelviuva.html %}

{% include missal/santos/ponciano.html %}

{% include missal/santos/felixvalois.html %}

{% include missal/santos/apresentacaomaria.html %}

{% include missal/santos/cecilia.html %}

{% include missal/santos/clemente.html %}

{% include missal/santos/joaodacruz.html %}

{% include missal/santos/santacatarinavirgem.html %}

{% include missal/santos/silvestre.html %}

{% include missal/santos/pedroalexandrino.html %}

{% include missal/santos/inc/catarinalaboure.html %}

{% include missal/santos/inc/tiagointercisio.html %}
{% comment %}
{% endcomment %}
</div>