---
layout: default
title: Saltério
---


<div class="col-2 desktop">
    <nav id="toc" data-spy="affix" data-toggle="toc" class="toc-salterio"></nav>
</div>

<div class="col-2 desktop info">
    <nav id="toc" data-spy="affix" class="toc-salterio">
        <nav class="nav nav-pills flex-column">
            <div id="main-menu" class="sm sm-blue">
                <li><a class="nav-link" href="#item-1">Salmo 1</a></li>
                <li><a class="nav-link" href="#item-2">Salmo 2</a></li>
                <li><a class="nav-link" href="#item-3">Salmo 3</a></li>
                <li><a class="nav-link" href="#item-4">Salmo 4</a></li>
                <li><a class="nav-link" href="#item-5">Salmo 5</a></li>
                <li><a class="nav-link" href="#item-6">Salmo 6</a></li>
                <li><a class="nav-link" href="#item-7">Salmo 7</a></li>
                <li><a class="nav-link" href="#item-8">Salmo 8</a></li>
                <li><a class="nav-link" href="#item-9">Salmo 9</a></li>
                <li><a class="nav-link" href="#item-10">Salmo 10</a></li>
                <li><a class="nav-link" href="#item-11">Salmo 11</a></li>
                <li><a class="nav-link" href="#item-12">Salmo 12</a></li>
                <li><a class="nav-link" href="#item-13">Salmo 13</a></li>
                <li><a class="nav-link" href="#item-14">Salmo 14</a></li>
                <li><a class="nav-link" href="#item-15">Salmo 15</a></li>
                <li><a class="nav-link" href="#item-16">Salmo 16</a></li>
                <li><a class="nav-link" href="#item-17">Salmo 17</a></li>
                <li><a class="nav-link" href="#item-18">Salmo 18</a></li>
                <li><a class="nav-link" href="#item-19">Salmo 19</a></li>
                <li><a class="nav-link" href="#item-20">Salmo 20</a></li>
                <li><a class="nav-link" href="#item-21">Salmo 21</a></li>
                <li><a class="nav-link" href="#item-22">Salmo 22</a></li>
                <li><a class="nav-link" href="#item-23">Salmo 23</a></li>
                <li><a class="nav-link" href="#item-24">Salmo 24</a></li>
                <li><a class="nav-link" href="#item-25">Salmo 25</a></li>
                <li><a class="nav-link" href="#item-26">Salmo 26</a></li>
                <li><a class="nav-link" href="#item-27">Salmo 27</a></li>
                <li><a class="nav-link" href="#item-28">Salmo 28</a></li>
                <li><a class="nav-link" href="#item-29">Salmo 29</a></li>
                <li><a class="nav-link" href="#item-30">Salmo 30</a></li>
                <li><a class="nav-link" href="#item-31">Salmo 31</a></li>
                <li><a class="nav-link" href="#item-32">Salmo 32</a></li>
                <li><a class="nav-link" href="#item-33">Salmo 33</a></li>
                <li><a class="nav-link" href="#item-34">Salmo 34</a></li>
                <li><a class="nav-link" href="#item-35">Salmo 35</a></li>
                <li><a class="nav-link" href="#item-36">Salmo 36</a></li>
                <li><a class="nav-link" href="#item-37">Salmo 37</a></li>
                <li><a class="nav-link" href="#item-38">Salmo 38</a></li>
                <li><a class="nav-link" href="#item-39">Salmo 39</a></li>
                <li><a class="nav-link" href="#item-40">Salmo 40</a></li>
                <li><a class="nav-link" href="#item-41">Salmo 41</a></li>
                <li><a class="nav-link" href="#item-42">Salmo 42</a></li>
                <li><a class="nav-link" href="#item-43">Salmo 43</a></li>
                <li><a class="nav-link" href="#item-44">Salmo 44</a></li>
                <li><a class="nav-link" href="#item-45">Salmo 45</a></li>
                <li><a class="nav-link" href="#item-46">Salmo 46</a></li>
                <li><a class="nav-link" href="#item-47">Salmo 47</a></li>
                <li><a class="nav-link" href="#item-48">Salmo 48</a></li>
                <li><a class="nav-link" href="#item-49">Salmo 49</a></li>
                <li><a class="nav-link" href="#item-50">Salmo 50</a></li>
                <li><a class="nav-link" href="#item-51">Salmo 51</a></li>
                <li><a class="nav-link" href="#item-52">Salmo 52</a></li>
                <li><a class="nav-link" href="#item-53">Salmo 53</a></li>
                <li><a class="nav-link" href="#item-54">Salmo 54</a></li>
                <li><a class="nav-link" href="#item-55">Salmo 55</a></li>
                <li><a class="nav-link" href="#item-56">Salmo 56</a></li>
                <li><a class="nav-link" href="#item-57">Salmo 57</a></li>
                <li><a class="nav-link" href="#item-58">Salmo 58</a></li>
                <li><a class="nav-link" href="#item-59">Salmo 59</a></li>
                <li><a class="nav-link" href="#item-60">Salmo 60</a></li>
                <li><a class="nav-link" href="#item-61">Salmo 61</a></li>
                <li><a class="nav-link" href="#item-62">Salmo 62</a></li>
                <li><a class="nav-link" href="#item-63">Salmo 63</a></li>
                <li><a class="nav-link" href="#item-64">Salmo 64</a></li>
                <li><a class="nav-link" href="#item-65">Salmo 65</a></li>
                <li><a class="nav-link" href="#item-66">Salmo 66</a></li>
                <li><a class="nav-link" href="#item-67">Salmo 67</a></li>
                <li><a class="nav-link" href="#item-68">Salmo 68</a></li>
                <li><a class="nav-link" href="#item-69">Salmo 69</a></li>
                <li><a class="nav-link" href="#item-70">Salmo 70</a></li>
                <li><a class="nav-link" href="#item-71">Salmo 71</a></li>
                <li><a class="nav-link" href="#item-72">Salmo 72</a></li>
                <li><a class="nav-link" href="#item-73">Salmo 73</a></li>
                <li><a class="nav-link" href="#item-74">Salmo 74</a></li>
                <li><a class="nav-link" href="#item-75">Salmo 75</a></li>
                <li><a class="nav-link" href="#item-76">Salmo 76</a></li>
                <li><a class="nav-link" href="#item-77">Salmo 77</a></li>
                <li><a class="nav-link" href="#item-78">Salmo 78</a></li>
                <li><a class="nav-link" href="#item-79">Salmo 79</a></li>
                <li><a class="nav-link" href="#item-80">Salmo 80</a></li>
                <li><a class="nav-link" href="#item-81">Salmo 81</a></li>
                <li><a class="nav-link" href="#item-82">Salmo 82</a></li>
                <li><a class="nav-link" href="#item-83">Salmo 83</a></li>
                <li><a class="nav-link" href="#item-84">Salmo 84</a></li>
                <li><a class="nav-link" href="#item-85">Salmo 85</a></li>
                <li><a class="nav-link" href="#item-86">Salmo 86</a></li>
                <li><a class="nav-link" href="#item-87">Salmo 87</a></li>
                <li><a class="nav-link" href="#item-88">Salmo 88</a></li>
                <li><a class="nav-link" href="#item-89">Salmo 89</a></li>
                <li><a class="nav-link" href="#item-90">Salmo 90</a></li>
                <li><a class="nav-link" href="#item-91">Salmo 91</a></li>
                <li><a class="nav-link" href="#item-92">Salmo 92</a></li>
                <li><a class="nav-link" href="#item-93">Salmo 93</a></li>
                <li><a class="nav-link" href="#item-94">Salmo 94</a></li>
                <li><a class="nav-link" href="#item-95">Salmo 95</a></li>
                <li><a class="nav-link" href="#item-96">Salmo 96</a></li>
                <li><a class="nav-link" href="#item-97">Salmo 97</a></li>
                <li><a class="nav-link" href="#item-98">Salmo 98</a></li>
                <li><a class="nav-link" href="#item-99">Salmo 99</a></li>
                <li><a class="nav-link" href="#item-100">Salmo 100</a></li>
                <li><a class="nav-link" href="#item-101">Salmo 101</a></li>
                <li><a class="nav-link" href="#item-102">Salmo 102</a></li>
                <li><a class="nav-link" href="#item-103">Salmo 103</a></li>
                <li><a class="nav-link" href="#item-104">Salmo 104</a></li>
                <li><a class="nav-link" href="#item-105">Salmo 105</a></li>
                <li><a class="nav-link" href="#item-106">Salmo 106</a></li>
                <li><a class="nav-link" href="#item-107">Salmo 107</a></li>
                <li><a class="nav-link" href="#item-108">Salmo 108</a></li>
                <li><a class="nav-link" href="#item-109">Salmo 109</a></li>
                <li><a class="nav-link" href="#item-110">Salmo 110</a></li>
                <li><a class="nav-link" href="#item-111">Salmo 111</a></li>
                <li><a class="nav-link" href="#item-112">Salmo 112</a></li>
                <li><a class="nav-link" href="#item-113">Salmo 113</a></li>
                <li><a class="nav-link" href="#item-114">Salmo 114</a></li>
                <li><a class="nav-link" href="#item-115">Salmo 115</a></li>
                <li><a class="nav-link" href="#item-116">Salmo 116</a></li>
                <li><a class="nav-link" href="#item-117">Salmo 117</a></li>
                <li><a class="nav-link" href="#item-118">Salmo 118</a></li>
                <li><a class="nav-link" href="#item-119">Salmo 119</a></li>
                <li><a class="nav-link" href="#item-120">Salmo 120</a></li>
                <li><a class="nav-link" href="#item-121">Salmo 121</a></li>
                <li><a class="nav-link" href="#item-122">Salmo 122</a></li>
                <li><a class="nav-link" href="#item-123">Salmo 123</a></li>
                <li><a class="nav-link" href="#item-124">Salmo 124</a></li>
                <li><a class="nav-link" href="#item-125">Salmo 125</a></li>
                <li><a class="nav-link" href="#item-126">Salmo 126</a></li>
                <li><a class="nav-link" href="#item-127">Salmo 127</a></li>
                <li><a class="nav-link" href="#item-128">Salmo 128</a></li>
                <li><a class="nav-link" href="#item-129">Salmo 129</a></li>
                <li><a class="nav-link" href="#item-130">Salmo 130</a></li>
                <li><a class="nav-link" href="#item-131">Salmo 131</a></li>
                <li><a class="nav-link" href="#item-132">Salmo 132</a></li>
                <li><a class="nav-link" href="#item-133">Salmo 133</a></li>
                <li><a class="nav-link" href="#item-134">Salmo 134</a></li>
                <li><a class="nav-link" href="#item-135">Salmo 135</a></li>
                <li><a class="nav-link" href="#item-136">Salmo 136</a></li>
                <li><a class="nav-link" href="#item-137">Salmo 137</a></li>
                <li><a class="nav-link" href="#item-138">Salmo 138</a></li>
                <li><a class="nav-link" href="#item-139">Salmo 139</a></li>
                <li><a class="nav-link" href="#item-140">Salmo 140</a></li>
                <li><a class="nav-link" href="#item-141">Salmo 141</a></li>
                <li><a class="nav-link" href="#item-142">Salmo 142</a></li>
                <li><a class="nav-link" href="#item-143">Salmo 143</a></li>
                <li><a class="nav-link" href="#item-144">Salmo 144</a></li>
                <li><a class="nav-link" href="#item-145">Salmo 145</a></li>
                <li><a class="nav-link" href="#item-146">Salmo 146</a></li>
                <li><a class="nav-link" href="#item-147">Salmo 147</a></li>
                <li><a class="nav-link" href="#item-148">Salmo 148</a></li>
                <li><a class="nav-link" href="#item-149">Salmo 149</a></li>
                <li><a class="nav-link" href="#item-150">Salmo 150</a></li>
            </div>
        </nav>
    </nav>
</div>


<div class="col-md-10">

    <h1 class="text-center">Saltério</h1>

    <h3 data-toc-text="Salmo 1" class="text-center" id="item-1">Salmo 1 - Beatus vir</h3>
    <div class="container">
        <div class="row">
            {% include salmos/001.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 2" class="text-center" id="item-2">Salmo 2 - Quare fremuerunt gentes</h3>
    <div class="container">
        <div class="row">
            {% include salmos/002.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 3" class="text-center" id="item-3">Salmo 3 - Domine, quid multiplicati</h3>
    <div class="container">
        <div class="row">
            {% include salmos/003.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 4" class="text-center" id="item-4">Salmo 4 - Cum invocarem</h3>
    <div class="container">
        <div class="row">
            {% include salmos/004.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 5" class="text-center" id="item-5">Salmo 5 - Verba mea auribus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/005.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 6" class="text-center" id="item-6">Salmo 6 - Domine, ne in furore tuo</h3>
    <div class="container">
        <div class="row">
            {% include salmos/006.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 7" class="text-center" id="item-7">Salmo 7 - Domine Deus meus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/007.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 8" class="text-center" id="item-8">Salmo 8 - Domine, Dominus noster</h3>
    <div class="container">
        <div class="row">
            {% include salmos/008.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 9" class="text-center" id="item-9">Salmo 9 - Confitebor tibi</h3>
    <div class="container">
        <div class="row">
            {% include salmos/009.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 10" class="text-center" id="item-10">Salmo 10 - In Domino confido</h3>
    <div class="container">
        <div class="row">
            {% include salmos/010.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 11" class="text-center" id="item-11">Salmo 11 - Salvum me fac</h3>
    <div class="container">
        <div class="row">
            {% include salmos/011.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 12" class="text-center" id="item-12">Salmo 12 - Usquequo, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/012.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 13" class="text-center" id="item-13">Salmo 13 - Dixit insipiens</h3>
    <div class="container">
        <div class="row">
            {% include salmos/013.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 14" class="text-center" id="item-14">Salmo 14 - Domine, quis habitabit</h3>
    <div class="container">
        <div class="row">
            {% include salmos/014.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 15" class="text-center" id="item-15">Salmo 15 - Conserva me</h3>
    <div class="container">
        <div class="row">
            {% include salmos/015.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 16" class="text-center" id="item-16">Salmo 16 - Exaudi, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/016.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 17" class="text-center" id="item-17">Salmo 17 - Diligam Te, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/017.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 18" class="text-center" id="item-18">Salmo 18 - Cæli enarrant gloriam Dei</h3>
    <div class="container">
        <div class="row">
            {% include salmos/018.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 19" class="text-center" id="item-19">Salmo 19 - Exaudiat te Dominus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/019.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 20" class="text-center" id="item-20">Salmo 20 - Domine, in virtute tua</h3>
    <div class="container">
        <div class="row">
            {% include salmos/020.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 21" class="text-center" id="item-21">Salmo 21 - Deus, Deus meus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/021.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 22" class="text-center" id="item-22">Salmo 22 - Dominus regit me</h3>
    <div class="container">
        <div class="row">
            {% include salmos/022.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 23" class="text-center" id="item-23">Salmo 23 - Domini est terra</h3>
    <div class="container">
        <div class="row">
            {% include salmos/023.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 24" class="text-center" id="item-24">Salmo 24 - Ad Te, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/024.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 25" class="text-center" id="item-25">Salmo 25 - Judica me, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/025.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 26" class="text-center" id="item-26">Salmo 26 - Dominus illuminatio mea</h3>
    <div class="container">
        <div class="row">
            {% include salmos/026.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 27" class="text-center" id="item-27">Salmo 27 - Ad Te, Domine, clamabo</h3>
    <div class="container">
        <div class="row">
            {% include salmos/027.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 28" class="text-center" id="item-28">Salmo 28 - Afferte Domino</h3>
    <div class="container">
        <div class="row">
            {% include salmos/028.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 29" class="text-center" id="item-29">Salmo 29 - Exaltabo Te, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/029.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 30" class="text-center" id="item-30">Salmo 30 - In Te, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/030.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 31" class="text-center" id="item-31">Salmo 31 - Beati quorum remissæ</h3>
    <div class="container">
        <div class="row">
            {% include salmos/031.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 32" class="text-center" id="item-32">Salmo 32 - Exultate, justi, in Domino</h3>
    <div class="container">
        <div class="row">
            {% include salmos/032.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 33" class="text-center" id="item-33">Salmo 33 - Benedicam Dominum in omni tempore</h3>
    <div class="container">
        <div class="row">
            {% include salmos/033.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 34" class="text-center" id="item-34">Salmo 34 - Judica, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/034.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 35" class="text-center" id="item-35">Salmo 35 - Dixit injustus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/035.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 36" class="text-center" id="item-36">Salmo 36 - Noli æmulari in malignantibus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/036.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 37" class="text-center" id="item-37">Salmo 37 - Domine, ne in furore tuo arguas me</h3>
    <div class="container">
        <div class="row">
            {% include salmos/037.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 38" class="text-center" id="item-38">Salmo 38 - Dixit: custodiam vias meas</h3>
    <div class="container">
        <div class="row">
            {% include salmos/038.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 39" class="text-center" id="item-39">Salmo 39 - Exspectans exspectavi Dominum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/039.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 40" class="text-center" id="item-40">Salmo 40 - Beatus qui intelligit</h3>
    <div class="container">
        <div class="row">
            {% include salmos/040.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 41" class="text-center" id="item-41">Salmo 41 - Quemadmodum desiderat cervus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/041.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 42" class="text-center" id="item-42">Salmo 42 - Judica me, Deus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/042.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 43" class="text-center" id="item-43">Salmo 43 - Deus, auribus nostris audivimus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/043.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 44" class="text-center" id="item-44">Salmo 44 - Eructavit cor meum verbum bonum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/044.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 45" class="text-center" id="item-45">Salmo 45 - Deus noster refugium</h3>
    <div class="container">
        <div class="row">
            {% include salmos/045.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 46" class="text-center" id="item-46">Salmo 46 - Omnes gentes</h3>
    <div class="container">
        <div class="row">
            {% include salmos/046.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 47" class="text-center" id="item-47">Salmo 47 - Magnus Dominus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/047.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 48" class="text-center" id="item-48">Salmo 48 - Audite hæc</h3>
    <div class="container">
        <div class="row">
            {% include salmos/048.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 49" class="text-center" id="item-49">Salmo 49 - Deus deorum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/049.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 50" class="text-center" id="item-50">Salmo 50 - Miserere mei</h3>
    <div class="container">
        <div class="row">
            {% include salmos/050.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 51" class="text-center" id="item-51">Salmo 51 - Quid gloriaris</h3>
    <div class="container">
        <div class="row">
            {% include salmos/051.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 52" class="text-center" id="item-52">Salmo 52 - Dixit insipiens in corde</h3>
    <div class="container">
        <div class="row">
            {% include salmos/052.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 53" class="text-center" id="item-53">Salmo 53 - Deus, in nomine tuo salvum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/053.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 54" class="text-center" id="item-54">Salmo 54 - Exaudi, Deus, orationem meam</h3>
    <div class="container">
        <div class="row">
            {% include salmos/054.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 55" class="text-center" id="item-55">Salmo 55 - Miserere mei, Deus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/055.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 56" class="text-center" id="item-56">Salmo 56 - Miserere mei, Deus, miserere mei</h3>
    <div class="container">
        <div class="row">
            {% include salmos/056.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 57" class="text-center" id="item-57">Salmo 57 - Si vere utique justitiam loquimini</h3>
    <div class="container">
        <div class="row">
            {% include salmos/057.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 58" class="text-center" id="item-58">Salmo 58 - Eripe me de inimicis meis</h3>
    <div class="container">
        <div class="row">
            {% include salmos/058.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 59" class="text-center" id="item-59">Salmo 59 - Deus, repulisti nos</h3>
    <div class="container">
        <div class="row">
            {% include salmos/059.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 60" class="text-center" id="item-60">Salmo 60 - Exaudi, Deus, deprecationem meam</h3>
    <div class="container">
        <div class="row">
            {% include salmos/060.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 61" class="text-center" id="item-61">Salmo 61 - Nonne Deo subjecta erit anima mea</h3>
    <div class="container">
        <div class="row">
            {% include salmos/061.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 62" class="text-center" id="item-62">Salmo 62 - Deus, Deus meus, ad Te de luce vigilo</h3>
    <div class="container">
        <div class="row">
            {% include salmos/062.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 63" class="text-center" id="item-63">Salmo 63 - Exaudi, Deus, orationem meam cum deprecor</h3>
    <div class="container">
        <div class="row">
            {% include salmos/063.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 64" class="text-center" id="item-64">Salmo 64 - Te decet hymnus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/064.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 65" class="text-center" id="item-65">Salmo 65 - Jubilate Deo, omnis terra</h3>
    <div class="container">
        <div class="row">
            {% include salmos/065.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 66" class="text-center" id="item-66">Salmo 66 - Deus misereatur nostri</h3>
    <div class="container">
        <div class="row">
            {% include salmos/066.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 67" class="text-center" id="item-67">Salmo 67 - Exsurgat Deus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/067.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 68" class="text-center" id="item-68">Salmo 68 - Salvum me fac, Deus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/068.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 69" class="text-center" id="item-69">Salmo 69 - Deus, in adjutorium meum intende</h3>
    <div class="container">
        <div class="row">
            {% include salmos/069.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 70" class="text-center" id="item-70">Salmo 70 - In te, Domine, speravi</h3>
    <div class="container">
        <div class="row">
            {% include salmos/070.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 71" class="text-center" id="item-71">Salmo 71 - Deus, judicium tuum regi da</h3>
    <div class="container">
        <div class="row">
            {% include salmos/071.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 72" class="text-center" id="item-72">Salmo 72 - Quam bonus Israël Deus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/072.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 73" class="text-center" id="item-73">Salmo 73 - Ut quid, Deus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/073.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 74" class="text-center" id="item-74">Salmo 74 - Confitebimur tibi, Deus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/074.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 75" class="text-center" id="item-75">Salmo 75 - Notus in Judæa Deus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/075.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 76" class="text-center" id="item-76">Salmo 76 - Voce mea ad Dominum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/076.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 77" class="text-center" id="item-77">Salmo 77 - Attendite, popule meus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/077.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 78" class="text-center" id="item-78">Salmo 78 - Deus, venerunt gentes</h3>
    <div class="container">
        <div class="row">
            {% include salmos/078.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 79" class="text-center" id="item-79">Salmo 79 - Qui regis Israël</h3>
    <div class="container">
        <div class="row">
            {% include salmos/079.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 80" class="text-center" id="item-80">Salmo 80 - Exsultate Deo adjutori nostro</h3>
    <div class="container">
        <div class="row">
            {% include salmos/080.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 81" class="text-center" id="item-81">Salmo 81 - Deus stetit in synagoga deorum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/081.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 82" class="text-center" id="item-82">Salmo 82 - Deus, quis similis</h3>
    <div class="container">
        <div class="row">
            {% include salmos/082.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 83" class="text-center" id="item-83">Salmo 83 - Quam dilécta tabernacula</h3>
    <div class="container">
        <div class="row">
            {% include salmos/083.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 84" class="text-center" id="item-84">Salmo 84 - Benedixisti, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/084.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 85" class="text-center" id="item-85">Salmo 85 - Inclina, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/085.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 86" class="text-center" id="item-86">Salmo 86 - Fundamenta ejus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/086.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 87" class="text-center" id="item-87">Salmo 87 - Domine, Deus salutis meæ</h3>
    <div class="container">
        <div class="row">
            {% include salmos/087.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 88" class="text-center" id="item-88">Salmo 88 - Misericordias Domini</h3>
    <div class="container">
        <div class="row">
            {% include salmos/088.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 89" class="text-center" id="item-89">Salmo 89 - Domine, refugium factus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/089.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 90" class="text-center" id="item-90">Salmo 90 - Qui habitat in adjutorio Altissimi</h3>
    <div class="container">
        <div class="row">
            {% include salmos/090.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 91" class="text-center" id="item-91">Salmo 91 - Bonum est confiteri Domino</h3>
    <div class="container">
        <div class="row">
            {% include salmos/091.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 92" class="text-center" id="item-92">Salmo 92 - Dominus regnavit</h3>
    <div class="container">
        <div class="row">
            {% include salmos/092.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 93" class="text-center" id="item-93">Salmo 93 - Deus ultionum Dominus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/093.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 94" class="text-center" id="item-94">Salmo 94 - Venite, exsultemus Domino</h3>
    <div class="container">
        <div class="row">
            {% include salmos/094.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 95" class="text-center" id="item-95">Salmo 95 - Cantate Domino</h3>
    <div class="container">
        <div class="row">
            {% include salmos/095.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 96" class="text-center" id="item-96">Salmo 96 - Dominus regnavit: exsultet terra</h3>
    <div class="container">
        <div class="row">
            {% include salmos/096.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 97" class="text-center" id="item-97">Salmo 97 - Cantate Domino canticum novum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/097.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 98" class="text-center" id="item-98">Salmo 98 - Dominus regnavit: irascantur populi</h3>
    <div class="container">
        <div class="row">
            {% include salmos/098.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 99" class="text-center" id="item-99">Salmo 99 - Jubilate Deo, omnis terra</h3>
    <div class="container">
        <div class="row">
            {% include salmos/099.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 100" class="text-center" id="item-100">Salmo 100 - Misericordiam et judicium</h3>
    <div class="container">
        <div class="row">
            {% include salmos/100.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 101" class="text-center" id="item-101">Salmo 101 - Domine, exaudi orationem</h3>
    <div class="container">
        <div class="row">
            {% include salmos/101.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 102" class="text-center" id="item-102">Salmo 102 - Benedic, anima mea</h3>
    <div class="container">
        <div class="row">
            {% include salmos/102.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 103" class="text-center" id="item-103">Salmo 103 - Benedic, anima mea, Domino</h3>
    <div class="container">
        <div class="row">
            {% include salmos/103.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 104" class="text-center" id="item-104">Salmo 104 - Confitemini Domino</h3>
    <div class="container">
        <div class="row">
            {% include salmos/104.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 105" class="text-center" id="item-105">Salmo 105 - Confitemini Domino, quoniam bonus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/105.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 106" class="text-center" id="item-106">Salmo 106 - Confitemini Domino, quoniam bonus, quoniam</h3>
    <div class="container">
        <div class="row">
            {% include salmos/106.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 107" class="text-center" id="item-107">Salmo 107 - Paratum cor meum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/107.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 108" class="text-center" id="item-108">Salmo 108 - Deus, laudem meam</h3>
    <div class="container">
        <div class="row">
            {% include salmos/108.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 109" class="text-center" id="item-109">Salmo 109 - Dixit Dominus Domino meo</h3>
    <div class="container">
        <div class="row">
            {% include salmos/109.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 110" class="text-center" id="item-110">Salmo 110 - Confitebor tibi, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/110.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 111" class="text-center" id="item-111">Salmo 111 - Beatus vir qui timet Dominum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/111.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 112" class="text-center" id="item-112">Salmo 112 - Laudate, pueri</h3>
    <div class="container">
        <div class="row">
            {% include salmos/112.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 113" class="text-center" id="item-113">Salmo 113 - In exitu Israël</h3>
    <div class="container">
        <div class="row">
            {% include salmos/113.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 114" class="text-center" id="item-114">Salmo 114 - Dilexi, quoniam exaudiet</h3>
    <div class="container">
        <div class="row">
            {% include salmos/114.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 115" class="text-center" id="item-115">Salmo 115 - Credidi, propter</h3>
    <div class="container">
        <div class="row">
            {% include salmos/115.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 116" class="text-center" id="item-116">Salmo 116 - Laudate Dominum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/116.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 117" class="text-center" id="item-117">Salmo 117 - Confitemini Domino, quoniam bonus, quoniam in sæculum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/117.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 118" class="text-center" id="item-118">Salmo 118 - Beati immaculati in via</h3>

    {% include salmos/118.html %}

    <h3 data-toc-text="Salmo 119" class="text-center" id="item-119">Salmo 119 - Ad Dominum cum tribularer clamavi</h3>
    <div class="container">
        <div class="row">
            {% include salmos/119.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 120" class="text-center" id="item-120">Salmo 120 - Levavi oculos meos</h3>
    <div class="container">
        <div class="row">
            {% include salmos/120.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 121" class="text-center" id="item-121">Salmo 121 - Lætatus sum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/121.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 122" class="text-center" id="item-122">Salmo 122 - Ad Te levavi oculos meos</h3>
    <div class="container">
        <div class="row">
            {% include salmos/122.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 123" class="text-center" id="item-123">Salmo 123 - Nisi quia Dominus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/123.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 124" class="text-center" id="item-124">Salmo 124 - Qui confidunt in Domino</h3>
    <div class="container">
        <div class="row">
            {% include salmos/124.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 125" class="text-center" id="item-125">Salmo 125 - In convertendo Dominus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/125.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 126" class="text-center" id="item-126">Salmo 126 - Nisi Dominus ædificaverit domum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/126.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 127" class="text-center" id="item-127">Salmo 127 - Beati omnes qui timent Dominum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/127.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 128" class="text-center" id="item-128">Salmo 128 - Sæpe expugnaverunt me</h3>
    <div class="container">
        <div class="row">
            {% include salmos/128.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 129" class="text-center" id="item-129">Salmo 129 - De profundis</h3>
    <div class="container">
        <div class="row">
            {% include salmos/129.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 130" class="text-center" id="item-130">Salmo 130 - Domine, non est exaltatum cor meum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/130.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 131" class="text-center" id="item-131">Salmo 131 - Memento, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/131.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 132" class="text-center" id="item-132">Salmo 132 - Ecce quam bonum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/132.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 133" class="text-center" id="item-133">Salmo 133 - Ecce nunc benedicite</h3>
    <div class="container">
        <div class="row">
            {% include salmos/133.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 134" class="text-center" id="item-134">Salmo 134 - Laudate nomen Domini</h3>
    <div class="container">
        <div class="row">
            {% include salmos/134.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 135" class="text-center" id="item-135">Salmo 135 - Confitemini Domino, quoniam bonus, quoniam in æternum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/135.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 136" class="text-center" id="item-136">Salmo 136 - Super flumina Babylonis</h3>
    <div class="container">
        <div class="row">
            {% include salmos/136.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 137" class="text-center" id="item-137">Salmo 137 - Confitebor tibi, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/137.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 138" class="text-center" id="item-138">Salmo 138 - Domine, probasti me</h3>
    <div class="container">
        <div class="row">
            {% include salmos/138.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 139" class="text-center" id="item-139">Salmo 139 - Eripe me, Domine</h3>
    <div class="container">
        <div class="row">
            {% include salmos/139.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 140" class="text-center" id="item-140">Salmo 140 - Domine, clamavi ad Te</h3>
    <div class="container">
        <div class="row">
            {% include salmos/140.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 141" class="text-center" id="item-141">Salmo 141 - Voce mea ad Dominum clamavi</h3>
    <div class="container">
        <div class="row">
            {% include salmos/141.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 142" class="text-center" id="item-142">Salmo 142 - Domine, exaudi orationem meam</h3>
    <div class="container">
        <div class="row">
            {% include salmos/142.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 143" class="text-center" id="item-143">Salmo 143 - Benedictus Dominus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/143.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 144" class="text-center" id="item-144">Salmo 144 - Exaltabo Te, Deus meus rex</h3>
    <div class="container">
        <div class="row">
            {% include salmos/144.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 145" class="text-center" id="item-145">Salmo 145 - Lauda, anima mea, Dominum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/145.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 146" class="text-center" id="item-146">Salmo 146 - Laudate Dominum, quoniam</h3>
    <div class="container">
        <div class="row">
            {% include salmos/146.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 147" class="text-center" id="item-147">Salmo 147 - Lauda, Jerusalem</h3>
    <div class="container">
        <div class="row">
            {% include salmos/147.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 148" class="text-center" id="item-148">Salmo 148 - Laudate Dominum de cælis</h3>
    <div class="container">
        <div class="row">
            {% include salmos/148.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 149" class="text-center" id="item-149">Salmo 149 - Cantate Domino canticum novum</h3>
    <div class="container">
        <div class="row">
            {% include salmos/149.html %}
        </div>
    </div>

    <h3 data-toc-text="Salmo 150" class="text-center" id="item-150">Salmo 150 - Laudate Dominum in sanctis ejus</h3>
    <div class="container">
        <div class="row">
            {% include salmos/150.html %}
        </div>
    </div>
</div>
