<h2 class="text-center">Quarto Domingo depois da Epifania</h2>

<h4 class="text-center">Intróito</h4><em>Sl. 96, 7-8</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Adoráte Deum, omnes Angeli ejus: audívit, et lætáta est Sion: et exsultavérunt fíliæ Judae. <em>Ps. ibid., 1</em> Dóminus regnávit, exsúltet terra: læténtur ínsulæ multæ.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">
Adorai a Deus, ó vós, que sois os seus Anjos. Ouviu Sião: e rejubilou: e as filhas de Judá exultaram de alegria. <em>Sl. ibid., 1</em> O Senhor reinou: alegre-se a terra e as suas muitas ilhas.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Deus, qui nos, in tantis perículis constitútos, pro humána scis fragilitáte non posse subsístere: da nobis salútem mentis et córporis; ut ea, quæ pro peccátis nostris pátimur, te adjuvánte vincámus. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que conheceis não poder a fraqueza humana subsistir no meio de tantos perigos que nos cercam, concedei-nos a saúde da alma e do corpo, a fim de que com vosso auxílio possamos vencer os males que devemos sofrer em castigo dos pecados. Por nosso Senhor Jesus Cristo, vosso Filho, que <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4><em>Rm. 13, 8-10</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio Epístolæ beáti Pauli Apóstoli ad Romános.
</div>
<div class="col-6 text-justify">
Lição da Ep.ª do B. Ap.º Paulo aos Romanos.
</div>
<div class="col-6 text-justify">
Fratres: Némini quidquam debeátis, nisi ut ínvicem diligátis: qui enim díligit próximum, legem implévit. Nam: Non adulterábis, Non occídes, Non furáberis, Non falsum testimónium dices, Non concupísces: et si quod est áliud mandátum, in hoc verbo instaurátur: Díliges próximum tuum sicut teípsum. Diléctio próximi malum non operátur. Plenitúdo ergo legis est diléctio.
</div>
<div class="col-6 text-justify">
Meus irmãos: Não sejais devedores a ninguém de cousa alguma, senão do amor que deveis uns aos outros; pois aquele que ama o seu próximo cumpre a lei. Com efeito, estes mandamentos de Deus: não cometerás adultério; não matarás; não roubarás; não levantarás falso testemunho; não cobiçarás as cousas alheias, e todos os outros mandamentos que há, resumem-se nestas palavras: amarás ao teu próximo como a ti próprio. O amor ao próximo não permite que se lhe faça mal. O amor é, portanto, a plenitude da lei.
</div>
</div>
</div>

<h4 class="text-center">Gradual</h4><em>Sl. 101, 16-17</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Timébunt gentes nomen tuum, Dómine, et omnes reges terræ glóriam tuam. ℣. Quóniam ædificávit Dóminus Sion, et vidébitur in majestáte sua.
</div>
<div class="col-6 text-justify">
As nações temerão o vosso nome, Senhor; e todos os reis da terra contemplarão a vossa glória. ℣. Pois o Senhor reedificou Sião: e manifestar-se-á aí na sua majestade.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Ps. 96, 1</em> Dóminus regnávit, exsúltet terra: læténtur ínsulæ multæ. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Sl. 96, 1</em> O Senhor reinou: alegre-se a terra e as suas muitas ilhas. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4><em>Mt. 8, 23-27</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Sequéntia sancti Evangélii secúndum Matthǽum.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Continuação do santo Evangelho segundo S. Lucas.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Ascendénte Jesu in navículam, secúti sunt eum discípuli ejus: et ecce, motus magnus factus est in mari, ita ut navícula operirétur flúctibus, ipse vero dormiébat. Et accessérunt ad eum discípuli ejus, et suscitavérunt eum, dicéntes: Dómine, salva nos, perímus. Et dicit eis Jesus: Quid tímidi estis, módicæ fídei? Tunc surgens, imperávit ventis et mari, et facta est tranquíllitas magna. Porro hómines miráti sunt, dicéntes: Qualis est hic, quia venti et mare obœdiunt ei?
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, Jesus entrou em uma barca, sendo acompanhado pelos seus discípulos. E eis que uma grande tempestade surgiu do mar, de modo que as ondas cobriam a barca. Jesus dormia. Os discípulos aproximaram-se, então, de Jesus, dizendo: «Senhor, salvai-nos, pois perecemos!». Jesus disse-lhes: «Porque receais, homens de pouca fé?». E, erguendo-se, impôs a sua vontade aos ventos e ao mar; e fez-se uma grande bonança. E aqueles homens admiraram-se, dizendo: «Quem é Este, que até os ventos e o mar Lhe obedecem?!».
</div>
</div>
</div>

<h4 class="text-center">Ofertório</h4><em>Sl. 117, 16 & 17</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Déxtera Dómini fecit virtutem, déxtera Dómini exaltávit me: non móriar, sed vivam, et narrábo ópera Dómini.
</div>
<div class="col-6 text-justify">
A dextra do Senhor mostrou o seu poder: a dextra do Senhor exaltou-me. Não morrerei: viverei e narrarei os prodígios do Senhor.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Concéde, quǽsumus, omnípotens Deus: ut hujus sacrifícii munus oblátum fragilitátem nostram ab omni malo purget semper et múniat. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Vos suplicamos, fazei que a hóstia oferecida neste sacrifício livre a nossa fraqueza de todo o mal e a fortifique para o futuro. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4><em>Lc. 4, 22</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Mirabántur omnes de his, quæ procedébant de ore Dei.
</div>
<div class="col-6 text-justify">
Todos estavam admirados das palavras que saíam da boca de Deus.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Múnera tua nos, Deus, a delectatiónibus terrenis expédiant: et cœléstibus semper instáurent aliméntis. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que estes vossos dons nos afastem dos gozos terrenos, e nos restaurem com seu alimento celestial. Por nosso Senhor Jesus Cristo, vosso Filho, que <em>&c.</em>
</div>
</div>
</div>
