<h2 class="text-center">Domingo dentro do Oitavário da Epifania</h2>

<h4 class="text-center">Intróito</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
In excélso throno vidi sedére virum, quem adórat multitúdo Angelórum, psalléntes in unum: ecce, cujus impérii nomen est in ætérnum. <em>Ps. 99, 1</em> Jubiláte Deo, omnis terra: servíte Dómino in lætítia.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Vi um Homem, sentado em um trono muito elevado, a quem a multidão dos Anjos adorava, cantando em coro de vozes: «Eis Aquele cujo império é eterno!»
<em>Sl. 99, 1</em> Aclamai jubilosamente o Senhor, ó habitantes da terra: obedecei ao Senhor com alegria.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Vota, quǽsumus, Dómine, supplicántis pópuli cœlésti pietáte proséquere: ut et, quæ agénda sunt, vídeant, et ad implénda, quæ víderint, convaléscant Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Aceitai, Senhor, com vossa celestial bondade os votos do vosso povo suplicante; e, Vos imploramos, permiti que os vossos servos conheçam o que devem cumprir e tenham coragem de cumprir o que conhecem. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola <em>Rm. 12, 1-5</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio Epístolæ beáti Pauli Apóstoli ad Romános.
</div>
<div class="col-6 text-justify">
Lição da Ep.ª do B. Ap. Paulo aos Romanos.
</div>
<div class="col-6 dropcaps text-justify">
Fratres: Obsecro vos per misericórdiam Dei, ut exhibeátis córpora vestra hóstiam vivéntem, sanctam, Deo placéntem, rationábile obséquium vestrum. Et nolíte conformári huic sǽculo, sed reformámini in novitáte sensus vestri: ut probétis, quæ sit volúntas Dei bona, et benéplacens, et perfécta. Dico enim per grátiam, quæ data est mihi, ómnibus qui sunt inter vos: Non plus sápere, quam opórtet sápere, sed sápere ad sobrietátem: et unicuique sicut Deus divísit mensúram fídei. Sicut enim in uno córpore multa membra habémus, ómnia autem membra non eúndem actum habent: ita multi unum corpus sumus in Christo, sínguli autem alter alteríus membra: in Christo Jesu, Dómino nostro.
</div>
<div class="col-6 dropcaps text-justify">
Meus irmãos: Peço-vos pela misericórdia de Deus que ofereçais os vossos corpos como hóstia viva, santa e agradável a Deus, para que o culto que Lhe prestais seja racional. Não vos conformeis com os costumes; mas reformai-vos com a graça do espírito novo, que agora possuís, para que conheçais qual é a vontade de Deus, o que é bom, agradável e perfeito. Exorto-vos, pois, a todos vós, pela graça que me foi dada, que não formeis de vós um juízo muito elevado, mas que tenhais sentimentos modestos de vós, cada um conforme a medida que Deus lhe concedeu. Porquanto, assim como em um só corpo temos muitos membros (os quais, contudo, não têm a mesma função), assim também, ainda que sejamos vários, contudo formamos um só corpo em Jesus Cristo, sendo cada um de nós em particular membros uns dos outros, em Jesus Cristo, nosso Senhor.
</div>
</div>
</div>

<h4 class="text-center">Gradual <em>Sl. 71, 18 & 3</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Benedíctus Dóminus, Deus Israël, qui facit mirabília magna solus a sǽculo. ℣. Suscípiant montes pacem pópulo tuo, et colles justítiam.
</div>
<div class="col-6 dropcaps text-justify">
Bendito seja o Senhor Deus de Israel, pois somente Ele opera prodígios em todos os séculos. Que os montes do vosso povo sejam bafejados pela paz: e as colinas pela justiça.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Ps. 99, 1</em> Jubiláte Deo, omnis terra: servíte Dómino in lætítia. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Sl. 99, 1</em> Aclamai jubilosamente o Senhor, ó habitantes da terra: obedecei ao Senhor com alegria. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho <em>Página evangelhosagradafamilia</em></h4>

<h4 class="text-center">Ofertório <em>Sl. 99, 1 & 2</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Jubiláte Deo, omnis terra, servíte Dómino in lætítia: intráte in conspéctu ejus in exsultatióne: quia Dóminus ipse est Deus.
</div>
<div class="col-6 dropcaps text-justify">
Aclamai jubilosamente o Senhor, ó habitantes da terra: obedecei ao Senhor com alegria: apresentai-vos diante d’Ele com alegria; pois Ele é bom.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Oblátum tibi, Dómine, sacrificium vivíficet nos semper et múniat. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Fazei, Senhor, que este sacrifício, que Vos é oferecido, sempre nos vivifique e conforte. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio <em>Lc. 2, 48 & 49</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Fili, quid fecísti nobis sic? ego et pater tuus doléntes quærebámus te. Et quid est, quod me quærebátis? nesciebátis, quia in his, quæ Patris mei sunt, opórtet me esse?
</div>
<div class="col-6 dropcaps text-justify">
Meu filho, porque procedestes assim para connosco? Eis que o vosso pai e eu Vos buscávamos aflitos! E porque me procuráveis? Não sabíeis que é preciso que me ocupe das cousas de meu Pai?
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Súpplices te rogámus, omnípotens Deus: ut, quos tuis réfícis sacraméntis, tibi etiam plácitis móribus dignánter deservíre concédas. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Humildemente Vos suplicamos, ó Deus omnipotente, concedei àqueles que se sustentam com vossos sacramentos a graça de Vos servirem com actos que Vos sejam agradáveis. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
