<h2 class="text-center">Décimo Oitavo Domingo depois de Pentecostes</h2>

<h4 class="text-center">Intróito</h4><em>Ecl. 36, 18</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Da pacem, Dómine, sustinéntibus te, ut prophétæ tui fidéles inveniántur: exáudi preces servi tui et plebis tuæ Israël. <em>Ps. 121, 1</em> Lætátus sum in his, quæ dicta sunt mihi: in domum Dómini íbimus.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">
Dai paz, Senhor, àqueles que em Vós esperam, a fim de que os vossos Profetas sejam julgados fiéis: Ouvi as preces de Israel, vosso servo e vosso povo. <em>Sl. 121, 1</em> Alegrei-me com aqueles que me disseram estas palavras: iremos para a casa do Senhor.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Dírigat corda nostra, quǽsumus, Dómine, tuæ miseratiónis operátio: quia tibi sine te placére non póssumus. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Dignai-Vos, Senhor, Vos imploramos, dirigir os nossos corações segundo as inspirações da vossa misericórdia, pois sem Vós não podemos agradar-Vos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4><em>1 Cor. 1, 4-8</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio Epístolæ beáti Pauli Apóstoli ad Corinthios.
</div>
<div class="col-6 text-justify">
Lição da Ep.ª do B. Ap.º Paulo aos Coríntios.
</div>
<div class="col-6 text-justify">
Fratres: Grátias ago Deo meo semper pro vobis in grátia Dei, quæ data est vobis in Christo Jesu: quod in ómnibus dívites facti estis in illo, in omni verbo et in omni sciéntia: sicut testimónium Christi confirmátum est in vobis: ita ut nihil vobis desit in ulla grátia, exspectántibus revelatiónem Dómini nostri Jesu Christi, qui et confirmábit vos usque in finem sine crímine, in die advéntus Dómini nostri Jesu Christi.
</div>
<div class="col-6 text-justify">
Meus irmãos: Rendo contínuas acções de graças a Deus por vós, visto que vos foi dada a graça de Deus, em Jesus Cristo. Pois pela vossa união com Cristo ficastes repletos de riquezas espirituais, particularmente pelo que respeita ao dom da palavra e da ciência. O testemunho, que vos tinha sido dado de Jesus Cristo, foi assim confirmado em vós, de modo que não cedeis a ninguém em nenhum dom da graça, esperando com confiança a manifestação de nosso Senhor. E ainda até ao fim Deus vos confirmará, para que vos encontre irrepreensíveis no dia da vinda de N. S. Jesus Cristo.
</div>
</div>
</div>

<h4 class="text-center">Gradual</h4><em>Sl. 121, 1 & 7</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Lætátus sum in his, quæ dicta sunt mihi: in domum Dómini íbimus. ℣. Fiat pax in virtúte tua: et abundántia in túrribus tuis.
</div>
<div class="col-6 text-justify">
Alegro-me com aqueles que me disseram estas palavras: iremos para a casa do Senhor. Que a paz reine nas tuas fortalezas e a abundância nos teus palácios.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Ps. 101, 16</em> Timébunt gentes nomen tuum, Dómine, et omnes reges terræ glóriam tuam. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Sl. 101, 16</em> As nações, Senhor, temerão o vosso nome e os reis da terra contemplarão a vossa glória. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4><em>Mt. 9, 1-8</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
&#10016; Sequéntia sancti Evangélii secúndum Matthǽum.
</div>
<div class="col-6 text-justify">
&#10016; Continuação do santo Evangelho segundo S. Mateus.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Ascéndens Jesus in navículam, transfretávit et venit in civitátem suam. Et ecce, offerébant ei paralýticum jacéntem in lecto. Et videns Jesus fidem illórum, dixit paralýtico: Confíde, fili, remittúntur tibi peccáta tua. Et ecce, quidam de scribis dixérunt intra se: Hic blasphémat. Et cum vidísset Jesus cogitatiónes eórum, dixit: Ut quid cogitátis mala in córdibus vestris? Quid est facílius dícere: Dimittúntur tibi peccáta tua; an dícere: Surge et ámbula? Ut autem sciátis, quia Fílius hóminis habet potestátem in terra dimitténdi peccáta, tunc ait paralýtico: Surge, tolle lectum tuum, et vade in domum tuam. Et surréxit et ábiit in domum suam. Vidéntes autem turbæ timuérunt, et glorificavérunt Deum, qui dedit potestátem talem homínibus.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, subindo Jesus para uma barca, passou o lago e foi para a cidade de Cafarnaum, onde Lhe apresentaram um paralítico, deitado num leito. Vendo Jesus a fé de todos, disse ao paralítico: «Tem confiança, meu filho, os teus pecados ficam-te perdoados». Logo alguns dos escribas disseram intimamente: «Este homem blasfema!». Jesus, conhecendo os seus pensamentos, disse-lhes: «Para que cogitais mal nos vossos corações? Qual é mais fácil dizer: Os teus pecados ficam-te perdoados, ou levanta-te e caminha? Pois, para que conheçais que o Filho do homem tem na terra poder de perdoar os pecados, levanta-te (continuou Ele, dirigindo-se ao paralítico), leva a tua cama e vai para tua casal». E o paralítico levantou-se e foi para casa. Vendo as turbas do povo este acontecimento, ficaram cheias de temor e deram glória a Deus, que havia dado tal poder aos homens!
</div>
</div>
</div>

<h4 class="text-center">Ofertório</h4><em>Ex. 24, 4 & 5</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Sanctificávit Móyses altáre Dómino, ófferens super illud holocáusta et ímmolans víctimas: fecit sacrifícium vespertínum in odórem suavitátis Dómino Deo, in conspéctu filiórum Israël.
</div>
<div class="col-6 text-justify">
Moisés consagrou um altar ao Senhor, sobre o qual ofereceu holocaustos e imolou vítimas: e na presença dos filhos de Israel celebrou o sacrifício da tarde em odor de suavidade ao Senhor.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Deus, qui nos, per hujus sacrifícii veneránda commércia, uníus summæ divinitátis partícipes éfficis: præsta, quǽsumus; ut, sicut tuam cognóscimus veritátem, sic eam dignis móribus assequámur. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que, pela augusta mudança que este sacrifício estabelece entre Vós e nós, nos fazeis participantes da vossa divindade una e soberana, permiti, Vos imploramos, que, conhecendo a vossa verdade, mostremos possuí-la nos nossos costumes dignos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4><em>Sl. 95, 8-9</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Tóllite hóstias, et introíte in átria ejus: adoráte Dóminum in aula sancta ejus.
</div>
<div class="col-6 text-justify">
Trazei vossas hóstias e entrai nos átrios do Senhor: adorai o Senhor no seu santo templo.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Grátias tibi reférimus, Dómine, sacro múnere vegetáti: tuam misericórdiam deprecántes; ut dignos nos ejus participatióne perfícias. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Vos damos graças, Senhor, por nos haverdes alimentado com o sacratíssimo dom; e imploramos da vossa misericórdia que nos torneis dignos desta participação. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
