<h2 class="text-center">Quinto Domingo depois de Pentecostes</h2>

<h4 class="text-center">Intróito</h4><em>Sl. 26, 7 & 9</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Exáudi, Dómine, vocem meam, qua clamávi ad te: adjútor meus esto, ne derelínquas me neque despícias me, Deus, salutáris meus. <em>Ps. ibid., 1</em> Dóminus illuminátio mea et salus mea, quem timébo?
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ouvi, Senhor, a oração com que Vos imploro. Sede o meu auxílio: me não abandoneis, nem me desprezeis, ó meu Deus e meu Salvador! <em>Sl. ibid., 1</em> O Senhor é a minha luz e a minha salvação: a quem, pois, temerei?
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Deus, qui diligéntibus te bona invisibília præparásti: infúnde córdibus nostris tui amóris afféctum; ut te in ómnibus et super ómnia diligéntes, promissiónes tuas, quæ omne desidérium súperant, consequámur. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que preparastes os bens invisíveis para aqueles que Vos amam, infundi nos nossos corações os afectos do vosso amor, a fim de que, amando-Vos em todas as cousas e acima de todas elas, consigamos alcançar os bens prometidos, os quais ultrapassam todos nossos desejos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4><em>1 Pe. 3, 8-15</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio Epístolæ beáti Petri Apóstoli.
</div>
<div class="col-6 text-justify">
Lição da Ep.ª do B. Ap.º Pedro.
</div>
<div class="col-6 text-justify">
Caríssimi: Omnes unánimes in oratióne estóte, compatiéntes, fraternitátis amatóres, misericórdes, modésti, húmiles: non reddéntes malum pro malo, nec maledíctum pro maledícto, sed e contrário benedicéntes: quia in hoc vocáti estis, ut benedictiónem hereditáte possideátis. Qui enim vult vitam dilígere et dies vidére bonos, coérceat linguam suam a malo, et lábia ejus ne loquántur dolum. Declínet a malo, et fáciat bonum: inquírat pacem, et sequátur eam. Quia óculi Dómini super justos, et aures ejus in preces eórum: vultus autem Dómini super faciéntes mala. Et quis est, qui vobis nóceat, si boni æmulatóres fuéritis? Sed et si quid patímini propter justítiam, beáti. Timórem autem eórum ne timuéritis: et non conturbémini. Dóminum autem Christum sanctificáte in córdibus vestris.
</div>
<div class="col-6 text-justify">
Caríssimos: Sede todos unidos na oração e igualmente compassivos, amando-vos como irmãos; sede misericordiosos, modestos e humildes, não retribuindo o mal com o mal, nem a injúria com a injúria; mas, pelo contrário, bendizei os que vos amaldiçoam, ficando cientes de que sois chamados a esta grande perfeição, a fim de que sejais herdeiros da bênção. Aquele que ama a vida e quer ter dias felizes deve refrear a língua para que não fale mal de ninguém, nem os lábios profiram mentiras; deve afastar-se do mal e praticar o bem; deve procurar a paz e prosseguir nela. O Senhor tem os olhos abertos para os justos e os ouvidos atentos às suas preces; mas o Senhor tem olhares de ira contra os que praticam más acções. Quem vos fará mal, se fordes zelosos em praticar o bem? Mas se, apesar disso, sofrerdes por amor da justiça, sereis bem-aventurados. Não receeis, pois, os males, nem vos perturbeis; santificai nosso Senhor Jesus Cristo nos vossos corações.
</div>
</div>
</div>

<h4 class="text-center">Gradual</h4><em>Sl. 83, 10 & 9</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Protéctor noster, áspice, Deus, et réspice super servos tuos. ℣. Dómine, Deus virtútum, exáudi preces servórum tuórum.
</div>
<div class="col-6 text-justify">
Ó Deus, que sois o nosso protector, fitai-nos; volvei vossos olhos para os vossos servos. ℣. Senhor, Deus dos exércitos, ouvi as preces dos vossos servos.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Ps. 20, 1</em> Dómine, in virtúte tua lætábitur rex: et super salutáre tuum exsultábit veheménter. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Sl. 20, 1</em> Senhor, o rei regozija-se com vosso poder, e, vendo-se salvo por Vós, exultará em transportes de alegria! Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4><em>Mt. 5, 20-24</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
&#10016; Sequéntia sancti Evangélii secúndum Matthǽum.
</div>
<div class="col-6 text-justify">
&#10016; Continuação do santo Evangelho segundo S. Mateus.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Dixit Jesus discípulis suis: Nisi abundáverit justítia vestra plus quam scribárum et pharisæórum, non intrábitis in regnum cœlórum. Audístis, quia dic tum est antíquis: Non occídes: qui autem occídent, re us erit judício. Ego autem dico vobis: quia omnis, qu iráscitur fratri suo, reus erit judício. Qui autem díxerit fratri suo, raca: reus erit concílio. Qui autem díxerit, fatue: reus erit gehénnæ ignis Si ergo offers munus tuum ad altáre, et ibi recordátus fúeris, quia frater tuus habet áliquid advérsum te: relínque ibi munus tuum ante altáre et vade prius reconciliári fratri tuo: et tunc véniens ófferes munus tuum.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, Jesus disse aos seus discípulos: Se a vossa justiça não for mais perfeita do que a dos escribas e a dos fariseus, não entrareis no reino dos céus. Sabeis o que foi dito aos antigos: «Não matareis: aquele que matar será réu no juízo»? Pois digo-vos: Aquele que se irar contra seu irmão será réu no juízo; aquele que disser a seu irmão faca será réu no conselho (Sinédrio); e aquele que chamar a outrem louco será réu do fogo do inferno. Se, pois, tu trouxeres a tua oferta ao altar, e aí te recordares de que teu irmão tem alguma cousa contra ti, deixa a tua oferta diante do altar e vai primeiramente reconciliar-te com teu irmão. Depois vem e oferece a tua dádiva.
</div>
</div>
</div>

<h4 class="text-center">Ofertório</h4><em>Sl. 15, 7 & 8</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Benedícam Dóminum, qui tríbuit mihi intelléctum: providébam Deum in conspéctu meo semper: quóniam a dextris est mihi, ne commóvear.
</div>
<div class="col-6 text-justify">
Bendirei o Senhor, que me deu a inteligência: tenho sempre o Senhor na minha presença, pois está à minha dextra para que nunca seja abalado.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Propitiáre, Dómine, supplicatiónibus nostris: et has oblatiónes famulórum famularúmque tuárum benígnus assúme; ut, quod sínguli obtulérunt ad honórem nóminis tui, cunctis profíciat ad salútem. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Senhor, em virtude das nossas orações, tornai-Vos propício às nossas súplicas e recebei benigno estas oblações dos vossos servos e servas, a fim de que aquilo que Vos é oferecido por cada um de nós em homenagem ao vosso nome seja proveitoso para a salvação de todos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4><em>Sl. 26, 4</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Unam pétii a Dómino, hanc requíram: ut inhábitem in domo Dómini ómnibus diébus vitæ meæ.
</div>
<div class="col-6 text-justify">
Uma só cousa pedi a Deus e pedi-la-ei sempre: habitar todos os dias da minha vida na casa do Senhor.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Quos cœlésti, Dómine, dono satiásti: præsta, quǽsumus; ut a nostris mundémur occúltis et ab hóstium liberémur insídiis. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Vós nos saciastes, Senhor, com os dons celestiais; e permiti, Vos suplicamos, que sejamos purificados das faltas ocultas e livres das ciladas dos inimigos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
