<h2 class="text-center">Confessores Pontífices <em>Missa Sacerdótes tui</em></h2>

<h4 class="text-center">Intróito <em>Sl. 131, 9-10</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Sacerdótes tui, Dómine, índuant justítiam, et sancti tui exsúltent: propter David servum tuum, non avértas fáciem Christi tui. (T. P. Allelúja, allelúja.) <em>Ps. ibid., 1</em> Meménto, Dómine, David: et omnis mansuetúdinis ejus.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Que os vossos sacerdotes, Senhor, se revistam de santidade; e que os vossos santos exultem de alegria! Por amor do vosso servo David não afasteis os olhos do vosso Cristo. (T. Aleluia, aleluia.) <em>Ps. ibid., 1</em> Lembrai-Vos, Senhor, de David e da sua grande mansidão.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Exáudi, quǽsumus, Dómine, preces nostras, quas in beáti <em>N. </em>Confessóris tui atque Pontíficis sollemnitáte deférimus: et, qui tibi digne méruit famulári, ejus intercedéntibus méritis, ab ómnibus nos absólve peccátis Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Ouvi, Senhor, Vos suplicamos, as preces que Vos dirigimos na solenidade do B. <em>N. </em>vosso Confessor e Pontífice, e, pelos méritos e intercessão daquele que tão dignamente Vos serviu, concedei-nos o perdão dos nossos pecados. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola <em>Heb. 7, 23-27</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio Epístolæ beáti Pauli Apóstoli ad Hebrǽos.
</div>
<div class="col-6 text-justify">
Lição da Ep.ª do B. Ap.º Paulo aos Hebreus.
</div>
<div class="col-6 dropcaps text-justify">
Fratres: Plures facti sunt sacerdótes, idcírco quod morte prohiberéntur permanére: Jesus autem, eo quod máneat in ætérnum, sempitérnum habet sacerdótium. Unde et salváre in perpétuum potest accedéntes per semetípsum ad Deum: semper vivens ad interpellándum pro nobis. Talis enim decébat, ut nobis esset póntifex, sanctus, ínnocens, impollútus, segregátus a peccatóribus, et excélsior cœlis factus: qui non habet necessitátem cotídie, quemádmodum sacerdótes, prius pro suis delíctis hóstias offérre, deínde pro pópuli: hoc enim fecit semel, seípsum offeréndo, Jesus Christus, Dóminus noster.
</div>
<div class="col-6 dropcaps text-justify">
Meus irmãos: Entre eles, além disso, muitos outros foram feitos sacerdotes, porque a morte os impedia de viverem sempre. Mas Jesus, que permanece eternamente, tem um sacerdócio eterno, por isso Ele pode salvar perpetuamente aqueles que se aproximam de Deus por seu intermédio, pois está sempre vivo para interceder por nós. Convinha, pois, que tivéssemos um Pontífice santo, inocente, imaculado, afastado dos pecadores e mais elevado que os céus; que não tivesse necessidade, como os outros sacerdotes, de oferecer, quotidianamente, vítimas, primeiro pelos seus próprios pecados e depois pelos pecados do povo; pois isto N. S. Jesus Cristo fez uma vez, oferecendo-se a Si mesmo.
</div>
</div>
</div>

<h4 class="text-center">Gradual <em>Sl. 131, 16-17</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Sacerdótes ejus índuam salutári: et sancti ejus exsultatióne exsultábunt. ℣. Illuc prodúcam cornu David: parávi lucérnam Christo meo.
</div>
<div class="col-6 dropcaps text-justify">
Revestirei os seus sacerdotes de salvação e os seus santos exultarão em transportes de alegria. ℣. Em Sião farei aparecer o poder de David: prepararei uma lâmpada ao meu Cristo.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Ps. 109, 4</em> Jurávit Dóminus, et non pœnitébit eum: Tu es sacérdos in ætérnum, secúndum órdinem Melchísedech. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Sl. 109, 4</em> O Senhor jurou e não se arrependerá: Tu és sacerdote para sempre, segundo a ordem de Melquisedeque. Aleluia.
</div>
</div>
</div>

<em>Após a Septuagésima omite-se o Aleluia e o seguinte e diz-se:</em>

<h4 class="text-center">Trato <em>Sl. 111, 1-3</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Beátus vir, qui timet Dóminum: in mandátis ejus cupit nimis. ℣. Potens in terra erit semen ejus: generátio rectórum benedicétur. ℣. Glória et divítiæ in domo ejus: et justítia ejus manet in sǽculum sǽculi.
</div>
<div class="col-6 dropcaps text-justify">
Bem-aventurado o varão que teme o Senhor e que põe todo seu zelo em obedecer-Lhe. ℣. Sua descendência será poderosa na terra, pois a geração dos justos será abençoada. ℣. Na sua casa haverá glória e riqueza, e a sua justiça subsistirá em todos os séculos.
</div>
</div>
</div>

<em>No T. Pascal omite-se o Gradual e o Trato e diz-se:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Allelúja, allelúja. ℣. <em>Ps. 109, 4</em> Jurávit Dóminus, et non pœnitébit eum: Tu es sacérdos in ætérnum, secúndum órdinem Melchísedech. Allelúja. ℣. <em>Eccli. 45, 9</em> Amávit eum Dóminus, et ornávit eum: stolam glóriæ índuit eum. Allelúja.
</div>
<div class="col-6 dropcaps text-justify">
Aleluia, aleluia. ℣. <em>Sl. 109, 4</em> O Senhor jurou e não se arrependerá: Tu és sacerdote para sempre, segundo a ordem de Melquisedeque. Aleluia. ℣. <em>Ecl. 45, 9</em> O Senhor amou-o, ornou-o e revestiu-o com a túnica da glória. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho <em>Mt. 24, 42-47</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Sequéntia sancti Evangélii secúndum Matthǽum.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Continuação do santo Evangelho segundo S. Mateus.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Dixit Jesus discípulis suis: Vigilate, quia nescítis, qua hora Dóminus vester ventúrus sit. Illud autem scitóte, quóniam, si sciret paterfamílias, qua hora fur ventúrus esset, vigiláret útique, et non síneret pérfodi domum suam. Ideo et vos estóte parati: quia qua nescítis hora Fílius hóminis ventúrus est. Quis, putas, est fidélis servus et prudens, quem constítuit dóminus suus super famíliam suam, ut det illis cibum in témpore? Beátus ille servus, quem, cum vénerit dóminus ejus, invénerit sic faciéntem. Amen, dico vobis, quóniam super ómnia bona sua constítuet eum.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, disse Jesus a seus discípulos: «Vigiai, porque não sabeis a que hora virá o vosso Senhor. Pois sabei que, se o pai de família conhecesse a que horas viria o ladrão, certamente velaria e não deixaria violar a sua casa. Portanto vós, também, estai preparados, porque o Filho do homem virá durante a hora em que não pensais. Qual é, segundo a vossa opinião, o servo fiel e prudente que o Senhor estabeleceu como superior na sua família para distribuir-lhe o sustento em tempo oportuno? Bem-aventurado aquele servo a quem, quando o seu senhor vier, o achar assim ocupado. Em verdade vos digo que o encarregará de administrar todos seus bens».
</div>
</div>
</div>

<h4 class="text-center">Ofertório <em>Sl. 88, 25</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Véritas mea et misericórdia mea cum ipso: et in nómine meo exaltábitur cornu ejus. (T. P. Allelúja.)
</div>
<div class="col-6 dropcaps text-justify">
A minha fidelidade e a minha misericórdia estarão com ele: e o seu poder elevar-se-á pelo meu nome. (T. P. Aleluia).
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Sancti <em>N. </em>Confessóris tui atque Pontíficis, quǽsumus, Dómine, ánnua sollémnitas pietáti tuæ nos reddat accéptos: ut, per hæc piæ placatiónis offícia, et illum beáta retribútio comitétur, et nobis grátiæ tuæ dona concíliet. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Que a festa anual do vosso santo Confessor e Pontífice <em>N. </em>nos torne agradáveis à vossa bondade, Vos suplicamos, Senhor, a fim de que a piedosa oferta desta vítima de expiação lhe aumente a felicidade, que goza como recompensa, e nos obtenha os dons da vossa graça. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio <em>Mt. 24,46-47</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Beátus servus, quem, cum vénerit dóminus, invénerit vigilántem: amen, dico vobis, super ómnia bona sua constítuet eum. (T. P. Allelúja.)
</div>
<div class="col-6 dropcaps text-justify">
Bem-aventurado o servo que, quando o seu senhor vier, o encontrar vigilante. Em verdade vos digo que o encarregará de administrar todos seus bens. (T. P. Aleluia).
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Deus, fidélium remunerátor animárum: præsta; ut beáti <em>N. </em>Confessóris tui atque Pontíficis, cujus venerándam celebrámus festivitátem, précibus indulgéntiam consequámur. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus, remunerador das almas fiéis, dignai-Vos permitir que pelas orações do B. Pontífice e Confessor <em>N.</em>, cuja veneranda festa celebramos, obtenhamos o perdão dos nossos pecados. Por nosso Senhor <em>&c.</em>
</div>
</div>