<h2 class="text-center">5.ª Missa - Desde o Pentecostes até ao Advento <em>Missa Salve, sancta Parens da Virgem Maria</em></h2>

<em>Como na 3.ª Missa, excepto o seguinte:</em>


<h4 class="text-center">Gradual</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Benedícta et venerábilis es, Virgo María: quæ sine tactu pudóris invénia es Mater Salvatóris. &#8483;. Virgo, Dei Génetrix, quem totus non capit orbis, in tua se clausit víscera factus homo.
</div>
<div class="col-6 dropcaps text-justify">
Bendita e venerável sois, ó Virgem Maria, que fostes Mãe do Salvador, sem que a vossa pureza sofresse a mais leve ofensa. &#8483;. Ó Virgem, Mãe de Deus, Aquele que nem todo o universo é capaz de conter, quando se fez homem, esteve encerrado no vosso seio.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. &#8483;. Post partum, Virgo, invioláta permansísti: Dei Génetrix, intercéde pro nobis. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. &#8483;. Depois de haverdes dado à luz, permanecestes Virgem imaculada: Intercedei por nós, ó Mãe de Deus. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Ofertório <em>Lc. 1, 28 & 42</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Ave, María, grátia plena; Dóminus tecum: benedícta tu in muliéribus, et benedíctus fructus ventris tui.
</div>
<div class="col-6 dropcaps text-justify">
Ave, Maria, cheia de graça: o Senhor é convosco: bendita sois vós entre as mulheres, e bendito é o fruto do vosso ventre.
</div>
</div>
</div>
