---
import UIString from '../UIString.astro';
import EditButton from './EditButton.astro';

export interface Props {
	i18nReady: boolean | undefined;
	editHref: string;
}

const { editHref } = Astro.props as Props;
---

<h2 class="heading"><UIString key="rightSidebar.contribute" /></h2>
<ul>
	<li>
		<EditButton editHref={editHref} />
	</li>
</ul>
