<footer class="p-5">
  <div class="container text-light">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">Tesouro dos Fiéis</h3>
        <img class="rounded mx-auto d-block" src="/img/favicon.svg" width="50px" alt="Logo">
      </div>
        <div class="col-md-6">
          <ul class="list-unstyled">
            <li class="mt-1"><a class="h6 mx-auto mb-2" title="Melhore a Página" href="https://www.github.com/ofrades/tesourofieis/blob/master/{{ page.path }}"><span class="iconify" data-icon="fa:pencil" data-inline="false"></span> Colabore através do <span class="iconify" data-icon="fa-brands:github" data-inline="false"></span></a></li>
        
            <li class="mt-1"><a class="h6 mx-auto mb-2" title="Fale connosco" href="mailto:info@tesourofieis.com"><span class="iconify" data-icon="fa:envelope" data-inline="false"></span> Escreva-nos para info@tesourofieis.com</a></li>
        
            <li class="mt-1"><a class="h6 mx-auto mb-2" title="Facebook" target="gitter"
            href="https://facebook.com/tesourofieis"><span class="iconify" data-icon="fa:users" data-inline="false"></span> Siga-nos no <span class="iconify" data-icon="fa-brands:facebook-f" data-inline="false"></span></a></li>
        
            <li class="mt-1"><a class="h6 mx-auto mb-2" title="Quer pagar o café?" target="buymeacoffee" href="https://www.buymeacoffee.com/SP41OgGsM"><span class="iconify" data-icon="fa:coffee" data-inline="false"></span> Contribua pagando o café ou <span class="iconify" data-icon="fa-solid:praying-hands" data-inline="false"></span> uma Ave Maria</a></li>
          </ul>
        </div>

        <div class="col-md-6 mb-5">
			<blockquote class="blockquote">
				<p class="text-right mb-0">Em Portugal se conservará sempre o dogma da Fé</p>
				<footer class="blockquote-footer text-right">Nossa Senhora de Fátima</footer>
			</blockquote>
        </div>

      </div>
    </div>
</footer>