<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/logoamarelo.png" sizes="20x20">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link
        rel="stylesheet"
        href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"
      />
    <link rel="stylesheet" href="{{"assets/style.css" | relative_url }}">
 

    <!-- <title>
        {% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}
        {% else %}{{ site.title | escape }}{% endif %}
    </title> -->

    <title>
            {% if page.title %} Tesouro dos Fiéis - {{ page.title | escape }}
            {% else %}{{ site.title | escape }}{% endif %}
        </title>

</head>