<nav class="navbar fixed-top navbar-expand-sm navbar-dark navbar-custom p-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtop" aria-controls="navtop"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-header justify-content-sm-center">
    <a class="navbar-brand" href="#"><img src="/img/logo.png" width="50" height="50"></a>
    </div>

    <div class="collapse navbar-collapse justify-content-sm-center" id="navtop">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{"/index" | relative_url }}">Tesouro dos Fiéis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{"/rosario" | relative_url }}">Santo Rosário</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{"/salterio" | relative_url }}">Saltério</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{{"/oficio" | relative_url }}">Pequeno Ofício de Nossa Senhora</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{{"/antifonas" | relative_url }}">Antífonas de Nossa Senhora</a>
                    </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <nav id="toc" data-spy="affix" data-toggle="toc">
                    <div class="collapse navbar-collapse justify-content-sm-center" id="navtop">
                    </div>
            </nav>
        </div>
    </div>
</div>