<nav class="navbar navbar-dark navbar-expand-md fixed-top mb-4" id="main-nav">

  <a class="nav-link navbar-brand" href="{{"/index" | relative_url }}"><img src="/img/inv.png" width="35px" height="35px"></a>

  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
  
  <!-- <a class="nav-link navbar-brand" href="{{"/index" | relative_url }}"><i class="fa fa-home d-inline-block align-center"></i></a> -->

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav mx-auto" id="myDIV">
      <li class="nav-item">
        <a class="nav-link" href="{{"/rosario" | relative_url }}" id="item-rosario">Santo Rosário<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{"/salterio" | relative_url }}" id="item-salterio">Saltério</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{"/oficio" | relative_url }}" id="item-oficio">Pequeno Ofício de Nossa Senhora</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{"/antifonas" | relative_url }}" id="item-antifonas">Antífonas de Nossa Senhora</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{"/baptismo" | relative_url }}" id="item-baptismo">Baptismo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{"/ordinariomissa" | relative_url }}" id="item-ordo">Ordo Missæ</a>
      </li>
    </ul>
    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="navbar-brand nav-link" href="https://github.com/ofrades/tesourofieis"><i class="fa fa-github d-inline-block"></i></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand nav-link" href="mailto:info@tesourofieis.com"><i class="fa fa-envelope d-inline-block"
          aria-hidden="true"></i></a>
        </li>
      </ul>
    


    </div>
  </nav


<nav id="navspy" data-spy="affix" data-toggle="nav-link" class="navspy"></nav>

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

<style>
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: #DF2321; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

</style>
<script>
  window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
      } else {
        document.getElementById("myBtn").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>