<nav class="navbar navbar-dark navbar-expand-xl fixed-top mobile">

  {% if page.title == "Santa Missa Diária" %}
  <button id="sidebar-collapse" class="navbar-toggler" type="button">
    <span><a class="nav-brand d-inline-block"><span class="iconify" data-icon="fa:calendar-o" data-inline="false"></span></a></span>
  </button>
  {% endif %}

  <a class="nav-link navbar-brand mx-auto logo" href="{{"/" | relative_url }}"><img src="../img/faviconWhite.svg" width="30px" alt="logo"></a>
  <span class="mr-2">🌕</span>
  <div class="custom-control custom-switch">          
    <input type="checkbox" class="custom-control-input" id="darkSwitch2">
    <label class="custom-control-label" for="darkSwitch2">🌑</label>
  </div>
</nav>

<nav class="navbar navbar-dark navbar-expand-xl fixed-top desktop" id="main-nav">

  {% if page.title == "Santa Missa Diária" %}
  <button id="sidebar-collapse" class="navbar-toggler" type="button">
    <span><a class="nav-brand d-inline-block"><span class="iconify" data-icon="fa:calendar-o" data-inline="false"></span></a></span>
  </button>
  {% endif %}

  <a class="nav-link navbar-brand mr-0 mr-md-2 logo" href="{{"/" | relative_url }}"><img src="../img/faviconWhite.svg" width="30px" alt="logo"></a>
          <span class="mr-2">🌕</span>
          <div class="custom-control custom-switch">
            
            <input type="checkbox" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label" for="darkSwitch">🌑</span></label>
          </div>

  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav mx-auto" id="myDIV">

      <li class="nav-item">
        <a class="nav-link text-white" href="/missa" id="item-dia">Santa Missa Diária</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Devocionário</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          <a class="dropdown-item" href="{{"/salterio" | relative_url }}" id="item-salterio">Saltério</a>

          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="{{"/oracaomanha" | relative_url }}" id="item-oracaomanha">Oração da Manhã</a>

          <a class="dropdown-item" href="{{"/angelus" | relative_url }}" id="item-oracaoangelus">Angelus</a>

          <a class="dropdown-item" href="{{"/oracaonoite" | relative_url }}" id="item-oracaonoite">Oração da Noite</a>

          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="{{"/rosario" | relative_url }}" id="item-rosario">Santo Rosário</a>

          <a class="dropdown-item" href="{{"/oficio" | relative_url }}" id="item-oficio">Pequeno Ofício de Nossa
            Senhora</a>

          <a class="dropdown-item" href="{{"/antifonas" | relative_url }}" id="item-antifonas">Antífonas de Nossa
            Senhora</a>

          <a class="dropdown-item" href="{{"/adoracao" | relative_url }}" id="item-adoracao">Bênção do Santíssimo
            Sacramento</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Missal Romano</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="{{"/ordinariomissa" | relative_url }}" id="item-ordo">Ordo Missæ</a>

          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{"/propriotempo" | relative_url }}" id="item-propriotempo">Próprio do
            Tempo</a>
          <a class="dropdown-item" href="{{"/propriosantos" | relative_url }}" id="item-propriosantos">Próprio dos
            Santos</a>
          <a class="dropdown-item" href="{{"/comumsantos" | relative_url }}" id="item-comumsantos">Comum dos Santos</a>
          <a class="dropdown-item" href="{{"/oracoesdiversas" | relative_url }}" id="item-oracoesdiversas">Orações Diversas</a> -->

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{"/oracaoantescomunhao" | relative_url }}"
            id="item-oracaoantescomunhao">Oração Antes da Comunhão</a>
          <a class="dropdown-item" href="{{"/oracaodepoiscomunhao" | relative_url }}"
            id="item-oracaodepoiscomunhao">Oração Depois da Comunhão</a>
          <a class="dropdown-item" href="{{"/oracoescomplementares" | relative_url }}"
            id="item-oracoescomplementares">Orações Complementares</a>
          <a class="dropdown-item" href="{{"/oracoesleoninas" | relative_url }}"
            id="item-oracoesleoninas">Orações Leoninas</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Ritual Romano</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="{{"/baptismo" | relative_url }}" id="item-baptismo">Baptismo</a>
          <a class="dropdown-item" href="{{"/confirmacao" | relative_url }}" id="item-confirmacao">Confirmação</a>
          <a class="dropdown-item" href="{{"/matrimonio" | relative_url }}" id="item-matrimonio">Matrimónio</a>
          <a class="dropdown-item" href="{{"/extremauncao" | relative_url }}" id="item-extremauncao">Extrema-unção</a>
          <a class="dropdown-item" href="{{"/requiem" | relative_url }}" id="item-requiem">Requiem</a>
          <a class="dropdown-item" href="{{"/penitencia" | relative_url }}" id="item-penitencia">Penitência</a>

        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="{{"/verdadesfe" | relative_url }}" id="item-verdades">Verdades de Fé</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link text-white" href="{{"/catecismo" | relative_url }}" id="item-catecismo">Catecismo</a>
      </li>

    </ul>

    <ul class="navbar-nav flex-row">
      <li class="nav-item"><a class="navbar-brand nav-link text-white" title="GitHub" href="https://www.github.com/ofrades/tesourofieis/blob/master/{{ page.path }}"><span class="iconify" data-icon="fa:pencil" data-inline="false"></span></a></li>
  
      <li class="nav-item"><a class="navbar-brand nav-link text-white" title="Email" href="mailto:info@tesourofieis.com"><span class="iconify" data-icon="fa:envelope" data-inline="false"></span></a></li>
  
      <li class="nav-item"><a class="navbar-brand nav-link text-white" title="Facebook" target="facebook"
      href="https://facebook.com/tesourofieis"><span class="iconify" data-icon="fa-brands:facebook-f" data-inline="false"></span></a></li>
  
      <li class="nav-item"><a class="navbar-brand nav-link text-white" title="Donativos" target="buymeacoffee" href="https://www.buymeacoffee.com/SP41OgGsM"><span class="iconify" data-icon="fa:coffee" data-inline="false"></span></a></li>
    </ul>
    
  </div>
  
</nav>

<button onclick="topFunction()" id="myBtn" title="Go to top"><span class="iconify" data-icon="fa:arrow-up" data-inline="false"></span></button>

<style>
  #myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 5rem;
    /* Place the button at the bottom of the page */
    right: 20px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: transparent;
    /* Set a background color */
    color: #DF2321;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
  }
</style>
<script>
  window.onscroll = function () { scrollFunction() };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("myBtn").style.display = "block";
    } else {
      document.getElementById("myBtn").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>