---
import MainLayout from '~/layouts/MainLayout.astro';
const salmos = await Astro.glob('../../content/tesouro/canto/salmos/*.md');
---

<MainLayout content={{ title: 'Saltério' }}>
	<h1 class="text-center">Saltério</h1>
	{
		salmos.map((salmo) => (
			<>
				<h1>{salmo.frontmatter.title}</h1>
				<div class="grid grid-cols-2 gap-3">
					<div>{salmo.rawContent}</div>
				</div>
			</>
		))
	}
</MainLayout>
