<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Alma Redemptóris Mater, quæ pérvia cæli porta manes, et stella maris, succúrre cadénti, Súrgere qui curat, pópulo: tu quæ genuísti, Natúra miránte, tuum sanctum Genitórem, Virgo prius ac postérius, Gabriélis ab ore Sumens illud Ave, peccatórum miserére. 
</div>
<div class="col-6 dropcaps text-justify">
Santa Mãe do Redentor, Porta do Céu, Estrela do Mar, socorrei o povo cristão que procura levantar-se do abysmo da culpa. Vós que, acolhendo a saudação do Anjo, gerastes, com admiração da natureza, o vosso santo Criador, ó sempre Virgem Maria, tende misericórdia dos pecadores.
</div>
</div>
</div>

<em>Durante o Advento:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
V. Angelus Dómini nuntiávit Maríæ.
</div>
<div class="col-6 text-justify">
V. O Anjo do Senhor anunciou a Maria.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Et concépit de Spíritu Sancto.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> E Ela concebeu do Espírito Santo.
</div>
<div class="col-6 text-danger text-center"> Orémus. </div>
<div class="col-6 text-danger text-center"> Oremos. </div>
<div class="col-6 dropcaps text-justify">
Grátiam tuam, quǽsumus, Dómine, méntibus nostris infúnde: ut qui, Angelo nuntiánte, Christi Fílii tui incarnatiónem cognóvimus, per passiónem ejus et crucem ad resurrectiónis glóriam perducámur. Per eumdem Christum, Dóminum nostrum.
</div>
<div class="col-6 dropcaps text-justify">
Infundi, Senhor, Vos suplicamos, a vossa graça em nossas almas, para que nós, que pela anunciação do Anjo conhecemos a Incarnação do vosso Filho, sejamos conduzidos à glória da ressurreição pela sua Paixão e Cruz. Pelo mesmo Jesus Cristo Senhor Nosso.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
</div>
</div>

<em>A partir das Vésperas do Natal até à Purificação:</em>

<div class="container-fluid">
    <div class="row">
    <div class="col-6 text-justify">
V. Post partum Virgo invioláta permansísti.
</div>
<div class="col-6 text-justify">
V. Despois do parto, Virgem, permaneceste inviolada.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Dei Génitrix, intercéde pro nobis.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Mãe de Deus, intercedei por nós.
</div>
<div class="col-6 text-danger text-center"> Orémus. </div>
<div class="col-6 text-danger text-center"> Oremos. </div>
<div class="col-6 dropcaps text-justify">
Deus, qui salútis ætérnæ beátæ Maríæ virginitáte fecúnda humáno géneri práemia præstitísti: tríbue, quáesumus, ut ipsam pro nobis intercédere sentiámus, per quam merúimus, Auctórem vitæ suscípere Dóminum nostrum Jesum Christum Fílium tuum.
</div>
<div class="col-6 dropcaps text-justify">
Deus, que prestastes ao género humano o prémio da salvação eterna, pela fecunda virgindade da bem-aventurada Maria, dai, pedimos, que a sintamos interceder por nós, por quem merecemos receber o autor da vida, nosso Senhor Jesus Cristo, vosso Filho.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
</div>
</div>