<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Salve, Regína, mater misericórdiæ; vita, dulcédo et spes nóstra, salve. Ad te clamámus éxsules fílii Hevæ. Ad te suspirámus geméntes et flentes In hac lacrimárum valle. Eia ergo, advocáta nostra, illos tuos misericórdes óculos ad nos convérte. Et Iesum, benedíctum fructum ventris tui, nobis post hoc exsílium osténde. O clemens, o pia, o dulcis Virgo María.
</div>
<div class="col-6 dropcaps text-justify">
Salvé, Rainha, mãe de misericórdia, vida, doçura, esperança nossa, salve! A Vós bradamos, os degredados filhos de Eva. A Vós suspiramos, gemendo e chorando neste vale de lágrimas. Eia, pois, advogada nossa, esses vossos olhos misericordiosos a nós volvei. E, depois deste desterro, nos mostrai Jesus, bendito fruto do vosso ventre. Ó clemente, ó piedosa, ó doce Virgem Maria.
</div>
<div class="col-6 text-justify">
V. Ora pro nobis Sancta Dei Génitrix.
</div>
<div class="col-6 text-justify">
V. Rogai por nós, Santa Mãe de Deus.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Ut digni efficiámur promissiónibus Christi.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Para que sejamos dignos das promessas de Cristo.
</div>
<div class="col-6 text-danger text-center"> Orémus. </div>
<div class="col-6 text-danger text-center"> Oremos. </div>
<div class="col-6 dropcaps text-justify">
Omnípotens sempitérne Deus, qui gloriósæ Vírginis Matris Maríæ corpus et ánimam, ut dignum Fílii tui habitáculum éffici mererétur, Spíritu Sancto cooperánte præparásti: da, ut cujus commemoratióne lætámur; ejus pia intercessióne, ab instántibus malis, et a morte perpétua liberémur. Per eúmdem Christum Dóminum nostrum.
</div>
<div class="col-6 dropcaps text-justify">
Deus eterno e todo-poderoso, que, pela cooperação do Espírito Santo, preparastes a alma e o corpo de Maria, gloriosa Virgem e Mãe, para ser um merecedor e digno habitáculo de vosso Filho; concedei que sejamos livres dos males presentes e da morte perpétua, pela pia intercessão daquela que comemoramos alegremente. Pelo mesmo Cristo, nosso Senhor.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
</div>
</div>