<div class="col-6 dropcaps text-justify">Beátus vir, qui non ábiit in consílio impiórum, et in via peccatórum non stetit, * et in cáthedra pestiléntiæ non sedit:</div>
<div class="col-6 dropcaps text-justify">Bem-aventurado o varão que não foi no conselho dos ímpios, nem ficou no caminho dos pecadores, * e na cadeira pestilencial se não sentou:</div>
<div class="col-6 text-justify">Sed in lege Dómini volúntas ejus, * et in lege ejus meditábitur die ac nocte.</div>
<div class="col-6 text-justify">Mas sua vontade está na lei do Senhor, * e dia e noite meditará na sua lei.</div>
<div class="col-6 text-justify">Et erit tamquam lignum, quod plantátum est secus decúrsus aquárum, * quod fructum suum dabit in témpore suo:</div>
<div class="col-6 text-justify">Ele será como a árvore, que está plantada junto ao curso das águas, * que a seu tempo dará seu fruto:</div>
<div class="col-6 text-justify">Et fólium ejus non défluet: * et ómnia quæcúmque fáciet, prosperabúntur.</div>
<div class="col-6 text-justify">Cuja folha não murchará: * e prosperará tudo quanto fizer.</div>
<div class="col-6 text-justify">Non sic ímpii, non sic: * sed tamquam pulvis, quem proícit ventus a fácie terræ.</div>
<div class="col-6 text-justify">Não assim os ímpios, não assim: * mas serão como o pó que o vento dispersa da face da terra.</div>
<div class="col-6 text-justify">Ideo non resúrgent ímpii in judício: * neque peccatóres in concílio justórum.</div>
<div class="col-6 text-justify">Por isso os ímpios não ressuscitarão no juízo: * nem os pecadores no concílio dos justos.</div>
<div class="col-6 text-justify">Quóniam novit Dóminus viam justórum: * et iter impiórum períbit.</div>
<div class="col-6 text-justify">Porque o Senhor conhece o caminho dos justos: * e o caminho dos ímpios perecerá.</div>