<div class="col-6 dropcaps text-justify">Quare fremuérunt gentes: * et pópuli meditáti sunt inánia?</div>
<div class="col-6 dropcaps text-justify">Por que razão se embraveceram as gentes: * e os povos coisas vãs meditaram?</div>
<div class="col-6 text-justify">Astitérunt reges terræ, et príncipes convenérunt in unum * advérsus Dóminum, et advérsus Christum ejus.</div>
<div class="col-6 text-justify">Os reis da terra levantaram-se e os príncipes reuniram-se * contra o Senhor e contra o seu Cristo.</div>
<div class="col-6 text-justify">Dirumpámus víncula eórum: * et proiciámus a nobis jugum ipsórum.</div>
<div class="col-6 text-justify">Rompamos os seus laços: * e sacudamos de nós o seu jugo.</div>
<div class="col-6 text-justify">Qui hábitat in cælis, irridébit eos: * et Dóminus subsannábit eos.</div>
<div class="col-6 text-justify">Aquele que habita no céu rir-se-á deles: * e o Senhor os ridicularizá.</div>
<div class="col-6 text-justify">Tunc loquétur ad eos in ira sua, * et in furóre suo conturbábit eos.</div>
<div class="col-6 text-justify">Ele então lhes falará na sua ira, * e conturbá-los-á na sua fúria.</div>
<div class="col-6 text-justify">Ego autem constitútus sum Rex ab eo super Sion montem sanctum ejus, * prǽdicans præcéptum ejus.</div>
<div class="col-6 text-justify">Eu, porém, fui por Ele constituído Rei sobre Sião, seu santo monte, * para pregar a sua doutrina.</div>
<div class="col-6 text-justify">Dóminus dixit ad me: * Fílius meus es tu, ego hódie génui te.</div>
<div class="col-6 text-justify">Disse-me o Senhor: * tu és meu filho, eu hoje te gerei.</div>
<div class="col-6 text-justify">Póstula a me, et dabo tibi gentes hereditátem tuam, * et possessiónem tuam términos terræ.</div>
<div class="col-6 text-justify">Pede-me e dar-te-ei as gentes como tua herança, * e estenderei o teu domínio aos confins da terra.</div>
<div class="col-6 text-justify">Reges eos in virga férrea, * et tamquam vas fíguli confrínges eos.</div>
<div class="col-6 text-justify">Governá-las-ás com vara de ferro, * e quebrá-las-ás como um vaso do oleiro.</div>
<div class="col-6 text-justify">Et nunc, reges, intellégite: * erudímini, qui judicátis terram.</div>
<div class="col-6 text-justify">Agora, ó reis, entendei: * instruí-vos, vós que julgais a terra.</div>
<div class="col-6 text-justify">Servíte Dómino in timóre: * et exsultáte ei cum tremóre.</div>
<div class="col-6 text-justify">Servi o Senhor com temor: * e com tremor alegrai-vos n’Ele.</div>
<div class="col-6 text-justify">Apprehéndite disciplínam, nequándo irascátur Dóminus, * et pereátis de via justa.</div>
<div class="col-6 text-justify">Abraçai a disciplina, para que o Senhor se não irrite, * e não pereçais fora do caminho da justiça.</div>
<div class="col-6 text-justify">Cum exárserit in brevi ira ejus: * beáti omnes qui confídunt in eo.</div>
<div class="col-6 text-justify">Quando brevemente se incendiar a sua ira: * bem-aventurados todos os que n’Ele confiam.</div>