<div class="col-6 dropcaps text-justify">Cum invocárem exaudívit me Deus justítiæ meæ: * in tribulatióne dilatásti mihi.</div>
<div class="col-6 dropcaps text-justify">Quando O invoquei, me ouviu o Deus da minha justiça: * na tribulação me dilatastes.</div>
<div class="col-6 text-justify">Miserére mei, * et exáudi oratiónem meam.</div>
<div class="col-6 text-justify">Tende compaixão de mim, * e escutai a minha oração.</div>
<div class="col-6 text-justify">Fílii hóminum, úsquequo gravi corde? * Ut quid dilígitis vanitátem, et quǽritis mendácium?</div>
<div class="col-6 text-justify">Filhos dos homens, até quando duros de coração sereis? * Porque amais a vaidade e mentiras buscais?</div>
<div class="col-6 text-justify">Et scitóte quóniam mirificávit Dóminus sanctum suum: * Dóminus exáudiet me cum clamávero ad eum.</div>
<div class="col-6 text-justify">Sabei, pois, que o Senhor fez maravilhoso o seu santo: * o Senhor escutar-me-á, quando a Ele clamar.</div>
<div class="col-6 text-justify">Irascímini, et nolíte peccáre: * quæ dícitis in córdibus vestris, in cubílibus vestris compungímini.</div>
<div class="col-6 text-justify">Irai-vos e não pequeis: * do que dizeis nos vossos corações, nos vossos leitos arrependei-vos.</div>
<div class="col-6 text-justify">Sacrificáte sacrifícium justítiæ, et speráte in Dómino. * Multi dicunt: quis osténdit nobis bona?</div>
<div class="col-6 text-justify">Oferecei sacrifícios de justiça e esperai no Senhor. * Muitos dizem: quem nos mostrará o bem?</div>
<div class="col-6 text-justify">Signátum est super nos lumen vultus tui, Dómine: * dedísti lætítiam in corde meo.</div>
<div class="col-6 text-justify">Gravada está sobre nós a luz de vossa face, ó Senhor: * no meu coração infundistes alegria.</div>
<div class="col-6 text-justify">A fructu fruménti, vini, et ólei sui * multiplicáti sunt.</div>
<div class="col-6 text-justify">Pelo fruto do seu trigo, vinho e azeite * se multiplicam.</div>
<div class="col-6 text-justify">In pace in idípsum * dórmiam, et requiéscam;</div>
<div class="col-6 text-justify">Em paz dormirei * e tranquilo descansarei;</div>
<div class="col-6 text-justify">Quóniam Tu, Dómine, singuláriter in spe * constituísti me.</div>
<div class="col-6 text-justify">Porque Vós, ó Senhor, de forma singular * na esperança me firmastes.</div>