<div class="col-6 dropcaps text-justify">Dómine, ne in furóre tuo árguas me, * neque in ira tua corrípias me.</div>
<div class="col-6 dropcaps text-justify">Senhor, me não acuseis na vossa indignação, * nem me castigueis na vossa ira.</div>
<div class="col-6 text-justify">Miserére mei, Dómine, quóniam infírmus sum: * sana me, Dómine, quóniam conturbáta sunt ossa mea.</div>
<div class="col-6 text-justify">Tende misericórdia de mim, ó Senhor, porque estou fraco: * sarai-me Senhor, porque estão abalados os meus ossos.</div>
<div class="col-6 text-justify">Et ánima mea turbáta est valde: * sed Tu, Dómine, úsquequo?</div>
<div class="col-6 text-justify">Turvou-se-me a alma profundamente: * mas Vós, ó Senhor, até quando?</div>
<div class="col-6 text-justify">Convértere, Dómine, et éripe ánimam meam: * salvum me fac propter misericórdiam tuam.</div>
<div class="col-6 text-justify">Volvei Senhor e livrai a minha alma: * salvai-me pela vossa misericórdia.</div>
<div class="col-6 text-justify">Quóniam non est in morte qui memor sit tui: * in inférno autem quis confitébitur tibi?</div>
<div class="col-6 text-justify">Porque na morte não há quem se recorde de Vós: * no inferno quem Vos louvará?</div>
<div class="col-6 text-justify">Laborávi in gémitu meo, lavábo per síngulas noctes lectum meum: * lácrimis meis stratum meum rigábo.</div>
<div class="col-6 text-justify">Esgotei-me com meus gemidos, lavarei o meu leito todas as noites: * com lágrimas regarei a minha cama.</div>
<div class="col-6 text-justify">Turbátus est a furóre óculus meus: * inveterávi inter omnes inimícos meos.</div>
<div class="col-6 text-justify">Turvou-se-me o olho devido à indignação: * envelheci no meio de todos meus inimigos.</div>
<div class="col-6 text-justify">Discédite a me, omnes, qui operámini iniquitátem: * quóniam exaudívit Dóminus vocem fletus mei.</div>
<div class="col-6 text-justify">Apartai-vos de mim todos os que praticais a iniquidade: * porque o Senhor ouviu a voz do meu pranto.</div>
<div class="col-6 text-justify">Exaudívit Dóminus deprecatiónem meam, * Dóminus oratiónem meam suscépit.</div>
<div class="col-6 text-justify">O Senhor ouviu a minha súplica, * o Senhor acolheu a minha oração.</div>
<div class="col-6 text-justify">Erubéscant, et conturbéntur veheménter omnes inimíci mei: * convertántur et erubéscant valde velóciter.</div>
<div class="col-6 text-justify">Envergonhados e extremadamente conturbados sejam todos meus inimigos: * retirem-se e sejam velozmente cobertos de vergonha.</div>