<div class="col-6 dropcaps text-justify">Dixit insípiens in corde suo: * non est Deus.</div>
<div class="col-6 dropcaps text-justify">O insensato disse no seu coração: * não há Deus.</div>
<div class="col-6 text-justify">Corrúpti sunt, et abominábiles facti sunt in stúdiis suis: * non est qui fáciat bonum, non est usque ad unum.</div>
<div class="col-6 text-justify">Corromperam-se e tornaram-se abomináveis nos seus desejos: * não há quem o bem faça, não há nem sequer um.</div>
<div class="col-6 text-justify">Dóminus de cælo prospéxit super fílios hóminum, * ut vídeat si est intéllegens, aut requírens Deum.</div>
<div class="col-6 text-justify">O Senhor olhou do céu para os filhos dos homens, * para ver se há quem tenha inteligência, ou busque a Deus.</div>
<div class="col-6 text-justify">Omnes declinavérunt, simul inútiles facti sunt: * non est qui fáciat bonum, non est usque ad unum.</div>
<div class="col-6 text-justify">Todos se extraviaram, todos se tornaram inúteis: * não há quem o bem faça, não há nem sequer um.</div>
<div class="col-6 text-justify">Sepúlcrum patens est guttur eórum: linguis suis dolóse agébant * venénum áspidum sub lábiis eórum.</div>
<div class="col-6 text-justify">Sua garganta é um sepulcro aberto; com suas línguas urdem enganos, * debaixo dos seus lábios há áspides venenosas.</div>
<div class="col-6 text-justify">Quorum os maledictióne et amaritúdine plenum est: * velóces pedes eórum ad effundéndum sánguinem.</div>
<div class="col-6 text-justify">Sua boca está cheia de maldição e de amargura: * os seus pés são velozes para derramar sangue.</div>
<div class="col-6 text-justify">Contrítio et infelícitas in viis eórum, et viam pacis non cognovérunt: * non est timor Dei ante óculos eórum.</div>
<div class="col-6 text-justify">Há tormento e desgraça nos seus caminhos e não conheceram o caminho da paz: * não há temor de Deus ante seus olhos.</div>
<div class="col-6 text-justify">Nonne cognóscent omnes qui operántur iniquitátem, * qui dévorant plebem meam sicut escam panis?</div>
<div class="col-6 text-justify">Não terão porventura conhecimento todos os que obram a iniquidade, * os que devoram o meu povo como a um pão?</div>
<div class="col-6 text-justify">Dóminum non invocavérunt, * illic trepidavérunt timóre, ubi non erat timor.</div>
<div class="col-6 text-justify">Não invocaram o Senhor, * ali tremeram de medo, onde não havia que temer.</div>
<div class="col-6 text-justify">Quóniam Dóminus in generatióne justa est, consílium ínopis confudístis: * quóniam Dóminus spes ejus est.</div>
<div class="col-6 text-justify">Porque o Senhor está com a geração dos justos, confundistes os planos do pobre: * mas o Senhor é a sua esperança.</div>
<div class="col-6 text-justify">Quis dabit ex Sion salutáre Israël? * Cum avérterit Dóminus captivitátem plebis suæ, exsultábit Jacob, et lætábitur Israël.</div>
<div class="col-6 text-justify">Quem enviará de Sião a salvação de Israel? * Quando o Senhor puser fim ao cativeiro do seu povo, exultará Jacob e alegrar-se-á Israel.</div>