<div class="col-6 dropcaps text-justify">Dómine, in virtúte tua lætábitur rex: * et super salutáre tuum exsultábit veheménter.</div>
<div class="col-6 dropcaps text-justify">Senhor, o rei alegrar-se-á na vossa fortaleza: * e muito regozijará na vossa salvação.</div>
<div class="col-6 text-justify">Desidérium cordis ejus tribuísti ei: * et voluntáte labiórum ejus non fraudásti eum.</div>
<div class="col-6 text-justify">Satisfizestes-lhe os anseios do coração: * e não defraudastes os pedidos de seus lábios.</div>
<div class="col-6 text-justify">Quóniam prævenísti eum in benedictiónibus dulcédinis: * posuísti in cápite ejus corónam de lápide pretióso.</div>
<div class="col-6 text-justify">Porque o prevenistes com bênçãos de doçura: * cingistes a sua cabeça com uma coroa de pedras preciosas.</div>
<div class="col-6 text-justify">Vitam pétiit a Te: * et tribuísti ei longitúdinem diérum in sǽculum, et in sǽculum sǽculi.</div>
<div class="col-6 text-justify">Vida Vos pediu: * e concedestes-lhes largos dias pelos séculos dos séculos.</div>
<div class="col-6 text-justify">Magna est glória ejus in salutári tuo: * glóriam et magnum decórem impónes super eum.</div>
<div class="col-6 text-justify">Grande é a sua glória, devido à salvação que lhe destes: * glória e grande esplendor poreis sobre ele.</div>
<div class="col-6 text-justify">Quóniam dabis eum in benedictiónem in sǽculum sǽculi: * lætificábis eum in gáudio cum vultu tuo.</div>
<div class="col-6 text-justify">Porque dele fareis uma fonte de bênçãos perpétuas: * enchê-lo-eis de alegria, mostrando-lhe o vosso rosto.</div>
<div class="col-6 text-justify">Quóniam rex sperat in Dómino: * et in misericórdia Altíssimi non commovébitur.</div>
<div class="col-6 text-justify">Porque o rei no Senhor espera: * e a misericórdia do Altíssimo torná-lo-á inabalável.</div>
<div class="col-6 text-justify">Inveniátur manus tua ómnibus inimícis tuis: * déxtera tua invéniat omnes, qui Te odérunt.</div>
<div class="col-6 text-justify">Caia a vossa mão sobre todos vossos inimigos: * caia a vossa direita sobre todos os que Vos aborrecem.</div>
<div class="col-6 text-justify">Pones eos ut clíbanum ignis in témpore vultus tui: * Dóminus in ira sua conturbábit eos, et devorábit eos ignis.</div>
<div class="col-6 text-justify">Os poreis em fornalha acesa ao mostrar-lhes vosso rosto: * o Senhor na sua ira conturbá-los-á e o fogo devorá-los-á.</div>
<div class="col-6 text-justify">Fructum eórum de terra perdes: * et semen eórum a fíliis hóminum.</div>
<div class="col-6 text-justify">Exterminareis o seu fruto da terra: * e a sua descendência de entre os filhos dos homens.</div>
<div class="col-6 text-justify">Quóniam declinavérunt in Te mala: * cogitavérunt consília, quæ non potuérunt stabilíre.</div>
<div class="col-6 text-justify">Porque urdiram contra Vós males: * formaram planos que não puderam estabelecer.</div>
<div class="col-6 text-justify">Quóniam pones eos dorsum: * in relíquiis tuis præparábis vultum eórum.</div>
<div class="col-6 text-justify">Vós, porém, os poreis em fuga: * nos vossos resquícios preparareis o rosto deles.</div>
<div class="col-6 text-justify">Exaltáre, Dómine, in virtúte tua: * cantábimus et psallémus virtútes tuas.</div>
<div class="col-6 text-justify">Exaltai-Vos, ó Senhor, no vosso poder: * nós cantaremos e louvaremos as vossas maravilhas.</div>
