<div class="col-6 dropcaps text-justify">Dóminus regit me, et nihil mihi déerit: * in loco páscuæ ibi me collocávit.</div>
<div class="col-6 dropcaps text-justify">O Senhor é meu pastor e nada me faltará: * num lugar de pastos me colocou.</div>
<div class="col-6 text-justify">Super aquam refectiónis educávit me: * ánimam meam convértit.</div>
<div class="col-6 text-justify">Conduziu-me junto a uma água refrescante: * converteu a minha alma.</div>
<div class="col-6 text-justify">Dedúxit me super sémitas justítiæ, * propter nomen suum.</div>
<div class="col-6 text-justify">Levou-me por veredas de justiça, * por causa do seu nome.</div>
<div class="col-6 text-justify">Nam, et si ambulávero in médio umbræ mortis, non timébo mala: * quóniam Tu mecum es.</div>
<div class="col-6 text-justify">Pois, ainda que ande no meio da sombra da morte, não temerei mal algum: * porque Vós estais comigo.</div>
<div class="col-6 text-justify">Virga tua, et báculus tuus: * ipsa me consoláta sunt.</div>
<div class="col-6 text-justify">Vossa vara e o vosso báculo: * me consolaram.</div>
<div class="col-6 text-justify">Parásti in conspéctu meo mensam, * advérsus eos, qui tríbulant me.</div>
<div class="col-6 text-justify">Preparastes uma mesa ante mim, * à vista daqueles que me atribulam.</div>
<div class="col-6 text-justify">Impinguásti in óleo caput meum: * et calix meus inébrians quam præclárus est!</div>
<div class="col-6 text-justify">Ungistes com óleo a minha cabeça: * e quão precioso é o meu cálice farto!</div>
<div class="col-6 text-justify">Et misericórdia tua subsequétur me * ómnibus diébus vitæ meæ:</div>
<div class="col-6 text-justify">Vossa misericórdia seguir-me-á * todos os dias da minha vida:</div>
<div class="col-6 text-justify">Et ut inhábitem in domo Dómini, * in longitúdinem diérum.</div>
<div class="col-6 text-justify">A fim de que habite na casa do Senhor, * durante longos dias.</div>
