<div class="col-6 dropcaps text-justify">Ad Te, Dómine, levávi ánimam meam: * Deus meus, in Te confído, non erubéscam.</div>
<div class="col-6 dropcaps text-justify">A Vós, ó Senhor, elevei a minha alma: * Deus meu, em Vós confio, não seja eu envergonhado.</div>
<div class="col-6 text-justify">Neque irrídeant me inimíci mei: * étenim univérsi, qui sústinent Te, non confundéntur.</div>
<div class="col-6 text-justify">Não me escarneçam os meus inimigos: * de facto, nem um dos que esperam em Vós será confundido.</div>
<div class="col-6 text-justify">Confundántur omnes iníqua agéntes * supervácue.</div>
<div class="col-6 text-justify">Sejam confundidos todos os que a iniquidade * cometem em vão.</div>
<div class="col-6 text-justify">Vias tuas, Dómine, demónstra mihi: * et sémitas tuas édoce me.</div>
<div class="col-6 text-justify">Mostrai-me, ó Senhor, os vossos caminhos: * e ensinai-me as vossas veredas.</div>
<div class="col-6 text-justify">Dírige me in veritáte tua, et doce me: * quia Tu es, Deus, salvátor meus, et Te sustínui tota die.</div>
<div class="col-6 text-justify">Dirigi-me na vossa verdade e ensinai-me: * pois Vós sois Deus, meu Salvador, e esperei em Vós todo o dia.</div>
<div class="col-6 text-justify">Reminíscere miseratiónum tuárum, Dómine, * et misericordiárum tuárum, quæ a sǽculo sunt.</div>
<div class="col-6 text-justify">Lembrai-Vos, ó Senhor, de vossas bondades, * e de vossas misericórdias, que datam dos séculos passados.</div>
<div class="col-6 text-justify">Delícta juventútis meæ, * et ignorántias meas ne memíneris.</div>
<div class="col-6 text-justify">Dos delitos da minha mocidade, * e das minhas ignorâncias, Vos não recordeis.</div>
<div class="col-6 text-justify">Secúndum misericórdiam tuam meménto mei Tu: * propter bonitátem tuam, Dómine.</div>
<div class="col-6 text-justify">De acordo com vossa misericórdia lembrai-Vos de mim: * ó Senhor, segundo a vossa bondade.</div>
<div class="col-6 text-justify">Dulcis et rectus Dóminus: * propter hoc legem dabit delinquéntibus in via.</div>
<div class="col-6 text-justify">Doce e recto é o Senhor: * por isso Ele dará lei aos que pecam pelo caminho.</div>
<div class="col-6 text-justify">Díriget mansuétos in judício: * docébit mites vias suas.</div>
<div class="col-6 text-justify">Aos mansos conduzirá em justiça: * aos brandos ensinará seus caminhos.</div>
<div class="col-6 text-justify">Univérsæ viæ Dómini, misericórdia et véritas, * requiréntibus testaméntum ejus et testimónia ejus.</div>
<div class="col-6 text-justify">Todos os caminhos do Senhor são misericórdia e verdade, * para os que buscam a sua aliança e os seus mandamentos.</div>
<div class="col-6 text-justify">Propter nomen tuum, Dómine, propitiáberis peccáto meo: * multum est enim.</div>
<div class="col-6 text-justify">Por causa de vosso nome, ó Senhor, me haveis de perdoar o meu pecado, * é veramente grande.</div>
<div class="col-6 text-justify">Quis est homo qui timet Dóminum? * Legem státuit ei in via, quam elégit.</div>
<div class="col-6 text-justify">Quem é o homem que teme o Senhor? * Fixou-lhe Ele uma lei no caminho que escolheu.</div>
<div class="col-6 text-justify">Ánima ejus in bonis demorábitur: * et semen ejus hereditábit terram.</div>
<div class="col-6 text-justify">Sua alma repousará em bens: * e a sua descendência herdará a terra.</div>
<div class="col-6 text-justify">Firmaméntum est Dóminus timéntibus eum: * et testaméntum ipsíus ut manifestétur illis.</div>
<div class="col-6 text-justify">O Senhor é o firme apoio dos que O temem: * e manifestar-lhes-á a sua aliança.</div>
<div class="col-6 text-justify">Óculi mei semper ad Dóminum: * quóniam ipse evéllet de láqueo pedes meos.</div>
<div class="col-6 text-justify">Meus olhos estão sempre voltados para o Senhor: * porque Ele tirará os meus pés do laço.</div>
<div class="col-6 text-justify">Réspice in me, et miserére mei: * quia únicus et pauper sum ego.</div>
<div class="col-6 text-justify">Olhai para mim e tende misericórdia de mim: * pois vejo-me só e pobre.</div>
<div class="col-6 text-justify">Tribulatiónes cordis mei multiplicátæ sunt: * de necessitátibus meis érue me.</div>
<div class="col-6 text-justify">As tribulações do meu coração multiplicaram-se: * livrai-me das minhas aflições.</div>
<div class="col-6 text-justify">Vide humilitátem meam, et labórem meum: * et dimítte univérsa delícta mea.</div>
<div class="col-6 text-justify">Olhai para o meu abatimento e para o meu trabalho: * e perdoai todos meus pecados.</div>
<div class="col-6 text-justify">Réspice inimícos meos quóniam multiplicáti sunt, * et ódio iníquo odérunt me.</div>
<div class="col-6 text-justify">Vede quanto os meus inimigos se têm multiplicado, * e com que ódio iníquo me odeiam.</div>
<div class="col-6 text-justify">Custódi ánimam meam, et érue me: * non erubéscam quóniam sperávi in Te.</div>
<div class="col-6 text-justify">Guardai a minha alma e livrai-me: * não seja eu envergonhado, tendo em Vós esperado.</div>
<div class="col-6 text-justify">Innocéntes et recti adhæsérunt mihi: * quia sustínui Te.</div>
<div class="col-6 text-justify">Os inocentes e os justos uniram-se comigo: * pois esperei em Vós.</div>
<div class="col-6 text-justify">Líbera, Deus, Israël, * ex ómnibus tribulatiónibus suis.</div>
<div class="col-6 text-justify">Livrai Israel, ó Deus, * de todas suas tribulações.</div>
