<div class="col-6 dropcaps text-justify">Júdica me, Dómine, quóniam ego in innocéntia mea ingréssus sum: * et in Dómino sperans non infirmábor.</div>
<div class="col-6 dropcaps text-justify">Julgai-me, ó Senhor, porque andei na minha inocência: * e, esperando no Senhor, não vacilarei.</div>
<div class="col-6 text-justify">Proba me, Dómine, et tenta me: * ure renes meos et cor meum.</div>
<div class="col-6 text-justify">Testai-me, ó Senhor, e tentai-me: * purificai-me os rins e o meu coração.</div>
<div class="col-6 text-justify">Quóniam misericórdia tua ante óculos meos est: * et complácui in veritáte tua.</div>
<div class="col-6 text-justify">Porque a vossa misericórdia está ante meus olhos: * e com vossa verdade estou satisfeito.</div>
<div class="col-6 text-justify">Non sedi cum concílio vanitátis: * et cum iníqua geréntibus non introíbo.</div>
<div class="col-6 text-justify">Não me sentei no concílio da vaidade: * e não entrarei com os que praticam a iniquidade.</div>
<div class="col-6 text-justify">Odívi ecclésiam malignántium: * et cum ímpiis non sedébo.</div>
<div class="col-6 text-justify">Odeio a igreja dos malignos: * e me não sentarei com os ímpios.</div>
<div class="col-6 text-justify">Lavábo inter innocéntes manus meas: * et circúmdabo altáre tuum, Dómine:</div>
<div class="col-6 text-justify">Lavarei as minhas mãos entre os inocentes: * e estarei, ó Senhor, ao redor de vosso altar.</div>
<div class="col-6 text-justify">Ut áudiam vocem laudis, * et enárrem univérsa mirabília tua.</div>
<div class="col-6 text-justify">Para ouvir a voz dos louvores, * e narrar todas as vossas maravilhas.</div>
<div class="col-6 text-justify">Dómine, diléxi decórem domus tuæ, * et locum habitatiónis glóriæ tuæ.</div>
<div class="col-6 text-justify">Senhor, amei o decoro de vossa casa, * e o lugar onde habita a vossa glória.</div>
<div class="col-6 text-justify">Ne perdas cum ímpiis, Deus, ánimam meam, * et cum viris sánguinum vitam meam:</div>
<div class="col-6 text-justify">Não percais, ó Deus, a minha alma com os ímpios, * nem a minha vida com os homens sanguinários.</div>
<div class="col-6 text-justify">In quorum mánibus iniquitátes sunt: * déxtera eórum repléta est munéribus.</div>
<div class="col-6 text-justify">Em cujas mãos está a iniquidade: * e cuja dextra está cheia de subornos.</div>
<div class="col-6 text-justify">Ego autem in innocéntia mea ingréssus sum: * rédime me, et miserére mei.</div>
<div class="col-6 text-justify">Eu, porém, andei na minha inocência: * salvai-me e tende compaixão de mim.</div>
<div class="col-6 text-justify">Pes meus stetit in dirécto: * in ecclésiis benedícam Te, Dómine.</div>
<div class="col-6 text-justify">Meu pé esteve no recto caminho: * nas igrejas Vos bem-direi, ó Senhor.</div>
