<div class="col-6 dropcaps text-justify">Dóminus illuminátio mea, et salus mea, * quem timébo?</div>
<div class="col-6 dropcaps text-justify">O Senhor é a minha luz e a minha salvação, * a quem temerei?</div>
<div class="col-6 text-justify">Dóminus protéctor vitæ meæ, * a quo trepidábo?</div>
<div class="col-6 text-justify">O Senhor é o defensor da minha vida, * ante quem trepidarei?</div>
<div class="col-6 text-justify">Dum apprópiant super me nocéntes, * ut edant carnes meas:</div>
<div class="col-6 text-justify">Enquanto se aproximam de mim os malvados, * para devorar as minhas carnes:</div>
<div class="col-6 text-justify">Qui tríbulant me inimíci mei, * ipsi infirmáti sunt, et cecidérunt.</div>
<div class="col-6 text-justify">Meus inimigos que me atribulam, * eles mesmos se debilitaram e caíram.</div>
<div class="col-6 text-justify">Si consístant advérsum me castra, * non timébit cor meum.</div>
<div class="col-6 text-justify">Se contra mim exércitos fizerem cerco, * o meu coração não temerá.</div>
<div class="col-6 text-justify">Si exsúrgat advérsum me prǽlium, * in hoc ego sperábo.</div>
<div class="col-6 text-justify">Ainda que se levante batalha contra mim, * mesmo assim esperarei.</div>
<div class="col-6 text-justify">Unam pétii a Dómino, hanc requíram, * ut inhábitem in domo Dómini ómnibus diébus vitæ meæ:</div>
<div class="col-6 text-justify">Uma coisa só pedi ao Senhor, esta solicitarei, * é que habite na casa do Senhor todos os dias da minha vida:</div>
<div class="col-6 text-justify">Ut vídeam voluptátem Dómini, * et vísitem templum ejus.</div>
<div class="col-6 text-justify">Para ver as delícias do Senhor, * e visitar o seu templo.</div>
<div class="col-6 text-justify">Quóniam abscóndit me in tabernáculo suo: * in die malórum protéxit me in abscóndito tabernáculi sui.</div>
<div class="col-6 text-justify">Porque me escondeu no seu tabernáculo: * no dia do tormento me protegeu no recôndito do seu tabernáculo.</div>
<div class="col-6 text-justify">In petra exaltávit me: * et nunc exaltávit caput meum super inimícos meos.</div>
<div class="col-6 text-justify">Ergueu-me numa pedra: * e agora ergueu a minha cabeça sobre os meus inimigos.</div>
<div class="col-6 text-justify">Circuívi, et immolávi in tabernáculo ejus hóstiam vociferatiónis: * cantábo, et psalmum dicam Dómino.</div>
<div class="col-6 text-justify">Circundei e no seu tabernáculo ofereci uma hóstia de júbilo: * cantarei e entoarei um salmo ao Senhor.</div>
<div class="col-6 text-justify">Exáudi, Dómine, vocem meam, qua clamávi ad Te: * miserére mei, et exáudi me.</div>
<div class="col-6 text-justify">Ouvi, ó Senhor, a minha voz, com que clamei a Vós: * de mim tende compaixão e ouvi-me.</div>
<div class="col-6 text-justify">Tibi dixit cor meum, exquisívit Te fácies mea: * fáciem tuam, Dómine, requíram.</div>
<div class="col-6 text-justify">Meu coração Vos falou, meus olhos Vos buscaram: * Senhor, hei-de procurar o vosso rosto.</div>
<div class="col-6 text-justify">Ne avértas fáciem tuam a me: * ne declínes in ira a servo tuo.</div>
<div class="col-6 text-justify">Não escondeis de mim o vosso rosto: * e Vos não retireis com ira de vosso servo.</div>
<div class="col-6 text-justify">Adjútor meus esto: * ne derelínquas me, neque despícias me, Deus, salutáris meus.</div>
<div class="col-6 text-justify">Sede a minha ajuda: * me não deixeis, nem me desprezeis, ó Deus meu Salvador.</div>
<div class="col-6 text-justify">Quóniam pater meus, et mater mea dereliquérunt me: * Dóminus autem assúmpsit me.</div>
<div class="col-6 text-justify">Porque meu pai e minha mãe me abandonaram: * mas o Senhor me acolheu.</div>
<div class="col-6 text-justify">Legem pone mihi, Dómine, in via tua: * et dírige me in sémitam rectam propter inimícos meos.</div>
<div class="col-6 text-justify">Prescreve-me, ó Senhor, uma lei no vosso caminho: * e conduzi-me pela vereda direita, por causa dos meus inimigos.</div>
<div class="col-6 text-justify">Ne tradíderis me in ánimas tribulántium me: * quóniam insurrexérunt in me testes iníqui, et mentíta est iníquitas sibi.</div>
<div class="col-6 text-justify">Não me entregueis à mercê das almas que me atribulam: * pois contra mim se levantaram falsas testemunhas, mas a iniquidade mentiu contra si própria.</div>
<div class="col-6 text-justify">Credo vidére bona Dómini * in terra vivéntium.</div>
<div class="col-6 text-justify">Creio ver as maravilhas do Senhor * na terra dos viventes.</div>
<div class="col-6 text-justify">Exspécta Dóminum, viríliter age: * et confortétur cor tuum, et sústine Dóminum.</div>
<div class="col-6 text-justify">Espera o Senhor, porta-te virilmente: * fortifique-se o teu coração e espera no Senhor.</div>
