<div class="col-6 dropcaps text-justify">Ad Te, Dómine, clamábo, Deus meus, ne síleas a me: * nequándo táceas a me, et assimilábor descendéntibus in lacum.</div>
<div class="col-6 dropcaps text-justify">A Vós, ó Senhor, clamarei, Deus meu, não Vos silenciais comigo: * não suceda que se me não ouvirdes, seja semelhante àqueles na cova.</div>
<div class="col-6 text-justify">Exáudi, Dómine, vocem deprecatiónis meæ dum oro ad Te: * dum extóllo manus meas ad templum sanctum tuum.</div>
<div class="col-6 text-justify">Ouvi, ó Senhor, a voz da minha súplica, quando Vos rogo: * quando ergo as minhas mãos para o vosso santo templo.</div>
<div class="col-6 text-justify">Ne simul trahas me cum peccatóribus: * et cum operántibus iniquitátem ne perdas me.</div>
<div class="col-6 text-justify">Não me arrasteis juntamente com os pecadores: * e me não percais com os que praticam a iniquidade.</div>
<div class="col-6 text-justify">Qui loquúntur pacem cum próximo suo, * mala autem in córdibus eórum.</div>
<div class="col-6 text-justify">Os quais falam de paz com seu próximo, * e maldade têm em seus corações.</div>
<div class="col-6 text-justify">Da illis secúndum ópera eórum, * et secúndum nequítiam adinventiónum ipsórum.</div>
<div class="col-6 text-justify">Dai-lhes segundo as suas obras, * e segundo a malignidade dos seus projectos.</div>
<div class="col-6 text-justify">Secúndum ópera mánuum eórum tríbue illis: * redde retributiónem eórum ipsis.</div>
<div class="col-6 text-justify">Dai-lhes segundo as obras das suas mãos: * dai-lhes a recompensa que merecem.</div>
<div class="col-6 text-justify">Quóniam non intellexérunt ópera Dómini, et in ópera mánuum ejus * déstrues illos, et non ædificábis eos.</div>
<div class="col-6 text-justify">Porquanto não compreenderam as obras do Senhor, nem as obras das suas mãos; * Vós destruireis e os não restabelecereis.</div>
<div class="col-6 text-justify">Benedíctus Dóminus: * quóniam exaudívit vocem deprecatiónis meæ.</div>
<div class="col-6 text-justify">Bendito seja o Senhor: * porque ouviu a voz da minha súplica.</div>
<div class="col-6 text-justify">Dóminus adjútor meus, et protéctor meus: * in ipso sperávit cor meum, et adjútus sum.</div>
<div class="col-6 text-justify">O Senhor é a minha ajuda e o meu protector: * n’Ele esperou o meu coração e fui ajudado.</div>
<div class="col-6 text-justify">Et reflóruit caro mea: * et ex voluntáte mea confitébor ei.</div>
<div class="col-6 text-justify">Refloresceu a minha carne: * e O louvarei de todo meu coração.</div>
<div class="col-6 text-justify">Dóminus fortitúdo plebis suæ: * et protéctor salvatiónum Christi sui est.</div>
<div class="col-6 text-justify">O Senhor é a fortaleza do seu povo: * e o protector que salva o seu Cristo.</div>
<div class="col-6 text-justify">Salvum fac pópulum tuum, Dómine, et bénedic hereditáti tuæ: * et rege eos, et extólle illos usque in ætérnum.</div>
<div class="col-6 text-justify">Salvai, ó Senhor, o vosso povo e abençoai a vossa herança: * conduzi-os e exaltai-os por toda a eternidade.</div>
