<div class="col-6 dropcaps text-justify">Exaltábo Te, Dómine, quóniam suscepísti me: * nec delectásti inimícos meos super me.</div>
<div class="col-6 dropcaps text-justify">Eu Vos glorificarei, ó Senhor, porque me recebestes: * nem permitistes que meus inimigos se alegrassem à minha custa.</div>
<div class="col-6 text-justify">Dómine, Deus meus, clamávi ad Te, * et sanásti me.</div>
<div class="col-6 text-justify">Ó Senhor meu Deus, clamei a Vós, * e me sarastes.</div>
<div class="col-6 text-justify">Dómine, eduxísti ab inférno ánimam meam: * salvásti me a descendéntibus in lacum.</div>
<div class="col-6 text-justify">Senhor, tirastes do inferno a minha alma: * pusestes-me a salvo dos que descem à cova.</div>
<div class="col-6 text-justify">Psállite Dómino, sancti ejus: * et confitémini memóriæ sanctitátis ejus.</div>
<div class="col-6 text-justify">Cantai ao Senhor, ó seus santos: * e celebrai a sua santa memória.</div>
<div class="col-6 text-justify">Quóniam ira in indignatióne ejus: * et vita in voluntáte ejus.</div>
<div class="col-6 text-justify">Porque a ira está na sua indignação: * e a vida na sua boa vontade.</div>
<div class="col-6 text-justify">Ad vésperum demorábitur fletus: * et ad matutínum lætítia.</div>
<div class="col-6 text-justify">De tarde estaremos em lágrimas: * e de manhã em alegria.</div>
<div class="col-6 text-justify">Ego autem dixi in abundántia mea: * Non movébor in ætérnum.</div>
<div class="col-6 text-justify">Eu, porém, disse na minha abundância: * jamais mudarei.</div>
<div class="col-6 text-justify">Dómine, in voluntáte tua, * præstitísti decóri meo virtútem.</div>
<div class="col-6 text-justify">Senhor, por vossa vontade, * destes força ao meu decoro.</div>
<div class="col-6 text-justify">Avertísti fáciem tuam a me, * et factus sum conturbátus.</div>
<div class="col-6 text-justify">Afastastes de mim a vossa face, * e fiquei conturbado.</div>
<div class="col-6 text-justify">Ad Te, Dómine, clamábo: * et ad Deum meum deprecábor.</div>
<div class="col-6 text-justify">A Vós, ó Senhor, clamarei: * e ao meu Deus implorarei.</div>
<div class="col-6 text-justify">Quæ utílitas in sánguine meo, * dum descéndo in corruptiónem?</div>
<div class="col-6 text-justify">Que utilidade haverá na minha morte, * enquanto à corrupção descer?</div>
<div class="col-6 text-justify">Numquid confitébitur tibi pulvis, * aut annuntiábit veritátem tuam?</div>
<div class="col-6 text-justify">Porventura o pó professar-Vos-á * ou anunciará a vossa verdade?</div>
<div class="col-6 text-justify">Audívit Dóminus, et misértus est mei: * Dóminus factus est adjútor meus.</div>
<div class="col-6 text-justify">O Senhor me ouviu e teve misericórdia de mim: * o Senhor fez-se meu auxílio.</div>
<div class="col-6 text-justify">Convertísti planctum meum in gáudium mihi: * conscidísti saccum meum, et circumdedísti me lætítia:</div>
<div class="col-6 text-justify">O meu pranto convertestes em júbilo: * rasgastes o meu luto e me cercastes de alegria:</div>
<div class="col-6 text-justify">Ut cantet tibi glória mea, et non compúngar: * Dómine, Deus meus, in ætérnum confitébor tibi.</div>
<div class="col-6 text-justify">Para que até ao fim a minha glória Vos cante e me não abale: * ó Senhor meu Deus, Vos louvarei eternamente.</div>
