<div class="col-6 dropcaps text-justify">In Te, Dómine, sperávi non confúndar in ætérnum: * in justítia tua líbera me.</div>
<div class="col-6 dropcaps text-justify">Em Vós esperei, ó Senhor, não permitais que seja jamais confundido: * livrai-me na vossa justiça.</div>
<div class="col-6 text-justify">Inclína ad me aurem tuam, * accélera ut éruas me.</div>
<div class="col-6 text-justify">Inclinai para mim os vossos ouvidos, * acudi prontamente a livrar-me.</div>
<div class="col-6 text-justify">Esto mihi in Deum protectórem, et in domum refúgii: * ut salvum me fácias.</div>
<div class="col-6 text-justify">Sede para mim um Deus protector e uma casa de refúgio: * para me salvares.</div>
<div class="col-6 text-justify">Quóniam fortitúdo mea, et refúgium meum es Tu: * et propter nomen tuum dedúces me, et enútries me.</div>
<div class="col-6 text-justify">Porque Vós sois a minha força e o meu refúgio: * e por causa de vosso nome me conduzíreis e me nutrireis.</div>
<div class="col-6 text-justify">Edúces me de láqueo hoc, quem abscondérunt mihi: * quóniam Tu es protéctor meus.</div>
<div class="col-6 text-justify">Tirareis-me deste laço, que esconderam de mim: * porque Vós sois o meu protector.</div>
<div class="col-6 text-justify">In manus tuas comméndo spíritum meum: * redemísti me, Dómine, Deus veritátis.</div>
<div class="col-6 text-justify">Em vossas mãos entrego o meu espírito: * me redimistes, Senhor Deus de verdade.</div>
<div class="col-6 text-justify">Odísti observántes vanitátes, * supervácue.</div>
<div class="col-6 text-justify">Odieis os que observam coisas vãs * inutilmente.</div>
<div class="col-6 text-justify">Ego autem in Dómino sperávi: * exsultábo, et lætábor in misericórdia tua.</div>
<div class="col-6 text-justify">Eu, porém, esperei no Senhor: * exultar-me-ei e alegrar-me-ei na vossa misericórdia.</div>
<div class="col-6 text-justify">Quóniam respexísti humilitátem meam, * salvásti de necessitátibus ánimam meam.</div>
<div class="col-6 text-justify">Porque considerastes o meu abatimento, * salvastes das angústias a minha alma.</div>
<div class="col-6 text-justify">Nec conclusísti me in mánibus inimíci: * statuísti in loco spatióso pedes meos.</div>
<div class="col-6 text-justify">Não me entregastes nas mãos do inimigo: * antes pusestes os meus pés num terreiro.</div>
<div class="col-6 text-justify">Miserére mei, Dómine, quóniam tríbulor: * conturbátus est in ira óculus meus, ánima mea, et venter meus:</div>
<div class="col-6 text-justify">Tende piedade de mim, ó Senhor, porque estou aflito: * conturbados com ira estão meus olhos, minha alma e meu ventre.</div>
<div class="col-6 text-justify">Quóniam defécit in dolóre vita mea: * et anni mei in gemítibus.</div>
<div class="col-6 text-justify">Porque a minha vida vai-se consumindo com a mágoa: * e meus anos em gemidos.</div>
<div class="col-6 text-justify">Infirmáta est in paupertáte virtus mea: * et ossa mea conturbáta sunt.</div>
<div class="col-6 text-justify">Com pobreza tem-se debilitado a minha força: * e os meus ossos estão abalados.</div>
<div class="col-6 text-justify">Super omnes inimícos meos factus sum oppróbrium et vicínis meis valde: * et timor notis meis.</div>
<div class="col-6 text-justify">Mais que todos meus inimigos, tornei-me o escárnio, sobretudo para os meus vizinhos: * e o terror dos meus conhecidos.</div>
<div class="col-6 text-justify">Qui vidébant me, foras fugérunt a me: * oblivióni datus sum, tamquam mórtuus a corde.</div>
<div class="col-6 text-justify">Os que me viam, fugiam para longe de mim: * fui esquecido como um morto pelos seus corações.</div>
<div class="col-6 text-justify">Factus sum tamquam vas pérditum: * quóniam audívi vituperatiónem multórum commorántium in circúitu.</div>
<div class="col-6 text-justify">Fiquei como um vaso quebrado: * porque no meio deles ouvi as injúrias de muitos.</div>
<div class="col-6 text-justify">In eo dum convenírent simul advérsum me, * accípere ánimam meam consiliáti sunt.</div>
<div class="col-6 text-justify">Quando deliberavam juntos contra mim, * resolveram tirar-me a vida.</div>
<div class="col-6 text-justify">Ego autem in Te sperávi, Dómine: * dixi: Deus meus es Tu: in mánibus tuis sortes meæ.</div>
<div class="col-6 text-justify">Eu, porém, esperei em Vós, ó Senhor: * disse: o meu Deus sois Vós, nas vossas mãos está o meu fado.</div>
<div class="col-6 text-justify">Éripe me de manu inimicórum meórum, * et a persequéntibus me.</div>
<div class="col-6 text-justify">Livrai-me das mãos dos meus inimigos, * e dos que me perseguem.</div>
<div class="col-6 text-justify">Illústra fáciem tuam super servum tuum, salvum me fac in misericórdia tua: * Dómine, non confúndar, quóniam invocávi Te.</div>
<div class="col-6 text-justify">Brilhe a claridade de vossa face sobre o vosso servo, salvai-me na vossa misericórdia: * Senhor, não seja confundido, porque Vos invoquei.</div>
<div class="col-6 text-justify">Erubéscant ímpii, et deducántur in inférnum: * muta fiant lábia dolósa.</div>
<div class="col-6 text-justify">Os ímpios envergonhem-se e sejam conduzidos ao inferno: * mudos se tornem os lábios dolosos.</div>
<div class="col-6 text-justify">Quæ loquúntur advérsus justum iniquitátem: * in supérbia, et in abusióne.</div>
<div class="col-6 text-justify">Que proferem contra o justo palavras de iniquidade: * com soberba e abuso.</div>
<div class="col-6 text-justify">Quam magna multitúdo dulcédinis tuæ, Dómine, * quam abscondísti timéntibus Te.</div>
<div class="col-6 text-justify">Quão grande é, ó Senhor, a abundância de vossa doçura, * que tendes escondida para os que Vos temem!</div>
<div class="col-6 text-justify">Perfecísti eis, qui sperant in Te, * in conspéctu filiórum hóminum.</div>
<div class="col-6 text-justify">Concedeste-la àqueles que em Vós esperam, * à vista dos filhos dos homens.</div>
<div class="col-6 text-justify">Abscóndes eos in abscóndito faciéi tuæ * a conturbatióne hóminum.</div>
<div class="col-6 text-justify">Os escondereis ao abrigo de vossa face contra * as conturbações dos homens.</div>
<div class="col-6 text-justify">Próteges eos in tabernáculo tuo * a contradictióne linguárum.</div>
<div class="col-6 text-justify">Os defendereis no vosso tabernáculo * da contradição de suas línguas.</div>
<div class="col-6 text-justify">Benedíctus Dóminus: * quóniam mirificávit misericórdiam suam mihi in civitáte muníta.</div>
<div class="col-6 text-justify">Bendito seja o Senhor: * usou maravilhosamente comigo a sua misericórdia numa cidade fortificada.</div>
<div class="col-6 text-justify">Ego autem dixi in excéssu mentis meæ: * Projéctus sum a fácie oculórum tuórum.</div>
<div class="col-6 text-justify">Eu, porém, disse no excesso do meu espírito: * fui expulso de ante vossos olhos.</div>
<div class="col-6 text-justify">Ideo exaudísti vocem oratiónis meæ, * dum clamárem ad Te.</div>
<div class="col-6 text-justify">Portanto ouvistes a voz da minha oração, * quando a Vós clamava.</div>
<div class="col-6 text-justify">Dilígite Dóminum omnes sancti ejus: * quóniam veritátem requíret Dóminus, et retríbuet abundánter faciéntibus supérbiam.</div>
<div class="col-6 text-justify">Amai o Senhor, vós todos seus santos: * porque o Senhor requererá a verdade e severamente retribuirá os que com soberba procedem.</div>
<div class="col-6 text-justify">Viríliter ágite, et confortétur cor vestrum, * omnes, qui sperátis in Dómino.</div>
<div class="col-6 text-justify">Portai-vos virilmente e deixei o vosso coração ser fortalecido, * vós todos os que esperais no Senhor.</div>
