<div class="col-6 dropcaps text-justify">Dómine, ne in furóre tuo árguas me, * neque in ira tua corrípias me.</div>
<div class="col-6 dropcaps text-justify">Não me repreendais, ó Senhor, na vossa indignação, * nem me castigueis na vossa ira.</div>
<div class="col-6 text-justify">Quóniam sagíttæ tuæ infíxæ sunt mihi: * et confirmásti super me manum tuam.</div>
<div class="col-6 text-justify">Porque em mim se cravaram as vossas setas: * e sobre mim caiu a vossa mão.</div>
<div class="col-6 text-justify">Non est sánitas in carne mea a fácie iræ tuæ: * non est pax óssibus meis a fácie peccatórum meórum.</div>
<div class="col-6 text-justify">Não há parte sã na minha carne devido à vossa ira: * não há paz nos meus ossos, à face dos meus pecados.</div>
<div class="col-6 text-justify">Quóniam iniquitátes meæ supergréssæ sunt caput meum: * et sicut onus grave gravátæ sunt super me.</div>
<div class="col-6 text-justify">Porque as minhas iniquidades se elevaram acima da minha cabeça: * e me esmagam como uma pesada carga.</div>
<div class="col-6 text-justify">Putruérunt et corrúptæ sunt cicatríces meæ, * a fácie insipiéntiæ meæ.</div>
<div class="col-6 text-justify">Apodreceram e corromperam-se as minhas chagas, * à face da minha ignorância.</div>
<div class="col-6 text-justify">Miser factus sum, et curvátus sum usque in finem: * tota die contristátus ingrediébar.</div>
<div class="col-6 text-justify">Tornei-me miserável e totalmente curvado: * todo o dia cheio de tristeza andava.</div>
<div class="col-6 text-justify">Quóniam lumbi mei impléti sunt illusiónibus: * et non est sánitas in carne mea.</div>
<div class="col-6 text-justify">Porque as minhas entranhas estão cheias de ilusões: * e não há parte alguma sã na minha carne.</div>
<div class="col-6 text-justify">Afflíctus sum, et humiliátus sum nimis: * rugiébam a gémitu cordis mei.</div>
<div class="col-6 text-justify">Estou aflito e sumamente humilhado: * rugi com o gemido do meu coração.</div>
<div class="col-6 text-justify">Dómine, ante Te omne desidérium meum: * et gémitus meus a Te non est abscónditus.</div>
<div class="col-6 text-justify">Ó Senhor, bem vedes todos meus desejos: * e o meu gemido Vos não é oculto.</div>
<div class="col-6 text-justify">Cor meum conturbátum est, derelíquit me virtus mea: * et lumen oculórum meórum, et ipsum non est mecum.</div>
<div class="col-6 text-justify">Meu coração está abalado, a minha força desamparou-me: * e a própria luz dos meus olhos comigo já não está.</div>
<div class="col-6 text-justify">Amíci mei, et próximi mei * advérsum me appropinquavérunt, et stetérunt.</div>
<div class="col-6 text-justify">Meus amigos e meus próximos * avançaram e puseram-se contra mim.</div>
<div class="col-6 text-justify">Et qui juxta me erant, de longe stetérunt: * et vim faciébant qui quærébant ánimam meam.</div>
<div class="col-6 text-justify">Meus parentes puseram-se ao longe: * e usavam de violência, os que buscavam a minha vida.</div>
<div class="col-6 text-justify">Et qui inquirébant mala mihi, locúti sunt vanitátes: * et dolos tota die meditabántur.</div>
<div class="col-6 text-justify">Os que me procuravam males coisas vãs falaram: * e todo o dia maquinavam enganos.</div>
<div class="col-6 text-justify">Ego autem tamquam surdus non audiébam: * et sicut mutus non apériens os suum.</div>
<div class="col-6 text-justify">Eu, porém, como um surdo, não ouvia: * e, como um mudo, não abria a boca.</div>
<div class="col-6 text-justify">Et factus sum sicut homo non áudiens: * et non habens in ore suo redargutiónes.</div>
<div class="col-6 text-justify">Tornei-me como um homem surdo: * e que não tem réplica na sua boca.</div>
<div class="col-6 text-justify">Quóniam in Te, Dómine, sperávi: * Tu exáudies me, Dómine, Deus meus.</div>
<div class="col-6 text-justify">Porque em Vós, ó Senhor, esperei: * Vós me ouvireis, ó Senhor meu Deus.</div>
<div class="col-6 text-justify">Quia dixi: nequándo supergáudeant mihi inimíci mei: * et dum commovéntur pedes mei, super me magna locúti sunt.</div>
<div class="col-6 text-justify">Pois disse: nunca triunfem sobre mim os meus inimigos: * eles que, tendo visto os meus pés vacilantes, falaram de mim insolentemente.</div>
<div class="col-6 text-justify">Quóniam ego in flagélla parátus sum: * et dolor meus in conspéctu meo semper.</div>
<div class="col-6 text-justify">Porque estou preparado para o castigo: * e a minha dor está sempre ante mim.</div>
<div class="col-6 text-justify">Quóniam iniquitátem meam annuntiábo: * et cogitábo pro peccáto meo.</div>
<div class="col-6 text-justify">Porque confessarei a minha iniquidade: * e pensarei no meu pecado.</div>
<div class="col-6 text-justify">Inimíci autem mei vivunt, et confirmáti sunt super me: * et multiplicáti sunt qui odérunt me iníque.</div>
<div class="col-6 text-justify">Meus inimigos vivem e têm-se tornado mais fortes do que eu: * e os que injustamente me odeiam têm-se multiplicado.</div>
<div class="col-6 text-justify">Qui retríbuunt mala pro bonis, detrahébant mihi: * quóniam sequébar bonitátem.</div>
<div class="col-6 text-justify">Os que pagam o bem com o mal, desdiziam de mim: * porque a bondade seguia.</div>
<div class="col-6 text-justify">Ne derelínquas me, Dómine, Deus meus: * ne discésseris a me.</div>
<div class="col-6 text-justify">Não me desampareis, ó Senhor meu Deus: * de mim Vos não aparteis.</div>
<div class="col-6 text-justify">Inténde in adjutórium meum, * Dómine, Deus, salútis meæ.</div>
<div class="col-6 text-justify">Acudi em meu socorro, * ó Senhor Deus da minha salvação.</div>
