<div class="col-6 dropcaps text-justify">Dixi: custódiam vias meas: * ut non delínquam in lingua mea.</div>
<div class="col-6 dropcaps text-justify">Disse: meus caminhos velarei: * para que não peque com minha língua.</div>
<div class="col-6 text-justify">Pósui ori meo custódiam, * cum consísteret peccátor advérsum me.</div>
<div class="col-6 text-justify">Pus guarda à minha boca, * quando o pecador estava contra mim.</div>
<div class="col-6 text-justify">Obmútui, et humiliátus sum, et sílui a bonis: * et dolor meus renovátus est.</div>
<div class="col-6 text-justify">Permaneci mudo, humilhado e mantive silêncio do bem: * e renovou-se a minha dor.</div>
<div class="col-6 text-justify">Concáluit cor meum intra me: * et in meditatióne mea exardéscet ignis.</div>
<div class="col-6 text-justify">Dentro de mim ardia o meu coração: * e na minha meditação acendiam-se chamas de fogo.</div>
<div class="col-6 text-justify">Locútus sum in lingua mea: * Notum fac mihi, Dómine, finem meum.</div>
<div class="col-6 text-justify">Falei com minha língua: * ó Senhor, fazei-me conhecer o meu fim.</div>
<div class="col-6 text-justify">Et númerum diérum meórum quis est: * ut sciam quid desit mihi.</div>
<div class="col-6 text-justify">Qual é o número dos meus dias: * para que saiba o quanto me resta.</div>
<div class="col-6 text-justify">Ecce mensurábiles posuísti dies meos: * et substántia mea tamquam níhilum ante Te.</div>
<div class="col-6 text-justify">Eis que pusestes os meus dias em medida: * e ante Vós a minha existência nada é.</div>
<div class="col-6 text-justify">Verúmtamen univérsa vánitas, * omnis homo vivens.</div>
<div class="col-6 text-justify">Realmente tudo é vaidade, * todo o homem vivente.</div>
<div class="col-6 text-justify">Verúmtamen in imágine pertránsit homo: * sed et frustra conturbátur.</div>
<div class="col-6 text-justify">Certamente que o homem como uma sombra passa: * e em vão se conturba.</div>
<div class="col-6 text-justify">Thesaurízat: * et ignórat cui congregábit ea.</div>
<div class="col-6 text-justify">Acumula: * e ignora para quem junta.</div>
<div class="col-6 text-justify">Et nunc quæ est exspectátio mea? Nonne Dóminus? * Et substántia mea apud Te est.</div>
<div class="col-6 text-justify">Agora, qual é a minha esperança? A não é o Senhor? * Em Vós está a minha substância.</div>
<div class="col-6 text-justify">Ab ómnibus iniquitátibus meis érue me: * oppróbrium insipiénti dedísti me.</div>
<div class="col-6 text-justify">Livrai-me de todas minhas iniquidades: * um objecto de escárnio para o insensato me fizestes.</div>
<div class="col-6 text-justify">Obmútui, et non apérui os meum, quóniam Tu fecísti: * ámove a me plagas tuas.</div>
<div class="col-6 text-justify">Calei-me e não abri a minha boca, porque Vós o fizestes: * afastai de mim os vossos flagelos.</div>
<div class="col-6 text-justify">A fortitúdine manus tuæ ego deféci in increpatiónibus: * propter iniquitátem corripuísti hóminem.</div>
<div class="col-6 text-justify">Repreendestes-me e debaixo da força de vossa mão desfaleci: * por causa da iniquidade castigastes o homem.</div>
<div class="col-6 text-justify">Et tabéscere fecísti sicut aráneam ánimam ejus: * verúmtamen vane conturbátur omnis homo.</div>
<div class="col-6 text-justify">Fizestes que sua vida se consumisse como uma aranha: * é contudo em vão que todo o homem se inquieta.</div>
<div class="col-6 text-justify">Exáudi oratiónem meam, Dómine, et deprecatiónem meam: * áuribus pércipe lácrimas meas.</div>
<div class="col-6 text-justify">Senhor, escutai a minha oração e a minha súplica: * atendei às minhas lágrimas.</div>
<div class="col-6 text-justify">Ne síleas: quóniam ádvena ego sum apud Te, et peregrínus, * sicut omnes patres mei.</div>
<div class="col-6 text-justify">Não Vos caleis, porque ante Vós eu sou um peregrino, * e um estranho como foram todos meus pais.</div>
<div class="col-6 text-justify">Remítte mihi, ut refrígerer priúsquam ábeam, * et ámplius non ero.</div>
<div class="col-6 text-justify">Perdoai-me, para que possa ser refrescado, * antes que parta e deixe de existir.</div>
