<div class="col-6 dropcaps text-justify">Beátus qui intéllegit super egénum, et páuperem: * in die mala liberábit eum Dóminus.</div>
<div class="col-6 dropcaps text-justify">Bem-aventurado o que tem em consideração o necessitado e o pobre: * no mau dia livrá-lo-á o Senhor.</div>
<div class="col-6 text-justify">Dóminus consérvet eum, et vivíficet eum, et beátum fáciat eum in terra: * et non tradat eum in ánimam inimicórum ejus.</div>
<div class="col-6 text-justify">O guarde o Senhor e lhe dê vida e o faça feliz na terra: * e o não entregue ao poder dos seus inimigos.</div>
<div class="col-6 text-justify">Dóminus opem ferat illi super lectum dolóris ejus: * univérsum stratum ejus versásti in infirmitáte ejus.</div>
<div class="col-6 text-justify">O Senhor lhe dê auxílio sobre o leito da sua dor: * na doença revirastes toda sua cama.</div>
<div class="col-6 text-justify">Ego dixi: Dómine, miserére mei: * sana ánimam meam, quia peccávi tibi.</div>
<div class="col-6 text-justify">Eu disse: ó Senhor, compadecei-Vos de mim: * sarai a minha alma, pois pequei contra Vós.</div>
<div class="col-6 text-justify">Inimíci mei dixérunt mala mihi: * Quando moriétur, et períbit nomen ejus?</div>
<div class="col-6 text-justify">Maldades os meus inimigos falaram contra mim: * quando morrerá e perecerá o seu nome?</div>
<div class="col-6 text-justify">Et si ingrediebátur ut vidéret, vana loquebátur: * cor ejus congregávit iniquitátem sibi.</div>
<div class="col-6 text-justify">E, se entrava para me ver, diria vãs coisas: * o seu coração acumulava em si a iniquidade.</div>
<div class="col-6 text-justify">Egrediebátur foras, * et loquebátur in idípsum.</div>
<div class="col-6 text-justify">Ele saía para fora, * e falava para o mesmo fim.</div>
<div class="col-6 text-justify">Advérsum me susurrábant omnes inimíci mei: * advérsum me cogitábant mala mihi.</div>
<div class="col-6 text-justify">Murmuravam contra mim todos meus inimigos: * teciam males contra mim.</div>
<div class="col-6 text-justify">Verbum iníquum constituérunt advérsum me: * Numquid qui dormit non adíciet ut resúrgat?</div>
<div class="col-6 text-justify">Decretaram contra mim uma injusta palavra: * o que dorme não poderá porventura volver a erguer-se?</div>
<div class="col-6 text-justify">Étenim homo pacis meæ, in quo sperávi: * qui edébat panes meos, magnificávit super me supplantatiónem.</div>
<div class="col-6 text-justify">De facto, o homem da minha paz, em quem esperei: * que comia o meu pão, engrandeceu contra mim a sua traição.</div>
<div class="col-6 text-justify">Tu autem, Dómine, miserére mei, et resúscita me: * et retríbuam eis.</div>
<div class="col-6 text-justify">Vós, porém, ó Senhor, tende compaixão de mim e elevai-me: * e lhes retribuirei.</div>
<div class="col-6 text-justify">In hoc cognóvi quóniam voluísti me: * quóniam non gaudébit inimícus meus super me.</div>
<div class="col-6 text-justify">Nisto conhecerei que Vós me quereis bem: * porque sobre mim o meu inimigo se não alegrará.</div>
<div class="col-6 text-justify">Me autem propter innocéntiam suscepísti: * et confirmásti me in conspéctu tuo in ætérnum.</div>
<div class="col-6 text-justify">Porque Vós me suportastes por causa da minha inocência: * e me fortificastes ante Vós para sempre.</div>
<div class="col-6 text-justify">Benedíctus Dóminus, Deus Israël, a sǽculo et usque in sǽculum: * fiat, fiat.</div>
<div class="col-6 text-justify">Seja bendito o Senhor Deus de Israel por todos os séculos dos séculos: * assim seja, assim seja.</div>
