<div class="col-6 dropcaps text-justify">Deus, áuribus nostris audívimus: * patres nostri annuntiavérunt nobis.</div>
<div class="col-6 dropcaps text-justify">Nós ouvimos, ó Deus, com os nossos próprios ouvidos: * nossos pais nos anunciaram.</div>
<div class="col-6 text-justify">Opus, quod operátus es in diébus eórum, * et in diébus antíquis.</div>
<div class="col-6 text-justify">A obra que fizestes nos seus dias, * e nos antigos dias.</div>
<div class="col-6 text-justify">Manus tua gentes dispérdidit, et plantásti eos: * afflixísti pópulos, et expulísti eos.</div>
<div class="col-6 text-justify">Plantaste-os a eles e a vossa mão exterminou as gentes: * afligistes aqueles povos e os expelistes.</div>
<div class="col-6 text-justify">Nec enim in gládio suo possedérunt terram, * et brácchium eórum non salvávit eos:</div>
<div class="col-6 text-justify">Porque não foi com sua espada que conquistaram esta terra, * e não foi o seu braço que os salvou:</div>
<div class="col-6 text-justify">Sed déxtera tua, et brácchium tuum, et illuminátio vultus tui: * quóniam complacuísti in eis.</div>
<div class="col-6 text-justify">Senão a vossa dextra, o vosso braço e a luz de vosso rosto: * porque com eles Vos agradastes.</div>
<div class="col-6 text-justify">Tu es ipse Rex meus et Deus meus: * qui mandas salútes Jacob.</div>
<div class="col-6 text-justify">Vós mesmo sois o meu Rei e o meu Deus: * que destes a salvação a Jacob.</div>
<div class="col-6 text-justify">In Te inimícos nostros ventilábimus cornu: * et in nómine tuo spernémus insurgéntes in nobis.</div>
<div class="col-6 text-justify">Através de Vós investiremos contra os nossos inimigos: * e em vosso nome desprezaremos os que se levantaram contra nós.</div>
<div class="col-6 text-justify">Non enim in arcu meo sperábo: * et gládius meus non salvábit me.</div>
<div class="col-6 text-justify">Porque no meu arco não confiarei: * e não é a minha espada que me salvará.</div>
<div class="col-6 text-justify">Salvásti enim nos de affligéntibus nos: * et odiéntes nos confudísti.</div>
<div class="col-6 text-justify">Salvastes-nos dos que nos afligiam: * e humilhastes os que nos tinham ódio.</div>
<div class="col-6 text-justify">In Deo laudábimur tota die: * et in nómine tuo confitébimur in sǽculum.</div>
<div class="col-6 text-justify">Todo o dia celebraremos em Deus: * e no vosso nome louvaremos eternamente.</div>
<div class="col-6 text-justify">Nunc autem repulísti et confudísti nos: * et non egrediéris, Deus, in virtútibus nostris.</div>
<div class="col-6 text-justify">Agora, contudo, Vós repelistes-nos e humilhastes-nos: * Vós já não saís à frente dos nossos exércitos, ó Deus.</div>
<div class="col-6 text-justify">Avertísti nos retrórsum post inimícos nostros: * et qui odérunt nos, diripiébant sibi.</div>
<div class="col-6 text-justify">Fizestes-nos volver as costas aos nossos inimigos: * e os que nos odeiam saquearam para si mesmos.</div>
<div class="col-6 text-justify">Dedísti nos tamquam oves escárum: * et in géntibus dispersísti nos.</div>
<div class="col-6 text-justify">Entregastes-nos como ovelhas para o matadouro: * e dispersastes-nos entre as gentes.</div>
<div class="col-6 text-justify">Vendidísti pópulum tuum sine prétio: * et non fuit multitúdo in commutatiónibus eórum.</div>
<div class="col-6 text-justify">Vendestes o vosso povo sem preço: * e não houve lucro na sua troca.</div>
<div class="col-6 text-justify">Posuísti nos oppróbrium vicínis nostris, * subsannatiónem et derísum his, qui sunt in circúitu nostro.</div>
<div class="col-6 text-justify">Tornastes-nos a vergonha dos nossos vizinhos, * e objecto de escárnio e zombaria para aqueles que nos rodeiam.</div>
<div class="col-6 text-justify">Posuísti nos in similitúdinem géntibus: * commotiónem cápitis in pópulis.</div>
<div class="col-6 text-justify">Pusestes-nos como parábola entre as gentes: * um abanar de cabeça entre os povos.</div>
<div class="col-6 text-justify">Tota die verecúndia mea contra me est, * et confúsio faciéi meæ coopéruit me.</div>
<div class="col-6 text-justify">Minha ignomínia está todo o dia ante mim, * e o meu rosto cobriu-se de confusão.</div>
<div class="col-6 text-justify">A voce exprobrántis, et obloquéntis: * a fácie inimíci, et persequéntis.</div>
<div class="col-6 text-justify">À voz do que me insulta e destrói: * à vista do inimigo e do que me persegue.</div>
<div class="col-6 text-justify">Hæc ómnia venérunt super nos, nec oblíti sumus Te: * et iníque non égimus in testaménto tuo.</div>
<div class="col-6 text-justify">Tudo isto veio sobre nós, contudo, Vos não esquecemos: * e na vossa aliança não cometemos iniquidade.</div>
<div class="col-6 text-justify">Et non recéssit retro cor nostrum: * et declinásti sémitas nostras a via tua:</div>
<div class="col-6 text-justify">Nosso coração não recuou: * nem desviastes Vós nossos passos de vosso caminho:</div>
<div class="col-6 text-justify">Quóniam humiliásti nos in loco afflictiónis, * et coopéruit nos umbra mortis.</div>
<div class="col-6 text-justify">Porque nos humilhastes no lugar do tormento, * e a sombra da morte nos cobriu.</div>
<div class="col-6 text-justify">Si oblíti sumus nomen Dei nostri, * et si expándimus manus nostras ad deum aliénum:</div>
<div class="col-6 text-justify">Se nos esquecemos do nome do nosso Deus, * e se estendemos as mãos para algum deus estranho:</div>
<div class="col-6 text-justify">Nonne Deus requíret ista? * Ipse enim novit abscóndita cordis.</div>
<div class="col-6 text-justify">Não há-de Deus pedir conta disso? * Pois Ele conhece os segredos do coração.</div>
<div class="col-6 text-justify">Quóniam propter Te mortificámur tota die: * æstimáti sumus sicut oves occisiónis.</div>
<div class="col-6 text-justify">Somos por Vós entregues à morte todos os dias: * somos estimados como ovelhas para o matadouro.</div>
<div class="col-6 text-justify">Exsúrge, quare obdórmis, Dómine? * Exsúrge, et ne repéllas in finem.</div>
<div class="col-6 text-justify">Levantai-Vos, porque dormis, ó Senhor? * Levantai-Vos e nos não desampareis para sempre.</div>
<div class="col-6 text-justify">Quare fáciem tuam avértis, * oblivísceris inópiæ nostræ, et tribulatiónis nostræ?</div>
<div class="col-6 text-justify">Porque desviais de nós o vosso rosto, * e Vos esqueceis da nossa miséria e da nossa tribulação?</div>
<div class="col-6 text-justify">Quóniam humiliáta est in púlvere ánima nostra: * conglutinátus est in terra venter noster.</div>
<div class="col-6 text-justify">Porquanto a nossa alma está prostrada até ao pó: * e o nosso ventre está colado à terra.</div>
<div class="col-6 text-justify">Exsúrge, Dómine, ádjuva nos: * et rédime nos propter nomen tuum.</div>
<div class="col-6 text-justify">Levantai-Vos, ó Senhor, ajudai-nos: * e resgatai-nos por causa de vosso nome.</div>
