<div class="col-6 dropcaps text-justify">Omnes gentes, pláudite mánibus: * jubiláte Deo in voce exsultatiónis.</div>
<div class="col-6 dropcaps text-justify">Batei palmas todas as gentes: * aclamai a Deus com vozes de alegria.</div>
<div class="col-6 text-justify">Quóniam Dóminus excélsus, terríbilis: * Rex magnus super omnem terram.</div>
<div class="col-6 text-justify">Porque o Senhor é excelso e terrível: * Rei supremo sobre toda a terra.</div>
<div class="col-6 text-justify">Subjécit pópulos nobis: * et gentes sub pédibus nostris.</div>
<div class="col-6 text-justify">Submeteu os povos a nós: * e as gentes debaixo dos nossos pés.</div>
<div class="col-6 text-justify">Elégit nobis hereditátem suam: * spéciem Jacob, quam diléxit.</div>
<div class="col-6 text-justify">Escolheu-nos para sua herança: * beleza de Jacob que tanto amou.</div>
<div class="col-6 text-justify">Ascéndit Deus in júbilo: * et Dóminus in voce tubæ.</div>
<div class="col-6 text-justify">Subiu Deus com júbilo: * e o Senhor com a voz da trombeta.</div>
<div class="col-6 text-justify">Psállite Deo nostro, psállite: * psállite Regi nostro, psállite.</div>
<div class="col-6 text-justify">Cantai ao nosso Deus, cantai: * cantai ao nosso Rei, cantai.</div>
<div class="col-6 text-justify">Quóniam Rex omnis terræ Deus: * psállite sapiénter.</div>
<div class="col-6 text-justify">Deus é o Rei de toda a terra: * cantai sabiamente.</div>
<div class="col-6 text-justify">Regnábit Deus super gentes: * Deus sedet super sedem sanctam suam.</div>
<div class="col-6 text-justify">Deus reinará sobre as gentes: * Deus está sentado no seu santo trono.</div>
<div class="col-6 text-justify">Príncipes populórum congregáti sunt cum Deo Ábraham: * quóniam dii fortes terræ veheménter eleváti sunt.</div>
<div class="col-6 text-justify">Os príncipes dos povos reuniram-se com o Deus de Abraão: * porque os fortes deuses da terra foram elevadíssimos.</div>
