<div class="col-6 dropcaps text-justify">Magnus Dóminus, et laudábilis nimis * in civitáte Dei nostri, in monte sancto ejus.</div>
<div class="col-6 dropcaps text-justify">Grande é o Senhor e digníssimo de louvor * na cidade do nosso Deus, no seu santo monte.</div>
<div class="col-6 text-justify">Fundátur exsultatióne univérsæ terræ mons Sion, * látera Aquilónis, cívitas Regis magni.</div>
<div class="col-6 text-justify">Com júbilo de toda a terra foi fundado o monte de Sião, * a cidade do grande Rei ao lado do aquilão.</div>
<div class="col-6 text-justify">Deus in dómibus ejus cognoscétur: * cum suscípiet eam.</div>
<div class="col-6 text-justify">Deus far-se-á conhecer nas suas casas: * quando a defender.</div>
<div class="col-6 text-justify">Quóniam ecce reges terræ congregáti sunt: * convenérunt in unum.</div>
<div class="col-6 text-justify">Porque eis que os reis da terra se coligaram: * e se juntaram num só.</div>
<div class="col-6 text-justify">Ipsi vidéntes sic admiráti sunt, conturbáti sunt, commóti sunt: * tremor apprehéndit eos.</div>
<div class="col-6 text-justify">Eles, quando a viram, admiraram-se, conturbaram-se e afligidos ficaram: * o terror apoderou-se deles.</div>
<div class="col-6 text-justify">Ibi dolóres ut parturiéntis: * in spíritu veheménti cónteres naves Tharsis.</div>
<div class="col-6 text-justify">Ali sentiram dores como a mulher que dá à luz: * com vento impetuoso quebrareis as naus de Társis.</div>
<div class="col-6 text-justify">Sicut audívimus, sic vídimus in civitáte Dómini virtútum, in civitáte Dei nostri: * Deus fundávit eam in ætérnum.</div>
<div class="col-6 text-justify">Assim como ouvimos, assim vimos na cidade do Senhor dos exércitos, na cidade do nosso Deus: * Deus fundou-a para sempre.</div>
<div class="col-6 text-justify">Suscépimus, Deus, misericórdiam tuam, * in médio templi tui.</div>
<div class="col-6 text-justify">Recebemos a vossa misericórdia, ó Deus, * no meio de vosso templo.</div>
<div class="col-6 text-justify">Secúndum nomen tuum, Deus, sic et laus tua in fines terræ: * justítia plena est déxtera tua.</div>
<div class="col-6 text-justify">Como o vosso nome, ó Deus, também o vosso louvor se estende até aos confins da terra: * a vossa dextra está cheia de justiça.</div>
<div class="col-6 text-justify">Lætétur mons Sion, et exsúltent fíliæ Judæ: * propter judícia tua, Dómine.</div>
<div class="col-6 text-justify">Alegre-se o monte de Sião e regozijem-se as filhas de Judá: * devido aos vossos juízos, ó Senhor.</div>
<div class="col-6 text-justify">Circúmdate Sion, et complectímini eam: * narráte in túrribus ejus.</div>
<div class="col-6 text-justify">Dai voltas a Sião e considerai-a ao redor: * contai as suas torres.</div>
<div class="col-6 text-justify">Pónite corda vestra in virtúte ejus: * et distribúite domos ejus, ut enarrétis in progénie áltera.</div>
<div class="col-6 text-justify">Colocai o vosso coração na sua força: * e contemplai os seus baluartes, para que narreis à geração futura.</div>
<div class="col-6 text-justify">Quóniam hic est Deus, Deus noster in ætérnum et in sǽculum sǽculi: * ipse reget nos in sǽcula.</div>
<div class="col-6 text-justify">Porque Deus assim é, o nosso Deus para sempre e pelos séculos dos séculos: * Ele nos reinará eternamente.</div>
