<div class="col-6 dropcaps text-justify">Audíte hæc, omnes gentes: * áuribus percípite omnes, qui habitátis orbem:</div>
<div class="col-6 dropcaps text-justify">Ó todas as gentes ouvi isto: * estai atentas, vós todas que povoais a terra:</div>
<div class="col-6 text-justify">Quique terrígenæ, et fílii hóminum: * simul in unum dives et pauper.</div>
<div class="col-6 text-justify">Todas as que nasceram na terra e vós filhos dos homens: * o rico e o pobre juntamente.</div>
<div class="col-6 text-justify">Os meum loquétur sapiéntiam: * et meditátio cordis mei prudéntiam.</div>
<div class="col-6 text-justify">Sabedoria a minha boca proclamará: * e prudência da meditação do meu coração.</div>
<div class="col-6 text-justify">Inclinábo in parábolam aurem meam: * apériam in psaltério propositiónem meam.</div>
<div class="col-6 text-justify">Meu ouvido inclinarei à parábola: * revelarei ao som do saltério a minha preposição.</div>
<div class="col-6 text-justify">Cur timébo in die mala? * Iníquitas calcánei mei circúmdabit me:</div>
<div class="col-6 text-justify">Que temerei no mau dia? * Rodear-me-á a iniquidade dos meus passos:</div>
<div class="col-6 text-justify">Qui confídunt in virtúte sua: * et in multitúdine divitiárum suárum gloriántur.</div>
<div class="col-6 text-justify">Eles confiam nas suas forças: * e glorificam-se na multidão das suas riquezas.</div>
<div class="col-6 text-justify">Frater non rédimit, rédimet homo: * non dabit Deo placatiónem suam.</div>
<div class="col-6 text-justify">O irmão não resgata, como resgatará o homem: * não dará a Deus a sua expiação.</div>
<div class="col-6 text-justify">Et prétium redemptiónis ánimæ suæ: * et laborábit in ætérnum, et vivet adhuc in finem.</div>
<div class="col-6 text-justify">Nem o preço da redenção de sua alma: * estará eternamente em labores e viverá, não obstante, até ao fim.</div>
<div class="col-6 text-justify">Non vidébit intéritum, cum víderit sapiéntes moriéntes: * simul insípiens, et stultus períbunt.</div>
<div class="col-6 text-justify">Ruína não verá, quando os sábios vir morrer: * o parvo e o tolo perecerão igualmente.</div>
<div class="col-6 text-justify">Et relínquent aliénis divítias suas: * et sepúlcra eórum domus illórum in ætérnum.</div>
<div class="col-6 text-justify">Deixarão aos estranhos as suas riquezas: * e os seus sepulcros serão para sempre as suas habitações.</div>
<div class="col-6 text-justify">Tabernácula eórum in progénie et progénie: * vocavérunt nómina sua in terris suis.</div>
<div class="col-6 text-justify">Sua morada de geração em geração: * eles que deram os seus nomes às suas terras.</div>
<div class="col-6 text-justify">Et homo, cum in honóre esset, non intelléxit: * comparátus est juméntis insipiéntibus, et símilis factus est illis.</div>
<div class="col-6 text-justify">O homem, em honra constituído, não entendeu: * foi comparado a bestas irracionais e como eles se tornou.</div>
<div class="col-6 text-justify">Hæc via illórum scándalum ipsis: * et póstea in ore suo complacébunt.</div>
<div class="col-6 text-justify">Este seu proceder é causa da sua ruína: * e, apesar disto, deleitam-se nos seus discursos.</div>
<div class="col-6 text-justify">Sicut oves in inférno pósiti sunt: * mors depáscet eos.</div>
<div class="col-6 text-justify">São postos no inferno como ovelhas: * e serão pasto da morte.</div>
<div class="col-6 text-justify">Et dominabúntur eórum justi in matutíno: * et auxílium eórum veteráscet in inférno a glória eórum.</div>
<div class="col-6 text-justify">Os justos terão domínio sobre eles na manhã: * e da sua glória, o auxílio que tiveram será destruído no inferno.</div>
<div class="col-6 text-justify">Verúmtamen Deus rédimet ánimam meam de manu ínferi: * cum accéperit me.</div>
<div class="col-6 text-justify">Deus, porém, resgatará a minha alma do poder do inferno: * quando me receber.</div>
<div class="col-6 text-justify">Ne timúeris, cum dives factus fúerit homo: * et cum multiplicáta fúerit glória domus ejus.</div>
<div class="col-6 text-justify">Não temas quando um homem se enriquecer: * e quando crescer a glória da sua casa.</div>
<div class="col-6 text-justify">Quóniam cum interíerit, non sumet ómnia: * neque descéndet cum eo glória ejus.</div>
<div class="col-6 text-justify">Porque, morrendo, nada levará consigo: * nem com ele descerá a sua glória.</div>
<div class="col-6 text-justify">Quia ánima ejus in vita ipsíus benedicétur: * confitébitur tibi cum beneféceris ei.</div>
<div class="col-6 text-justify">Pois, enquanto vive, será louvada a sua alma: * ele bendizer-Vos-á quando bem lhe fizerdes.</div>
<div class="col-6 text-justify">Introíbit usque in progénies patrum suórum: * et usque in ætérnum non vidébit lumen.</div>
<div class="col-6 text-justify">Entrará na geração de seus pais: * e não verá jamais a luz.</div>
<div class="col-6 text-justify">Homo, cum in honóre esset, non intelléxit: * comparátus est juméntis insipiéntibus, et símilis factus est illis.</div>
<div class="col-6 text-justify">O homem, constituído em honra, não entendeu: * foi comparado a bestas irracionais e tornou-se semelhante a elas.</div>
