<div class="col-6 dropcaps text-justify">Dixit insípiens in corde suo: * Non est Deus.</div>
<div class="col-6 dropcaps text-justify">Disse o parvo no seu coração: * não há Deus.</div>
<div class="col-6 text-justify">Corrúpti sunt, et abominábiles facti sunt in iniquitátibus: * non est qui fáciat bonum.</div>
<div class="col-6 text-justify">São corruptos e tornaram-se abomináveis nas suas iniquidades: * não há quem o bem faça.</div>
<div class="col-6 text-justify">Deus de cælo prospéxit super fílios hóminum: * ut vídeat si est intéllegens, aut requírens Deum.</div>
<div class="col-6 text-justify">Deus olhou do céu sobre os filhos dos homens: * para ver se há inteligentes, ou quem a Deus busque.</div>
<div class="col-6 text-justify">Omnes declinavérunt, simul inútiles facti sunt: * non est qui fáciat bonum, non est usque ad unum.</div>
<div class="col-6 text-justify">Todos se extraviaram, juntos tornaram-se inúteis: * não há quem o bem faça, não há sequer um só.</div>
<div class="col-6 text-justify">Nonne scient omnes qui operántur iniquitátem, * qui dévorant plebem meam ut cibum panis?</div>
<div class="col-6 text-justify">Porventura se não lembrarão todos os obreiros da iniquidade, * os que devoram o meu povo como quem pão come?</div>
<div class="col-6 text-justify">Deum non invocavérunt: * illic trepidavérunt timóre, ubi non erat timor.</div>
<div class="col-6 text-justify">Não invocaram a Deus: * tremeram de medo onde não havia que temer.</div>
<div class="col-6 text-justify">Quóniam Deus dissipávit ossa eórum qui homínibus placent: * confúsi sunt, quóniam Deus sprevit eos.</div>
<div class="col-6 text-justify">Porque dissipou Deus os ossos daqueles que aos homens agradam: * foram confundidos, porque Deus os desprezou.</div>
<div class="col-6 text-justify">Quis dabit ex Sion salutáre Israël? * Cum convérterit Deus captivitátem plebis suæ, exsultábit Jacob, et lætábitur Israël.</div>
<div class="col-6 text-justify">Quem enviará de Sião a salvação de Israel? * Quando Deus puser fim ao cativeiro do seu povo, regozijar-se-á Jacob e alegrar-se-á Israel.</div>
