<div class="col-6 dropcaps text-justify">Deus, in nómine tuo salvum me fac: * et in virtúte tua júdica me.</div>
<div class="col-6 dropcaps text-justify">Salvai-me, ó Deus, por vosso nome: * e com vosso poder julgai-me.</div>
<div class="col-6 text-justify">Deus, exáudi oratiónem meam: * áuribus pércipe verba oris mei.</div>
<div class="col-6 text-justify">Ouvi, ó Deus, a minha oração: * atendei às palavras da minha boca.</div>
<div class="col-6 text-justify">Quóniam aliéni insurrexérunt advérsum me, et fortes quæsiérunt ánimam meam: * et non proposuérunt Deum ante conspéctum suum.</div>
<div class="col-6 text-justify">Porque os estranhos se levantaram contra mim e os fortes buscaram a minha vida: * e a Deus não puseram ante si.</div>
<div class="col-6 text-justify">Ecce enim, Deus ádjuvat me: * et Dóminus suscéptor est ánimæ meæ.</div>
<div class="col-6 text-justify">Eis que Deus vem em meu auxílio: * e o Senhor é o protector da minha vida.</div>
<div class="col-6 text-justify">Avérte mala inimícis meis: * et in veritáte tua dispérde illos.</div>
<div class="col-6 text-justify">Fazei recair os males sobre os meus inimigos: * e exterminai-os na vossa verdade.</div>
<div class="col-6 text-justify">Voluntárie sacrificábo tibi, * et confitébor nómini tuo, Dómine: quóniam bonum est:</div>
<div class="col-6 text-justify">Sacrificar-me-ei voluntariamente a Vós, * e o vosso nome louvarei, ó Senhor, porque é bom:</div>
<div class="col-6 text-justify">Quóniam ex omni tribulatióne eripuísti me: * et super inimícos meos despéxit óculus meus.</div>
<div class="col-6 text-justify">Porquanto me tendes livrado de toda a tribulação: * e com desdém olhei os meus inimigos.</div>
