<div class="col-6 dropcaps text-justify">Exáudi, oratiónem meam, et ne despéxeris deprecatiónem meam: * inténde mihi, et exáudi me.</div>
<div class="col-6 dropcaps text-justify">Ouvi, ó Deus, a minha oração e não desprezeis a minha súplica: * atendei-me e ouvi-me.</div>
<div class="col-6 text-justify">Contristátus sum in exercitatióne mea: * et conturbátus sum a voce inimíci, et a tribulatióne peccatóris.</div>
<div class="col-6 text-justify">Estou triste na minha provação: * abalado estou pela voz do inimigo e pela tribulação do pecador.</div>
<div class="col-6 text-justify">Quóniam declinavérunt in me iniquitátes: * et in ira molésti erant mihi.</div>
<div class="col-6 text-justify">Porque me lançaram iniquidades: * e com ira me angustiaram.</div>
<div class="col-6 text-justify">Cor meum conturbátum est in me: * et formído mortis cécidit super me.</div>
<div class="col-6 text-justify">Meu coração está abalado dentro de mim: * e sobre mim caiu o pavor da morte.</div>
<div class="col-6 text-justify">Timor et tremor venérunt super me: * et contexérunt me ténebræ.</div>
<div class="col-6 text-justify">Temor e tremor sobre mim vieram: * e me rodearam as trevas.</div>
<div class="col-6 text-justify">Et dixi: quis dabit mihi pennas sicut colúmbæ, * et volábo, et requiéscam?</div>
<div class="col-6 text-justify">Então disse: quem me dará asas como as da pomba, * para voar e repousar?</div>
<div class="col-6 text-justify">Ecce, elongávi fúgiens: * et mansi in solitúdine.</div>
<div class="col-6 text-justify">Eis que fugindo me afastei: * e permaneci na solidão.</div>
<div class="col-6 text-justify">Exspectábam eum, qui salvum me fecit * a pusillanimitáte spíritus et tempestáte.</div>
<div class="col-6 text-justify">Aguardava Aquele que me salvou * da cobardia de espírito e da tempestade.</div>
<div class="col-6 text-justify">Præcípita, Dómine, dívide linguas eórum: * quóniam vidi iniquitátem, et contradictiónem in civitáte.</div>
<div class="col-6 text-justify">Precipitai-os, ó Senhor, dividi as suas línguas: * pois vejo a injustiça e a contradição na cidade.</div>
<div class="col-6 text-justify">Die ac nocte circúmdabit eam super muros ejus iníquitas: * et labor in médio ejus, et injustítia.</div>
<div class="col-6 text-justify">Dia e noite cercará sobre seus muros a iniquidade: * está no meio dela a labuta e a injustiça.</div>
<div class="col-6 text-justify">Et non defécit de platéis ejus * usúra, et dolus.</div>
<div class="col-6 text-justify">Não se afastam das suas praças * a usura e o dolo.</div>
<div class="col-6 text-justify">Quóniam si inimícus meus maledixísset mihi, * sustinuíssem útique.</div>
<div class="col-6 text-justify">Se o ultraje viesse do meu inimigo, * por certo o teria suportado.</div>
<div class="col-6 text-justify">Et si is, qui óderat me, super me magna locútus fuísset, * abscondíssem me fórsitan ab eo.</div>
<div class="col-6 text-justify">E, se o que me odiava tivesse falado de mim com insolência, * talvez me teria escondido dele.</div>
<div class="col-6 text-justify">Tu vero, homo unánimis: * dux meus, et notus meus:</div>
<div class="col-6 text-justify">Contudo, tu, ó homem unânime: * meu guia e meu amigo:</div>
<div class="col-6 text-justify">Qui simul mecum dulces capiébas cibos: * in domo Dei ambulávimus cum consénsu.</div>
<div class="col-6 text-justify">Que juntamente comigo tomavas doces manjares: * ambulávamos com consenso na casa do Senhor.</div>
<div class="col-6 text-justify">Véniat mors super illos: * et descéndant in inférnum vivéntes:</div>
<div class="col-6 text-justify">Venha a morte sobre eles: * e desçam vivos ao inferno:</div>
<div class="col-6 text-justify">Quóniam nequítiæ in habitáculis eórum: * in médio eórum.</div>
<div class="col-6 text-justify">Porque a malícia está nas suas moradas: * no meio deles.</div>
<div class="col-6 text-justify">Ego autem ad Deum clamávi: * et Dóminus salvábit me.</div>
<div class="col-6 text-justify">Eu, porém, clamei a Deus: * e o Senhor salvar-me-á.</div>
<div class="col-6 text-justify">Véspere, et mane, et merídie narrábo et annuntiábo: * et exáudiet vocem meam.</div>
<div class="col-6 text-justify">De tarde, de manhã e ao meio-dia narrarei e anunciarei: * e Ele ouvirá a minha voz.</div>
<div class="col-6 text-justify">Rédimet in pace ánimam meam ab his, qui appropínquant mihi: * quóniam inter multos erant mecum.</div>
<div class="col-6 text-justify">Em paz Ele salvará a minha vida daqueles que me assaltam: * porque são muitos contra mim.</div>
<div class="col-6 text-justify">Exáudiet Deus, et humiliábit illos, * qui est ante sǽcula.</div>
<div class="col-6 text-justify">Deus ouvirá e humilhá-los-á, * O que é antes dos séculos.</div>
<div class="col-6 text-justify">Non enim est illis commutátio, et non timuérunt Deum: * exténdit manum suam in retribuéndo.</div>
<div class="col-6 text-justify">Pois não há mudança neles e não temeram a Deus: * estendeu a sua mão para lhes retribuir.</div>
<div class="col-6 text-justify">Contaminavérunt testaméntum ejus, divísi sunt ab ira vultus ejus: * et appropinquávit cor illíus.</div>
<div class="col-6 text-justify">Profanaram a sua aliança, foram divididos pela ira do seu rosto: * e o seu coração se aproximou.</div>
<div class="col-6 text-justify">Mollíti sunt sermónes ejus super óleum: * et ipsi sunt jácula.</div>
<div class="col-6 text-justify">Suas palavras são mais suaves que o azeite: * e as mesmas são flechas.</div>
<div class="col-6 text-justify">Jacta super Dóminum curam tuam, et ipse te enútriet: * non dabit in ætérnum fluctuatiónem justo.</div>
<div class="col-6 text-justify">Descarrega sobre o Senhor os teus cuidados e Ele te sustentará: * não deixará o justo em perpétua agitação.</div>
<div class="col-6 text-justify">Tu vero, Deus, dedúces eos, * in púteum intéritus.</div>
<div class="col-6 text-justify">Contudo, Vós, ó Deus, os conduzireis * ao poço da perdição.</div>
<div class="col-6 text-justify">Viri sánguinum, et dolósi non dimidiábunt dies suos: * ego autem sperábo in Te, Dómine.</div>
<div class="col-6 text-justify">Homens sanguinários e enganadores não chegarão à metade dos seus dias: * eu, porém, esperei em Vós, ó Senhor.</div>
