<div class="col-6 dropcaps text-justify">Miserére mei, Deus, quóniam conculcávit me homo: * tota die impúgnans tribulávit me.</div>
<div class="col-6 dropcaps text-justify">Tende misericórdia de mim, Deus, porque me calcou o homem: * angustiou-me combatendo-me todo o dia.</div>
<div class="col-6 text-justify">Conculcavérunt me inimíci mei tota die: * quóniam multi bellántes advérsum me.</div>
<div class="col-6 text-justify">Calcaram-me os meus inimigos todo o dia: * porque são muitos os que lutam contra mim.</div>
<div class="col-6 text-justify">Ab altitúdine diéi timébo: * ego vero in Te sperábo.</div>
<div class="col-6 text-justify">Temerei desde a aurora: * mas esperarei em Vós.</div>
<div class="col-6 text-justify">In Deo laudábo sermónes meos, in Deo sperávi: * non timébo quid fáciat mihi caro.</div>
<div class="col-6 text-justify">Em Deus louvarei a minha palavra, em Deus espero: * não temerei o que me possa fazer a carne.</div>
<div class="col-6 text-justify">Tota die verba mea exsecrabántur: * advérsum me omnes cogitatiónes eórum in malum.</div>
<div class="col-6 text-justify">Todos os dias abominavam as minhas palavras: * para o mal, todos seus pensamentos eram contra mim.</div>
<div class="col-6 text-justify">Inhabitábunt et abscóndent: * ipsi calcáneum meum observábunt.</div>
<div class="col-6 text-justify">Juntar-se-ão e esconder-se-ão: * espiarão todos meus passos.</div>
<div class="col-6 text-justify">Sicut sustinuérunt ánimam meam, pro níhilo salvos fácies illos: * in ira pópulos confrínges.</div>
<div class="col-6 text-justify">Como disputaram a minha alma, por nada os salvareis: * na vossa ira despedaçareis estes povos.</div>
<div class="col-6 text-justify">Deus, vitam meam annuntiávi tibi: * posuísti lácrimas meas in conspéctu tuo.</div>
<div class="col-6 text-justify">Ó Deus, a Vós expus a minha vida: * tendes presente as minhas lágrimas.</div>
<div class="col-6 text-justify">Sicut et in promissióne tua: * tunc converténtur inimíci mei retrórsum:</div>
<div class="col-6 text-justify">Conforme a vossa promessa: * depois serão postos em fuga os meus inimigos.</div>
<div class="col-6 text-justify">In quacúmque die invocávero Te: * ecce, cognóvi, quóniam Deus meus es.</div>
<div class="col-6 text-justify">Em qualquer dia que Vos invocar: * eis que conhecerei que sois o meu Deus.</div>
<div class="col-6 text-justify">In Deo laudábo verbum, in Dómino laudábo sermónem: * in Deo sperávi, non timébo quid fáciat mihi homo.</div>
<div class="col-6 text-justify">Em Deus louvarei a palavra, no Senhor louvarei o seu discurso: * em Deus espero, não temerei o que o homem me possa fazer.</div>
<div class="col-6 text-justify">In me sunt, Deus, vota tua, * quæ reddam, laudatiónes tibi.</div>
<div class="col-6 text-justify">Em mim estão, ó Deus, os votos que Vos fiz, * os quais cumprirei com louvores.</div>
<div class="col-6 text-justify">Quóniam eripuísti ánimam meam de morte, et pedes meos de lapsu: * ut pláceam coram Deo in lúmine vivéntium.</div>
<div class="col-6 text-justify">Porque livrastes a minha alma da morte e os meus pés da queda: * para que eu seja agradável a Deus na luz dos viventes.</div>
