<div class="col-6 dropcaps text-justify">Si vere útique justítiam loquímini: * recta judicáte, fílii hóminum.</div>
<div class="col-6 dropcaps text-justify">Se veramente falais justiça: * julgai com rectidão, ó filhos dos homens.</div>
<div class="col-6 text-justify">Étenim in corde iniquitátes operámini: * in terra injustítias manus vestræ concínnant.</div>
<div class="col-6 text-justify">De facto, obrais iniquidade no vosso coração: * e as vossas mãos tramam injustiças na terra.</div>
<div class="col-6 text-justify">Alienáti sunt peccatóres a vulva, erravérunt ab útero: * locúti sunt falsa.</div>
<div class="col-6 text-justify">Os pecadores alienaram-se desde o ventre, vaguearam desde o útero: * disseram falsidades.</div>
<div class="col-6 text-justify">Furor illis secúndum similitúdinem serpéntis: * sicut áspidis surdæ, et obturántis aures suas,</div>
<div class="col-6 text-justify">Sua loucura é semelhante à da serpente: * e à da surda áspide, que fecha os seus ouvidos,</div>
<div class="col-6 text-justify">Quæ non exáudiet vocem incantántium: * et venéfici incantántis sapiénter.</div>
<div class="col-6 text-justify">Que não ouve a voz dos encantadores: * nem a do mago que encanta segundo a sua arte.</div>
<div class="col-6 text-justify">Deus cónteret dentes eórum in ore ipsórum: * molas leónum confrínget Dóminus.</div>
<div class="col-6 text-justify">Deus quebrar-lhes-á os dentes na sua boca: * o Senhor quebrará as queixadas desses leões.</div>
<div class="col-6 text-justify">Ad níhilum devénient tamquam aqua decúrrens: * inténdit arcum suum donec infirméntur.</div>
<div class="col-6 text-justify">Serão reduzidos a nada como água que passa: * curvará o seu arco até que sejam abatidos.</div>
<div class="col-6 text-justify">Sicut cera, quæ fluit, auferéntur: * supercécidit ignis, et non vidérunt solem.</div>
<div class="col-6 text-justify">Como a cera que se derrete serão destruídos: * caiu fogo em cima deles e não viram mais o sol.</div>
<div class="col-6 text-justify">Priúsquam intellégerent spinæ vestræ rhamnum: * sicut vivéntes, sic in ira absórbet eos.</div>
<div class="col-6 text-justify">Antes que os vossos espinhos se convertam num arbusto: * Ele devorá-los-á na sua ira ainda vivos.</div>
<div class="col-6 text-justify">Lætábitur justus cum víderit vindíctam: * manus suas lavábit in sánguine peccatóris.</div>
<div class="col-6 text-justify">Alegrar-se-á o justo ao ver a vingança: * lavará as suas mãos no sangue do pecador.</div>
<div class="col-6 text-justify">Et dicet homo: si útique est fructus justo: * útique est Deus júdicans eos in terra.</div>
<div class="col-6 text-justify">O homem dirá: se de certo há fruto para o justo: * de certo há um Deus que os julga sobre a terra.</div>
