<div class="col-6 dropcaps text-justify">Éripe me de inimícis meis, Deus meus: * et ab insurgéntibus in me líbera me.</div>
<div class="col-6 dropcaps text-justify">Salvai-me, meu Deus, dos meus inimigos: * e livrai-me dos que se levantam contra mim.</div>
<div class="col-6 text-justify">Éripe me de operántibus iniquitátem: * et de viris sánguinum salva me.</div>
<div class="col-6 text-justify">Livrai-me dos que praticam a iniquidade: * e salvai-me dos homens sanguinários.</div>
<div class="col-6 text-justify">Quia ecce cepérunt ánimam meam: * irruérunt in me fortes.</div>
<div class="col-6 text-justify">Pois eis que tomaram a minha alma: * sobre mim vieram fortes homens.</div>
<div class="col-6 text-justify">Neque iníquitas mea, neque peccátum meum, Dómine: * sine iniquitáte cucúrri, et diréxi.</div>
<div class="col-6 text-justify">Não, por minha iniquidade ou por pecado meu, ó Senhor: * sem iniquidade segui e ordenei os meus passos.</div>
<div class="col-6 text-justify">Exsúrge in occúrsum meum, et vide: * et Tu, Dómine, Deus virtútum, Deus Israël,</div>
<div class="col-6 text-justify">Levantai-Vos em meu encontro e considerai: * e Vós, Senhor, Deus dos exércitos, Deus de Israel,</div>
<div class="col-6 text-justify">Inténde ad visitándas omnes gentes: * non misereáris ómnibus, qui operántur iniquitátem.</div>
<div class="col-6 text-justify">Cuidai de visitar todas as gentes: * não useis de piedade com todos os que obram iniquidade.</div>
<div class="col-6 text-justify">Converténtur ad vésperam: et famem patiéntur ut canes, * et circuíbunt civitátem.</div>
<div class="col-6 text-justify">Retornarão à tarde e terão fome como cães: * e rodearão a cidade.</div>
<div class="col-6 text-justify">Ecce, loquéntur in ore suo, et gládius in lábiis eórum: * quóniam quis audívit?</div>
<div class="col-6 text-justify">Eis que falarão com sua boca e uma espada estará nos seus lábios: * porque quem ouviu?</div>
<div class="col-6 text-justify">Et Tu, Dómine, deridébis eos: * ad níhilum dedúces omnes gentes.</div>
<div class="col-6 text-justify">Vós, ó Senhor, zombareis deles: * reduzireis a nada todas as gentes.</div>
<div class="col-6 text-justify">Fortitúdinem meam ad Te custódiam, quia, Deus, suscéptor meus es: * Deus meus, misericórdia ejus prævéniet me.</div>
<div class="col-6 text-justify">Depositarei em Vós a minha fortaleza, pois, ó Deus, sois o meu defensor: * a misericórdia do meu Deus antecipar-se-á.</div>
<div class="col-6 text-justify">Deus osténdet mihi super inimícos meos, ne occídas eos: * nequándo obliviscántur pópuli mei.</div>
<div class="col-6 text-justify">Deus dar-me-á a ver sobre os meus inimigos, não os mateis: * para que se não esqueça o meu povo.</div>
<div class="col-6 text-justify">Dispérge illos in virtúte tua: * et depóne eos, protéctor meus, Dómine:</div>
<div class="col-6 text-justify">Dispersai-os com vosso poder: * e os abatei, ó Senhor, protector meu:</div>
<div class="col-6 text-justify">Delíctum oris eórum, sermónem labiórum ipsórum: * et comprehendántur in supérbia sua.</div>
<div class="col-6 text-justify">Pelo pecado da sua boca, pelas palavras dos seus lábios: * e fiquem presos na sua mesma soberba.</div>
<div class="col-6 text-justify">Et de exsecratióne et mendácio annuntiabúntur in consummatióne: * in ira consummatiónis, et non erunt.</div>
<div class="col-6 text-justify">Publicar-se-ão as suas execrações e mentiras na consumação: * serão convencidos pela vossa ira e não subsistirão mais.</div>
<div class="col-6 text-justify">Et scient quia Deus dominábitur Jacob: * et fínium terræ.</div>
<div class="col-6 text-justify">Saberão que Deus reinará sobre Jacob: * e até aos confins da terra.</div>
<div class="col-6 text-justify">Converténtur ad vésperam: et famem patiéntur ut canes, * et circuíbunt civitátem.</div>
<div class="col-6 text-justify">Retornarão à tarde e terão fome como cães, * e rodearão a cidade.</div>
<div class="col-6 text-justify">Ipsi dispergéntur ad manducándum: * si vero non fúerint saturáti, et murmurábunt.</div>
<div class="col-6 text-justify">Andarão dispersos à busca de comer: * e, se não forem veramente saciados, murmurarão.</div>
<div class="col-6 text-justify">Ego autem cantábo fortitúdinem tuam: * et exsultábo mane misericórdiam tuam.</div>
<div class="col-6 text-justify">Eu, porém, cantarei a vossa fortaleza: * e celebrarei com alegria desde manhã a vossa misericórdia.</div>
<div class="col-6 text-justify">Quia factus es suscéptor meus, * et refúgium meum, in die tribulatiónis meæ.</div>
<div class="col-6 text-justify">Pois Vos fizestes meu protector, * e meu refúgio no dia da minha tribulação.</div>
<div class="col-6 text-justify">Adjútor meus, tibi psallam, quia, Deus, suscéptor meus es: * Deus meus, misericórdia mea.</div>
<div class="col-6 text-justify">Vos cantarei, protector meu, pois, ó Deus, sois o meu defensor: * Deus meu, misericórdia minha.</div>
