<div class="col-6 dropcaps text-justify">Deus, Deus meus, * ad Te de luce vígilo.</div>
<div class="col-6 dropcaps text-justify">Ó Deus, ó meu Deus, * a Vós vigio desde a aurora.</div>
<div class="col-6 text-justify">Sitívit in Te ánima mea, * quam multiplíciter tibi caro mea.</div>
<div class="col-6 text-justify">De Vós está sedenta a minha alma, * de quantas maneiras a minha carne.</div>
<div class="col-6 text-justify">In terra desérta, et ínvia, et inaquósa: * sic in sancto appárui tibi, ut vidérem virtútem tuam, et glóriam tuam.</div>
<div class="col-6 text-justify">Em terra deserta, intransitável e sem água: * no santuário me apresentei a Vós, para contemplar o vosso poder e a vossa glória.</div>
<div class="col-6 text-justify">Quóniam mélior est misericórdia tua super vitas: * lábia mea laudábunt Te.</div>
<div class="col-6 text-justify">Porque a vossa misericórdia é melhor que as vidas: * os meus lábios Vos louvarão.</div>
<div class="col-6 text-justify">Sic benedícam Te in vita mea: * et in nómine tuo levábo manus meas.</div>
<div class="col-6 text-justify">Assim Vos bendirei em minha vida: * e, invocando o vosso nome, levantarei as minhas mãos.</div>
<div class="col-6 text-justify">Sicut ádipe et pinguédine repleátur ánima mea: * et lábiis exsultatiónis laudábit os meum.</div>
<div class="col-6 text-justify">Como de banha e gordura seja farta a minha alma: * e com lábios de júbilo louvar-Vos-á a minha boca.</div>
<div class="col-6 text-justify">Si memor fui tui super stratum meum, in matutínis meditábor in Te: * quia fuísti adjútor meus.</div>
<div class="col-6 text-justify">Se me tenho lembrado de Vós sobre o meu leito, nas madrugadas meditarei em Vós: * pois fostes o meu defensor.</div>
<div class="col-6 text-justify">Et in velaménto alárum tuárum exsultábo, adhǽsit ánima mea post Te: * me suscépit déxtera tua.</div>
<div class="col-6 text-justify">À sombra de vossas asas me regozijarei, a minha alma está presa a Vós: * a vossa dextra me acolheu.</div>
<div class="col-6 text-justify">Ipsi vero in vanum quæsiérunt ánimam meam, introíbunt in inferióra terræ: * tradéntur in manus gládii, partes vúlpium erunt.</div>
<div class="col-6 text-justify">Eles em vão procuraram tirar-me a vida, entrarão nas profundidades da terra: * serão entregues ao poder da espada e virão a ser presa das raposas.</div>
<div class="col-6 text-justify">Rex vero lætábitur in Deo, laudabúntur omnes qui jurant in eo: * quia obstrúctum est os loquéntium iníqua.</div>
<div class="col-6 text-justify">Entretanto o rei alegrar-se-á em Deus, louvados serão todos os que juram por Ele: * pois foi fechada a boca aos que proferiam iniquidades.</div>
