<div class="col-6 dropcaps text-justify">Deus, judícium tuum regi da: * et justítiam tuam fílio regis:</div>
<div class="col-6 dropcaps text-justify">Dai o vosso juízo ao rei, ó Deus: * e a vossa justiça, ao filho do Rei:</div>
<div class="col-6 text-justify">Judicáre pópulum tuum in justítia, * et páuperes tuos in judício.</div>
<div class="col-6 text-justify">Para que julgue o vosso povo com justiça, * e vossos pobres com equidade.</div>
<div class="col-6 text-justify">Suscípiant montes pacem pópulo: * et colles justítiam.</div>
<div class="col-6 text-justify">Recebam os montes paz para o povo: * e as colinas justiça.</div>
<div class="col-6 text-justify">Judicábit páuperes pópuli, et salvos fáciet fílios páuperum: * et humiliábit calumniatórem.</div>
<div class="col-6 text-justify">Julgará os pobres do povo e salvará os filhos dos pobres: * e humilhará o caluniador.</div>
<div class="col-6 text-justify">Et permanébit cum sole, et ante lunam, * in generatióne et generatiónem.</div>
<div class="col-6 text-justify">Permanecerá com o sol e ante a lua, * de geração em geração.</div>
<div class="col-6 text-justify">Descéndet sicut plúvia in vellus: * et sicut stillicídia stillántia super terram.</div>
<div class="col-6 text-justify">Descerá como chuva sobre a lã: * e como orvalho que pinga sobre a terra.</div>
<div class="col-6 text-justify">Oriétur in diébus ejus justítia, et abundántia pacis: * donec auferátur luna.</div>
<div class="col-6 text-justify">Nos seus dias aparecerá a justiça e a abundância da paz: * até que a lua deixe de existir.</div>
<div class="col-6 text-justify">Et dominábitur a mari usque ad mare: * et a flúmine usque ad términos orbis terrárum.</div>
<div class="col-6 text-justify">Dominará de mar a mar: * e desde o rio até aos confins da órbita terrestre.</div>
<div class="col-6 text-justify">Coram illo prócident Æthíopes: * et inimíci ejus terram lingent.</div>
<div class="col-6 text-justify">Diante d’Ele prostrar-se-ão os Etíopes: * e os seus inimigos beijarão a terra.</div>
<div class="col-6 text-justify">Reges Tharsis, et ínsulæ múnera ófferent: * reges Árabum et Saba dona addúcent.</div>
<div class="col-6 text-justify">Os reis de Társis e as ilhas Lhe oferecerão dons: * os reis da Arábia e de Sabá Lhe trarão presentes.</div>
<div class="col-6 text-justify">Et adorábunt eum omnes reges terræ: * omnes gentes sérvient ei:</div>
<div class="col-6 text-justify">Adorá-l’O-ão todos os reis da terra: * todas as gentes o servirão:</div>
<div class="col-6 text-justify">Quia liberábit páuperem a poténte: * et páuperem, cui non erat adjútor.</div>
<div class="col-6 text-justify">Pois livrará o pobre do poderoso: * e o indigente que não tem quem lhe valha.</div>
<div class="col-6 text-justify">Parcet páuperi et ínopi: * et ánimas páuperum salvas fáciet.</div>
<div class="col-6 text-justify">Poupará o pobre e o desvalido: * e salvará as almas dos pobres.</div>
<div class="col-6 text-justify">Ex usúris et iniquitáte rédimet ánimas eórum: * et honorábile nomen eórum coram illo.</div>
<div class="col-6 text-justify">Resgatará as suas almas das usuras e da iniquidade: * e os seus nomes serão honrados na sua presença.</div>
<div class="col-6 text-justify">Et vivet, et dábitur ei de auro Arábiæ, et adorábunt de ipso semper: * tota die benedícent ei.</div>
<div class="col-6 text-justify">Viverá, apresentar-Lhe-ão do ouro da Arábia e adorá-l'O-ão sempre: * bendi-l'O-ão todo o dia.</div>
<div class="col-6 text-justify">Et erit firmaméntum in terra in summis móntium, superextollétur super Líbanum fructus ejus: * et florébunt de civitáte sicut fænum terræ.</div>
<div class="col-6 text-justify">Haverá mantimento na terra, no cume dos montes, erguer-se-á sobre o Líbano o seu fruto: * e florescerão os da cidade como a erva dos campos.</div>
<div class="col-6 text-justify">Sit nomen ejus benedíctum in sǽcula: * ante solem pérmanet nomen ejus.</div>
<div class="col-6 text-justify">Seja o seu nome bendito pelos séculos: * o seu nome existe antes do sol.</div>
<div class="col-6 text-justify">Et benedicéntur in ipso omnes tribus terræ: * omnes gentes magnificábunt eum.</div>
<div class="col-6 text-justify">Serão benditas n’Ele todas as tribos da terra: * todas as gentes O glorificarão.</div>
<div class="col-6 text-justify">Benedíctus Dóminus, Deus Israël, * qui facit mirabília solus:</div>
<div class="col-6 text-justify">Bendito seja o Senhor Deus de Israel, * é só Ele que faz maravilhas.</div>
<div class="col-6 text-justify">Et benedíctum nomen majestátis ejus in ætérnum: * et replébitur majestáte ejus omnis terra: fiat, fiat.</div>
<div class="col-6 text-justify">Bendito seja o nome da sua majestade para sempre: * e encher-se-á da sua majestade toda a terra: assim seja, assim seja.</div>
