<div class="col-6 dropcaps text-justify">Deus, venérunt gentes in hereditátem tuam, polluérunt templum sanctum tuum: * posuérunt Jerúsalem in pomórum custódiam.</div>
<div class="col-6 dropcaps text-justify">Ó Deus, vieram as gentes à vossa herança, contaminaram o vosso santo templo: * e fizeram de Jerusalém uma despensa de frutas.</div>
<div class="col-6 text-justify">Posuérunt morticína servórum tuórum, escas volatílibus cæli: * carnes sanctórum tuórum béstiis terræ.</div>
<div class="col-6 text-justify">Deram os cadáveres de vossos servos em pasto às aves do céu: * as carnes de vossos santos aos animais da terra.</div>
<div class="col-6 text-justify">Effudérunt sánguinem eórum tamquam aquam in circúitu Jerúsalem: * et non erat qui sepelíret.</div>
<div class="col-6 text-justify">Derramaram o seu sangue como água à volta de Jerusalém: * e não havia quem lhes desse sepultura.</div>
<div class="col-6 text-justify">Facti sumus oppróbrium vicínis nostris: * subsannátio et illúsio his, qui in circúitu nostro sunt.</div>
<div class="col-6 text-justify">Chegámos a ser a maior desonra dos nossos vizinhos: * o escárnio e a troça daqueles que nos rodeiam.</div>
<div class="col-6 text-justify">Úsquequo, Dómine, irascéris in finem: * accendétur velut ignis zelus tuus?</div>
<div class="col-6 text-justify">Até quando, ó Senhor, Vos haveis de irar para sempre: * até quando acender-se-á como fogo o vosso zelo?</div>
<div class="col-6 text-justify">Effúnde iram tuam in gentes, quæ Te non novérunt: * et in regna quæ nomen tuum non invocavérunt:</div>
<div class="col-6 text-justify">Derramai a vossa ira sobre as gentes que Vos não conhecem: * e sobre os reinos que não invocaram o vosso nome:</div>
<div class="col-6 text-justify">Quia comedérunt Jacob: * et locum ejus desolavérunt.</div>
<div class="col-6 text-justify">Pois eles devoraram Jacob: * e desolaram a sua morada.</div>
<div class="col-6 text-justify">Ne memíneris iniquitátum nostrárum antiquárum, cito antícipent nos misericórdiæ tuæ: * quia páuperes facti sumus nimis.</div>
<div class="col-6 text-justify">De nossas antigas maldades Vos não lembreis, antecipem-se quanto antes as vossas misericórdias: * pois fomos reduzidos à última miséria.</div>
<div class="col-6 text-justify">Ádjuva nos, Deus, salutáris noster: et propter glóriam nóminis tui, Dómine, líbera nos: * et propítius esto peccátis nostris, propter nomen tuum:</div>
<div class="col-6 text-justify">Ajudai-nos, ó Deus, nosso Salvador, e pela glória de vosso nome, ó Senhor, livrai-nos: * e perdoai os nossos pecados, por amor de vosso nome:</div>
<div class="col-6 text-justify">Ne forte dicant in géntibus: ubi est Deus eórum? * Et innotéscat in natiónibus coram óculis nostris.</div>
<div class="col-6 text-justify">Para que se não diga entre as gentes: o Deus deles onde está? * Fazei brilhar entre as nações e ante nossos olhos.</div>
<div class="col-6 text-justify">Ultio sánguinis servórum tuórum, qui effúsus est: * intróeat in conspéctu tuo gémitus compeditórum.</div>
<div class="col-6 text-justify">A vingança do sangue de vossos servos, que tem sido derramado: * cheguem à vossa presença os gemidos dos cativos.</div>
<div class="col-6 text-justify">Secúndum magnitúdinem brácchii tui, * pósside fílios mortificatórum.</div>
<div class="col-6 text-justify">Com o poder de vosso braço, * conservai os filhos dos que foram mortos.</div>
<div class="col-6 text-justify">Et redde vicínis nostris séptuplum in sinu eórum: * impropérium ipsórum, quod exprobravérunt tibi, Dómine.</div>
<div class="col-6 text-justify">Pagai aos nossos vizinhos com males sete vezes maiores: * a desonra que eles Vos fizeram, ó Senhor.</div>
<div class="col-6 text-justify">Nos autem pópulus tuus, et oves páscuæ tuæ, * confitébimur tibi in sǽculum.</div>
<div class="col-6 text-justify">Nós, porém, vosso povo e ovelhas de vosso pasto, * nós Vos glorificaremos para sempre.</div>
<div class="col-6 text-justify">In generatiónem et generatiónem * annuntiábimus laudem tuam.</div>
<div class="col-6 text-justify">De geração em geração * publicaremos os vossos louvores.</div>
