<div class="col-6 dropcaps text-justify">Qui regis Israël, inténde: * qui dedúcis velut ovem Joseph.</div>
<div class="col-6 dropcaps text-justify">Atendei, Vós que governais Israel: * que conduzis José como um pastor conduz uma ovelha.</div>
<div class="col-6 text-justify">Qui sedes super Chérubim, * manifestáre coram Éphraim, Bénjamin, et Manásse.</div>
<div class="col-6 text-justify">Que estais sentado sobre os querubins, * manifestai ante Efraim, Benjamim e Manassés.</div>
<div class="col-6 text-justify">Éxcita poténtiam tuam, et veni, * ut salvos fácias nos.</div>
<div class="col-6 text-justify">Mostrai o vosso poder e vem, * para nos salvar.</div>
<div class="col-6 text-justify">Deus, convérte nos: * et osténde fáciem tuam, et salvi érimus.</div>
<div class="col-6 text-justify">Ó Deus, convertei-nos: * mostrai-nos o vosso rosto e seremos salvos.</div>
<div class="col-6 text-justify">Dómine, Deus virtútum, * quoúsque irascéris super oratiónem servi tui?</div>
<div class="col-6 text-justify">Senhor Deus dos exércitos, * até quando estareis furioso, sem ouvir a oração de vosso servo?</div>
<div class="col-6 text-justify">Cibábis nos pane lacrimárum: * et potum dabis nobis in lácrimis in mensúra?</div>
<div class="col-6 text-justify">Até quando nos sustentareis com pão de lágrimas: * e nos dareis a beber lágrimas com abundância?</div>
<div class="col-6 text-justify">Posuísti nos in contradictiónem vicínis nostris: * et inimíci nostri subsannavérunt nos.</div>
<div class="col-6 text-justify">Fizestes-nos um objecto de disputa para os nossos vizinhos: * e os nossos inimigos fizeram escárnio de nós.</div>
<div class="col-6 text-justify">Deus virtútum, convérte nos: * et osténde fáciem tuam, et salvi érimus.</div>
<div class="col-6 text-justify">Deus dos exércitos, restaurai-nos: * mostrai-nos o vosso rosto e seremos salvos.</div>
<div class="col-6 text-justify">Víneam de Ægýpto transtulísti: * ejecísti gentes, et plantásti eam.</div>
<div class="col-6 text-justify">Trasladastes a vossa vinha do Egipto: * plantaste-la em seu lugar e lançastes fora as gentes.</div>
<div class="col-6 text-justify">Dux itíneris fuísti in conspéctu ejus: * plantásti radíces ejus, et implévit terram.</div>
<div class="col-6 text-justify">Fostes guia no caminho diante dela: * plantastes as suas raízes e encheu a terra.</div>
<div class="col-6 text-justify">Opéruit montes umbra ejus: * et arbústa ejus cedros Dei.</div>
<div class="col-6 text-justify">Sua sombra cobriu os montes: * e os seus ramos os cedros de Deus.</div>
<div class="col-6 text-justify">Exténdit pálmites suos usque ad mare: * et usque ad flumen propágines ejus.</div>
<div class="col-6 text-justify">Estendeu a sua ramagem até ao mar: * e até ao rio os seus rebentos.</div>
<div class="col-6 text-justify">Ut quid destruxísti macériam ejus: * et vindémiant eam omnes, qui prætergrediúntur viam?</div>
<div class="col-6 text-justify">Para que destruístes o seu muro: * para que a vindimem todos os que pelo caminho passam?</div>
<div class="col-6 text-justify">Exterminávit eam aper de silva: * et singuláris ferus depástus est eam.</div>
<div class="col-6 text-justify">O javali da selva destruiu-a: * e a fera selvagem a devorou.</div>
<div class="col-6 text-justify">Deus virtútum, convértere: * réspice de cælo, et vide, et vísita víneam istam.</div>
<div class="col-6 text-justify">Ó Deus dos exércitos, voltai-Vos: * olhai do céu, vede e visitai esta vinha.</div>
<div class="col-6 text-justify">Et pérfice eam, quam plantávit déxtera tua: * et super fílium hóminis, quem confirmásti tibi.</div>
<div class="col-6 text-justify">Protegei aquela que a vossa dextra plantou: * e olhai para o filho do homem, a quem escolhestes.</div>
<div class="col-6 text-justify">Incénsa igni, et suffóssa * ab increpatióne vultus tui períbunt.</div>
<div class="col-6 text-justify">Ela foi queimada pelo fogo e escavada: * ante vosso rosto perecerá.</div>
<div class="col-6 text-justify">Fiat manus tua super virum déxteræ tuæ: * et super fílium hóminis, quem confirmásti tibi.</div>
<div class="col-6 text-justify">Estendei a vossa mão sobre o homem de vossa dextra: * e sobre o filho do homem que escolhestes para Vós.</div>
<div class="col-6 text-justify">Et non discédimus a Te, vivificábis nos: * et nomen tuum invocábimus.</div>
<div class="col-6 text-justify">Então nos não afastaremos de Vós, vida nos dareis: * e invocaremos o vosso nome.</div>
<div class="col-6 text-justify">Dómine, Deus virtútum, convérte nos: * et osténde fáciem tuam, et salvi érimus.</div>
<div class="col-6 text-justify">Ó Senhor Deus dos exércitos, convertei-nos: * mostrai-nos o vosso rosto e seremos salvos.</div>
