<div class="col-6 dropcaps text-justify">Exsultáte Deo, adjutóri nostro: * jubiláte Deo Jacob.</div>
<div class="col-6 dropcaps text-justify">Exultai-vos louvando a Deus, nosso protector: * cantai com alegria a Deus de Jacob.</div>
<div class="col-6 text-justify">Súmite psalmum, et date týmpanum: * psaltérium jucúndum cum cíthara.</div>
<div class="col-6 text-justify">Entoai um salmo e tocai os timbales: * o saltério harmonioso, com a cítara.</div>
<div class="col-6 text-justify">Buccináte in Neoménia tuba, * in insígni die solemnitátis vestræ.</div>
<div class="col-6 text-justify">Tocai a trombeta na lua nova, * no dia notável de vossa solenidade.</div>
<div class="col-6 text-justify">Quia præcéptum in Israël est: * et judícium Deo Jacob.</div>
<div class="col-6 text-justify">Pois é um preceito para Israel: * e uma ordem do Deus de Jacob.</div>
<div class="col-6 text-justify">Testimónium in Joseph pósuit illud, cum exíret de terra Ægýpti: * linguam, quam non nóverat, audívit.</div>
<div class="col-6 text-justify">Estabeleceu isto como lei para José, quando saía da terra do Egipto: * quando ouviu uma língua que não entendia.</div>
<div class="col-6 text-justify">Divértit ab onéribus dorsum ejus: * manus ejus in cóphino serviérunt.</div>
<div class="col-6 text-justify">Libertou os seus ombros dos fardos: * as suas mãos escravizadas nos cestos.</div>
<div class="col-6 text-justify">In tribulatióne invocásti me, et liberávi te: * exaudívi te in abscóndito tempestátis: probávi te apud aquam contradictiónis.</div>
<div class="col-6 text-justify">Na tribulação me invocaste e eu te livrei: * ouvi-te no recôndito da tempestade, provei-te junto das águas da contradição.</div>
<div class="col-6 text-justify">Audi, pópulus meus, et contestábor te: * Israël, si audíeris me, non erit in te deus recens, neque adorábis deum aliénum.</div>
<div class="col-6 text-justify">Ouve, ó povo meu, e eu te instruirei: * Israel, se me ouvires, não haverá em ti deus novo, nem deus estranho adorarás.</div>
<div class="col-6 text-justify">Ego enim sum Dóminus Deus tuus, qui edúxi te de terra Ægýpti: * diláta os tuum, et implébo illud.</div>
<div class="col-6 text-justify">Eu sou, de facto, o Senhor teu Deus, que te tirei da terra do Egipto: * abre a tua boca e a rechearei.</div>
<div class="col-6 text-justify">Et non audívit pópulus meus vocem meam: * et Israël non inténdit mihi.</div>
<div class="col-6 text-justify">Meu povo não ouviu minha voz: * e Israel me não atendeu.</div>
<div class="col-6 text-justify">Et dimísi eos secúndum desidéria cordis eórum: * ibunt in adinventiónibus suis.</div>
<div class="col-6 text-justify">Abandonei-os aos desejos do seu coração: * eles irão caminhando atrás dos seus devaneios.</div>
<div class="col-6 text-justify">Si pópulus meus audísset me: * Israël si in viis meis ambulásset:</div>
<div class="col-6 text-justify">Se o meu povo me tivesse ouvido: * se Israel tivesse andado nos meus caminhos:</div>
<div class="col-6 text-justify">Pro níhilo fórsitan inimícos eórum humiliássem: * et super tribulántes eos misíssem manum meam.</div>
<div class="col-6 text-justify">Facilmente teria podido humilhar os seus inimigos: * e a minha mão teria caído sobre os seus opressores.</div>
<div class="col-6 text-justify">Inimíci Dómini mentíti sunt ei: * et erit tempus eórum in sǽcula.</div>
<div class="col-6 text-justify">Os inimigos do Senhor mentiram-Lhe: * e o tempo deles será eterno.</div>
<div class="col-6 text-justify">Et cibávit eos ex ádipe fruménti: * et de petra, melle saturávit eos.</div>
<div class="col-6 text-justify">Apesar disso alimentou-os da flor do trigo: * e saciou-os de mel saído da pedra.</div>
