<div class="col-6 dropcaps text-justify">Quam dilécta tabernácula tua, Dómine virtútum: * concupíscit, et déficit ánima mea in átria Dómini.</div>
<div class="col-6 dropcaps text-justify">Quão amáveis são os vossos tabernáculos, Senhor dos exércitos: * a minha alma suspira e desfalece pelos átrios do Senhor.</div>
<div class="col-6 text-justify">Cor meum, et caro mea * exsultavérunt in Deum vivum.</div>
<div class="col-6 text-justify">Meu coração e minha carne * regozijam-se no Deus vivo.</div>
<div class="col-6 text-justify">Étenim passer invénit sibi domum: * et turtur nidum sibi, ubi ponat pullos suos.</div>
<div class="col-6 text-justify">De facto, o passarinho acha casa para si: * e a rola um ninho para lá pôr os seus filhinhos.</div>
<div class="col-6 text-justify">Altária tua, Dómine virtútum: * Rex meus, et Deus meus.</div>
<div class="col-6 text-justify">Vossos altares, Senhor dos exércitos: * meu Rei e meu Deus.</div>
<div class="col-6 text-justify">Beáti, qui hábitant in domo tua, Dómine: * in sǽcula sæculórum laudábunt Te.</div>
<div class="col-6 text-justify">Senhor, bem-aventurados os que moram na vossa casa: * pelos séculos dos séculos Vos louvarão.</div>
<div class="col-6 text-justify">Beátus vir, cujus est auxílium abs Te: * ascensiónes in corde suo dispósuit, in valle lacrimárum in loco, quem pósuit.</div>
<div class="col-6 text-justify">Bem-aventurado o varão que de Vós espera auxílio: * preparou elevações no seu coração, neste vale de lágrimas, no lugar que destinou.</div>
<div class="col-6 text-justify">Étenim benedictiónem dabit legislátor, ibunt de virtúte in virtútem: * vidébitur Deus deórum in Sion.</div>
<div class="col-6 text-justify">De facto, o legislador dar-lhe-á a sua bênção, caminhará de virtude em virtude: * será visto o Deus dos deuses em Sião.</div>
<div class="col-6 text-justify">Dómine, Deus virtútum, exáudi oratiónem meam: * áuribus pércipe, Deus Jacob.</div>
<div class="col-6 text-justify">Senhor, ó Deus dos exércitos, ouvi a minha oração: * prestai ouvidos, ó Deus de Jacob.</div>
<div class="col-6 text-justify">Protéctor noster, áspice, Deus: * et réspice in fáciem Christi tui:</div>
<div class="col-6 text-justify">Ó Deus nosso protector, olhai para nós: * e ponde os olhos no rosto de vosso Cristo:</div>
<div class="col-6 text-justify">Quia mélior est dies una in átriis tuis, * super míllia.</div>
<div class="col-6 text-justify">Pois é melhor um só dia nos vossos átrios, * que milhares.</div>
<div class="col-6 text-justify">Elégi abjéctus esse in domo Dei mei: * magis quam habitáre in tabernáculis peccatórum.</div>
<div class="col-6 text-justify">Preferi ser o último na casa do meu Deus: * a morar nas tendas dos pecadores.</div>
<div class="col-6 text-justify">Quia misericórdiam, et veritátem díligit Deus: * grátiam et glóriam dabit Dóminus.</div>
<div class="col-6 text-justify">Pois Deus ama a misericórdia e a verdade: * o Senhor dará a graça e a glória.</div>
<div class="col-6 text-justify">Non privábit bonis eos, qui ámbulant in innocéntia: * Dómine virtútum, beátus homo, qui sperat in Te.</div>
<div class="col-6 text-justify">Não privará de seus bens aqueles que andam na inocência: * ó Senhor dos exércitos, bem-aventurado o homem que em Vós espera.</div>
