<div class="col-6 dropcaps text-justify">Inclína, Dómine, aurem tuam, et exáudi me: * quóniam inops, et pauper sum ego.</div>
<div class="col-6 dropcaps text-justify">Inclinai, ó Senhor, o vosso ouvido e ouvi-me: * porque estou carente e pobre.</div>
<div class="col-6 text-justify">Custódi ánimam meam, quóniam sanctus sum: * salvum fac servum tuum, Deus meus, sperántem in Te.</div>
<div class="col-6 text-justify">Velai a minha alma, porque sou santo: * salvai, ó meu Deus, o vosso servo, que em Vós espera.</div>
<div class="col-6 text-justify">Miserére mei, Dómine, quóniam ad Te clamávi tota die: * lætífica ánimam servi tui, quóniam ad Te, Dómine, ánimam meam levávi.</div>
<div class="col-6 text-justify">Senhor, tende misericórdia de mim, porque a Vós clamei todo dia: * alegrai a alma de vosso servo, porque a Vós, ó Senhor, elevei a minha alma.</div>
<div class="col-6 text-justify">Quóniam Tu, Dómine, suávis, et mitis: * et multæ misericórdiæ ómnibus invocántibus Te.</div>
<div class="col-6 text-justify">Porque Vós, ó Senhor, sois suave e manso: * e de muita misericórdia para todos os que Vos invocam.</div>
<div class="col-6 text-justify">Áuribus pércipe, Dómine, oratiónem meam: * et inténde voci deprecatiónis meæ.</div>
<div class="col-6 text-justify">Prestai ouvidos, ó Senhor, à minha oração: * e atendei à voz da minha súplica.</div>
<div class="col-6 text-justify">In die tribulatiónis meæ clamávi ad Te: * quia exaudísti me.</div>
<div class="col-6 text-justify">No dia da minha tribulação clamei a Vós: * pois me tendes ouvido.</div>
<div class="col-6 text-justify">Non est símilis tui in diis, Dómine: * et non est secúndum ópera tua.</div>
<div class="col-6 text-justify">Não há semelhante a Vós nos deuses, ó Senhor: * e conforme vossas obras não há.</div>
<div class="col-6 text-justify">Omnes gentes quascúmque fecísti, vénient, et adorábunt coram Te, Dómine: * et glorificábunt nomen tuum.</div>
<div class="col-6 text-justify">Senhor, todas as gentes que criastes virão e prostradas Vos adorarão: * e glorificarão o vosso nome.</div>
<div class="col-6 text-justify">Quóniam magnus es Tu, et fáciens mirabília: * Tu es Deus solus.</div>
<div class="col-6 text-justify">Porque Vós sois grande e fazeis maravilhas: * só Vós sois Deus.</div>
<div class="col-6 text-justify">Deduc me, Dómine, in via tua, et ingrédiar in veritáte tua: * lætétur cor meum ut tímeat nomen tuum.</div>
<div class="col-6 text-justify">Guiai-me, ó Senhor, pelo vosso caminho e andarei na vossa verdade: * alegre-se o meu coração no temor do vosso nome.</div>
<div class="col-6 text-justify">Confitébor tibi, Dómine, Deus meus, in toto corde meo, * et glorificábo nomen tuum in ætérnum:</div>
<div class="col-6 text-justify">Louvar-Vos-ei, ó Senhor meu Deus, com todo meu coração, * e glorificarei eternamente o vosso nome:</div>
<div class="col-6 text-justify">Quia misericórdia tua magna est super me: * et eruísti ánimam meam ex inférno inferióri.</div>
<div class="col-6 text-justify">Pois vossa misericórdia é grande para comigo: * e livrastes a minha alma do mais profundo inferno.</div>
<div class="col-6 text-justify">Deus, iníqui insurrexérunt super me, et synagóga poténtium quæsiérunt ánimam meam: * et non proposuérunt Te in conspéctu suo.</div>
<div class="col-6 text-justify">Ó Deus, levantaram-se os maus contra mim e atentou contra a minha vida uma reunião de poderosos: * sem que Vos tivessem ante seus olhos presente.</div>
<div class="col-6 text-justify">Et Tu, Dómine, Deus miserátor et miséricors, * pátiens, et multæ misericórdiæ, et verax,</div>
<div class="col-6 text-justify">Vós sois, ó Senhor Deus, compassivo e clemente, * paciente, de muita misericórdia e veraz,</div>
<div class="col-6 text-justify">Réspice in me, et miserére mei, * da impérium tuum púero tuo: et salvum fac fílium ancíllæ tuæ.</div>
<div class="col-6 text-justify">Olhai para mim e tende piedade de mim, * dai o vosso império ao vosso servo e salvai o filho de vossa serva.</div>
<div class="col-6 text-justify">Fac mecum signum in bonum, ut vídeant qui odérunt me, et confundántur: * quóniam Tu, Dómine, adjuvísti me, et consolátus es me.</div>
<div class="col-6 text-justify">Operai em mim sinais de bondade, para que vejam os que me odeiam e sejam confundidos: * porque Vós, Senhor, me tendes socorrido e consolado.</div>
