<div class="col-6 dropcaps text-justify">
  Fundaménta ejus in móntibus sanctis: * díligit Dóminus portas Sion super ómnia
  tabernácula Jacob.
</div>
<div class="col-6 dropcaps text-justify">
  Os seus fundamentos estão sobre os montes santos: * o Senhor ama as portas de
  Sião mais que todos os tabernáculos de Jacob.
</div>
<div class="col-6 text-justify">Gloriósa dicta sunt de te, * cívitas Dei.</div>
<div class="col-6 text-justify">
  Coisas gloriosas se têm dito de ti, * ó cidade de Deus.
</div>
<div class="col-6 text-justify">
  Memor ero Rahab, et Babylónis * sciéntium me.
</div>
<div class="col-6 text-justify">
  Lembrar-me-ei de Raab e de Babilónia, * que me conhecem.
</div>
<div class="col-6 text-justify">
  Ecce, alienígenæ, et Tyrus, et pópulus Æthíopum, * hi fuérunt illic.
</div>
<div class="col-6 text-justify">
  Eis os estrangeiros, Tiro e o povo dos Etíopes, * todos estes estarão lá.
</div>
<div class="col-6 text-justify">
  Numquid Sion dicet: homo, et homo natus est in ea: * et ipse fundávit eam
  Altíssimus?
</div>
<div class="col-6 text-justify">
  Porventura se não dirá a Sião: um grande número de homens nasceu nela: * e a
  fundou o mesmo Altíssimo?
</div>
<div class="col-6 text-justify">
  Dóminus narrábit in scriptúris populórum, et príncipum: * horum, qui fuérunt
  in ea.
</div>
<div class="col-6 text-justify">
  O Senhor poderá contar, no registo dos povos e dos príncipes: * o número
  daqueles que nela estiveram.
</div>
<div class="col-6 text-justify">
  Sicut lætántium ómnium * habitátio est in te.
</div>
<div class="col-6 text-justify">
  Estão todos cheios de alegria* os que habitam dentro de ti.
</div>
