<div class="col-6 dropcaps text-justify">Dómine, Deus salútis meæ: * in die clamávi, et nocte coram Te.</div>
<div class="col-6 dropcaps text-justify">Senhor Deus da minha salvação: * de dia e de noite clamei ante Vós.</div>
<div class="col-6 text-justify">Intret in conspéctu tuo orátio mea: * inclína aurem tuam ad precem meam:</div>
<div class="col-6 text-justify">Chegue à vossa presença a minha oração: * inclinai o vosso ouvido à minha súplica:</div>
<div class="col-6 text-justify">Quia repléta est malis ánima mea: * et vita mea inférno appropinquávit.</div>
<div class="col-6 text-justify">Pois a minha alma está repleta de males: * e a minha vida aproxima-se do inferno.</div>
<div class="col-6 text-justify">Æstimátus sum cum descendéntibus in lacum: * factus sum sicut homo sine adjutório, inter mórtuos liber.</div>
<div class="col-6 text-justify">Sou contado entre os que descem à cova: * tornei-me como um homem sem socorro, abandonado entre os mortos.</div>
<div class="col-6 text-justify">Sicut vulneráti dormiéntes in sepúlcris, quorum non es memor ámplius: * et ipsi de manu tua repúlsi sunt.</div>
<div class="col-6 text-justify">Como os feridos que dormem nos sepulcros, de quem já Vos não lembrais: * e que foram repelidos de vossa mão.</div>
<div class="col-6 text-justify">Posuérunt me in lacu inferióri: * in tenebrósis, et in umbra mortis.</div>
<div class="col-6 text-justify">Puseram-me num fosso profundo: * em lugares tenebrosos e na sombra da morte.</div>
<div class="col-6 text-justify">Super me confirmátus est furor tuus: * et omnes fluctus tuos induxísti super me.</div>
<div class="col-6 text-justify">Sobre mim pesou a vossa fúria: * e fizestes vir sobre mim todas vossas ondas.</div>
<div class="col-6 text-justify">Longe fecísti notos meos a me: * posuérunt me abominatiónem sibi.</div>
<div class="col-6 text-justify">Afastastes de mim os meus conhecidos: * fizeram de mim o objecto da sua abominação.</div>
<div class="col-6 text-justify">Tráditus sum, et non egrediébar: * óculi mei languérunt præ inópia.</div>
<div class="col-6 text-justify">Entregue fui e sem poder sair: * os meus olhos desfaleceram de miséria.</div>
<div class="col-6 text-justify">Clamávi ad Te, Dómine, tota die: * expándi ad Te manus meas.</div>
<div class="col-6 text-justify">A Vós, ó Senhor, clamei todo o dia: * para Vós estendi as minhas mãos.</div>
<div class="col-6 text-justify">Numquid mórtuis fácies mirabília: * aut médici suscitábunt, et confitebúntur tibi?</div>
<div class="col-6 text-justify">Porventura fareis milagres em mercê dos mortos: * porventura os médicos os ressuscitarão, para que Vos louvem?</div>
<div class="col-6 text-justify">Numquid narrábit áliquis in sepúlcro misericórdiam tuam, * et veritátem tuam in perditióne?</div>
<div class="col-6 text-justify">Acaso publicará alguém na sepultura a vossa misericórdia, * e a vossa verdade na perdição?</div>
<div class="col-6 text-justify">Numquid narrábit áliquis in sepúlcro misericórdiam tuam, * et veritátem tuam in perditióne?</div>
<div class="col-6 text-justify">Acaso publicará alguém na sepultura a vossa misericórdia, * e a vossa verdade no túmulo?</div>
<div class="col-6 text-justify">Numquid cognoscéntur in ténebris mirabília tua, * et justítia tua in terra obliviónis?</div>
<div class="col-6 text-justify">Porventura vossas maravilhas serão conhecidas nas trevas, * e a vossa justiça na terra do esquecimento?</div>
<div class="col-6 text-justify">Et ego ad Te, Dómine, clamávi: * et mane orátio mea prævéniet Te.</div>
<div class="col-6 text-justify">Por isso eu, ó Senhor, a Vós clamo: * e logo de manhã vai ante Vós a minha oração.</div>
<div class="col-6 text-justify">Ut quid, Dómine, repéllis oratiónem meam: * avértis fáciem tuam a me?</div>
<div class="col-6 text-justify">Porque rejeitais, ó Senhor, a minha oração: * e apartais de mim a vossa face?</div>
<div class="col-6 text-justify">Pauper sum ego, et in labóribus a juventúte mea: * exaltátus autem, humiliátus sum et conturbátus.</div>
<div class="col-6 text-justify">Sou um pobre e vivo em trabalhos desde a minha mocidade: * e, depois de exaltado, fui humilhado e conturbado.</div>
<div class="col-6 text-justify">In me transiérunt iræ tuæ: * et terróres tui conturbavérunt me.</div>
<div class="col-6 text-justify">Por cima de mim passaram as vossas iras: * e os vossos terrores me conturbaram.</div>
<div class="col-6 text-justify">Circumdedérunt me sicut aqua tota die: * circumdedérunt me simul.</div>
<div class="col-6 text-justify">Cercaram-me com água todo o dia: * juntos me cercaram.</div>
<div class="col-6 text-justify">Elongásti a me amícum et próximum: * et notos meos a miséria.</div>
<div class="col-6 text-justify">Afastastes de mim amigos e parentes: * e os meus conhecidos, devido à miséria.</div>
