<div class="col-6 dropcaps text-justify">Dómine, refúgium factus es nobis: * a generatióne in generatiónem.</div>
<div class="col-6 dropcaps text-justify">Senhor tendes sido o nosso refúgio: * de geração em geração.</div>
<div class="col-6 text-justify">Priúsquam montes fíerent, aut formarétur terra et orbis: * a sǽculo et usque in sǽculum Tu es, Deus.</div>
<div class="col-6 text-justify">Antes que os montes fossem feitos, ou que a terra e o mundo fossem formados: * Deus sois desde toda a eternidade e pelos séculos.</div>
<div class="col-6 text-justify">Ne avértas hóminem in humilitátem: * et dixísti: convertímini, fílii hóminum.</div>
<div class="col-6 text-justify">Não reduzais o homem ao abatimento: * e dissestes: convertei-vos, filhos dos homens.</div>
<div class="col-6 text-justify">Quóniam mille anni ante óculos tuos, * tamquam dies hestérna, quæ prætériit,</div>
<div class="col-6 text-justify">Porque mil anos, aos vossos olhos, * são como o dia de ontem, que passou,</div>
<div class="col-6 text-justify">Et custódia in nocte, * quæ pro níhilo habéntur, eórum anni erunt.</div>
<div class="col-6 text-justify">E a vigília da noite, * que em nada se estimam, assim serão seus anos.</div>
<div class="col-6 text-justify">Mane sicut herba tránseat, mane flóreat, et tránseat: * véspere décidat, indúret et aréscat.</div>
<div class="col-6 text-justify">De manhã levanta-se como a erva, pela manhã floresce e passa: * à tarde cai, endurece e seca.</div>
<div class="col-6 text-justify">Quia defécimus in ira tua, * et in furóre tuo turbáti sumus.</div>
<div class="col-6 text-justify">Pois desfalecemos na vossa ira, * e na vossa fúria somos turvados.</div>
<div class="col-6 text-justify">Posuísti iniquitátes nostras in conspéctu tuo: * sǽculum nostrum in illuminatióne vultus tui.</div>
<div class="col-6 text-justify">Pusestes as nossas iniquidades à vossa vista: * o nosso proceder à luz de vossa face.</div>
<div class="col-6 text-justify">Quóniam omnes dies nostri defecérunt: * et in ira tua defécimus.</div>
<div class="col-6 text-justify">Por isso todos nossos dias se desvaneceram: * e fomos consumidos pela vossa ira.</div>
<div class="col-6 text-justify">Anni nostri sicut aránea meditabúntur: * dies annórum nostrórum in ipsis, septuagínta anni.</div>
<div class="col-6 text-justify">Os nossos anos serão considerados como uma aranha: * os anos da nossa vida são em si setenta.</div>
<div class="col-6 text-justify">Si autem in potentátibus, octogínta anni: * et ámplius eórum, labor et dolor.</div>
<div class="col-6 text-justify">Nos mais robustos oitenta anos: * e passando não é mais que trabalho e dor.</div>
<div class="col-6 text-justify">Quóniam supervénit mansuetúdo: * et corripiémur.</div>
<div class="col-6 text-justify">Porque então a fraqueza sucede: * e somos arrebatados.</div>
<div class="col-6 text-justify">Quis novit potestátem iræ tuæ: * et præ timóre tuo iram tuam dinumeráre?</div>
<div class="col-6 text-justify">Quem conhecerá o poder de vossa ira: * e compreenderá quão terrível é a vossa indignação?</div>
<div class="col-6 text-justify">Déxteram tuam sic notam fac: * et erudítos corde in sapiéntia.</div>
<div class="col-6 text-justify">Ensinai-nos a conhecer a vossa dextra: * e instruí o coração na sabedoria.</div>
<div class="col-6 text-justify">Convértere, Dómine, úsquequo? * Et deprecábilis esto super servos tuos.</div>
<div class="col-6 text-justify">Voltai-Vos, ó Senhor, até quando? * Sede compassivo para com vossos servos.</div>
<div class="col-6 text-justify">Repléti sumus mane misericórdia tua: * et exsultávimus, et delectáti sumus ómnibus diébus nostris.</div>
<div class="col-6 text-justify">Fomos cumulados de vossa misericórdia de manhã: * e exultamos de alegria e felicidade todos nossos dias.</div>
<div class="col-6 text-justify">Lætáti sumus pro diébus, quibus nos humiliásti: * annis, quibus vídimus mala.</div>
<div class="col-6 text-justify">Alegramo-nos pelos dias em que nos humilhastes: * pelos anos em que males vimos.</div>
<div class="col-6 text-justify">Réspice in servos tuos, et in ópera tua: * et dírige fílios eórum.</div>
<div class="col-6 text-justify">Ponde os olhos nos vossos servos e nas vossas obras: * e guiai os seus filhos.</div>
<div class="col-6 text-justify">Et sit splendor Dómini, Dei nostri, super nos, et ópera mánuum nostrárum dírige super nos: * et opus mánuum nostrárum dírige.</div>
<div class="col-6 text-justify">Brilhe sobre nós a luz do Senhor nosso Deus, dirigi em nós as obras de nossas mãos: * sim, dirigi a obra de nossas mãos.</div>
