<div class="col-6 dropcaps text-justify">Bonum est confitéri Dómino: * et psállere nómini tuo, Altíssime.</div>
<div class="col-6 dropcaps text-justify">Bom é louvar o Senhor: * e cantar ao vosso nome, ó Altíssimo.</div>
<div class="col-6 text-justify">Ad annuntiándum mane misericórdiam tuam: * et veritátem tuam per noctem.</div>
<div class="col-6 text-justify">Para publicar pela manhã a vossa misericórdia: * e durante a noite a vossa verdade.</div>
<div class="col-6 text-justify">In decachórdo, psaltério: * cum cántico, in cíthara.</div>
<div class="col-6 text-justify">Com o saltério de dez cordas: * com cântico, na cítara.</div>
<div class="col-6 text-justify">Quia delectásti me, Dómine, in factúra tua: * et in opéribus mánuum tuárum exsultábo.</div>
<div class="col-6 text-justify">Pois me alegrastes, ó Senhor, com vossas obras: * e exulto com as obras de vossas mãos.</div>
<div class="col-6 text-justify">Quam magnificáta sunt ópera tua, Dómine! * nimis profúndæ factæ sunt cogitatiónes tuæ.</div>
<div class="col-6 text-justify">Quão magníficas são, ó Senhor, as vossas obras! * Profundíssimos são os vossos pensamentos.</div>
<div class="col-6 text-justify">Vir insípiens non cognóscet: * et stultus non intélleget hæc.</div>
<div class="col-6 text-justify">O parvo varão não conhecerá: * e o ignorante as não compreenderá.</div>
<div class="col-6 text-justify">Cum exórti fúerint peccatóres sicut fænum: * et apparúerint omnes, qui operántur iniquitátem:</div>
<div class="col-6 text-justify">Quando os pecadores crescerem como a erva: * e aparecerem todos os que cometem a iniquidade:</div>
<div class="col-6 text-justify">Ut intéreant in sǽculum sǽculi: * Tu autem Altíssimus in ætérnum, Dómine.</div>
<div class="col-6 text-justify">Imediatamente perecerão para sempre: * mas Vós, ó Senhor, sois eternamente o Altíssimo.</div>
<div class="col-6 text-justify">Quóniam ecce inimíci tui, Dómine, quóniam ecce inimíci tui períbunt: * et dispergéntur omnes, qui operántur iniquitátem.</div>
<div class="col-6 text-justify">Porque eis que vossos inimigos, Senhor, eis que vossos inimigos perecerão: * e dispersados todos os que praticam a iniquidade.</div>
<div class="col-6 text-justify">Et exaltábitur sicut unicórnis cornu meum: * et senéctus mea in misericórdia úberi.</div>
<div class="col-6 text-justify">Será exaltada a minha força como a do unicórnio: * e minha velhice na abundante misericórdia.</div>
<div class="col-6 text-justify">Et despéxit óculus meus inimícos meos: * et in insurgéntibus in me malignántibus áudiet auris mea.</div>
<div class="col-6 text-justify">Meus olhos olharão com desprezo para meus inimigos: * e meus ouvidos ouvirão falar dos revoltosos que se levantam contra mim.</div>
<div class="col-6 text-justify">Justus, ut palma florébit: * sicut cedrus Líbani multiplicábitur.</div>
<div class="col-6 text-justify">O justo florescerá como a palmeira: * e como o cedro do Líbano multiplicar-se-á.</div>
<div class="col-6 text-justify">Plantáti in domo Dómini, * in átriis domus Dei nostri florébunt.</div>
<div class="col-6 text-justify">Plantados na casa do Senhor, * florescerão nos átrios da casa do nosso Deus.</div>
<div class="col-6 text-justify">Adhuc multiplicabúntur in senécta úberi: * et bene patiéntes erunt, ut annúntient:</div>
<div class="col-6 text-justify">Eles se multiplicarão em uma velhice fecunda: * e estarão cheios de vigor, para anunciar:</div>
<div class="col-6 text-justify">Quóniam rectus Dóminus, Deus noster: * et non est iníquitas in eo.</div>
<div class="col-6 text-justify">Que o Senhor nosso Deus é recto: * e que não há injustiça n’Ele.</div>
