<div class="col-6 dropcaps text-justify">Cantáte Dómino cánticum novum: * cantáte Dómino, omnis terra.</div>
<div class="col-6 dropcaps text-justify">Cantai ao Senhor um cântico novo: * cantai ao Senhor, toda a terra.</div>
<div class="col-6 text-justify">Cantáte Dómino, et benedícite nómini ejus: * annuntiáte de die in diem salutáre ejus.</div>
<div class="col-6 text-justify">Cantai ao Senhor e bendizei o seu nome: * anunciai dia a dia a sua salvação.</div>
<div class="col-6 text-justify">Annuntiáte inter gentes glóriam ejus, * in ómnibus pópulis mirabília ejus.</div>
<div class="col-6 text-justify">Anunciai entre as gentes a sua glória, * entre todos os povos suas maravilhas.</div>
<div class="col-6 text-justify">Quóniam magnus Dóminus, et laudábilis nimis: * terríbilis est super omnes deos.</div>
<div class="col-6 text-justify">Porque o Senhor é grande e digníssimo de ser louvado: * mais terrível que todos os deuses.</div>
<div class="col-6 text-justify">Quóniam omnes dii géntium dæmónia: * Dóminus autem cælos fecit.</div>
<div class="col-6 text-justify">Porque todos os deuses das gentes são demónios: * porém, o Senhor fez os céus.</div>
<div class="col-6 text-justify">Conféssio, et pulchritúdo in conspéctu ejus: * sanctimónia et magnificéntia in sanctificatióne ejus.</div>
<div class="col-6 text-justify">O louvor e o esplendor estão diante d’Ele: * a santidade e a grandeza no seu santuário.</div>
<div class="col-6 text-justify">Afférte Dómino, pátriæ géntium, afférte Dómino glóriam et honórem: * afférte Dómino glóriam nómini ejus.</div>
<div class="col-6 text-justify">Dai ao Senhor, ó famílias das gentes, dai ao Senhor glória e honra: * dai ao Senhor a glória devida a seu nome.</div>
<div class="col-6 text-justify">Tóllite hóstias, et introíte in átria ejus: * adoráte Dóminum in átrio sancto ejus.</div>
<div class="col-6 text-justify">Elevai-Lhe sacrifícios e entrai nos seus átrios: * adorai o Senhor no átrio do seu santuário.</div>
<div class="col-6 text-justify">Commoveátur a fácie ejus univérsa terra: * dícite in géntibus quia Dóminus regnávit.</div>
<div class="col-6 text-justify">Trema toda a terra na sua presença: * dizei entre as gentes que é o Senhor quem reina.</div>
<div class="col-6 text-justify">Étenim corréxit orbem terræ qui non commovébitur: * judicábit pópulos in æquitáte.</div>
<div class="col-6 text-justify">Pois estabeleceu toda a terra, que não será abalada: * Ele julgará os povos com equidade.</div>
<div class="col-6 text-justify">Læténtur cæli, et exsúltet terra: commoveátur mare, et plenitúdo ejus: * gaudébunt campi, et ómnia quæ in eis sunt.</div>
<div class="col-6 text-justify">Alegrem-se os céus e exulte-se a terra, comova-se o mar e o que ele contém: * alegrar-se-ão os campos e tudo que neles há.</div>
<div class="col-6 text-justify">Tunc exsultábunt ómnia ligna silvárum a fácie Dómini, quia venit: * quóniam venit judicáre terram.</div>
<div class="col-6 text-justify">Então exultar-se-ão todas as árvores dos bosques ante o Senhor, porque vem: * porque vem julgar a terra.</div>
<div class="col-6 text-justify">Judicábit orbem terræ in æquitáte, * et pópulos in veritáte sua.</div>
<div class="col-6 text-justify">Ele julgará toda a terra com equidade, * e os povos segundo a sua verdade.</div>
