<div class="col-6 dropcaps text-justify">Cantáte Dómino cánticum novum: * quia mirabília fecit.</div>
<div class="col-6 dropcaps text-justify">Cantai ao Senhor um cântico novo: * pois operou maravilhas.</div>
<div class="col-6 text-justify">Salvávit sibi déxtera ejus: * et brácchium sanctum ejus.</div>
<div class="col-6 text-justify">Sua dextra fê-l’O triunfar: * e o seu santo braço.</div>
<div class="col-6 text-justify">Notum fecit Dóminus salutáre suum: * in conspéctu géntium revelávit justítiam suam.</div>
<div class="col-6 text-justify">O Senhor manifestou a sua salvação: * revelou a sua justiça aos olhos das gentes.</div>
<div class="col-6 text-justify">Recordátus est misericórdiæ suæ, * et veritátis suæ dómui Israël.</div>
<div class="col-6 text-justify">Lembrou-se da sua misericórdia, * e da sua verdade para a casa de Israel.</div>
<div class="col-6 text-justify">Vidérunt omnes términi terræ * salutáre Dei nostri.</div>
<div class="col-6 text-justify">Todos os confins da terra viram * a salvação do nosso Deus.</div>
<div class="col-6 text-justify">Jubiláte Deo, omnis terra: * cantáte, et exsultáte, et psállite.</div>
<div class="col-6 text-justify">Aclamai a Deus, toda a terra: * cantai, exultai e salmodiai.</div>
<div class="col-6 text-justify">Psállite Dómino in cíthara, in cíthara et voce psalmi: * in tubis ductílibus, et voce tubæ córneæ.</div>
<div class="col-6 text-justify">Cantai ao Senhor com a cítara, com a cítara e com voz de salmo: * com trombetas de metal e som de corneta.</div>
<div class="col-6 text-justify">Jubiláte in conspéctu regis Dómini: * moveátur mare, et plenitúdo ejus: orbis terrárum, et qui hábitant in eo.</div>
<div class="col-6 text-justify">Jubilai-vos na presença do rei Senhor: * mova-se o mar e quanto nele há, toda a terra e os que a habitam.</div>
<div class="col-6 text-justify">Flúmina plaudent manu, simul montes exsultábunt a conspéctu Dómini: * quóniam venit judicáre terram.</div>
<div class="col-6 text-justify">Os rios baterão palmas, ao mesmo tempo os montes alegrar-se-ão à vista do Senhor: * porque vem julgar a terra.</div>
<div class="col-6 text-justify">Judicábit orbem terrárum in justítia, * et pópulos in æquitáte.</div>
<div class="col-6 text-justify">Julgará toda a terra com justiça, * e os povos com equidade.</div>
