<div class="col-6 dropcaps text-justify">Dóminus regnávit, irascántur pópuli: * qui sedet super Chérubim, moveátur terra.</div>
<div class="col-6 dropcaps text-justify">O Senhor reinou, irritem-se os povos: * reina O que está sentado sobre Querubins, agite-se a terra.</div>
<div class="col-6 text-justify">Dóminus in Sion magnus: * et excélsus super omnes pópulos.</div>
<div class="col-6 text-justify">O Senhor é grande em Sião: * e está elevado sobre todos os povos.</div>
<div class="col-6 text-justify">Confiteántur nómini tuo magno: quóniam terríbile, et sanctum est: * et honor regis judícium díligit.</div>
<div class="col-6 text-justify">Dêem glória ao vosso grande nome, porque é terrível e santo: * e a honra do rei está em amar a justiça.</div>
<div class="col-6 text-justify">Tu parásti directiónes: * judícium et justítiam in Jacob Tu fecísti.</div>
<div class="col-6 text-justify">Vós preparastes direcções: * Vós exercestes o julgamento e a justiça em Jacob.</div>
<div class="col-6 text-justify">Exaltáte Dóminum, Deum nostrum, et adoráte scabéllum pedum ejus: * quóniam sanctum est.</div>
<div class="col-6 text-justify">Exaltai o Senhor nosso Deus e adorai o escabelo de seus pés: * pois santo é.</div>
<div class="col-6 text-justify">Móyses et Aaron in sacerdótibus ejus: * et Sámuel inter eos, qui ínvocant nomen ejus:</div>
<div class="col-6 text-justify">Moisés e Arão estavam entre os seus sacerdotes: * e Samuel entre aqueles que invocam o seu nome:</div>
<div class="col-6 text-justify">Invocábant Dóminum, et ipse exaudiébat eos: * in colúmna nubis loquebátur ad eos.</div>
<div class="col-6 text-justify">Invocavam o Senhor e Ele os atendia: * falava-lhes na coluna de nuvem.</div>
<div class="col-6 text-justify">Custodiébant testimónia ejus, * et præcéptum quod dedit illis.</div>
<div class="col-6 text-justify">Guardavam os seus mandamentos, * e o preceito que lhes tinha dado.</div>
<div class="col-6 text-justify">Dómine, Deus noster, Tu exaudiébas eos: * Deus, Tu propítius fuísti eis, et ulcíscens in omnes adinventiónes eórum.</div>
<div class="col-6 text-justify">Senhor nosso Deus, Vós os ouvíeis: * ó Deus, Vós lhes fostes propício, até em punir todas suas maquinações.</div>
<div class="col-6 text-justify">Exaltáte Dóminum, Deum nostrum, et adoráte in monte sancto ejus: * quóniam sanctus Dóminus, Deus noster.</div>
<div class="col-6 text-justify">Exaltai o Senhor nosso Deus e adorai-O sobre o seu santo monte: * pois santo é o Senhor nosso Deus.</div>
