<div class="col-6 dropcaps text-justify">Misericórdiam et judícium * cantábo tibi, Dómine:</div>
<div class="col-6 dropcaps text-justify">Misericórdia e justiça * Vos cantarei, ó Senhor:</div>
<div class="col-6 text-justify">Psallam, et intéllegam in via immaculáta, * quando vénies ad me.</div>
<div class="col-6 text-justify">Cantarei e procurarei conhecer o caminho da perfeição, * quando vierdes a mim.</div>
<div class="col-6 text-justify">Perambulábam in innocéntia cordis mei, * in médio domus meæ.</div>
<div class="col-6 text-justify">Caminhava na inocência do meu coração, * no meio da minha casa.</div>
<div class="col-6 text-justify">Non proponébam ante óculos meos rem injústam: * faciéntes prævaricatiónes odívi.</div>
<div class="col-6 text-justify">Não punha ante meus olhos coisa injusta: * aborrecia os que cometiam transgressões.</div>
<div class="col-6 text-justify">Non adhǽsit mihi cor pravum: * declinántem a me malígnum non cognoscébam.</div>
<div class="col-6 text-justify">Não se unia a mim coração depravado: * o mau afastava-se de mim e eu o não conhecia.</div>
<div class="col-6 text-justify">Detrahéntem secréto próximo suo, * hunc persequébar.</div>
<div class="col-6 text-justify">Ao que secretamente detraia o seu próximo, * eu o perseguia.</div>
<div class="col-6 text-justify">Supérbo óculo, et insatiábili corde, * cum hoc non edébam.</div>
<div class="col-6 text-justify">Com homem de olhos soberbos e de coração insaciável, * com esse não comia.</div>
<div class="col-6 text-justify">Óculi mei ad fidéles terræ ut sédeant mecum: * ámbulans in via immaculáta, hic mihi ministrábat.</div>
<div class="col-6 text-justify">Meus olhos buscavam os fiéis da terra para que se sentassem comigo: * andava por caminho inocente, esse me servia.</div>
<div class="col-6 text-justify">Non habitábit in médio domus meæ qui facit supérbiam: * qui lóquitur iníqua, non diréxit in conspéctu oculórum meórum.</div>
<div class="col-6 text-justify">Não habitará na minha casa o que com soberba procede: * o que diz iníquidade não pôde tornar-se agradável aos meus olhos.</div>
<div class="col-6 text-justify">In matutíno interficiébam omnes peccatóres terræ: * ut dispérderem de civitáte Dómini omnes operántes iniquitátem.</div>
<div class="col-6 text-justify">Pela manhã exterminava todos os pecadores da terra: * a fim de suprimir da cidade do Senhor todos os que cometem a iniquidade.</div>
