<div class="col-6 dropcaps text-justify">Confitémini Dómino, quóniam bonus: * quóniam in sǽculum misericórdia ejus.</div>
<div class="col-6 dropcaps text-justify">Louvai o Senhor, porque é bom: * porque é eterna a sua misericórdia.</div>
<div class="col-6 text-justify">Quis loquétur poténtias Dómini, * audítas fáciet omnes laudes ejus?</div>
<div class="col-6 text-justify">Quem os poderes do Senhor contará, * fará todos seus louvores ouvidos?</div>
<div class="col-6 text-justify">Beáti, qui custódiunt judícium, * et fáciunt justítiam in omni témpore.</div>
<div class="col-6 text-justify">Bem-aventurados os que observam a lei, * e praticam em todo o tempo a justiça.</div>
<div class="col-6 text-justify">Meménto nostri, Dómine, in beneplácito pópuli tui: * vísita nos in salutári tuo:</div>
<div class="col-6 text-justify">Lembrai-Vos de nós, ó Senhor, em mercê de vosso povo: * visitai-nos com vossa salvação:</div>
<div class="col-6 text-justify">Ad vidéndum in bonitáte electórum tuórum, ad lætándum in lætítia gentis tuæ: * ut laudéris cum hereditáte tua.</div>
<div class="col-6 text-justify">Para vermos a felicidade de vossos escolhidos, gozemos a alegria de vosso povo: * para serdes glorificado na vossa herança.</div>
<div class="col-6 text-justify">Peccávimus cum pátribus nostris: * injúste égimus, iniquitátem fécimus.</div>
<div class="col-6 text-justify">Pecámos com os nossos pais: * procedemos injustamente, cometemos a iniquidade.</div>
<div class="col-6 text-justify">Patres nostri in Ægýpto non intellexérunt mirabília tua: * non fuérunt mémores multitúdinis misericórdiæ tuæ.</div>
<div class="col-6 text-justify">Nossos pais no Egipto não entenderam as vossas maravilhas: * se não lembraram da multidão de vossas misericórdias.</div>
<div class="col-6 text-justify">Et irritavérunt ascendéntes in mare, * Mare Rubrum.</div>
<div class="col-6 text-justify">Irritaram-Vos indo para o mar, * mar Vermelho.</div>
<div class="col-6 text-justify">Et salvávit eos propter nomen suum: * ut notam fáceret poténtiam suam.</div>
<div class="col-6 text-justify">Os salvou, por amor do seu nome: * para mostrar o seu poder.</div>
<div class="col-6 text-justify">Et incrépuit Mare Rubrum, et exsiccátum est, * et dedúxit eos in abýssis sicut in desérto.</div>
<div class="col-6 text-justify">Ameaçou o mar Vermelho e ele secou-se, * e levou-os pelos abysmos, como por um deserto.</div>
<div class="col-6 text-justify">Et salvávit eos de manu odiéntium: * et redémit eos de manu inimíci.</div>
<div class="col-6 text-justify">Salvou-os da mão dos que os odiavam: * e livrou-os da mão do inimigo.</div>
<div class="col-6 text-justify">Et opéruit aqua tribulántes eos: * unus ex eis non remánsit.</div>
<div class="col-6 text-justify">A água cobriu os perseguidores: * deles não escapou um só.</div>
<div class="col-6 text-justify">Et credidérunt verbis ejus: * et laudavérunt laudem ejus.</div>
<div class="col-6 text-justify">Deram crédito às suas palavras: * e cantaram o seu louvor.</div>
<div class="col-6 text-justify">Cito fecérunt, oblíti sunt óperum ejus: * et non sustinuérunt consílium ejus.</div>
<div class="col-6 text-justify">Porém, depressa esqueceram as suas obras: * e não esperaram o seu conselho.</div>
<div class="col-6 text-justify">Et concupiérunt concupiscéntiam in desérto: * et tentavérunt Deum in inaquóso.</div>
<div class="col-6 text-justify">Cobiçaram delícias no deserto: * e tentaram a Deus no lugar sem água.</div>
<div class="col-6 text-justify">Et dedit eis petitiónem ipsórum: * et misit saturitátem in ánimas eórum.</div>
<div class="col-6 text-justify">Concedeu-lhes o que pediam: * e enviou fartura às suas almas.</div>
<div class="col-6 text-justify">Et irritavérunt Moysen in castris: * Aaron, sanctum Dómini.</div>
<div class="col-6 text-justify">Irritaram Moisés no acampamento: * e Arão, o santo do Senhor.</div>
<div class="col-6 text-justify">Apérta est terra, et deglutívit Dathan: * et opéruit super congregatiónem Abíron.</div>
<div class="col-6 text-justify">Abriu-se a terra e engoliu Datan: * e sepultou Abiron com seus compinchas.</div>
<div class="col-6 text-justify">Et exársit ignis in synagóga eorum: * flamma combússit peccatóres.</div>
<div class="col-6 text-justify">Ateou-se fogo no meio da congregação: * a chama incendiou os pecadores.</div>
<div class="col-6 text-justify">Et fecérunt vítulum in Horeb: * et adoravérunt scúlptile.</div>
<div class="col-6 text-justify">Fizeram um bezerro em Horeb: * e adoraram a estátua.</div>
<div class="col-6 text-justify">Et mutavérunt glóriam suam * in similitúdinem vítuli comedéntis fænum.</div>
<div class="col-6 text-justify">Trocaram a sua glória * pelo simulacro dum bezerro que come feno.</div>
<div class="col-6 text-justify">Oblíti sunt Deum, qui salvávit eos, * qui fecit magnália in Ægýpto, mirabília in terra Cham: terribília in Mari Rubro.</div>
<div class="col-6 text-justify">Esqueceram-se de Deus, que os tinha salvado, * que tinha feito maravilhas no Egipto, milagres na terra de Cam, coisas terríveis no mar Vermelho.</div>
<div class="col-6 text-justify">Et dixit ut dispérderet eos: * si non Móyses, eléctus ejus, stetísset in confractióne in conspéctu ejus:</div>
<div class="col-6 text-justify">Disse que os destruiria: * se Moisés, seu escolhido, se não tivesse posto no meio ante ele sobre a brecha:</div>
<div class="col-6 text-justify">Ut avérteret iram ejus ne dispérderet eos: * et pro níhilo habuérunt terram desiderábilem:</div>
<div class="col-6 text-justify">A fim de afastar a sua ira, para que os não destruísse: * desprezaram aquela terra desejável:</div>
<div class="col-6 text-justify">Non credidérunt verbo ejus, et murmuravérunt in tabernáculis suis: * non exaudiérunt vocem Dómini.</div>
<div class="col-6 text-justify">Não acreditaram na sua palavra e murmuraram nas suas tendas: * e não atenderam à voz do Senhor.</div>
<div class="col-6 text-justify">Et elevávit manum suam super eos: * ut prostérneret eos in desérto:</div>
<div class="col-6 text-justify">Ele levantou a sua mão contra eles: * para os exterminar no deserto:</div>
<div class="col-6 text-justify">Et ut deíceret semen eórum in natiónibus: * et dispérgeret eos in regiónibus.</div>
<div class="col-6 text-justify">Para envilecer a sua estirpe entre as nações: * e dispersá-los pelas regiões.</div>
<div class="col-6 text-justify">Et initiáti sunt Beélphegor: * et comedérunt sacrifícia mortuórum.</div>
<div class="col-6 text-justify">Consagraram-se a Beelfegor: * e comeram os sacrifícios dos mortos.</div>
<div class="col-6 text-justify">Et irritavérunt eum in adinventiónibus suis: * et multiplicáta est in eis ruína.</div>
<div class="col-6 text-justify">Irritaram o Senhor com suas inovações: * e multiplicou-se neles a ruína.</div>
<div class="col-6 text-justify">Et stetit Phínees, et placávit: * et cessávit quassátio.</div>
<div class="col-6 text-justify">Apresentou-se Finéas, e acalmou-O: * e cessou o flagelo.</div>
<div class="col-6 text-justify">Et reputátum est ei in justítiam: * in generatiónem et generatiónem usque in sempitérnum.</div>
<div class="col-6 text-justify">Foi-lhe imputado a justiça: * de geração em geração para sempre.</div>
<div class="col-6 text-justify">Et irritavérunt eum ad aquas contradictiónis: * et vexátus est Móyses propter eos: quia exacerbavérunt spíritum ejus.</div>
<div class="col-6 text-justify">Irritaram-n’O nas águas da contradição: * e Moisés foi castigado por causa deles: pois exacerbaram o seu espírito.</div>
<div class="col-6 text-justify">Et distínxit in lábiis suis: * non disperdidérunt gentes, quas dixit Dóminus illis.</div>
<div class="col-6 text-justify">Foi duvidoso nas suas palavras: * não exterminaram as gentes que o Senhor lhes dissera.</div>
<div class="col-6 text-justify">Et commísti sunt inter gentes, et didicérunt ópera eórum: et serviérunt sculptílibus eórum: * et factum est illis in scándalum.</div>
<div class="col-6 text-justify">Mesclaram-se com as gentes e imitaram os seus costumes: e servirão os seus ídolos: * e isto foi-lhes causa de ruína.</div>
<div class="col-6 text-justify">Et immolavérunt fílios suos, * et filias suas dæmóniis.</div>
<div class="col-6 text-justify">Imolaram os seus filhos, * e as suas filhas aos demónios.</div>
<div class="col-6 text-justify">Et effudérunt sánguinem innocéntem: * sánguinem filiórum suórum et filiárum suárum, quas sacrificavérunt sculptílibus Chánaan.</div>
<div class="col-6 text-justify">Derramaram o sangue inocente: * o sangue de seus filhos e de suas filhas, que tinham sacrificado aos ídolos de Canaan.</div>
<div class="col-6 text-justify">Et infécta est terra in sanguínibus, et contamináta est in opéribus eórum: * et fornicáti sunt in adinventiónibus suis.</div>
<div class="col-6 text-justify">A terra ficou infectada com tanto sangue e contaminou-se com suas obras: * e prostituíram-se suas invenções.</div>
<div class="col-6 text-justify">Et irátus est furóre Dóminus in pópulum suum: * et abominátus est hereditátem suam.</div>
<div class="col-6 text-justify">O Senhor incendiou-se de fúria contra o seu povo: * e abominou a sua herança.</div>
<div class="col-6 text-justify">Et trádidit eos in manus géntium: * et domináti sunt eórum qui odérunt eos.</div>
<div class="col-6 text-justify">Entregou-os ao poder das gentes: * e dominaram-nos aqueles que os odiavam.</div>
<div class="col-6 text-justify">Et tribulavérunt eos inimíci eórum, et humiliáti sunt sub mánibus eórum: * sæpe liberávit eos.</div>
<div class="col-6 text-justify">Seus inimigos angustiaram-nos e foram humilhados sob o seu poder: * muitas vezes Ele os livrou.</div>
<div class="col-6 text-justify">Ipsi autem exacerbavérunt eum in consílio suo: * et humiliáti sunt in iniquitátibus suis.</div>
<div class="col-6 text-justify">Eles, porém, exacerbaram-n’O com seu conselho: * e foram humilhados pelas suas iniquidades.</div>
<div class="col-6 text-justify">Et vidit, cum tribularéntur: * et audívit oratiónem eórum.</div>
<div class="col-6 text-justify">Ele olhou-os quando estavam atribulados: * e ouviu a sua oração.</div>
<div class="col-6 text-justify">Et memor fuit testaménti sui: * et pœnítuit eum secúndum multitúdinem misericórdiæ suæ.</div>
<div class="col-6 text-justify">Lembrou-se da sua aliança: * e teve piedade deles segundo a multitude de sua misericórdia.</div>
<div class="col-6 text-justify">Et dedit eos in misericórdias * in conspéctu ómnium qui céperant eos.</div>
<div class="col-6 text-justify">Empregou neles as suas misericórdias, * à vista de todos os tinham cativos.</div>
<div class="col-6 text-justify">Salvos nos fac, Dómine, Deus noster: * et cóngrega nos de natiónibus:</div>
<div class="col-6 text-justify">Salvai-nos, ó Senhor nosso Deus: * e reuni-nos de entre as nações:</div>
<div class="col-6 text-justify">Ut confiteámur nómini sancto tuo: * et gloriémur in laude tua.</div>
<div class="col-6 text-justify">Para que celebremos o vosso santo nome: * e nos gloriemos em louvar-Vos.</div>
<div class="col-6 text-justify">Benedíctus Dóminus, Deus Israël, a sǽculo et usque in sǽculum: * et dicet omnis pópulus: fiat, fiat.</div>
<div class="col-6 text-justify">Bendito seja o Senhor, Deus de Israel, pelos séculos dos séculos: * e todo o povo responderá: assim seja, assim seja.</div>
