<div class="col-6 dropcaps text-justify">Dixit Dóminus Dómino meo: * Sede a dextris meis:</div>
<div class="col-6 dropcaps text-justify">Disse o Senhor ao meu senhor: * senta-te à minha direita:</div>
<div class="col-6 text-justify">Donec ponam inimícos tuos, * scabéllum pedum tuórum.</div>
<div class="col-6 text-justify">Até que ponha os teus inimigos, * por escabelo de teus pés.</div>
<div class="col-6 text-justify">Virgam virtútis tuæ emíttet Dóminus ex Sion: * domináre in médio inimicórum tuórum.</div>
<div class="col-6 text-justify">O Senhor fará sair de Sião o ceptro de teu poder: * domina tu no meio de teus inimigos.</div>
<div class="col-6 text-justify">Tecum princípium in die virtútis tuæ in splendóribus sanctórum: * ex útero ante lucíferum génui te.</div>
<div class="col-6 text-justify">Contigo está o principado no dia de tua força, entre os resplendores dos santos: * das minhas entranhas te gerei antes da aurora.</div>
<div class="col-6 text-justify">Jurávit Dóminus, et non pœnitébit eum: * Tu es sacérdos in ætérnum secúndum órdinem Melchísedech.</div>
<div class="col-6 text-justify">Jurou o Senhor e se não arrependerá: * tu és sacerdote eternamente, segundo a ordem de Melquisedech.</div>
<div class="col-6 text-justify">Dóminus a dextris tuis, * confrégit in die iræ suæ reges.</div>
<div class="col-6 text-justify">O Senhor está à tua direita, * Ele despedaçou os reis no dia da sua ira.</div>
<div class="col-6 text-justify">Judicábit in natiónibus, implébit ruínas: * conquassábit cápita in terra multórum.</div>
<div class="col-6 text-justify">Ajuizará no meio das nações, encherá tudo de ruínas: * esmagará as cabeças de muitos na terra.</div>
<div class="col-6 text-justify">De torrénte in via bibet: * proptérea exaltábit caput.</div>
<div class="col-6 text-justify">Beberá da torrente no caminho: * por isso erguerá a sua cabeça.</div>
