<div class="col-6 dropcaps text-justify">Laudáte, púeri, Dóminum: * laudáte nomen Dómini.</div>
<div class="col-6 dropcaps text-justify">Louvai o Senhor, ó meninos: * louvai o nome do Senhor.</div>
<div class="col-6 text-justify"><em>(fit reverentia)</em> Sit nomen Dómini benedíctum, * ex hoc nunc, et usque in sǽculum.</div>
<div class="col-6 text-justify"><em>(inclinar a cabeça)</em> Seja bendito o nome do Senhor, * desde agora e para sempre.</div>
<div class="col-6 text-justify">A solis ortu usque ad occásum, * laudábile nomen Dómini.</div>
<div class="col-6 text-justify">Desde o nascer ao pôr do sol, * é digno de louvor o nome do Senhor.</div>
<div class="col-6 text-justify">Excélsus super omnes gentes Dóminus, * et super cælos glória ejus.</div>
<div class="col-6 text-justify">Excelso é o Senhor sobre todas as gentes, * e a sua glória sobre os céus.</div>
<div class="col-6 text-justify">Quis sicut Dóminus, Deus noster, qui in altis hábitat, * et humília réspicit in cælo et in terra?</div>
<div class="col-6 text-justify">Quem há como o Senhor nosso Deus, que habita nas alturas: * e atende os humildes no céu e na terra?</div>
<div class="col-6 text-justify">Súscitans a terra ínopem, * et de stércore érigens páuperem:</div>
<div class="col-6 text-justify">Levantando da terra o desvalido, * e tirando da imundície o pobre:</div>
<div class="col-6 text-justify">Ut cóllocet eum cum princípibus, * cum princípibus pópuli sui.</div>
<div class="col-6 text-justify">Para o colocar com os príncipes, * com os príncipes do seu povo.</div>
<div class="col-6 text-justify">Qui habitáre facit stérilem in domo, * matrem filiórum lætántem.</div>
<div class="col-6 text-justify">Que faz a mulher estéril viver em sua casa, * alegre mãe de filhos.</div>
