<div class="col-6 dropcaps text-justify">Confitémini Dómino quóniam bonus: * quóniam in sǽculum misericórdia ejus.</div>
<div class="col-6 dropcaps text-justify">Louvai o Senhor, porque Ele é bom: * porque a sua misericórdia é eterna.</div>
<div class="col-6 text-justify">Dicat nunc Israël quóniam bonus: * quóniam in sǽculum misericórdia ejus.</div>
<div class="col-6 text-justify">Diga agora Israel que o Senhor é bom: * e que sua misericórdia é eterna.</div>
<div class="col-6 text-justify">Dicat nunc domus Aaron: * quóniam in sǽculum misericórdia ejus.</div>
<div class="col-6 text-justify">Diga agora a casa de Arão: * que sua misericórdia é eterna.</div>
<div class="col-6 text-justify">Dicant nunc qui timent Dóminum: * quóniam in sǽculum misericórdia ejus.</div>
<div class="col-6 text-justify">Digam agora os que temem o Senhor: * que sua misericórdia é eterna.</div>
<div class="col-6 text-justify">De tribulatióne invocávi Dóminum: * et exaudívit me in latitúdine Dóminus.</div>
<div class="col-6 text-justify">No meio da tribulação invoquei o Senhor: * e o Senhor me ouviu e me pôs ao largo.</div>
<div class="col-6 text-justify">Dóminus mihi adjútor: * non timébo quid fáciat mihi homo.</div>
<div class="col-6 text-justify">O Senhor é o meu amparo: * não temerei o que o homem me possa fazer.</div>
<div class="col-6 text-justify">Dóminus mihi adjútor: * et ego despíciam inimícos meos.</div>
<div class="col-6 text-justify">O Senhor é o meu amparo: * e eu desprezarei os meus inimigos.</div>
<div class="col-6 text-justify">Bonum est confídere in Dómino, * quam confídere in hómine:</div>
<div class="col-6 text-justify">É melhor confiar no Senhor, * que confiar no homem.</div>
<div class="col-6 text-justify">Bonum est speráre in Dómino, * quam speráre in princípibus.</div>
<div class="col-6 text-justify">É melhor esperar no Senhor, * que esperar nos príncipes.</div>
<div class="col-6 text-justify">Omnes gentes circuiérunt me: * et in nómine Dómini quia ultus sum in eos.</div>
<div class="col-6 text-justify">Todas as gentes me cercaram: * e no nome do Senhor me vinguei delas.</div>
<div class="col-6 text-justify">Circumdántes circumdedérunt me: * et in nómine Dómini quia ultus sum in eos.</div>
<div class="col-6 text-justify">Pondo-se à minha volta me cercaram: * e no nome do Senhor me vinguei delas.</div>
<div class="col-6 text-justify">Circumdedérunt me sicut apes, et exarsérunt sicut ignis in spinis: * et in nómine Dómini quia ultus sum in eos.</div>
<div class="col-6 text-justify">Cercaram-me como abelhas, incendiaram-se como fogo em espinhos: * e no nome do Senhor me vinguei delas.</div>
<div class="col-6 text-justify">Impúlsus evérsus sum ut cáderem: * et Dóminus suscépit me.</div>
<div class="col-6 text-justify">Empurraram-me para cair: * e o Senhor me susteve.</div>
<div class="col-6 text-justify">Fortitúdo mea, et laus mea Dóminus: * et factus est mihi in salútem.</div>
<div class="col-6 text-justify">O Senhor é a minha fortaleza e o meu louvor: * e tornou-se a minha salvação.</div>
<div class="col-6 text-justify">Vox exsultatiónis, et salútis * in tabernáculis justórum.</div>
<div class="col-6 text-justify">Voz de júbilo e de salvação * nas tendas dos justos.</div>
<div class="col-6 text-justify">Déxtera Dómini fecit virtútem: déxtera Dómini exaltávit me, * déxtera Dómini fecit virtútem.</div>
<div class="col-6 text-justify">A dextra do Senhor mostrou o seu poder: a dextra do Senhor me ergueu, * a dextra do Senhor mostrou o seu poder.</div>
<div class="col-6 text-justify">Non móriar, sed vivam: * et narrábo ópera Dómini.</div>
<div class="col-6 text-justify">Não morrerei, mas viverei: * e narrarei as obras do Senhor.</div>
<div class="col-6 text-justify">Castígans castigávit me Dóminus: * et morti non trádidit me.</div>
<div class="col-6 text-justify">Severamente me castigou o Senhor: * mas me não entregou à morte.</div>
<div class="col-6 text-justify">Aperíte mihi portas justítiæ, ingréssus in eas confitébor Dómino: * hæc porta Dómini, justi intrábunt in eam.</div>
<div class="col-6 text-justify">Abri-me as portas da justiça, entrarei por elas e louvarei o Senhor: * esta é a porta do Senhor, os justos entrarão por ela.</div>
<div class="col-6 text-justify">Confitébor tibi quóniam exaudísti me: * et factus es mihi in salútem.</div>
<div class="col-6 text-justify">Vos louvarei porque me ouvistes: * e minha salvação Vos tornastes.</div>
<div class="col-6 text-justify">Lápidem, quem reprobavérunt ædificántes: * hic factus est in caput ánguli.</div>
<div class="col-6 text-justify">A pedra que os construtores rejeitaram: * tornou-se a pedra angular.</div>
<div class="col-6 text-justify">A Dómino factum est istud: * et est mirábile in óculis nostris.</div>
<div class="col-6 text-justify">Foi o Senhor que fez isto: * e é admirável aos nossos olhos.</div>
<div class="col-6 text-justify">Hæc est dies, quam fecit Dóminus: * exsultémus, et lætémur in ea.</div>
<div class="col-6 text-justify">Este é o dia que o Senhor fez: * exultemos e alegremo-nos n’Ele.</div>
<div class="col-6 text-justify">O Dómine, salvum me fac, o Dómine, bene prosperáre: * benedíctus qui venit in nómine Dómini.</div>
<div class="col-6 text-justify">Ó Senhor, salvai-me, ó Senhor, fazei que tenha prosperidade: * bendito o que vem em nome do Senhor.</div>
<div class="col-6 text-justify">Benedíximus vobis de domo Dómini: * Deus Dóminus, et illúxit nobis.</div>
<div class="col-6 text-justify">A vós bendizemos que sois da casa do Senhor: * o Senhor é Deus e a sua luz nos manifestou.</div>
<div class="col-6 text-justify">Constitúite diem solémnem in condénsis, * usque ad cornu altáris.</div>
<div class="col-6 text-justify">Tornai esse dia solene cobrindo de folhagem, * até à ponta do altar.</div>
<div class="col-6 text-justify">Deus meus es Tu, et confitébor tibi: * Deus meus es Tu, et exaltábo Te.</div>
<div class="col-6 text-justify">Vós sois o meu Deus e Vos louvarei: * Vós sois o meu Deus e Vos exaltarei.</div>
<div class="col-6 text-justify">Confitébor tibi quóniam exaudísti me * et factus es mihi in salútem.</div>
<div class="col-6 text-justify">Vos louvarei porque me atendestes, * e Vos tornastes a minha salvação.</div>
<div class="col-6 text-justify">Confitémini Dómino quóniam bonus: * quóniam in sǽculum misericórdia ejus.</div>
<div class="col-6 text-justify">Louvai o Senhor, porque é bom: * porque a sua misericórdia é eterna.</div>
