<div class="col-6 dropcaps text-justify">Ad Dóminum cum tribulárer clamávi: * et exaudívit me.</div>
<div class="col-6 dropcaps text-justify">Na minha tribulação, clamei ao Senhor: * e ouviu-me.</div>
<div class="col-6 text-justify">Dómine, líbera ánimam meam a lábiis iníquis, * et a lingua dolósa.</div>
<div class="col-6 text-justify">Ó Senhor, livrai a minha alma dos lábios iníquos, * e da língua dolosa.</div>
<div class="col-6 text-justify">Quid detur tibi, aut quid apponátur tibi * ad linguam dolósam?</div>
<div class="col-6 text-justify">Que te será dado, ou que te será acrescentado, * ó língua dolosa?</div>
<div class="col-6 text-justify">Sagíttæ poténtis acútæ, * cum carbónibus desolatóriis.</div>
<div class="col-6 text-justify">Setas agudas do poderoso, * com brasas devoradoras.</div>
<div class="col-6 text-justify">Heu mihi, quia incolátus meus prolongátus est: habitávi cum habitántibus Cedar: * multum íncola fuit ánima mea.</div>
<div class="col-6 text-justify">Ai de mim, o meu desterro prolongou-se, habitei com os moradores de Cedar: * muito andou peregrinando a minha alma.</div>
<div class="col-6 text-justify">Cum his, qui odérunt pacem, eram pacíficus: * cum loquébar illis, impugnábant me gratis.</div>
<div class="col-6 text-justify">Com os que odiavam a paz eu era pacífico: * quando lhes falava, me contradiziam sem motivo.</div>
