<div class="col-6 dropcaps text-justify">Ad Te levávi óculos meos, * qui hábitas in cælis.</div>
<div class="col-6 dropcaps text-justify">Levantei os meus olhos para Vós, * que habitais nos céus.</div>
<div class="col-6 text-justify">Ecce, sicut óculi servórum * in mánibus dominórum suórum,</div>
<div class="col-6 text-justify">Eis que, assim como os olhos dos servos * estão nas mãos dos seus senhores,</div>
<div class="col-6 text-justify">Sicut óculi ancíllæ in mánibus dóminæ suæ: * ita óculi nostri ad Dóminum, Deum nostrum, donec misereátur nostri.</div>
<div class="col-6 text-justify">Como os olhos da serva nas mãos de sua senhora: * assim os nossos olhos estão no Senhor nosso Deus, até que tenha misericórdia de nós.</div>
<div class="col-6 text-justify">Miserére nostri, Dómine, miserére nostri: * quia multum repléti sumus despectióne:</div>
<div class="col-6 text-justify">Tende misericórdia de nós, ó Senhor, tende misericórdia de nós: * pois estamos cheios de desprezo.</div>
<div class="col-6 text-justify">Quia multum repléta est ánima nostra: * oppróbrium abundántibus, et despéctio supérbis.</div>
<div class="col-6 text-justify">Pois a nossa alma está cheiíssima: * de ser o objecto de escárnio para os ricos e de desprezo para os soberbos.</div>
