<div class="col-6 dropcaps text-justify">Nisi Dóminus ædificáverit domum, * in vanum laboravérunt qui ædíficant eam.</div>
<div class="col-6 dropcaps text-justify">Se o Senhor não edificar a casa, * é em vão que trabalham os que a edificam.</div>
<div class="col-6 text-justify">Nisi Dóminus custodíerit civitátem, * frustra vígilat qui custódit eam.</div>
<div class="col-6 text-justify">Se o Senhor não guardar a cidade, * inutilmente vigia o que a guarda.</div>
<div class="col-6 text-justify">Vanum est vobis ante lucem súrgere: * súrgite postquam sedéritis, qui manducátis panem dolóris.</div>
<div class="col-6 text-justify">Em vão vos levantais antes de amanhecer: * levantai-vos, depois que tiverdes repousado, vós que comeis o pão da dor.</div>
<div class="col-6 text-justify">Cum déderit diléctis suis somnum: * ecce heréditas Dómini fílii: merces, fructus ventris.</div>
<div class="col-6 text-justify">Quando Ele der o sono aos seus amados: * eis que a herança do Senhor são filhos, o fruto do ventre.</div>
<div class="col-6 text-justify">Sicut sagíttæ in manu poténtis: * ita fílii excussórum.</div>
<div class="col-6 text-justify">Como setas na mão do valente: * assim são os filhos dos atribulados.</div>
<div class="col-6 text-justify">Beátus vir, qui implévit desidérium suum ex ipsis: * non confundétur cum loquétur inimícis suis in porta.</div>
<div class="col-6 text-justify">Ditoso o varão que viu cumprido o seu desejo com eles: * não será confundido quando falar com seus inimigos no portão.</div>
