<div class="col-6 dropcaps text-justify">Meménto, Dómine, David, * et omnis mansuetúdinis ejus:</div>
<div class="col-6 dropcaps text-justify">Lembrai-Vos, ó Senhor, de David, * e de toda sua mansidão:</div>
<div class="col-6 text-justify">Sicut jurávit Dómino, * votum vovit Deo Jacob:</div>
<div class="col-6 text-justify">Como fez um juramento ao Senhor, * um voto ao Deus de Jacob:</div>
<div class="col-6 text-justify">Si introíero in tabernáculum domus meæ, * si ascéndero in lectum strati mei:</div>
<div class="col-6 text-justify">Se entrar na tenda de minha casa, * se subir ao leito do meu estrado:</div>
<div class="col-6 text-justify">Si dédero somnum óculis meis, * et pálpebris meis dormitatiónem:</div>
<div class="col-6 text-justify">Se der sono aos meus olhos, * e às minhas pestanas adormecimento:</div>
<div class="col-6 text-justify">Et réquiem tempóribus meis: donec invéniam locum Dómino, * tabernáculum Deo Jacob.</div>
<div class="col-6 text-justify">Repouso aos meus templos, até que encontre um lugar para o Senhor, * um tabernáculo para o Deus de Jacob.</div>
<div class="col-6 text-justify">Ecce, audívimus eam in Éphrata: * invénimus eam in campis silvæ.</div>
<div class="col-6 text-justify">Eis que ouvimos dizer que estava em Efrata: * e a encontrámos nos campos da selva.</div>
<div class="col-6 text-justify">Introíbimus in tabernáculum ejus: * adorábimus in loco, ubi stetérunt pedes ejus.</div>
<div class="col-6 text-justify">Entraremos no seu tabernáculo: * nós o adoraremos no lugar onde estiveram os seus pés.</div>
<div class="col-6 text-justify">Surge, Dómine, in réquiem tuam, * Tu et arca sanctificatiónis tuæ.</div>
<div class="col-6 text-justify">Levantai-Vos, ó Senhor, entrai no vosso repouso, * Vós e a arca de vossa santificação.</div>
<div class="col-6 text-justify">Sacerdótes tui induántur justítiam: * et sancti tui exsúltent.</div>
<div class="col-6 text-justify">Vistam-se os vossos sacerdotes de justiça: * e exultem-se os vossos santos.</div>
<div class="col-6 text-justify">Propter David, servum tuum, * non avértas fáciem Christi tui.</div>
<div class="col-6 text-justify">Por amor de David vosso servo, * não desprezeis o rosto de vosso Cristo.</div>
<div class="col-6 text-justify">Jurávit Dóminus David veritátem, et non frustrábitur eam: * De fructu ventris tui ponam super sedem tuam.</div>
<div class="col-6 text-justify">Jurou o Senhor verdade a David e não deixará de cumpri-la: * sobre o teu trono porei do fruto de teu ventre.</div>
<div class="col-6 text-justify">Si custodíerint fílii tui testaméntum meum, * et testimónia mea hæc, quæ docébo eos:</div>
<div class="col-6 text-justify">Se os teus filhos guardarem a minha aliança, * e os testemunhos que lhes ensinarei:</div>
<div class="col-6 text-justify">Et fílii eórum usque in sǽculum, * sedébunt super sedem tuam.</div>
<div class="col-6 text-justify">Também os seus filhos para sempre, * se sentarão sobre o teu trono.</div>
<div class="col-6 text-justify">Quóniam elégit Dóminus Sion: * elégit eam in habitatiónem sibi.</div>
<div class="col-6 text-justify">Porque o Senhor escolheu Sião: * escolheu-a para sua habitação.</div>
<div class="col-6 text-justify">Hæc réquies mea in sǽculum sǽculi: * hic habitábo quóniam elégi eam.</div>
<div class="col-6 text-justify">Este é o meu repouso para sempre: * aqui habitarei porque o escolhi.</div>
<div class="col-6 text-justify">Víduam ejus benedícens benedícam: * páuperes ejus saturábo pánibus.</div>
<div class="col-6 text-justify">Abençoarei copiosamente a sua viúva: * saciarei de pães os seus pobres.</div>
<div class="col-6 text-justify">Sacerdótes ejus índuam salutári: * et sancti ejus exsultatióne exsultábunt.</div>
<div class="col-6 text-justify">Vestirei os seus sacerdotes de salvação: * e os seus santos exultarão de júbilo.</div>
<div class="col-6 text-justify">Illuc prodúcam cornu David, * parávi lucérnam Christo meo.</div>
<div class="col-6 text-justify">Ali dilatarei o poder de David, * preparei uma lâmpada para o meu Cristo.</div>
<div class="col-6 text-justify">Inimícos ejus índuam confusióne: * super ipsum autem efflorébit sanctificátio mea.</div>
<div class="col-6 text-justify">Cobrirei de confusão os seus inimigos: * mas sobre eles florescerá a minha santidade.</div>
