<div class="col-6 dropcaps text-justify">Ecce quam bonum et quam jucúndum, * habitáre fratres in unum:</div>
<div class="col-6 dropcaps text-justify">O quão bom e quão jucundo é, * viverem os irmãos em união:</div>
<div class="col-6 text-justify">Sicut unguéntum in cápite, * quod descéndit in barbam, barbam Aaron,</div>
<div class="col-6 text-justify">Como unção na cabeça, * que desce sobre a barba de Arão,</div>
<div class="col-6 text-justify">Quod descéndit in oram vestiménti ejus: * sicut ros Hermon, qui descéndit in montem Sion.</div>
<div class="col-6 text-justify">Que desce até à orla do seu manto: * como o orvalho do Hermon, que desce sobre o monte Sião.</div>
<div class="col-6 text-justify">Quóniam illic mandávit Dóminus benedictiónem, * et vitam usque in sǽculum.</div>
<div class="col-6 text-justify">Porque o Senhor derramou ali a sua bênção, * e vida para sempre.</div>
