<div class="col-6 dropcaps text-justify">Laudáte nomen Dómini, * laudáte, servi, Dóminum.</div>
<div class="col-6 dropcaps text-justify">Louvai o nome do Senhor, * louvai o Senhor, vós seus servos.</div>
<div class="col-6 text-justify">Qui statis in domo Dómini, * in átriis domus Dei nostri.</div>
<div class="col-6 text-justify">Vós que estais na casa do Senhor, * nos átrios da casa do nosso Deus.</div>
<div class="col-6 text-justify">Laudáte Dóminum, quia bonus Dóminus: * psállite nómini ejus, quóniam suáve.</div>
<div class="col-6 text-justify">Louvai o Senhor, pois o Senhor é bom: * cantai seu nome, porque é suave.</div>
<div class="col-6 text-justify">Quóniam Jacob elégit sibi Dóminus, * Israël in possessiónem sibi.</div>
<div class="col-6 text-justify">Porque o Senhor escolheu para si Jacob, * e Israel para sua possessão.</div>
<div class="col-6 text-justify">Quia ego cognóvi quod magnus est Dóminus, * et Deus noster præ ómnibus diis.</div>
<div class="col-6 text-justify">Pois eu conheci que o Senhor é grande, * e que o nosso Deus é sobre todos os deuses.</div>
<div class="col-6 text-justify">Omnia quæcúmque vóluit, Dóminus fecit in cælo, et in terra, * in mari, et in ómnibus abýssis.</div>
<div class="col-6 text-justify">Tudo o que quis, o fez o Senhor no céu, na terra, * no mar e em todos os abysmos.</div>
<div class="col-6 text-justify">Edúcens nubes ab extrémo terræ: * fúlgura in plúviam fecit.</div>
<div class="col-6 text-justify">Ele faz subir as nuvens das extremidades da terra: * converte os relâmpagos em chuva.</div>
<div class="col-6 text-justify">Qui prodúcit ventos de thesáuris suis: * qui percússit primogénita Ægýpti ab hómine usque ad pecus.</div>
<div class="col-6 text-justify">Ele faz sair os ventos dos seus tesouros: * que feriu os primogénitos do Egipto, desde o homem até ao animal.</div>
<div class="col-6 text-justify">Et misit signa, et prodígia in médio tui, Ægýpte: * in Pharaónem, et in omnes servos ejus.</div>
<div class="col-6 text-justify">Enviou sinais e prodígios no meio de ti, ó Egipto: * contra Faraó e contra todos seus servos.</div>
<div class="col-6 text-justify">Qui percússit gentes multas: * et occídit reges fortes:</div>
<div class="col-6 text-justify">Que feriu muitas gentes: * e matou reis poderosos:</div>
<div class="col-6 text-justify">Sehon, regem Amorrhæórum, et Og, regem Basan, * et ómnia regna Chánaan.</div>
<div class="col-6 text-justify">Seon, rei dos Amorreus e Ogue, rei de Basã, * e todos os reinos de Canaan.</div>
<div class="col-6 text-justify">Et dedit terram eórum hereditátem, * hereditátem Israël, pópulo suo.</div>
<div class="col-6 text-justify">E deu as terras deles em herança, * em herança a Israel, seu povo.</div>
<div class="col-6 text-justify">Dómine, nomen tuum in ætérnum: * Dómine, memoriále tuum in generatiónem et generatiónem.</div>
<div class="col-6 text-justify">Vosso nome, ó Senhor, na eternidade: * vossa memória, ó Senhor, de geração em geração.</div>
<div class="col-6 text-justify">Quia judicábit Dóminus pópulum suum: * et in servis suis deprecábitur.</div>
<div class="col-6 text-justify">Pois o Senhor julgará o seu povo: * e compadecer-se-á dos seus servos.</div>
<div class="col-6 text-justify">Simulácra géntium argéntum, et aurum, * ópera mánuum hóminum.</div>
<div class="col-6 text-justify">Os ídolos das gentes são prata e ouro, * obras das mãos dos homens.</div>
<div class="col-6 text-justify">Os habent, et non loquéntur: * óculos habent, et non vidébunt.</div>
<div class="col-6 text-justify">Têm boca e não falam: * têm olhos e não vêem.</div>
<div class="col-6 text-justify">Aures habent, et non áudient: * neque enim est spíritus in ore ipsórum.</div>
<div class="col-6 text-justify">Têm ouvidos e não ouvem: * pois, nem na sua boca há qualquer respiração.</div>
<div class="col-6 text-justify">Símiles illis fiant qui fáciunt ea: * et omnes qui confídunt in eis.</div>
<div class="col-6 text-justify">Sejam semelhantes a eles os que os fazem: * e todos os que confiam neles.</div>
<div class="col-6 text-justify">Domus Israël, benedícite Dómino: * domus Aaron, benedícite Dómino.</div>
<div class="col-6 text-justify">Bendizei o Senhor, ó casa de Israel: * bendizei o Senhor, ó casa de Arão.</div>
<div class="col-6 text-justify">Domus Levi, benedícite Dómino: * qui timétis Dóminum, benedícite Dómino.</div>
<div class="col-6 text-justify">Bendizei o Senhor, ó casa de Levi: * vós, que temeis o Senhor, bendizei o Senhor.</div>
<div class="col-6 text-justify">Benedíctus Dóminus ex Sion, * qui hábitat in Jerúsalem.</div>
<div class="col-6 text-justify">Desde Sião seja bendito o Senhor, * que habita em Jerusalém.</div>
