<div class="col-6 dropcaps text-justify">Confitémini Dómino quóniam bonus: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 dropcaps text-justify">Glorificai o Senhor, porque é bom: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Confitémini Deo deórum: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Glorificai o Deus dos deuses: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Confitémini Dómino dominórum: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Glorificai o Senhor dos senhores: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Qui facit mirabília magna solus: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">O único que faz grandes maravilhas: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Qui fecit cælos in intelléctu: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Que fez os céus com sabedoria: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Qui firmávit terram super aquas: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Que firmou a terra sobre as águas: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Qui fecit luminária magna: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Que fez os grandes luminares: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Solem in potestátem diéi: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">O sol, senhor do dia: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Lunam, et stellas in potestátem noctis: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">A lua e as estrelas, senhoras da noite: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Qui percússit Ægýptum cum primogénitis eórum: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Que feriu o Egipto com seus primogénitos: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Qui edúxit Israël de médio eórum: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Que tirou Israel do meio deles: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">In manu poténti, et brácchio excélso: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Na mão poderosa e no braço excelso: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Qui divísit Mare Rubrum in divisiónes: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Que dividiu em partes o mar Vermelho: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Et edúxit Israël per médium ejus: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Fez passar Israel pelo meio dele: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Et excússit Pharaónem, et virtútem ejus in Mari Rubro: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Precipitou Faraó e o seu exército no mar Vermelho: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Qui tradúxit pópulum suum per desértum: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Que conduziu o seu povo pelo deserto: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Qui percússit reges magnos: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Que feriu grandes reis: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Et occídit reges fortes: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Matou reis fortes: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Sehon, regem Amorrhæórum: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Seon, rei dos Amorreus: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Et Og, regem Basan: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">A Ogue, rei de Basã: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Et dedit terram eórum hereditátem: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Deu a terra deles em herança: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Hereditátem Israël, servo suo: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Em herança a Israel, seu servo: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Quia in humilitáte nostra memor fuit nostri: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Em nosso abatimento de nós se lembrou: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Et redémit nos ab inimícis nostris: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Livrou-nos dos nossos inimigos: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Qui dat escam omni carni: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Que dá alimento a toda a carne: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Confitémini Deo cæli: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Dai glória a Deus do céu: * pois eterna é a sua misericórdia.</div>
<div class="col-6 text-justify">Confitémini Dómino dominórum: * quóniam in ætérnum misericórdia ejus.</div>
<div class="col-6 text-justify">Dai glória ao Senhor dos senhores: * pois eterna é a sua misericórdia.</div>
