<div class="col-6 dropcaps text-justify">Super flúmina Babylónis, illic sédimus et flévimus: * cum recordarémur Sion:</div>
<div class="col-6 dropcaps text-justify">Junto dos rios da Babilónia, ali nos assentámos a chorar: * lembrando-nos de Sião:</div>
<div class="col-6 text-justify">In salícibus in médio ejus, * suspéndimus órgana nostra.</div>
<div class="col-6 text-justify">Nos salgueiros que lá havia, * as nossas harpas pendurámos.</div>
<div class="col-6 text-justify">Quia illic interrogavérunt nos, qui captívos duxérunt nos, * verba cantiónum:</div>
<div class="col-6 text-justify">Os mesmos que nos tinham levado cativos pediam-nos, * palavras de canções:</div>
<div class="col-6 text-justify">Et qui abduxérunt nos: * Hymnum cantáte nobis de cánticis Sion.</div>
<div class="col-6 text-justify">Os que à força nos tinham levado diziam: * cantai-nos um hino dos cânticos de Sião.</div>
<div class="col-6 text-justify">Quómodo cantábimus cánticum Dómini * in terra aliéna?</div>
<div class="col-6 text-justify">Como poderíamos nós cantar o cântico do Senhor * em estranha terra?</div>
<div class="col-6 text-justify">Si oblítus fúero tui, Jerúsalem, * oblivióni detur déxtera mea.</div>
<div class="col-6 text-justify">Se me esquecer de ti, ó Jerusalém, * ao esquecimento seja entregue a minha direita.</div>
<div class="col-6 text-justify">Adhǽreat lingua mea fáucibus meis, * si non memínero tui:</div>
<div class="col-6 text-justify">Apegue-se-me a língua à garganta, * se eu me não lembrar de ti:</div>
<div class="col-6 text-justify">Si non proposúero Jerúsalem, * in princípio lætítiæ meæ.</div>
<div class="col-6 text-justify">Se não propuser Jerusalém, * como o início da minha alegria.</div>
<div class="col-6 text-justify">Memor esto, Dómine, filiórum Edom, * in die Jerúsalem:</div>
<div class="col-6 text-justify">Lembrai-Vos, ó Senhor, dos filhos de Edom, * no dia de Jerusalém:</div>
<div class="col-6 text-justify">Qui dicunt: exinaníte, exinaníte * usque ad fundaméntum in ea.</div>
<div class="col-6 text-justify">Que diziam: arrasai, arrasai * até aos alicerces.</div>
<div class="col-6 text-justify">Fília Babylónis mísera: * beátus, qui retríbuet tibi retributiónem tuam, quam retribuísti nobis.</div>
<div class="col-6 text-justify">Ó desgraçada filha da Babilónia: * bem-aventurado o que te der a paga do que nos pagastes.</div>
<div class="col-6 text-justify">Beátus, qui tenébit, * et allídet párvulos tuos ad petram.</div>
<div class="col-6 text-justify">Bem-aventurado o que agarrar, * em teus filhinhos e os despedaçar contra um rochedo.</div>
