<div class="col-6 dropcaps text-justify">Éripe me, Dómine, ab hómine malo: * a viro iníquo éripe me.</div>
<div class="col-6 dropcaps text-justify">Livrai-me, ó Senhor, do homem malvado: * livrai-me do homem iníquo.</div>
<div class="col-6 text-justify">Qui cogitavérunt iniquitátes in corde: * tota die constituébant prǽlia.</div>
<div class="col-6 text-justify">Maquinam iniquidades no coração: * todo o dia armam combates.</div>
<div class="col-6 text-justify">Acuérunt linguas suas sicut serpéntis: * venénum áspidum sub lábiis eórum.</div>
<div class="col-6 text-justify">Afiaram as suas línguas como serpentes: * têm veneno de áspides debaixo de seus lábios.</div>
<div class="col-6 text-justify">Custódi me, Dómine, de manu peccatóris: * et ab homínibus iníquis éripe me.</div>
<div class="col-6 text-justify">Guardai-me, ó Senhor, da mão do pecador: * e livrai-me dos homens iníquos.</div>
<div class="col-6 text-justify">Qui cogitavérunt supplantáre gressus meos: * abscondérunt supérbi láqueum mihi:</div>
<div class="col-6 text-justify">Que planearam derrubar os meus passos: * os soberbos me armaram ocultamente um laço.</div>
<div class="col-6 text-justify">Et funes extendérunt in láqueum: * juxta iter scándalum posuérunt mihi.</div>
<div class="col-6 text-justify">Estenderam redes para o embuste: * junto do caminho me colocavam obstáculos.</div>
<div class="col-6 text-justify">Dixi Dómino: Deus meus es Tu: * exáudi, Dómine, vocem deprecatiónis meæ.</div>
<div class="col-6 text-justify">Disse ao Senhor: Vós sois o meu Deus: * atendei, ó Senhor, à voz da minha súplica.</div>
<div class="col-6 text-justify">Dómine, Dómine, virtus salútis meæ: * obumbrásti super caput meum in die belli.</div>
<div class="col-6 text-justify">Senhor, ó Senhor, fortaleza da minha salvação: * cobristes a minha cabeça no dia da batalha.</div>
<div class="col-6 text-justify">Ne tradas me, Dómine, a desidério meo peccatóri: * cogitavérunt contra me, ne derelínquas me, ne forte exalténtur.</div>
<div class="col-6 text-justify">Contra o meu desejo me não entregueis ao pecador, Senhor: * eles maquinaram contra mim, me não desampareis, para que se não exultem.</div>
<div class="col-6 text-justify">Caput circúitus eórum: * labor labiórum ipsórum opériet eos.</div>
<div class="col-6 text-justify">A cabeça daqueles que me cercam: * o trabalho dos seus lábios os cobrirá.</div>
<div class="col-6 text-justify">Cadent super eos carbónes, in ignem deícies eos: * in misériis non subsístent.</div>
<div class="col-6 text-justify">Cairão sobre eles brasas, no fogo os lançareis: * não subsistirão nas misérias.</div>
<div class="col-6 text-justify">Vir linguósus non dirigétur in terra: * virum injústum mala cápient in intéritu.</div>
<div class="col-6 text-justify">O varão caluniador não prosperará sobre a terra: * o varão injusto caçará o mal até à morte.</div>
<div class="col-6 text-justify">Cognóvi quia fáciet Dóminus judícium ínopis: * et vindíctam páuperum.</div>
<div class="col-6 text-justify">Sei que o Senhor fará justiça ao desvalido: * e que vingará os pobres.</div>
<div class="col-6 text-justify">Verúmtamen justi confitebúntur nómini tuo: * et habitábunt recti cum vultu tuo.</div>
<div class="col-6 text-justify">Contudo, os justos glorificarão o vosso nome: * e os rectos habitarão na vossa presença.</div>
