<div class="col-6 dropcaps text-justify">Benedíctus Dóminus, Deus meus, qui docet manus meas ad prǽlium, * et dígitos meos ad bellum.</div>
<div class="col-6 dropcaps text-justify">Bendito seja o Senhor meu Deus, que adestra minhas mãos para a batalha, * e meus dedos para a guerra.</div>
<div class="col-6 text-justify">Misericórdia mea, et refúgium meum: * suscéptor meus, et liberátor meus:</div>
<div class="col-6 text-justify">Minha misericórdia e meu refúgio: * meu defensor e meu libertador:</div>
<div class="col-6 text-justify">Protéctor meus, et in ipso sperávi: * qui subdit pópulum meum sub me.</div>
<div class="col-6 text-justify">Meu protector e é n’Ele que espero: * quem submete o meu povo sob mim.</div>
<div class="col-6 text-justify">Dómine, quid est homo, quia innotuísti ei? * aut fílius hóminis, quia réputas eum?</div>
<div class="col-6 text-justify">Que é o homem, ó Senhor, para que a ele Vos tenhais manifestado? * Ou o filho do homem, para assim o estimardes?</div>
<div class="col-6 text-justify">Homo vanitáti símilis factus est: * dies ejus sicut umbra prætéreunt.</div>
<div class="col-6 text-justify">O homem fez-se semelhante à vaidade: * seus dias passam como a sombra.</div>
<div class="col-6 text-justify">Dómine, inclína cælos tuos, et descénde: * tange montes, et fumigábunt.</div>
<div class="col-6 text-justify">Senhor, inclinai os vossos céus e descei: * tocai os montes e fumegarão.</div>
<div class="col-6 text-justify">Fúlgura coruscatiónem, et dissipábis eos: * emítte sagíttas tuas, et conturbábis eos.</div>
<div class="col-6 text-justify">Desferi raios e os dissipareis: * disparai as vossas setas e conturbá-los-eis.</div>
<div class="col-6 text-justify">Emítte manum tuam de alto, éripe me, et líbera me de aquis multis: * de manu filiórum alienórum.</div>
<div class="col-6 text-justify">Enviai a vossa mão lá do alto, tirai-me e livrai-me das muitas águas: * da mão dos filhos estranhos.</div>
<div class="col-6 text-justify">Quorum os locútum est vanitátem: * et déxtera eórum, déxtera iniquitátis.</div>
<div class="col-6 text-justify">Cuja boca falou vaidade: * e cuja direita é uma direita de iniquidade.</div>
<div class="col-6 text-justify">Deus, cánticum novum cantábo tibi: * in psaltério decachórdo psallam tibi.</div>
<div class="col-6 text-justify">A Vós, ó Deus, cantarei um cântico novo: * com o saltério de dez cordas Vos louvarei.</div>
<div class="col-6 text-justify">Qui das salútem régibus: * qui redemísti David, servum tuum, de gládio malígno: éripe me.</div>
<div class="col-6 text-justify">Vós que dais saúde aos reis: * que livrastes vosso servo David da espada maligna: livrai-me.</div>
<div class="col-6 text-justify">Et érue me de manu filiórum alienórum, quorum os locútum est vanitátem: * et déxtera eórum, déxtera iniquitátis:</div>
<div class="col-6 text-justify">E tirai-me da mão dos filhos estranhos, cuja boca falou vaidade: * e cuja direita é uma direita de iniquidade.</div>
<div class="col-6 text-justify">Quorum fílii, sicut novéllæ plantatiónes * in juventúte sua.</div>
<div class="col-6 text-justify">Cujos filhos são como novas plantas * na sua mocidade.</div>
<div class="col-6 text-justify">Fíliæ eórum compósitæ: * circumornátæ ut similitúdo templi.</div>
<div class="col-6 text-justify">Suas filhas decoradas: * adornadas como um templo.</div>
<div class="col-6 text-justify">Promptuária eórum plena, * eructántia ex hoc in illud.</div>
<div class="col-6 text-justify">Seus celeiros estão cheios, * a transbordar duns para outros.</div>
<div class="col-6 text-justify">Oves eórum fœtósæ, abundántes in egréssibus suis: * boves eórum crassæ.</div>
<div class="col-6 text-justify">Suas ovelhas são fecundas, vão pastar abundantemente: * as suas vacas são gordas.</div>
<div class="col-6 text-justify">Non est ruína macériæ, neque tránsitus: * neque clamor in platéis eórum.</div>
<div class="col-6 text-justify">Não há ruína de muro, nem passagem na sua cerca: * nem gritos nas suas praças.</div>
<div class="col-6 text-justify">Beátum dixérunt pópulum, cui hæc sunt: * beátus pópulus, cujus Dóminus Deus ejus.</div>
<div class="col-6 text-justify">Bem-aventurado chamarão ao povo que tem estes bens: * bem-aventurado o povo que tem o Senhor por seu Deus.</div>
