<div class="col-6 dropcaps text-justify">Lauda, Jerúsalem, Dóminum: * lauda Deum tuum, Sion.</div>
<div class="col-6 dropcaps text-justify">Louva, ó Jerusalém, o Senhor: * louva, ó Sião, o teu Deus.</div>
<div class="col-6 text-justify">Quóniam confortávit seras portárum tuárum: * benedíxit fíliis tuis in te.</div>
<div class="col-6 text-justify">Porque reforçou os ferrolhos de tuas portas: * abençoou os teus filhos dentro de ti.</div>
<div class="col-6 text-justify">Qui pósuit fines tuos pacem: * et ádipe fruménti sátiat te.</div>
<div class="col-6 text-justify">Foi Ele que estabeleceu a paz nas tuas fronteiras: * e da flor da farinha te sacia.</div>
<div class="col-6 text-justify">Qui emíttit elóquium suum terræ: * velóciter currit sermo ejus.</div>
<div class="col-6 text-justify">É Ele que envia as suas ordens à terra: * e a sua palavra corre velozmente.</div>
<div class="col-6 text-justify">Qui dat nivem sicut lanam: * nébulam sicut cínerem spargit.</div>
<div class="col-6 text-justify">É Ele que faz cair a neve como lã: * espalha a névoa como cinza.</div>
<div class="col-6 text-justify">Mittit crystállum suam sicut buccéllas: * ante fáciem frígoris ejus quis sustinébit?</div>
<div class="col-6 text-justify">Envia o seu gelo aos pedaços: * ao rigor do seu frio quem poderá resistir?</div>
<div class="col-6 text-justify">Emíttet verbum suum, et liquefáciet ea: * flabit spíritus ejus, et fluent aquæ.</div>
<div class="col-6 text-justify">Enviará a sua palavra e os derreterá: * soprará o seu vento e correrão as águas.</div>
<div class="col-6 text-justify">Qui annúntiat verbum suum Jacob: * justítias, et judícia sua Israël.</div>
<div class="col-6 text-justify">Que anuncia sua palavra a Jacob: * suas justiças e seus preceitos a Israel.</div>
<div class="col-6 text-justify">Non fecit táliter omni natióni: * et judícia sua non manifestávit eis.</div>
<div class="col-6 text-justify">Não fez assim a todas as nações: * e lhes não manifestou os seus preceitos.</div>
