<div class="col-sm-6 dropcaps text-justify">Laudáte Dóminum in sanctis ejus: * laudáte eum in firmaménto virtútis ejus.</div>
<div class="col-sm-6 dropcaps text-justify">Louvai o Senhor no seu santuário: * louvai-O no seu augusto firmamento.</div>
<div class="col-sm-6 text-justify">Laudáte eum in virtútibus ejus: * laudáte eum secúndum multitúdinem magnitúdinis ejus.</div>
<div class="col-sm-6 text-justify">Louvai-O nas suas virtudes: * louvai-O segundo a multitude da sua grandeza.</div>
<div class="col-sm-6 text-justify">Laudáte eum in sono tubæ: * laudáte eum in psaltério, et cíthara.</div>
<div class="col-sm-6 text-justify">Louvai-O ao som da trombeta: * louvai-O com o saltério e a cítara.</div>
<div class="col-sm-6 text-justify">Laudáte eum in týmpano, et choro: * laudáte eum in chordis, et órgano.</div>
<div class="col-sm-6 text-justify">Louvai-O com timbales e em coro: * louvai-O com cordas e órgão.</div>
<div class="col-sm-6 text-justify">Laudáte eum in cýmbalis benesonántibus: laudáte eum in cýmbalis jubilatiónis: * omnis spíritus laudet Dóminum.</div>
<div class="col-sm-6 text-justify">Louvai-O com címbalos melodiosos: louvai-O com címbalos de júbilo: * todo o espírito louve o Senhor.</div>
