<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      V. Domine, <span class="text-danger">&#10016;</span> labia mea aperies.
    </div>
    <div class="col-6 text-justify">
      V. Abri, Senhor, <span class="text-danger">&#10016;</span> os meus lábios.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Et os meum annuntiabit laudem tuam.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> E a minha boca anunciará o vosso
      louvor.
    </div>
    <div class="col-6 text-justify">
      V. Deus <span class="text-danger">&#10016;</span> in adjutórium meum
      inténde.
    </div>
    <div class="col-6 text-justify">
      V. Deus, <span class="text-danger">&#10016;</span> vinde em meu auxílio.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Dómine, ad adjuvándum me festína.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Senhor, apressai-Vos em socorrer-me.
    </div>
    <div class="col-6 text-justify">
      V. Glória Patri, et Fílio, et Spíritui Sancto.
    </div>
    <div class="col-6 text-justify">
      V. Glória ao Pai, e ao Filho e ao Espírito Santo.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Sicut erat in pricípio, et nunc, et
      semper, et in sǽcula sæculórum. Amen.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Assim como era no princípio, agora e
      sempre, e por todos os séculos dos séculos. Amen.
    </div>
  </div>
</div>

<em
  >Desde o Sábado antes do Domingo da Septuagésima até às vésperas do Sábado
  Santo, em vez de Allelúja, é dito:</em
>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      Laus tibi, Domine, Rex æternæ gloriæ.
    </div>
    <div class="col-6 text-justify">
      Louvado sejais, ó Senhor, Rei da glória eterna.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-1">Invitatório</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      Ave Maria, gratia plena, Dominus tecum.
    </div>
    <div class="col-6 text-justify">
      Ave, Maria, cheia de graça, o Senhor é convosco.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-2">Salmo 94</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 dropcaps text-justify">
      Veníte, exsultémus Dómino: * jubilémus Deo salutári nostro:
    </div>
    <div class="col-6 dropcaps text-justify">
      Vinde, exultemos no Senhor: * cantemos alegres a de Deus nosso salvador:
    </div>
    <div class="col-6 text-justify">
      Præoccupémus fáciem ejus in confessióne: * et in psalmis jubilémus ei.
    </div>
    <div class="col-6 text-justify">
      Apresentemo-nos diante d’Ele em acção de graças: * e celebremo-l’O com
      salmos.
    </div>
    <div class="col-6 text-justify">
      Ave Maria, gratia plena, Dominus tecum.
    </div>
    <div class="col-6 text-justify">
      Ave, Maria, cheia de graça, o Senhor é convosco.
    </div>
    <div class="col-6 text-justify">
      Quóniam Deus magnus Dóminus: * et Rex magnus super omnes deos.
    </div>
    <div class="col-6 text-justify">
      Porque o Senhor é o Deus grande: * e o Rei grande sobre todos os deuses.
    </div>
    <div class="col-6 text-justify">
      Quia in manu ejus sunt omnes fines terræ: * et altitúdines móntium ipsíus
      sunt.
    </div>
    <div class="col-6 text-justify">
      Pois na sua mão estão todos os confins da terra: * e as alturas dos montes
      são suas.
    </div>
    <div class="col-6 text-justify">
      Dominus tecum.
    </div>
    <div class="col-6 text-justify">
      O Senhor é convosco.
    </div>
    <div class="col-6 text-justify">
      Quóniam ipsíus est mare, et ipse fecit illud: * et siccam manus ejus
      formavérunt.
    </div>
    <div class="col-6 text-justify">
      Seu é o mar e Ele o fez: * e as suas mãos formaram a terra árida.
    </div>
    <div class="col-6 text-justify">
      Veníte, adorémus, et procidámus, * et plorémus ante Dóminum qui fecit nos.
    </div>
    <div class="col-6 text-justify">
      Vinde, adoremos e prostremo-nos, * e choremos diante do Senhor que nos
      criou.
    </div>
    <div class="col-6 text-justify">
      Quia ipse est Dóminus Deus noster, * et nos pópulus páscuæ ejus, et oves
      manus ejus.
    </div>
    <div class="col-6 text-justify">
      Pois Ele é o Senhor nosso Deus, * e nós somos o povo do seu pasto e as
      ovelhas da sua manada.
    </div>
    <div class="col-6 text-justify">
      Ave Maria, gratia plena, Dominus tecum.
    </div>
    <div class="col-6 text-justify">
      Ave, Maria, cheia de graça, o Senhor é convosco.
    </div>
    <div class="col-6 text-justify">
      Hódie si vocem ejus audiéritis, * nolíte obduráre corda vestra:
    </div>
    <div class="col-6 text-justify">
      Se hoje ouvirdes a sua voz, * não endureceis os vossos corações:
    </div>
    <div class="col-6 text-justify">
      Sicut in irritatióne secúndum diem tentatiónis in desérto: * ubi
      tentavérunt me patres vestri, probavérunt me, et vidérunt ópera mea.
    </div>
    <div class="col-6 text-justify">
      Como quando me provocaram à ira, no dia da tentação no deserto: * onde
      vossos pais me tentaram, me testaram e viram as minhas obras.
    </div>
    <div class="col-6 text-justify">
      Dominus tecum.
    </div>
    <div class="col-6 text-justify">
      O Senhor é convosco.
    </div>
    <div class="col-6 text-justify">
      Quadragínta annis offénsus fui generatióni illi, * et dixi: semper hi
      errant corde.
    </div>
    <div class="col-6 text-justify">
      Quarenta anos estive irritado contra esta geração, * e disse: é um povo de
      coração errante.
    </div>
    <div class="col-6 text-justify">
      Et isti non cognovérunt vias meas, ut jurávi in ira mea: * Si introíbunt
      in réquiem meam.
    </div>
    <div class="col-6 text-justify">
      Eles não conheceram os meus caminhos, pelo que jurei na minha ira: * no
      meu repouso não entrarão.
    </div>
    <div class="col-6 text-justify">
      Ave Maria, gratia plena, Dominus tecum.
    </div>
    <div class="col-6 text-justify">
      Ave, Maria, cheia de graça, o Senhor é convosco.
    </div>
    <div class="col-6 text-justify">
      Gloria Patri, et Filio, et Spiritui sancto: Sicut erat in principio, et
      nunc, et semper, et in sæcula sæculorum. Amen.
    </div>
    <div class="col-6 text-justify">
      Glória ao Pai, e ao Filho e ao Espírito Santo. Assim como era no
      princípio, agora e sempre, e por todos os séculos dos séculos. Amen.
    </div>
    <div class="col-6 text-justify">
      Dominus tecum.
    </div>
    <div class="col-6 text-justify">
      O Senhor é convosco.
    </div>
    <div class="col-6 text-justify">
      Ave Maria, gratia plena, Dominus tecum.
    </div>
    <div class="col-6 text-justify">
      Ave, Maria, cheia de graça, o Senhor é convosco.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-3">Hino Quem terra</h3>

<div class="container-fluid">
  <div class="row">
    {% include hinos/quemterra.html %}
  </div>
</div>

<em
  >Os três Salmos seguintes, com suas Antífonas, dizem-se no Domingo,
  Segunda-feira e Quinta-feira.</em
>

<h3 class="text-center" id="item-1-4">Primeiro Nocturno</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Benedicta tu in mulieribus, et benedictus fructus ventris
      tui.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Bendita sois vós entre as mulheres, e bendito é o fruto do
      vosso ventre.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-5">Salmo 8</h3>

<div class="container-fluid">
  <div class="row">
    {% include salmos/008.html %}
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Benedicta tu in mulieribus, et benedictus fructus ventris
      tui.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Bendita sois vós entre as mulheres, e bendito é o fruto do
      vosso ventre.
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Sicut myrrha electa, odorem dedisti suavitatis, sancta Dei
      Genitrix.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Como a preciosa mirra, exalastes suavíssima fragrância, ó
      santa Mãe de Deus.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-6">Salmo 18</h3>

<div class="container-fluid">
  <div class="row">
    {% include salmos/018.html %}
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Sicut myrrha electa, odorem dedisti suavitatis, sancta Dei
      Genitrix.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Como a preciosa mirra, exalastes suavíssima fragrância, ó
      santa Mãe de Deus.
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Ante torum hujus Virginis frequentate nobis dulcia cantica
      dramatis.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Multiplicai-nos doces cânticos ante o precioso leito desta
      Virgem.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-7">Salmo 23</h3>

<div class="container-fluid">
  <div class="row">
    {% include salmos/023.html %}
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Ante torum hujus Virginis frequentate nobis dulcia cantica
      dramatis.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Multiplicai-nos doces cânticos ante o precioso leito desta
      Virgem.
    </div>
  </div>
</div>

<em>Absolvições, Lições e Responsórios, como no fim do terceiro Nocturno.</em>

<em
  >Os três Salmos seguintes, com suas Antífonas, dizem-se na Terça-Feira e
  Sexta-feira.</em
>

<h3 class="text-center" id="item-1-9">Segundo Nocturno</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Specie tua et pulchritudine tua intende, prospere procede,
      et regna.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Ornada de glória e de formosura, caminhai prosperamente e
      reinai.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-10">Salmo 44</h3>

<div class="container-fluid">
  <div class="row">
    {% include salmos/044.html %}
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Specie tua et pulchritudine tua intende, prospere procede,
      et regna.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Ornada de glória e de formosura, caminhai prosperamente e
      reinai.
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Adjuvabit eam Deus vultu suo: Deus in medio ejus, non
      commovebitur.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Ajudou-a Deus com seu favorável aspecto; e como Deus assiste
      no meio dela, não se verá perturbada.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-11">Salmo 45</h3>

<div class="container-fluid">
  <div class="row">
    {% include salmos/045.html %}
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Adjuvabit eam Deus vultu suo: Deus in medio ejus, non
      commovebitur.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Ajudou-a Deus com seu favorável aspecto; e como Deus assiste
      no meio dela, não se verá perturbada.
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Sicut lætantium omnium nostrum habitatio est in te, sancta
      Dei Genitrix.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Santa Mãe de Deus, todos nossos que por amor habitam
      convosco estão cheios de alegria.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-12">Salmo 86</h3>

<div class="container-fluid">
  <div class="row">
    {% include salmos/086.html %}
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Sicut lætantium omnium nostrum habitatio est in te, sancta
      Dei Genitrix.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Santa Mãe de Deus, todos nossos que por amor habitam
      convosco estão cheios de alegria.
    </div>
  </div>
</div>

<em>Absolvições, Lições e Responsórios, como no fim do terceiro Nocturno.</em>

<em
  >Os três Salmos seguintes, com suas Antífonas, dizem-se na Quarta-Feira e
  Sábado.</em
>

<h3 class="text-center" id="item-1-13">Terceiro Nocturno</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Gaude, Maria Virgo: cunctas hæreses sola intermenisti in
      universo mundo.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Alegrai-vos, Virgem Maria: porque só vós haveis destruído
      todas as heresias em todo o mundo.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-14">Salmo 95</h3>

<div class="container-fluid">
  <div class="row">
    {% include salmos/095.html %}
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Gaude, Maria Virgo: cunctas hæreses sola intermenisti in
      universo mundo.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Alegrai-vos, Virgem Maria: porque só vós haveis destruído
      todas as heresias em todo o mundo.
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Dignare me laudare te, Virgo sacrata: da mihi virtutem
      contra hostes tuos.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Dignai-vos, sagrada Virgem, de que eu vos louve; dai-me
      esforço contra vossos inimigos.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-15">Salmo 96</h3>

<div class="container-fluid">
  <div class="row">
    {% include salmos/096.html %}
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Dignare me laudare te, Virgo sacrata: da mihi virtutem
      contra hostes tuos.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Dignai-vos, sagrada Virgem, de que eu vos louve; dai-me
      esforço contra vossos inimigos.
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Post partum virgo inviolata permansisti: Dei Genitrix,
      intercede pro nobis.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Depois do parto permanecestes virgem imaculada; Mãe de Deus,
      intercedei por nós.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-16">Salmo 97</h3>

<div class="container-fluid">
  <div class="row">
    {% include salmos/097.html %}
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <em>Ant.</em> Post partum virgo inviolata permansisti: Dei Genitrix,
      intercede pro nobis.
    </div>
    <div class="col-6 text-justify">
      <em>Ant.</em> Depois do parto permanecestes virgem imaculada; Mãe de Deus,
      intercedei por nós.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-17">Versículo</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      V. Diffusa est gratia in labiis tuis.
    </div>
    <div class="col-6 text-justify">
      V. Estão cheios de graça vossos lábios.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Propterea benedixit te Deum in
      æternum.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Por isso Deus vos abençoou para
      sempre.
    </div>
    <div class="col-6 text-justify">
      Pater Noster (secreto usque ad).
    </div>
    <div class="col-6 text-justify">
      Pai Nosso (em silêncio).
    </div>
    <div class="col-6 text-justify">
      V. Et ne nos inducas in tentationem.
    </div>
    <div class="col-6 text-justify">
      V. E nos não deixeis cair em tentação.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Sed libera nos a malo.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Mas livrai-nos do mal.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-18">Absolvição</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 dropcaps text-justify">
      Precibus et meritis beatæ Mariæ semper Virginis, et omnium Sanctorum,
      perducat nos Dominus ad regna cælorum.
    </div>
    <div class="col-6 dropcaps text-justify">
      Pelos rogos e merecimentos da bem-aventurada Virgem Maria, e de todos os
      Santos, nos conduza o Senhor ao reino dos céus.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Amen.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Amen.
    </div>
    <div class="col-6 text-justify">
      V. Jube, Domine, benedicere.
    </div>
    <div class="col-6 text-justify">
      V. Dai-me, Senhor, a vossa bênção.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-19">Bênção</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      Nos cum prole pia benedicat Virgo Maria.
    </div>
    <div class="col-6 text-justify">
      Nos abençoe a Virgem Maria com seu piíssimo Filho.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Amen.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Amen.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-20">Lição 1 - <em>Ecl. 24, 11-13</em></h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 dropcaps text-justify">
      In omnibus requiem quæsivi, et in hereditate Domini morabor. Tunc
      præcepit, et dixit mihi Creator omnium: et qui creavit me, requievit in
      tabernaculo meo. Et dixit mihi: In Jacob inhabita, et in Israël
      hereditare, et in electis meis mitte radices.
    </div>
    <div class="col-6 dropcaps text-justify">
      Em todas as coisas procurei descanso, e na herança do Senhor farei morada.
      Então ordenou, e me disse o Criador de tudo; e O que me criou descansou no
      meu Tabernáculo, e disse-me: Tem a tua morada em Jacob, e a tua herança em
      Israel, e nos meus escolhidos lança raízes.
    </div>
    <div class="col-6 text-justify">
      V. Tu autem, Dómine, miserére nobis.
    </div>
    <div class="col-6 text-justify">
      V. E Vós, Senhor, tende misericórdia de nós.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Deo grátias.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Graças a Deus.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Sancta et immaculáta virginitas,
      quibus te laudibus efferam nescio: Quia quem cæli cápere non póterant, tuo
      gremio contulísti.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Santa e imaculada Virgindade, não sei
      com que louvores possa exaltar-vos. Porque encerrastes no vosso seio
      Aquele a quem os céus não podiam abranger.
    </div>
    <div class="col-6 text-justify">
      V. Benedicta tu in muliéribus, et benedíctus fructus ventris tui.
    </div>
    <div class="col-6 text-justify">
      V. Bendita sois vós entre as mulheres e bendito é o fruto do vosso ventre.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Quia quem cæli cápere non póterant,
      tuo gremio contulisti.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Porque encerrastes no vosso seio
      Aquele a quem os céus não podiam abranger.
    </div>
    <div class="col-6 text-justify">
      V. Iube domne benedicere.
    </div>
    <div class="col-6 text-justify">
      V. Dai-me, Senhor, a vossa bênção.
    </div>
    <div class="col-6 text-justify">
      Ipsa Virgo Vírginum intercédat pro nobis ad Dóminum.
    </div>
    <div class="col-6 text-justify">
      A mesma Virgem das virgens interceda por nós ao Senhor.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Amen.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Amen.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-21">Lição 2 - <em>Ecl. 24, 15-16</em></h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 dropcaps text-justify">
      Et sic in Sion firmata sum, et in civitate sanctificata similiter
      requievi, et in Ierúsalem potestas mea. Et radicavi in populo
      honorificato, et in parte Dei mei hereditas illius, et in plenitudine
      sanctorum detentio mea.
    </div>
    <div class="col-6 dropcaps text-justify">
      E desta maneira estou fundada em Sião, e semelhantemente repousei na
      cidade santificada; e em Jerusalém é o meu poder. E lancei raízes no povo
      honorificado, e na parte do meu Deus, herança sua, e na congregação dos
      santos fiz a minha morada.
    </div>
    <div class="col-6 text-justify">
      V. Tu autem, Dómine, miserére nobis.
    </div>
    <div class="col-6 text-justify">
      V. E Vós, Senhor, tende misericórdia de nós.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Deo grátias.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Demos graças a Deus.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Beata es, Virgo Maria, quæ Dominum
      portasti, Creatorem mundi: Genuisti qui te fecit, et in æternum permanes
      Virgo.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Bem-aventurada sois, ó Virgem Maria,
      que trouxestes no vosso ventre o Criador do mundo. Gerastes o que vos deu
      o ser, e ficastes para sempre Virgem.
    </div>
    <div class="col-6 text-justify">
      V. Ave Maria, gratia plena, Dominus tecum.
    </div>
    <div class="col-6 text-justify">
      V. Ave Maria, cheia de graça, o Senhor é convosco.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Genuisti qui te fecit, et in æternum
      permanes Virgo.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Gerastes O que vos deu o ser, e
      ficastes para sempre Virgem.
    </div>
  </div>
</div>

<em
  >Quando o Te Deum é dito depois da Terceira Lição, adiciona-se o seguinte no
  fim do Responsório:</em
>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      V. Glória Patri, et Fílio, et Spirítui Sancto.
    </div>
    <div class="col-6 text-justify">
      V. Glória ao Pai e ao Filho e ao Espírito Santo.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Genuisti qui te fecit, et in æternum
      permanes Virgo.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Gerastes O que vos deu o ser, e
      ficastes para sempre Virgem.
    </div>
    <div class="col-6 text-justify">
      V. Iube domne benedicere.
    </div>
    <div class="col-6 text-justify">
      V. Dai-me, Senhor, a vossa bênção.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-22">Bênção</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      Per Vírginem matrem concédat nobis Dóminus salútem et pacem.
    </div>
    <div class="col-6 text-justify">
      Pela Virgem Maria, nos conceda o Senhor a paz e a salvação.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Amen.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Amen.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-23">Lição 3 - <em>Ecl. 24, 17-20</em></h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 dropcaps text-justify">
      Quasi cedrus exaltata sum in Libano, et quasi cypressus in monte Sion:
      Quasi palma exaltata sum in Cades, et quasi plantatio rosæ in Iericho:
      Quasi oliva speciosa in campis, et quasi platanus exaltata sum iuxta aquam
      in plateis. Sicut cinnamomum et balsamum aromatizans odorem dedi; quasi
      myrrha electa dedi suavitatem odoris:
    </div>
    <div class="col-6 dropcaps text-justify">
      Exaltada sou, qual cedro no Líbano, e qual cipreste no monte Sião.
      Exaltada sou, qual palma em Cades e como as rosas em Jericó. Qual especial
      oliveira nos campos, e qual plátano, sou exaltada junto da água nas
      praças. Assim como o cinamomo e o bálsamo, que difundem cheiro, dei eu
      fragrância; como a mirra, dei cheiro de suavidade.
    </div>
    <div class="col-6 text-justify">
      V. Tu autem, Dómine, miserére nobis.
    </div>
    <div class="col-6 text-justify">
      V. E Vós, Senhor, tende misericórdia de nós.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Deo grátias.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Demos graças a Deus.
    </div>
  </div>
</div>

<em
  >O Te Deum não é dito no Advento, ou da Septuagésima até à Páscoa, excluindo
  as Festas de Nossa Senhora. O seguinte Responsório é dito quando o Te Deum é
  omitido:</em
>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Felix namque es, sacra Virgo Maria, et
      omni laude dignissima: Quia ex te ortus est sol justitiæ, Christus Deus
      noster.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Ditosa sois, ó sagrada Virgem Maria, e
      digníssima de todo o louvor. Porque de vós nasceu o sol de justiça, Jesus
      Cristo nosso Deus.
    </div>
    <div class="col-6 text-justify">
      V. Ora pro populo, interveni pro clero, intercede pro devoto femineo sexu:
      sentiant omnes tuum juvamen, quicumque celebrant tuam sanctam
      commemorationem.
    </div>
    <div class="col-6 text-justify">
      V. Rogai pelo povo, intercedei pelo clero, advogai pelo devoto sexo
      feminino; experimentem o vosso patrocínio os que celebram a vossa santa
      memória. Porque de vós nasceu o Sol de justiça, Jesus Cristo, nosso Deus.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Quia ex te ortus est sol justitiæ.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Porque de ti nasceu o Sol de justiça.
    </div>
    <div class="col-6 text-justify">
      V. Glória Patri, et Fílio, et Spirítui Sancto.
    </div>
    <div class="col-6 text-justify">
      V. Glória ao Pai e ao Filho e ao Espírito Santo.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Christus Deus noster.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Jesus Cristo, nosso Deus.
    </div>
  </div>
</div>

<h3 class="text-center" id="item-1-24">Te Deum</h3>

<div class="container-fluid">
  <div class="row">
    {% include hinos/tedeum.html %}
  </div>
</div>

<em
  >As Matinas acabam depois do Terceiro Responsório ou do Te Deum, porque é
  usual depois das Matinas passar-se directamente para as Laudes. No entanto, se
  não continuar para as Laudes diz:</em
>

<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-justify">
      V. Domine, exaudi orationem meam.
    </div>
    <div class="col-6 text-justify">
      V. Ouvi, Senhor, a minha oração.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Et clamor meus ad te veniat.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> E o meu clamor chegue até Vós.
    </div>
    <div class="col-6 text-danger text-center">Orémus.</div>
    <div class="col-6 text-danger text-center">Oremos.</div>
    <div class="col-6 dropcaps text-justify">
      Concede nos famulos tuos, quǽsumus, Domine Deus, perpetua mentis et
      corporis sanitate gaudere: et gloriosa beatæ Mariæ semper Virginis
      intercessione, a præsenti liberari tristitia, et æterna perfrui lætitia.
      Per Dominum nostrum Jesum Christum.
    </div>
    <div class="col-6 dropcaps text-justify">
      Senhor Deus, nós Vos suplicamos que concedais a vossos servos lograr uma
      perpétua saúde de corpo e alma, e que pela intercessão gloriosa da
      bem-aventurada sempre Virgem Maria sejamos livres da presente tristeza, e
      gozemos da eterna alegria. Por Jesus Cristo nosso Senhor.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Amen.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Amen.
    </div>
    <div class="col-6 text-justify">
      V. Domine, exaudi orationem meam.
    </div>
    <div class="col-6 text-justify">
      V. Ouvi, Senhor, a minha oração.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Et clamor meus ad te veniat.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> E o meu clamor chegue até Vós.
    </div>
    <div class="col-6 text-justify">
      V. Benedicamus Domino.
    </div>
    <div class="col-6 text-justify">
      V. Bendigamos o Senhor.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Deo gratias.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Graças a Deus.
    </div>
    <div class="col-6 text-justify">
      V. Fidelium animæ per misericordiam Dei, requiescant in pace.
    </div>
    <div class="col-6 text-justify">
      V. E que as almas dos fiéis, pela misericórdia de Deus, descansem em paz.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Amen.
    </div>
    <div class="col-6 text-justify">
      <span class="text-danger">R.</span> Amen.
    </div>
  </div>
</div>
