<div class="container-fluid">
<div class="row">
<div class="text-justify">
V. Deus <span class="text-danger">&#10016;</span> in adjutórium meum inténde.
</div>
<div class="text-justify">
V. Deus, <span class="text-danger">&#10016;</span> vinde em meu auxílio.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Dómine, ad adjuvándum me festína.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Senhor, apressai-Vos em socorrer-me.
</div>
<div class="text-justify">
    V. Glória Patri, et Fílio, et Spíritui Sancto.
    </div>
    <div class="text-justify">
    V. Glória ao Pai, e ao Filho e ao Espírito Santo.
    </div>
    <div class="text-justify">
    <span class="text-danger">R.</span> Sicut erat in pricípio, et nunc, et semper, et in sǽcula sæculórum. Amen.
    </div>
    <div class="text-justify">
    <span class="text-danger">R.</span> Assim como era no princípio, agora e sempre, e por todos os séculos dos séculos. Amen.
</div>
</div>
</div>

<h3 class="text-center" id="item-6-1">Hino Memento rerum conditor</h3>

<div class="container-fluid">
    <div class="row">
    {% include hinos/mementorerumconditor.html %}
    </div>
    </div>

<div class="container-fluid">
<div class="row">
<div class="text-justify">
<em>Ant.</em> Assumpta est Maria in cælum: gaudete angeli, laudantes benedicunt Dominum.
</div>
<div class="text-justify">
<em>Ant.</em> Maria foi exaltada ao céu; os anjos se alegram, louvam, e glorificam o Senhor.
</div>
</div>
</div>

<h3 class="text-center" id="item-6-2">Salmo 53</h3>

<div class="container-fluid">
<div class="row">
{% include salmos/053.html %}
</div>
</div>

<h3 class="text-center" id="item-6-3">Salmo 84</h3>

<div class="container-fluid">
<div class="row">
{% include salmos/084.html %}
</div>
</div>

<h3 class="text-center" id="item-6-4">Salmo 116</h3>

<div class="container-fluid">
<div class="row">
{% include salmos/116.html %}
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="text-justify">
<em>Ant.</em> Assumpta est Maria in cælum: gaudete angeli, laudantes benedicunt Dominum.
</div>
<div class="text-justify">
<em>Ant.</em> Maria foi exaltada ao céu; os anjos se alegram, louvam, e glorificam o Senhor.
</div>
</div>
</div>

<h3 class="text-center" id="item-6-5">Pequeno Capítulo - <em>Ct. 6, 9</em></h3>
<div class="container-fluid">
<div class="row">
<div class="dropcap text-justify">Quæ est ista, quæ progréditur quasi auróra consúrgens, pulchra ut luna, elécta ut sol, terribilis ut castrorum acies ordinata?</div>
<div class="dropcap text-justify">Quem é esta que aparece como a aurora quando desponta, formosa como a lua, eleita, como o sol, terrível como um exército formado em linha?
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Deo grátias.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Graças a Deus.
</div>
<div class="text-justify">
V. Dignare me laudare te, Virgo sacrata.
</div>
<div class="text-justify">
V. Dignai-vos, sagrada Virgem, de que eu vos louve.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Da mihi virtutem contra hostes tuos.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Dai-me esforço contra vossos inimigos.
</div>
</div>
</div>


<div class="container-fluid">
<div class="row">
<div class="text-justify">
<em>(Hic genuflectitur)</em> Kyrie eleison
</div>
<div class="text-justify">
<em>(Genuflectir)</em> Senhor, tende piedade de nós.
</div>
<div class="text-justify">
Christe, eléison.
</div>
<div class="text-justify">
Cristo, tende piedade de nós.
</div>
<div class="text-justify">
Kyrie, eléison.
</div>
<div class="text-justify">
Senhor, tende piedade de nós.
</div>
<div class="text-justify">
V. Domine, exaudi orationem meam.
</div>
<div class="text-justify">
V. Ouvi, Senhor, a minha oração.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Et clamor meus ad te veniat.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> E o meu clamor chegue até Vós.
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="text-danger text-center"> Orémus. </div>
<div class="text-danger text-center"> Oremos. </div>
<div class="dropcap text-justify">Deus, qui virginalem aulam beatae Mariae in qua habitares, eligere dignatus es: da, quaesumus, ut sua nos defensione munitos; jucundos facias suae interesse commemorationi. Qui vivis et regnas &c.
</div>
<div class="dropcap text-justify">Ó Deus, que Vos dignastes eleger puríssimas entranhas da bem-aventurada Virgem Maria para vossa morada: concedei-nos que com o presente culto, que alegres lhe tributamos, nos façamos beneméritos do seu patrocínio. Vós que viveis e reinais &c.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="text-justify">
V. Domine, exaudi orationem meam.
</div>
<div class="text-justify">
V. Ouvi, Senhor, a minha oração.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Et clamor meus ad te veniat.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> E o meu clamor chegue até Vós.
</div>
<div class="text-justify">
V. Benedicamus Domino.
</div>
<div class="text-justify">
V. Bendigamos o Senhor.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Deo gratias.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Graças a Deus.
</div>
<div class="text-justify">
V. Fidelium animæ per misericordiam Dei, requiescant in pace.
</div>
<div class="text-justify">
V. E que as almas dos fiéis, pela misericórdia de Deus, descansem em paz.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="text-justify">
<span class="text-danger">R.</span> Amen.
</div>
</div>
</div>
