---
import { getDate } from "./../../functions/entrypoint.ts";
import { yyyyMMDD } from "./../../functions/src/utils.ts";

const date = yyyyMMDD(new Date());

const data = getDate(date);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GoldenTreasure</title>
	</head>
	<body>
		<h1>Golden Treasure</h1>
    <div>
    {JSON.stringify(data.info, null, 2)}
    <br />
    {data.sections.map(i => (
    <h2>{i.id}</h2>
    <p>{i.body}</p>
    ))}
    <br />
    {JSON.stringify(data.sections.body, null, 2)}
    </div>
	</body>
</html>
