---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Tesouro dos fiéis">
  <main class="container mx-auto mt-9">
    <div class="columns-2">
    <h1 class="text-5xl bg-blue-purple-gradient">Tesouro dos fiéis </h1>
    <img src="/favicon.svg" width="50px" alt="Logo" />
    </div>
    <p class="instructions">
      Espaço dedicado à oração, exposição e preservação das santas tradições da
      Igreja.
    </p>
    <ul role="list" class="grid gap-4 grid-cols-2">
      <Card
        href="missa"
        title="Santa Missa Diária"
        body="Missa diariamente actualiazada com os textos e segundo o calendário do Rito Romano"
        img="cruxifixao2.gif"
      />
      <Card
        href="oficio"
        title="Pequeno Ofício de Nossa Senhora"
        body="Os vários Ofícios da muito Tradicional oração dos fiéis."
        img="murillo.jpeg"
      />
      <Card
        href="salterio"
        title="Saltério"
        body="O Saltério da Vulgata e a base para o Canto Gregoriano, por ele muitos aprenderam a ler, outros tantos a cantar e muitos mais a louvar o Senhor."
        img="salmo.gif"
      />
      <Card
        href="adoracao"
        title="Bênção do Santíssimo Sacramento"
        body="Hinos em honra do Santíssimo Sacramento, Hinos para antes da Bênção, Louvores Dívinos, Hinos para depois da Bênção."
        img="altar.gif"
      />
    </ul>

    <div class="grid grid-cols-2 gap-4 place-content-center">
      <div>primeira</div>
      <div>segunda</div>
    </div>
  </main>
</Layout>
