---
import MainLayout from '../layouts/MainLayout.astro';
import { getDate } from "../../lib/entrypoint";

const today = new Date().toISOString().split('T')[0];

const data = getDate(today);
console.log(data);
---

<MainLayout content={{ title: '' }}>
<div>
	{JSON.stringify(today, null, 2)}
	{JSON.stringify(data.map(i => i), null, 2)}

</div>
</MainLayout>
