a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.rubric {
  color: #df2321;
}

/*
 ======== Sidebar ========
*/

#sidebar {
  width: 250px;
  margin-top: 55px;
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 55px);
  z-index: 2;
  color: #565656;
  transition: all 0.2s;
  overflow: scroll;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar > ul.with-sidebar-tools {
  padding: 65px 0 0 0;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul > li {
  border-bottom: 1px dashed #c3b37e;
}

#sidebar ul > li:last-child {
  border-bottom: 0;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #626262;
  background: #fffdf1;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #626262;
  background: #d3d3d3;
  font-weight: 600;
}

#sidebar ul li.in-progress,
#sidebar ul li.in-progress a:hover {
  background: url("../img/spinner.gif") no-repeat top 5px right 5px;
  transition: none;
}

#sidebar ul li .tempora {
  font-size: 0.7em;
}

#sidebar ul li.sidebar-propers-item ul li a {
  padding-left: 20px;
  font-size: 0.9em;
}

#search-input {
  display: inline-block;
  width: 80%;
  margin: 5% 0 0 5%;
  border-radius: 0.25em;
}

.input-group-text {
  position: absolute;
  right: 0;
  left: 175px;
  top: -42px;
  height: 0;
  bottom: 0;
  cursor: pointer;
}

.input-group-append .iconify {
  position: absolute;
  left: 180px;
  top: -44px;
  cursor: pointer;
}

#sidebar-tools {
  background-color: #ffffff;
  padding: 0 0 25px 0;
  width: 250px;
  height: 65px;
  position: fixed;
}

/*
 ------- Datepicker -------
*/

#datetimepicker4 {
  display: inline-block;
  width: 20%;
}

.bootstrap-datetimepicker-widget {
  left: 0 !important;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #df2321;
}

.bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: #df2321;
}

/*
 ======== Content ========
*/

#content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

#content h2 {
  color: #df2321;
}

#lang-switch {
  position: sticky;
  text-align: center;
  bottom: 5rem;
  display: none;
  opacity: 0.9;
  padding: 0px;
}

#lang-switch label.active {
  background-color: #df2321;
  opacity: 1;
}

#content-tools {
  display: none;
}

#content-tools a {
  float: right;
  position: relative;
  z-index: 5;
  margin: 2px;
}

/*
 ======== Media ========
*/

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
}

@media (min-width: 768px) {
  #content-tools {
    display: block;
  }
}

@media (max-width: 575px) {
  #lang-switch {
    display: block;
  }
}
