/* GLOBAL */
* {
  font-size: 100%;
  font-weight: normal;
  font-family: "Cardo";
  font-feature-settings: "liga", "kern", "hlig", "swsh", "calt", "dlig";
  font-variant-ligatures: historical-ligatures;
  text-indent: 0pt;
  text-rendering: optimizeLegibility;
}

@import url("https://fonts.googleapis.com/css?family=Cardo&display=swap");

:root {
  --danger-color: #df2321;
}

html {
  scroll-behavior: smooth;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 0%;
  top: 40%;
  left: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

em {
  text-align: center !important;
  color: #df2321;
}

.dropcaps {
  text-indent: 0;
}

.dropcaps:first-letter {
  /* margin: 0.08em 0 0.1em 0; */
  padding-top: 6px;
  padding-right: 8px;
  font-size: 300%;
  float: left;
  color: #df2321;
  line-height: 80%;
}

.p {
  text-align: justify;
}

body {
  display: flex;
  position: relative;
  margin-top: 70px;
}

#navbarTogglerDemo01 ul li a {
  color: #ffffff;
}

.dropdown-menu a {
  color: #df2321 !important;
}

.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(170, 170, 170, 0.167) !important;
}

/* NAVBAR */
.navbar {
  background-color: #df2321;
}

.fa:hover,
.fa:focus {
  background-color: transparent;
  color: #aaa;
}

nav .mynav li a {
  color: #ffffff;
}

nav .mynav li a:hover,
nav .mynav li a:active,
nav .mynav li a:focus {
  color: #aaa;
}

/* COVER*/

/* SIDE NAV TOC */

#toc {
  display: grid;
  position: sticky;
  top: 6.5em;
  left: 0;
  bottom: 0;
  color: rgb(225, 225, 225);
  font-size: 70%;
  padding-left: 0;
  max-width: 100%;
}

.toc-salterio,
.toc-propriotempo,
.toc-propriosantos {
  height: 88vh;
  width: 100%;
  overflow: scroll;
}

nav[data-toggle="toc"] .nav > li > a {
  display: block;
  padding: 0;
  font-size: 100%;
  font-weight: 100;
  color: #df2321;
}

nav[data-toggle="toc"] .nav-link.active,
nav[data-toggle="toc"] .nav-link.active:focus,
nav[data-toggle="toc"] .nav-link.active:hover,
nav[data-toggle="toc"] .nav > li > a:focus,
nav[data-toggle="toc"] .nav > li > a:hover {
  color: #df2321;
  border-left: 1px solid #df2321;
  padding-left: 0;
}

/* hide nav that gives the info */
.info {
  display: none;
}

/* CAROUSEL */

.tales {
  width: 100%;
}

.carousel-inner {
  width: 95%;
  max-height: 50vh !important;
}

.box-part {
  background: #fff;
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px;
}

/* SHOP */

.card-deck {
  margin-top: 5vh;
}

/*  OTHER SCREENS */

@media (max-width: 550px) {
  .col-lg-2 {
    display: none;
  }
}
