<em>Desde a Santíssima Trindade até à Páscoa.</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Angelus Dómini nuntiávit Maríæ.
</div>
<div class="col-6 text-justify">
O Anjo do Senhor anunciou a Maria.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et concépit de Spíritu Sancto.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E Ela concebeu do Espírito Santo.
</div>
<div class="col-6 text-justify">
Ave María...
</div>
<div class="col-6 text-justify">
Ave Maria...
</div>
<div class="col-6 text-justify">
℣. Ecce ancílla Dómini.
</div>
<div class="col-6 text-justify">
℣. Eis a escrava do Senhor.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Fiat mihi secúndum verbum tuum.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Faça-se em mim segundo a vossa Palavra.
</div>
<div class="col-6 text-justify">
Ave María...
</div>
<div class="col-6 text-justify">
Ave Maria...
</div>
<div class="col-6 text-justify">
℣. Et Verbum caro factum est.
</div>
<div class="col-6 text-justify">
℣. E o Verbo divino encarnou.
</div>
<div class="col-6 text-justify">
Ave María...
</div>
<div class="col-6 text-justify">
Ave Maria...
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et habitávit in nobis.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E habitou no meio de nós.
</div>
<div class="col-6 text-justify">
Ave María...
</div>
<div class="col-6 text-justify">
Ave Maria...
</div>
<div class="col-6 text-justify">
℣. Ora pro nobis, sancta Dei Génetríx.
</div>
<div class="col-6 text-justify">
℣. Rogai por nós Santa Mãe de Deus.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Ut digni efficiámur promissionibus Christi.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Para que sejamos dignos das promessas de Cristo.
</div>
<div class="col-6 text-danger text-justify">
Orémus.
</div>
<div class="col-6 text-danger text-justify">
Oremos.
</div>
<div class="col-6 dropcaps text-justify">
Grátiam tuam, quǽsumus, Dómine, méntibus nostris infúnde: ut qui, Angelo nuntiánte, Christi Fílii tui incarnatiónem cognóvimus, per passiónem ejus et crucem ad resurrectiónis glóriam perducámur. Per eumdem Christum, Dóminum nostrum. <span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 dropcaps text-justify">
Infundi, Senhor, Vos suplicamos, a vossa graça em nossas almas, para que nós, que pela anunciação do Anjo conhecemos a Incarnação do vosso Filho, sejamos conduzidos à glória da ressurreição pela sua Paixão e Cruz. Pelo mesmo Jesus Cristo Senhor Nosso. <span class="text-danger">℟.</span> Amen.
</div>
</div>
</div>
