<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Confíteor Deo omnipoténti, beátæ Maríæ semper Vírgini, beáto Michǽli Archángelo, beáto Joánni Baptístæ, sanctis Apóstolis Petro et Paulo, et ómnibus Sanctis: quia peccávi nimis cogitatióne, verbo et ópere: <em>(Percutit sibi pectus ter, dicens:)</em>
</div>
<div class="col-6 dropcaps text-justify">
Eu me confesso a Deus, todo poderoso, à bem-aventurada sempre Virgem Maria, ao bem-aventurado S. Miguel Arcanjo, ao bem-aventurado S. João Baptista, aos Santos Apóstolos S. Pedro e S. Paulo, e a todos os santos: que pequei muitas vezes por pensamentos, palavras e obras: <em>(Feche a mão direita e bata no peito por três vezes.)</em>
</div>
<div class="col-6 text-justify">
<b>Mea culpa, mea culpa, mea máxima culpa.</b>
</div>
<div class="col-6 text-justify">
<b>Por minha culpa, por minha culpa, por minha tão grande culpa.</b>
</div>
<div class="col-6 text-justify">
Ideo precor beátam Maríam semper Vírginem, beátum Michǽlem Archángelum, beátum Joánnem Baptístam, sanctos Apóstolos Petrum et Paulum, et omnes Sanctos, orare pro me ad Dóminum, Deum nostrum.
</div>
<div class="col-6 text-justify">
Portanto rogo à bem-aventurada sempre Virgem Maria, ao bem-aventurado S. Miguel Arcanjo, ao bem-aventurado S. João Baptista, aos Santos Apóstolos S. Pedro e S. Paulo, e a todos os Santos, que rogueis a Deus, nosso Senhor, por mim.
</div>
</div>
</div>
