\section{Fátima}

\subsection{Meu Deus pelo Anjo de Portugal}
M}{eu} Deus! Eu creio, adoro, espero e amo-Vos. Peço-Vos perdão para os que não crêem, não adoram, não esperam e não Vos amam!

\subsectioninfo{Santíssima Trindade pelo Anjo de Portugal}{Página \pageref{fatimatrindade}}

\subsection{Nossa Senhora aos Santos Pastorinhos}\label{omeujesus}
\input{texto/devocionario/oracoes/omeujesus}

\subsection{Imaculado Coração de Maria}
\slettrine{Ó}{} Jesus, é por vosso amor, pela conversão dos pecadores e em reparação pelos pecados cometidos contra o Imaculado Coração de Maria!

\subsection{Santíssimo Sacramento}
\slettrine{Ó}{} Santíssima Trindade, eu Vos adoro. Meu Deus, meu Deus, eu Vos amo no Santíssimo Sacramento.

\subsection{Avé de Fátima}
A}{vé,} Avé, Avé Maria! Avé, Avé, Avé Maria!\\
A Virgem Maria, Cercada de luz, Nossa Mãe bendita, E Mãe de Jesus.\\
Foi aos pastorinhos, Que a Virgem falou, Desde então nas almas, Nova luz brilhou.\\
Com doces palavras, Mandou-nos rezar, A Virgem Maria, Para nos salvar.\\
Mas jamais esqueçam, Nossos corações, Que nos fez a Virgem, Determinações.\\
Falou contra o luxo, Contra o impudor, De modestas modas, De uso pecador.\\
Disse que a pureza, Agrada a Jesus, Disse que a luxúria, Ao fogo conduz.\\
A treze de Outubro, Foi o seu adeus, E a Virgem Maria, Voltou para os céus.\\
À Pátria que é vossa, Senhora dos Céus, Dai honra, alegria, E a graça de Deus.\\
À Virgem bendita, Cante seu louvor, Toda nossa terra, Um hino de amor.\\
Todo o mundo a louve, Para se salvar, Desde o vale ao monte, Desde o monte ao mar.\\
Ah! Demos-Lhe graças, Por nos dar seu bem, À Virgem Maria, Nossa querida Mãe!\\
E para pagarmos, Tal graça e favor, Tenham nossas almas, Só bondade e amor.\\
Avé, Virgem Santa, Estrela que nos guia, Avé, Mãe Pátria. Oh! Virgem Maria!\\

\subsection{Hino dos Pastorinhos}
C}{antemos,} alegres, a uma só voz: Francisco e Jacinta rogai por nós.\\
Salve, salve, Pastorinhos, Nosso encanto e alegria, Salve, salve, pastorinhos, Predilectos de Maria, vossos olhos inocentes, Contemplaram a Senhora, Dos seus filhos peregrinos, Carinhosa protectora, Sacrifício e oração, Foi a vossa vida inteira, Ao convite maternal, Da Senhora da azinheira.\\
Praticando a caridade, Entregáveis com carinho, A merenda que leváveis, Ao primeiro pobrezinho, Caminhantes neste mundo, Ajudai-nos, cada dia, A viver sempre seguros, Sob o manto de Maria, A Senhora do Rosário, Pela vossa intercessão, Abençoe o Santo Padre, E nos leve à conversão.\\
Contemplando Deus no Céu, Pelos anjos adorado, Alcançai o dom da paz, Para o mundo extraviado.\\
Protegei a nossa Pátria, Para que, à sombra da cruz, Guarde sempre a fé cristã, E a verdade de Jesus.
