<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
&#8483;. Glória Patri, et Fílio, et Spíritui Sancto.
</div>
<div class="col-6 text-justify">
&#8483;. Glória ao Pai, e ao Filho e ao Espírito Santo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#8479;.</span> Sicut erat in pricípio, et nunc, et semper, et in sǽcula sæculórum. Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#8479;.</span> Assim como era no princípio, agora e sempre, e por todos os séculos dos séculos. Amen.
</div>
</div>
</div>
