<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
&#8483;. Oh mi Jesu, dimitte nobis débita nostra, líbera nos ab igne inférni,
</div>
<div class="col-6 text-justify">
&#8483;. Ó meu Jesus, perdoai-nos e livrai-nos do fogo do inferno,
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#8479;.</span> Conduc in cælum omnes animas, præsértim illas quæ máxime indigent misericórdia tua.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#8479;.</span> Levai as alminhas todas para o Céu e socorrei principalmente as que mais precisarem.
</div>
</div>
</div>
