<h2>Oração da Noite</h2>

<em>Tendo feito o Sinal da Cruz \cruz, ajoelha-te e reza:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
℣. Convérte nos, Deus, salutáris noster.
</div>
<div class="col-6 text-justify">
℣. Converte-nos, ó Deus nosso Salvador.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et avérte iram tuam a nobis.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E afasta de nós a vossa ira.
</div>
<div class="col-6 text-justify">
℣. Deus, in adjutórium meum inténde.
</div>
<div class="col-6 text-justify">
℣. Deus, vinde em nosso auxílio.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Dómine, ad adjuvándum me festína.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Senhor, socorrei-nos e salvai-nos.
</div>
<div class="col-6 text-justify">
℣. Glória Patri, et Fílio, et Spirítui Sancto.
</div>
<div class="col-6 text-justify">
℣. Glória ao Pai, e ao Filho e ao Espírito Santo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Sicut erat in princípio, et nunc, et semper, et in sǽcula sæculórum. Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Assim como era no princípio, agora e sempre, e por todos os séculos dos
séculos. Amen.
</div>
</div>
</div>

<h4>Veni, Sancte Spíritus</h4>

<em>Breve lição:</em>

Sede sóbrios e vigilantes, pois o demónio gira em torno de vós, procurando devorar-vos. Resisti-lhe, sendo fortes na fé. E Vós, Senhor, tende piedade de nós.\par

<em>Coloquemo-nos na presença de Deus e adoremo-Lo humildemente:</em>

Deus meu, Senhor dos céus e da terra! Eu aqui me prostro diante de Vós. Com todos os Anjos e Santos eu Vos adoro e Vos amo com todo o coração. Dou-Vos graças por me terdes criado, feito Cristão e conservado neste dia. Perdoai-me os pecados que hoje cometi e, se algum bem fiz, aceitai-o. Guardai-me durante o repouso e livrai-me dos perigos. Vossa graça esteja sempre comigo e com os que me são caros.\par

<em>Em seguida rezar: Pai Nosso, Ave Maria, Glória, Símbolo dos Apóstolos,
Confesso. Depois o Hino:</em>

<h4>Hino Te lucis Página \pageref telucis</h4>

<em>Examina que pecados cometeste neste dia, por pensamentos, palavras, actos ou omissões. Depois diz os Actos de Fé (página \pageref{actofe}), de Esperança (página \pageref{actoesperanca}), de Caridade (página \pageref{actocaridade}) e de Contrição (página \pageref{actocontricao}).</em>

Vos ofereço, Senhor minha vida, obras, e trabalhos em satisfação de todos meus pecados e assim como Vos suplico, assim confio em vossa bondade e misericórdia infinitas que mos perdoareis pelos méritos de vosso preciosíssimo sangue, paixão e morte e me dareis graça para emendar-me e perseverar em vosso santo serviço até o fim de minha vida. Amen.

<h4>Cântico Nunc Dimittis Página \pageref nuncdimittis</h4>

Oremos.

Visitai esta morada, Senhor, Vos suplicamos, e dignai-Vos afastar para bem longe dela todas as insídias do inimigo; que os vossos Anjos nela habitem para nos conservarem na paz, e que a vossa bênção nos guarde sempre.\par
Deus Pai, abençoai-nos; Jesus Cristo, defendei e guardai-nos; Espírito Santo, iluminai e santificai-nos esta noite e para sempre; e às almas dos fiéis falecidos, dai-lhes, Senhor, o eterno descanso entre os esplendores da luz eterna. Que descansem em paz.\par
Santo Anjo do Senhor, meu zeloso guardador, pois que a ti me confiou a Piedade divina: hoje e sempre me governa, rege, guarda e ilumina.\par
Protegei-me à sombra das vossas asas e abençoai, Senhor, o meu repouso a fim de que renove as minhas forças, para melhor Vos servir e amar.\par
E que a paz e a bênção de Deus Todo-Poderoso, Pai, Filho \cruz e Espírito Santo, desça sobre nós e permaneça para sempre connosco. Amen.
