<em>Durante o ano, enquanto o Padre borrifa água santa antes da Missa solene aos Domingos, a seguinte antífona é cantada:</em>

FIXME ADICIONAR LATIM ASPERGES

Aspergir-me-eis, Senhor, com o hissope e ficarei puro; lavar-me-eis e ficarei alvo, como a neve. Tende misericórdia de mim, meu Deus, segundo a magnitude da vossa misericórdia.

℣. Glória ao Pai, ao Filho e ao Espírito Santo.

<span class="text-danger">℟.</span> Assim como era no princípio, agora e sempre, por todos os séculos dos séculos. Amen.

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Asperges me, Dómine, hyssópo et mundabor: lávabis me, et super nivem dealbábor.
</div>
<div class="col-6 text-justify">
Aspergir-me-eis, Senhor, com o hissope e ficarei puro; lavar-me-eis e ficarei alvo, como a neve.
</div>
<div class="col-6 text-justify">
℣. Osténde nobis, Dómine, misericórdiam tuam.
</div>
<div class="col-6 text-justify">
℣. Mostrai, Senhor, a vossa misericórdia.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et salutáre tuum da nobis.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E dai-nos a salvação.
</div>
<div class="col-6 text-justify">
℣. Dómine, exáudi oratiónem meam.
</div>
<div class="col-6 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et clamor meus ad te véniat.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E que meu clamor chegue até Vós.
</div>
<div class="col-6 text-justify">
℣. Dóminus vobíscum.
</div>
<div class="col-6 text-justify">
℣. O Senhor seja convosco.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et cum spíritu tuo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E com vosso espírito.
</div>
<div class="col-6 text-danger text-center"> Orémus.</div>
<div class="col-6 text-danger text-center"> Oremos.</div>
<div class="col-6 text-justify">
Exáudi nos, Dómine sancte, Pater omnípotens, ætérne, Deus, et míttere dignéris Sanctum Angelum tuum de cælis, qui custódiat, fóveat, prótegat, vísitet atque deféndat omnes habitantes in hoc habitáculo. Per Christum Dóminum nostrum. Amen.
</div>
<div class="col-6 text-justify">
Ouvi-nos, Senhor santo, Pai omnipotente, Deus eterno, e dignai-Vos enviar do céu o vosso Santo Anjo, para que ele guarde, conserve, proteja, visite e defenda todos aqueles que se encontram neste templo. Por Cristo, nosso Senhor. Amen.
</div>
</div>
</div>
