<h2 class="text-center">Orações Leoninas</h2>

<em>De joelhos diante do altar, o Sacerdote diz com os fiéis as seguintes preces prescritas pelo Papa Leão XIII e por Pio XI enriquecidas de indulgências (10 anos). Este último Papa mandou se rezassem pela conversão da Rússia.

<h3 class="text-center">Ave Maria</h3>
{% include devocionario/oracoes/avemaria.html %}

<h3 class="text-center">Salve Regina</h3>
{% include antifonasnossasenhora/salveregina.html %}

<h3 class="text-center">Oração a São Miguel Arcanjo</h3>
{% include devocionario/oracoes/saomiguel.html %}

<em>S. Pio X pediu se juntasse três vezes a seguinte jaculatória:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
℣. Cor Jesu sacratíssimum:
</div>
<div class="col-6 text-justify">
℣. Coração sacratíssimo de Jesus:
</div>
<div class="col-6 text-justify">
℟. Miserére nobis.
</div>
<div class="col-6 text-justify">
℟. Tende misericórdia de nós.
</div>
</div>
</div>
