<h1 class="text-center">Próprio de Portugal</h1>

{% include missal/santos/franciscoxavier%3.html %}

{% include missal/santos/crisologo%4.html %}

{% include missal/santos/barbara%4.html %}

{% include missal/santos/sabas%5.html %}

%{% include missal/santos/geraldobraga%5.html %} 

{% include missal/santos/nicolau%6.html %}

{% include missal/santos/ambrosio%7.html %}

{% include missal/santos/imaculadaconceicao%8.html %}

{% include missal/santos/melquiades%10.html %}

{% include missal/santos/damaso%11.html %}

%{% include missal/santos/transladacaopantaleao%12.html %} 

{% include missal/santos/guadalupe%12.html %}

{% include missal/santos/luzia%13.html %}

{% include missal/santos/eusebio%16.html %}

%{% include missal/santos/trasladacaogeraldo%19.html %} 

{% include missal/santos/tomeapostolo%21.html %}

{% include missal/santos/estevao%26.html %}

{% include missal/santos/joaoapostolo%27.html %}

{% include missal/santos/inocentesmartires%28.html %}

{% include missal/santos/tomascantorbery%29.html %}

{% include missal/santos/higino%11.html %}

{% include missal/santos/hilario%14.html %}

{% include missal/santos/felix%14.html %}

{% include missal/santos/pauloeremita%15.html %}

{% include missal/santos/amaro%15.html %}

{% include missal/santos/marcelo%16.html %}

%{% include missal/santos/martiresmarrocos%16.html %}

{% include missal/santos/antonioabade%17.html %}

{% include missal/santos/votivacadeirapedro%18.html %}

{% include missal/santos/santaprisca%18.html %}

%{% include missal/santos/goncaloamarante%19.html %} 

{% include missal/santos/fabiaosebastiao%20.html %}

{% include missal/santos/ines%21.html %}

{% include missal/santos/vicentemartir%22.html %}

{% include missal/santos/raimundo%23.html %}

{% include missal/santos/emerenciana%23.html %}

{% include missal/santos/timoteo%24.html %}

{% include missal/santos/conversaopaulo%25.html %}

{% include missal/santos/policarpo%26.html %}

{% include missal/santos/joaocrisostomo%27.html %}

{% include missal/santos/pedronolasco%28.html %}

{% include missal/santos/franciscosales%29.html %}

{% include missal/santos/martinha%30.html %}

{% include missal/santos/joaobosco%31.html %}

{% include missal/santos/inacio%1.html %}

{% include missal/santos/purificacaomaria%2.html %}

{% include missal/santos/bras%3.html %}

{% include missal/santos/joaobrito%4.html %}

{% include missal/santos/corsino%4.html %}

{% include missal/santos/agueda%5.html %}

{% include missal/santos/tito%6.html %}

{% include missal/santos/doroteia%6.html %}

{% include missal/santos/romualdo%7.html %}

{% include missal/santos/joaomata%8.html %}

{% include missal/santos/ciriloalexandria%9.html %}

{% include missal/santos/apolonia%9.html %}

{% include missal/santos/escolastica%10.html %}

{% include missal/santos/aparicaomaria%11.html %}

{% include missal/santos/servitas%12.html %}

%{% include missal/santos/cincochagas%13.html %} 

{% include missal/santos/valentim%14.html %}

{% include missal/santos/faustinojovita%15.html %}

%{% include missal/santos/trasladacaoantonio%15.html %} 

{% include missal/santos/simeao%18.html %}

%{% include missal/santos/teotonio%18.html %} 

{% include missal/santos/cadeirapedro%22.html %}

{% include missal/santos/pedrodamiao%23.html %}

{% include missal/santos/matiasapostolo%24.html %}

{% include missal/santos/gabrieldores%27.html %}

%{% include missal/santos/torcato%27.html %}

%{% include missal/santos/miguelcarv%1.html %}

{% include missal/santos/casimiro%4.html %}

{% include missal/santos/lucio%4.html %}

{% include missal/santos/perpetua%6.html %}

{% include missal/santos/tomasaquino%7.html %}

{% include missal/santos/joaodeus%8.html %}

{% include missal/santos/francisca%9.html %}

{% include missal/santos/quarentamartires%10.html %}

{% include missal/santos/gregorio%12.html %}

{% include missal/santos/sanchamafalda%13.html %} 

{% include missal/santos/patricio%17.html %}

{% include missal/santos/cirilojerusalem%18.html %}

{% include missal/santos/joseesposomaria%19.html %}

%{% include missal/santos/martinhodume%20.html %} 

{% include missal/santos/bento%21.html %}

{% include missal/santos/gabrielarcanjo%24.html %}

{% include missal/santos/santissimosacramento%24.html %}

{% include missal/santos/anunciacao%25.html %}

{% include missal/santos/joaodamasceno%27.html %}

{% include missal/santos/joaocapistrano%28.html %}

{% include missal/santos/setedoresmarco%.html %}

{% include missal/santos/franciscopaula%2.html %}

{% include missal/santos/isidoro%4.html %}

{% include missal/santos/vicenteferrer%5.html %}

{% include missal/santos/leaoi%11.html %}

%{% include missal/santos/vitor%12.html %} 

{% include missal/santos/hermenegildo%13.html %}

{% include missal/santos/justino%14.html %}

{% include missal/santos/justino%14.html %}

%{% include missal/santos/engracia%16.html %} 

%{% include missal/santos/frutuoso%16.html %} 

{% include missal/santos/aniceto%17.html %}

{% include missal/santos/anselmo%21.html %}

{% include missal/santos/soterocaio%22.html %}

{% include missal/santos/jorge%23.html %}

{% include missal/santos/fiel%24.html %}

{% include missal/santos/marcosevangelista%25.html %}

{% include missal/santos/cletomarcelino%26.html %}

%{% include missal/santos/pedrorates%26.html %} 

{% include missal/santos/pedrocanisio%27.html %}

{% include missal/santos/paulodacruz%28.html %}

{% include missal/santos/pedroverona%29.html %}

{% include missal/santos/catarina%29.html %}

{% include missal/santos/joseoperario%1.html %}

{% include missal/santos/atanasio%2.html %}

{% include missal/santos/invencaosantacruz%3.html %}

{% include missal/santos/alexandre%3.html %}

{% include missal/santos/monica%4.html %}

%{% include missal/santos/trasladacaovicente%4.html %} 

{% include missal/santos/piov%5.html %}

{% include missal/santos/estanislau%7.html %}

{% include missal/santos/aparicaoarcanjomiguel%8.html %}

{% include missal/santos/gregorionazianzeno%9.html %}

{% include missal/santos/antonino%10.html %}

{% include missal/santos/filipetiagoapostolos%11.html %}

{% include missal/santos/joanaprincesa%12.html %} 

{% include missal/santos/belarmino%13.html %}

{% include missal/santos/votivaimaculadocoracaomaria%13.html %}

%{% include missal/santos/gil%14.html %} 

{% include missal/santos/bonifacio%14.html %}

{% include missal/santos/baptistasalle%15.html %}

%{% include missal/santos/mancio%15.html %} 

{% include missal/santos/ubaldo%16.html %}

{% include missal/santos/pascoal%17.html %}

{% include missal/santos/venancio%18.html %}

{% include missal/santos/pedrocelestino%19.html %}

{% include missal/santos/bernardinosena%20.html %}

%{% include missal/santos/catedralevora%22.html %} 

%{% include missal/santos/joaomachado%22.html %} 

{% include missal/santos/ritacassia%22.html %} 

%{% include missal/santos/basileu%23.html %} 

{% include missal/santos/auxiliocristaos%24.html %} 

%{% include missal/santos/trasladacaotiagointercisio%24.html %} 

{% include missal/santos/gregoriovii%25.html %}

{% include missal/santos/filipeneri%26.html %}

{% include missal/santos/eleuterio%26.html %}

{% include missal/santos/beda%27.html %}

{% include missal/santos/joaopapa%27.html %}

{% include missal/santos/agostinhocantorbery%28.html %}

{% include missal/santos/mariamadalenapazzi%29.html %}

{% include missal/santos/felixpapa%30.html %}

{% include missal/santos/rainhavirgemmaria%31.html %}

{% include missal/santos/angelamericia%1.html %}

{% include missal/santos/marcelino%2.html %}

%{% include missal/santos/ovidio%3.html %} 

%{% include missal/santos/carloslwanga%3.html %} 

{% include missal/santos/franciscaraciolo%4.html %}

{% include missal/santos/bonifaciomartir%5.html %}

{% include missal/santos/norberto%6.html %}

%{% include missal/santos/joaonepomuceno%7.html %} 

%{% include missal/santos/quiteria%8.html %} ?

{% include missal/santos/primofeliciano%9.html %}

{% include missal/santos/margaridarainha%10.html %}

{% include missal/santos/barnabeapostolo%11.html %}

{% include missal/santos/joaofacundo%12.html %}

{% include missal/santos/antoniolisboa%13.html %}

{% include missal/santos/basiliomagno%14.html %}

{% include missal/santos/vitomodestocrescencia%15.html %}

{% include missal/santos/teresaviuva%17.html %} 

{% include missal/santos/efrem%18.html %}

{% include missal/santos/juliana%19.html %}

{% include missal/santos/silverio%20.html %}

%{% include missal/santos/franciscopacheco%20.html %} 

{% include missal/santos/luisgonzaga%21.html %}

{% include missal/santos/paulino%22.html %}

{% include missal/santos/vigiliajoaobaptista%23.html %}

{% include missal/santos/nascimentojoaobaptista%24.html %}

{% include missal/santos/guilherme%25.html %}

{% include missal/santos/joaoepaulo%26.html %}

%{% include missal/santos/pelagio%26.html %} 

{% include missal/santos/vigiliapedropaulo%28.html %}

{% include missal/santos/pedropauloapostolos%29.html %}

{% include missal/santos/comemoracaopaulo%30.html %}

{% include missal/santos/preciosissimosangue%1.html %}

{% include missal/santos/visitacao%2.html %}

{% include missal/santos/ireneu%3.html %}

{% include missal/santos/isabelrainha%4.html %}

{% include missal/santos/antoniozacarias%5.html %}

{% include missal/santos/cirilometodio%7.html %}

{% include missal/santos/seteirmaos%10.html %}

{% include missal/santos/pioi%11.html %}

{% include missal/santos/joaogualberto%12.html %}

{% include missal/santos/anacleto%13.html %}

{% include missal/santos/boaventura%14.html %}

{% include missal/santos/inacioazevedo%15.html %} 

{% include missal/santos/montecarmelo%16.html %}

%{% include missal/santos/sisenando%16.html %}

{% include missal/santos/aleixo%17.html %}

{% include missal/santos/camilolelis%18.html %}

{% include missal/santos/vicentepaulo%19.html %}

{% include missal/santos/jeronimoemiliano%20.html %}

{% include missal/santos/santamargarida%20.html %}

%{% include missal/santos/colomba%20.html %}

{% include missal/santos/praxedes%21.html %}

%{% include missal/santos/anjoportugal%21.html %}

{% include missal/santos/mariamadalena%22.html %}

%{% include missal/santos/lourencobrindes%22.html %} 

{% include missal/santos/apolinario%23.html %}

{% include missal/santos/liborio%23.html %}

{% include missal/santos/cristina%24.html %}

{% include missal/santos/tiagoapostolo%25.html %}

{% include missal/santos/santaana%26.html %}

%{% include missal/santos/pantaleao%27.html %}

%{% include missal/santos/rodolfoaguaviva%27.html %} 

{% include missal/santos/nazario%28.html %}

{% include missal/santos/vitorpapa%28.html %}

{% include missal/santos/inocencio%28.html %}

{% include missal/santos/santamarta%29.html %}

{% include missal/santos/felixii%29.html %}

{% include missal/santos/abdonsenen%30.html %}

{% include missal/santos/inacioloiola%31.html %}

{% include missal/santos/macabeus%1.html %}

{% include missal/santos/afonsoligorio%2.html %}

{% include missal/santos/estevaopapa%2.html %}

{% include missal/santos/domingos%4.html %}

{% include missal/santos/dedicacaomarianeves%5.html %}

{% include missal/santos/transfiguracao%6.html %}

{% include missal/santos/sixtofelicissimoagapito%6.html %}

{% include missal/santos/sixtoii%6.html %}

{% include missal/santos/caetano%7.html %}

{% include missal/santos/vianney%8.html %}

{% include missal/santos/ciriaco%8.html %}

{% include missal/santos/vigilialourenco%9.html %}

{% include missal/santos/romao%9.html %}

{% include missal/santos/lourenco%10.html %}

{% include missal/santos/tiburciosusana%11.html %}

{% include missal/santos/filomena%11.html %}

{% include missal/santos/clara%12.html %}

{% include missal/santos/hipolitocassiano%13.html %}

{% include missal/santos/vigiliaassuncao%14.html %}

{% include missal/santos/assuncao%15.html %}

{% include missal/santos/joaquim%16.html %}

{% include missal/santos/jacinto%17.html %}

{% include missal/santos/agapito%17.html %}

%{% include missal/santos/saoroque%18?.html %} 

{% include missal/santos/joaoeudes%19.html %}

{% include missal/santos/bernardo%20.html %}

{% include missal/santos/joanachantal%21.html %}

{% include missal/santos/imaculadocoracaomaria%22.html %}

{% include missal/santos/timoteooutros%22.html %}

{% include missal/santos/filipebenicio%23.html %}

{% include missal/santos/bartolomeuapostolo%24.html %}

{% include missal/santos/saoluisrei%25.html %}

{% include missal/santos/miguelcarv%25.html %}

{% include missal/santos/zeferino%26.html %}

{% include missal/santos/josecalasans%27.html %}

{% include missal/santos/agostinho%28.html %}

{% include missal/santos/hermes%28.html %}

{% include missal/santos/degolacaobaptista%29.html %}

{% include missal/santos/rosalima%30.html %}

{% include missal/santos/raimundononato%31.html %}

{% include missal/santos/egidio%1.html %}

{% include missal/santos/dozeirmaos%1.html %}

{% include missal/santos/estevaorei%2.html %}

{% include missal/santos/piox%3.html %}

{% include missal/santos/lourencojustiniano%5.html %}

{% include missal/santos/natividademaria%8.html %}

{% include missal/santos/gorgonio%9.html %}

%{% include missal/santos/pedroclaver%9.html %}

{% include missal/santos/nicolautolentino%10.html %}

{% include missal/santos/protojacinto%11.html %}

{% include missal/santos/santissimonomemaria%12.html %}

{% include missal/santos/exaltacaocruz%14.html %}

{% include missal/santos/setedore%15.html %}

{% include missal/santos/corneliocipriano%16.html %}

{% include missal/santos/cornelio%16.html %}

{% include missal/santos/eufemiaoutros%16.html %}

%{% include missal/santos/trasladacaovicentemartir%16.html %}

{% include missal/santos/estigmasfrancisco%17.html %}

{% include missal/santos/josecupertino%18.html %}

{% include missal/santos/januariooutros%19.html %}

{% include missal/santos/eustaquiooutros%20.html %}

{% include missal/santos/mateus%21.html %}

{% include missal/santos/tomasvilanova%21.html %}

{% include missal/santos/lino%23.html %}

{% include missal/santos/tecla%23.html %}

{% include missal/santos/mariamerces%24.html %}

{% include missal/santos/ciprianojustina%26.html %}

{% include missal/santos/cosmedamiao%27.html %}

{% include missal/santos/venceslau%28.html %}

{% include missal/santos/dedicacaoarcanjomiguel%29.html %}

{% include missal/santos/jeronimo%30.html %}

{% include missal/santos/remigio%1.html %}

%{% include missal/santos/verissimooutros%1.html %} 

{% include missal/santos/anjosguarda%2.html %}

{% include missal/santos/teresamenino%3.html %}

{% include missal/santos/francisco%4.html %}

{% include missal/santos/placido%5.html %}

{% include missal/santos/bruno%6.html %}

{% include missal/santos/rosariomaria%7.html %}

{% include missal/santos/marcospapa%7.html %}

{% include missal/santos/sergiobaco%8.html %}

{% include missal/santos/brigida%8.html %}

{% include missal/santos/joaoleonardo%9.html %}

{% include missal/santos/dionisio%9.html %}

%{% include missal/santos/mariamonte%9.html %} 

{% include missal/santos/franciscoborgia%10.html %}

{% include missal/santos/maternidademaria%11.html %}

{% include missal/santos/eduardo%13.html %}

{% include missal/santos/calisto%14.html %}

{% include missal/santos/teresa%15.html %}

{% include missal/santos/hedviges%16.html %}

%{% include missal/santos/trasladacaopedrorates%17.html %} 

{% include missal/santos/margaridamaria%17.html %}

{% include missal/santos/lucas%18.html %}

{% include missal/santos/pedroalcantara%19.html %}

{% include missal/santos/joaocancio%20.html %}

%{% include missal/santos/santairia%20.html %} 

{% include missal/santos/hilariao%21.html %}

{% include missal/santos/ursulaoutras%21.html %}

{% include missal/santos/basilicamafra%22.html %}

{% include missal/santos/antoniomariaclaret%23.html %}

{% include missal/santos/rafaelarcanjo%24.html %}

%{% include missal/santos/trasladacaomartinho%25.html %} 

%{% include missal/santos/crispimcrispiniano%25.html %} 

{% include missal/santos/crisantodaria%25.html %}

{% include missal/santos/evaristo%26.html %}

%{% include missal/santos/vicentesabinacristeta%27.html %} 

{% include missal/santos/goncalolagos%27.html %} 

{% include missal/santos/simaojudas%28.html %} 

{% include missal/santos/trasladacaorainhaisabel%29.html %} 

{% include missal/santos/cristorei%Último.html %}

%{% include missal/santos/vitoriacristaos%30.html %}

{% include missal/santos/todossantos%1.html %}

{% include missal/santos/comemoracaofieisdefuntos%2.html %}

{% include missal/santos/carlosborromeu%4.html %}

{% include missal/santos/santasreliquias%5.html %}

{% include missal/santos/nunosantamaria%6.html %}

{% include missal/santos/quatrosantosmartires%8.html %}

{% include missal/santos/dedicacaobasilicasalvador%9.html %}

{% include missal/santos/andreavelino%10.html %}

{% include missal/santos/martinho%11.html %}

{% include missal/santos/martinhopapa%12.html %}

{% include missal/santos/diogo%13.html %}

{% include missal/santos/josofa%14.html %}

{% include missal/santos/dedicacaobasilicajesus%15.html %}

{% include missal/santos/albertomagno%15.html %}

{% include missal/santos/gertrudes%16.html %}

{% include missal/santos/gregoriotaumaturgo%17.html %}

{% include missal/santos/dedicacaobasilicapedropaulo%18.html %}

{% include missal/santos/isabelviuva%19.html %}

{% include missal/santos/isabelviuva%19.html %}

{% include missal/santos/ponciano%19.html %}

{% include missal/santos/felixvalois%20.html %}

{% include missal/santos/apresentacaomaria%21.html %}

{% include missal/santos/cecilia%22.html %}

{% include missal/santos/clemente%23.html %}

{% include missal/santos/joaodacruz%24.html %}

{% include missal/santos/santacatarinavirgem%25.html %}

{% include missal/santos/silvestre%26.html %}

{% include missal/santos/pedroalexandrino%26.html %}

%{% include missal/santos/catarinalaboure%28.html %} 

%{% include missal/santos/tiagointercisio%28.html %} 
