<h1 class="text-center">Próprio do Tempo

{% include missal/advento/1</em>.html %}
{% include missal/advento/2</em>.html %}
{% include missal/advento/3</em>.html %}
{% include missal/advento/3</em>.html %}
{% include missal/advento/quartafeiratemporas.html %}
{% include missal/advento/sextafeiratemporas.html %}
{% include missal/advento/sabadotemporasinverno.html %}

\ilustracont{media/pdf/cc/natal1</em>
%\gravura{durer/natividade{A Natividade - Albrecht Dürer
{% include missal/natal/vigilianatal.html %}

\ilustra{media/pdf/cc/natal2</em>
%\gravura{natividadeschongauer{A Natividade - Martin Schongauer
{% include missal/natal/1</em>.html %}

\ilustra{media/pdf/cc/natal3</em>
%\gravuracont{castiglione/natividade{A Natividade com Deus Pai e os Anjos - Giovanni Castiglione
{% include missal/natal/2</em>.html %}

\ilustracont{media/pdf/cc/natal4</em>
{% include missal/natal/3</em>.html %}
{% include missal/natal/domingooitavarionatal.html %}

\ilustra{media/pdf/cc/circuncisao
%\gravura{circuncisaotraballesi{A Circuncisão de Cristo - Giuliano Traballesi segundo Guido Reni
{% include missal/natal/circuncisao.html %}

\ilustra{media/pdf/cc/santonome
{% include missal/natal/santissimonome.html %}

\ilustra{media/pdf/cc/epifania
%\gravuracont{epifaniakilianvernonese{Adoração dos Reis Magos - Philipp Kilian segundo Paolo Vernonese
{% include missal/epifania/epifania.html %}

\ilustra{media/pdf/cc/familiasanta
%\gravura{familiasantapoillygreni{Sagrada Família - Francois de Poilly segundo Guido Reni
{% include missal/epifania/sagradafamilia.html %}
{% include missal/epifania/domingodentrooitavarioepifania.html %}
{% include missal/epifania/oitavaepifania.html %}
{% include missal/epifania/2</em>.html %}
{% include missal/epifania/3</em>.html %}
{% include missal/epifania/4</em>.html %}
{% include missal/epifania/5</em>.html %}
{% include missal/epifania/6</em>.html %}
{% include missal/epifania/septuagesima.html %}
{% include missal/epifania/sexagesima.html %}
{% include missal/epifania/quinquagesima.html %}

{% include missal/quaresma/quartacinzas.html %}
{% include missal/quaresma/quintafeiradepoiscinzas.html %}
{% include missal/quaresma/sextafeiradepoiscinzas.html %}
{% include missal/quaresma/sabadodepoiscinzas.html %}
{% include missal/quaresma/1</em>.html %}
{% include missal/quaresma/1segunda.html %}
{% include missal/quaresma/1terca.html %}
{% include missal/quaresma/1quarta.html %}
{% include missal/quaresma/1quinta.html %}
{% include missal/quaresma/1sexta.html %}
{% include missal/quaresma/1sabado.html %}
{% include missal/quaresma/2</em>.html %}
{% include missal/quaresma/2segunda.html %}
{% include missal/quaresma/2terca.html %}
{% include missal/quaresma/2quarta.html %}
{% include missal/quaresma/2quinta.html %}
{% include missal/quaresma/2sexta.html %}
{% include missal/quaresma/2sabado.html %}
{% include missal/quaresma/3</em>.html %}
{% include missal/quaresma/3segunda.html %}
{% include missal/quaresma/3terca.html %}
{% include missal/quaresma/3quarta.html %}
{% include missal/quaresma/3quinta.html %}
{% include missal/quaresma/3sexta.html %}
{% include missal/quaresma/3sabado.html %}
{% include missal/quaresma/4</em>.html %}
{% include missal/quaresma/4segunda.html %}
{% include missal/quaresma/4terca.html %}
{% include missal/quaresma/4quarta.html %}
{% include missal/quaresma/4quinta.html %}
{% include missal/quaresma/4sexta.html %}
{% include missal/quaresma/4sabado.html %}

\ilustracont{media/pdf/cc/paixaodomingo
%\gravura{paixaoagoniagoltzius{Agonia no Jardim - Hendrick Goltzius
{% include missal/quaresma/paixao.html %}
{% include missal/quaresma/paixaosegunda.html %}
{% include missal/quaresma/paixaoterca.html %}
{% include missal/quaresma/paixaoquarta.html %}
{% include missal/quaresma/paixaoquinta.html %}
{% include missal/quaresma/paixaosexta.html %}
{% include missal/quaresma/paixaosabado.html %}

\ilustra{media/pdf/cc/ramosdomingo
%\gravura{ramosgregoirehuret{Entrada de Jesus em Jerusalém - Grégoire Huret
{% include missal/quaresma/ramos.html %}
{% include missal/quaresma/segundafeirasanta.html %}
{% include missal/quaresma/tercafeirasanta.html %}
{% include missal/quaresma/quartafeirasanta.html %}

\ilustra{media/pdf/cc/quintafeirasanta2</em>
%\gravuracont{ultimaceiamorghendavinci{A Última Ceia - Raphael Morghen segundo Leonardo da Vinci
{% include missal/quaresma/quintafeirasanta.html %}

\ilustra{media/pdf/cc/sextafeirasanta2</em>
%\gravura{crucifixaobolswertrubens{Crucifixão - Boetius Bolswert segundo Rubens
{% include missal/quaresma/sextafeirasanta.html %}

\ilustra{media/pdf/cc/vigiliapascoa
%\gravuracont{hieronymus/pieta{Pieta - Hieronymus Wierix segundo Jan Gossart
{% include missal/quaresma/sabadosanto.html %}

\ilustra{media/pdf/cc/pascoa
%\gravura{durer/ressurreicao{Ressurreição - Albrecht Dürer
{% include missal/pascoa/ressurreicao.html %}

\ilustracont{media/pdf/cc/pascoa2</em>
{% include missal/pascoa/segundafeirapascoa.html %}
{% include missal/pascoa/tercafeirapascoa.html %}
{% include missal/pascoa/quartafeirapascoa.html %}
{% include missal/pascoa/quintafeirapascoa.html %}
{% include missal/pascoa/sextafeirapascoa.html %}
{% include missal/pascoa/sabadopascoa.html %}

\ilustracont{media/pdf/cc/albisdomingo
%\gravura{tomehuret{Incrédulo Tomé - Grégoire Huret
{% include missal/pascoa/albis.html %}
{% include missal/pascoa/2</em>.html %}
{% include missal/pascoa/3</em>.html %}
{% include missal/pascoa/4</em>.html %}
{% include missal/pascoa/5</em>.html %}

\ilustra{media/pdf/cc/bencaocampostrigo
%\gravuracont{bencaocampostrigo{A Benção do Trigo - Jules Breton
{% include missal/pascoa/rogacoes.html %}
{% include missal/pascoa/vigiliaascensao.html %}

\ilustra{media/pdf/cc/ascensao
%\gravura{ascensaohuret{Ascensão de Cristo - Grégoire Huret
{% include missal/pascoa/ascensao.html %}
{% include missal/pascoa/domingodepoisascensao.html %}

{% include missal/pentecostes/vigiliapentecostes.html %}

\ilustra{media/pdf/cc/pentecostes
%\gravura{pentecostesvasari{Pentecostes - Cornelis Cort segundo Giorgio Vasari
{% include missal/pentecostes/pentecostes.html %}
{% include missal/pentecostes/segundafeirapentecostes.html %}
{% include missal/pentecostes/tercafeirapentecostes.html %}
{% include missal/pentecostes/quartafeirapentecostes.html %}
{% include missal/pentecostes/quintafeirapentecostes.html %}
{% include missal/pentecostes/sextafeirapentecostes.html %}
{% include missal/pentecostes/sabadopentecostes.html %}

\ilustra{media/pdf/cc/santissimatrindade
%\gravura{trindadereni{Santíssima Trindade - Nicolas Dorigny segundo Guido Reni
{% include missal/pentecostes/santissimatrindade.html %}
{% include missal/pentecostes/1</em>.html %}

\ilustra{media/pdf/cc/corpuschristi
%\gravura{adoracaodaeucaristiasegundorubens{Adoração Eucarístia - Anónimo segundo Rubens
{% include missal/pentecostes/santissimocorpo.html %}
{% include missal/pentecostes/2</em>.html %}

\ilustra{media/pdf/cc/sagradocoracaojesus
%\gravura{sagradocoracaofrancescorosaspina{Sagrado Coração - Francesco Rosaspina
{% include missal/pentecostes/santissimocoracao.html %}
{% include missal/pentecostes/3</em>.html %}
{% include missal/pentecostes/4</em>.html %}
{% include missal/pentecostes/5</em>.html %}
{% include missal/pentecostes/6</em>.html %}
{% include missal/pentecostes/7</em>.html %}
{% include missal/pentecostes/8</em>.html %}
{% include missal/pentecostes/9</em>.html %}
{% include missal/pentecostes/10</em>.html %}
{% include missal/pentecostes/11</em>.html %}
{% include missal/pentecostes/12</em>.html %}
{% include missal/pentecostes/13</em>.html %}
{% include missal/pentecostes/14</em>.html %}
{% include missal/pentecostes/15</em>.html %}
{% include missal/pentecostes/16</em>.html %}
{% include missal/pentecostes/17</em>.html %}
{% include missal/pentecostes/18</em>.html %}
{% include missal/pentecostes/19</em>.html %}
{% include missal/pentecostes/20</em>.html %}
{% include missal/pentecostes/21</em>.html %}
{% include missal/pentecostes/22</em>.html %}
{% include missal/pentecostes/23</em>.html %}

{% include missal/pentecostes/epifania3</em>.html %}
{% include missal/pentecostes/epifania4</em>.html %}
{% include missal/pentecostes/epifania5</em>.html %}

{% include missal/pentecostes/24</em>.html %}
