<h1 class="text-center">Próprio dos Santos

{% include missal/santos/saturnino%29.html %} Novembro

{% include missal/santos/andreapostolo%30.html %} Novembro

{% include missal/santos/bibiana%2.html %} Dezembro

{% include missal/santos/franciscoxavier%3.html %} Dezembro

{% include missal/santos/crisologo%4.html %} Dezembro

{% include missal/santos/barbara%4.html %} Dezembro

{% include missal/santos/sabas%5.html %} Dezembro

{% include missal/santos/geraldobraga%5.html %} Dezembro %latim

{% include missal/santos/nicolau%6.html %} Dezembro

{% include missal/santos/ambrosio%7.html %} Dezembro

{% include missal/santos/imaculadaconceicao%8.html %} Dezembro

{% include missal/santos/melquiades%10.html %} Dezembro

{% include missal/santos/damaso%11.html %} Dezembro

{% include missal/santos/transladacaopantaleao%12.html %} Dezembro %latim

{% include missal/santos/guadalupe%12.html %} Dezembro

{% include missal/santos/luzia%13.html %} Dezembro

{% include missal/santos/eusebio%16.html %} Dezembro

{% include missal/santos/trasladacaogeraldo%19.html %} Dezembro %latim

{% include missal/santos/tomeapostolo%21.html %} Dezembro

{% include missal/santos/estevao%26.html %} Dezembro

{% include missal/santos/joaoapostolo%27.html %} Dezembro

{% include missal/santos/inocentesmartires%28.html %} Dezembro

{% include missal/santos/tomascantorbery%29.html %} Dezembro

{% include missal/santos/higino%11.html %} Janeiro

{% include missal/santos/hilario%14.html %} Janeiro

{% include missal/santos/felix%14.html %} Janeiro

{% include missal/santos/pauloeremita%15.html %} Janeiro

{% include missal/santos/amaro%15.html %} Janeiro

{% include missal/santos/marcelo%16.html %} Janeiro

{% include missal/santos/martiresmarrocos%16.html %} Janeiro %falta latim

{% include missal/santos/antonioabade%17.html %} Janeiro

{% include missal/santos/votivacadeirapedro%18.html %} Janeiro

{% include missal/santos/santaprisca%18.html %} Janeiro

{% include missal/santos/goncaloamarante%19.html %} Janeiro %latim

{% include missal/santos/fabiaosebastiao%20.html %} Janeiro

{% include missal/santos/ines%21.html %} Janeiro

{% include missal/santos/vicentemartir%22.html %} Janeiro

{% include missal/santos/raimundo%23.html %} Janeiro

{% include missal/santos/emerenciana%23.html %} Janeiro

{% include missal/santos/timoteo%24.html %} Janeiro

{% include missal/santos/conversaopaulo%25.html %} Janeiro

{% include missal/santos/policarpo%26.html %} Janeiro

{% include missal/santos/joaocrisostomo%27.html %} Janeiro

{% include missal/santos/pedronolasco%28.html %} Janeiro

{% include missal/santos/franciscosales%29.html %} Janeiro

{% include missal/santos/martinha%30.html %} Janeiro

{% include missal/santos/joaobosco%31.html %} Janeiro

{% include missal/santos/inacio%1.html %} Fevereiro

\ilustra{media/pdf/cc/purificacao
{% include missal/santos/purificacaomaria%2.html %} Fevereiro

{% include missal/santos/bras%3.html %} Fevereiro

{% include missal/santos/joaobrito%4.html %} Fevereiro

{% include missal/santos/corsino%4.html %} Fevereiro

{% include missal/santos/agueda%5.html %} Fevereiro

{% include missal/santos/tito%6.html %} Fevereiro

{% include missal/santos/doroteia%6.html %} Fevereiro

{% include missal/santos/romualdo%7.html %} Fevereiro

{% include missal/santos/joaomata%8.html %} Fevereiro

{% include missal/santos/ciriloalexandria%9.html %} Fevereiro

{% include missal/santos/apolonia%9.html %} Fevereiro

{% include missal/santos/escolastica%10.html %} Fevereiro

{% include missal/santos/aparicaomaria%11.html %} Fevereiro

{% include missal/santos/servitas%12.html %} Fevereiro

{% include missal/santos/cincochagas%13.html %} Fevereiro %latim

{% include missal/santos/valentim%14.html %} Fevereiro

{% include missal/santos/faustinojovita%15.html %} Fevereiro

{% include missal/santos/trasladacaoantonio%15.html %} Fevereiro %latim

{% include missal/santos/simeao%18.html %} Fevereiro

{% include missal/santos/teotonio%18.html %} Fevereiro %latim

{% include missal/santos/cadeirapedro%22.html %} Fevereiro

{% include missal/santos/pedrodamiao%23.html %} Fevereiro

{% include missal/santos/matiasapostolo%24.html %} ou 25 Fevereiro

{% include missal/santos/gabrieldores%27.html %} ou 28 Fevereiro %Falta Aleluia

{% include missal/santos/torcato%27.html %} ou 28 Fevereiro %latim

{% include missal/santos/miguelcarv%1.html %} Março %latim

{% include missal/santos/casimiro%4.html %} Março

{% include missal/santos/lucio%4.html %} Março

{% include missal/santos/perpetua%6.html %} Março

{% include missal/santos/tomasaquino%7.html %} Março

{% include missal/santos/joaodeus%8.html %} Março

{% include missal/santos/francisca%9.html %} Março

{% include missal/santos/quarentamartires%10.html %} Março

{% include missal/santos/gregorio%12.html %} Março

{% include missal/santos/sanchamafalda%13.html %} Março %latim

{% include missal/santos/patricio%17.html %} Março

{% include missal/santos/cirilojerusalem%18.html %} Março

{% include missal/santos/joseesposomaria%19.html %} Março

{% include missal/santos/martinhodume%20.html %} Março %latim

{% include missal/santos/bento%21.html %} Março

{% include missal/santos/gabrielarcanjo%24.html %} Março

{% include missal/santos/santissimosacramento%24.html %} Março

{% include missal/santos/anunciacao%25.html %} Março

{% include missal/santos/joaodamasceno%27.html %} Março

{% include missal/santos/joaocapistrano%28.html %} Março

{% include missal/santos/setedoresmarco%.html %} Março

{% include missal/santos/franciscopaula%2.html %} Abril

{% include missal/santos/isidoro%4.html %} Abril

{% include missal/santos/vicenteferrer%5.html %} Abril

{% include missal/santos/leaoi%11.html %} Abril

{% include missal/santos/vitor%12.html %} Abril %latim

{% include missal/santos/hermenegildo%13.html %} Abril

{% include missal/santos/justino%14.html %} Abril

{% include missal/santos/justino%14.html %} Abril

{% include missal/santos/engracia%16.html %} Abril %latim

{% include missal/santos/frutuoso%16.html %} Abril %latim

{% include missal/santos/aniceto%17.html %} Abril

{% include missal/santos/anselmo%21.html %} Abril

{% include missal/santos/soterocaio%22.html %} Abril

{% include missal/santos/jorge%23.html %} Abril

{% include missal/santos/fiel%24.html %} Abril

{% include missal/santos/marcosevangelista%25.html %} Abril

{% include missal/santos/cletomarcelino%26.html %} Abril

{% include missal/santos/pedrorates%26.html %} Abril %latim

{% include missal/santos/pedrocanisio%27.html %} Abril

{% include missal/santos/paulodacruz%28.html %} Abril

{% include missal/santos/pedroverona%29.html %} Abril

{% include missal/santos/catarina%29.html %} Abril

{% include missal/santos/joseoperario%1.html %} Maio

{% include missal/santos/atanasio%2.html %} Maio

{% include missal/santos/invencaosantacruz%3.html %} de Maio

{% include missal/santos/alexandre%3.html %} Maio

{% include missal/santos/monica%4.html %} Maio

{% include missal/santos/trasladacaovicente%4.html %} Maio %latim

{% include missal/santos/piov%5.html %} Maio

{% include missal/santos/estanislau%7.html %} Maio

{% include missal/santos/aparicaoarcanjomiguel%8.html %} de Maio

{% include missal/santos/gregorionazianzeno%9.html %} Maio

{% include missal/santos/antonino%10.html %} Maio

{% include missal/santos/filipetiagoapostolos%11.html %} de Maio

{% include missal/santos/joanaprincesa%12.html %} Maio %latim

{% include missal/santos/belarmino%13.html %} de Maio

{% include missal/santos/votivaimaculadocoracaomaria%13.html %} Maio

{% include missal/santos/gil%14.html %} Maio %latim

{% include missal/santos/bonifacio%14.html %} Maio

{% include missal/santos/baptistasalle%15.html %} Maio

{% include missal/santos/mancio%15.html %} Maio %latim

{% include missal/santos/ubaldo%16.html %} Maio

{% include missal/santos/pascoal%17.html %} Maio

{% include missal/santos/venancio%18.html %} Maio

{% include missal/santos/pedrocelestino%19.html %} Maio

{% include missal/santos/bernardinosena%20.html %} Maio

{% include missal/santos/catedralevora%22.html %} Maio %latim

{% include missal/santos/joaomachado%22.html %} Maio %latim

{% include missal/santos/ritacassia%22.html %} Maio %latim

{% include missal/santos/basileu%23.html %} Maio %latim

{% include missal/santos/auxiliocristaos%24.html %} Maio %latim

{% include missal/santos/trasladacaotiagointercisio%24.html %} Maio %latim

{% include missal/santos/gregoriovii%25.html %} Maio

{% include missal/santos/filipeneri%26.html %} Maio

{% include missal/santos/eleuterio%26.html %} Maio

{% include missal/santos/beda%27.html %} Maio

{% include missal/santos/joaopapa%27.html %} Maio

{% include missal/santos/agostinhocantorbery%28.html %} Maio

{% include missal/santos/mariamadalenapazzi%29.html %} Maio

{% include missal/santos/felixpapa%30.html %} Maio

{% include missal/santos/rainhavirgemmaria%31.html %} Maio

{% include missal/santos/angelamericia%1.html %} Junho

{% include missal/santos/marcelino%2.html %} Junho

{% include missal/santos/ovidio%3.html %} Junho %latim

{% include missal/santos/carloslwanga%3.html %} Junho %latim

{% include missal/santos/franciscaraciolo%4.html %} Junho

{% include missal/santos/bonifaciomartir%5.html %} Junho

{% include missal/santos/norberto%6.html %} Junho

{% include missal/santos/joaonepomuceno%7.html %} Junho %latim

{% include missal/santos/quiteria%8.html %} Junho ?

{% include missal/santos/primofeliciano%9.html %} Junho

{% include missal/santos/margaridarainha%10.html %} Junho

{% include missal/santos/barnabeapostolo%11.html %} Junho

{% include missal/santos/joaofacundo%12.html %} Junho

{% include missal/santos/antoniolisboa%13.html %} Junho

{% include missal/santos/basiliomagno%14.html %} Junho

{% include missal/santos/vitomodestocrescencia%15.html %} Junho

{% include missal/santos/teresaviuva%17.html %} Junho %latim

{% include missal/santos/efrem%18.html %} Junho

{% include missal/santos/juliana%19.html %} Junho

{% include missal/santos/silverio%20.html %} Junho

{% include missal/santos/franciscopacheco%20.html %} Junho %latim

{% include missal/santos/luisgonzaga%21.html %} Junho

{% include missal/santos/paulino%22.html %} Junho

{% include missal/santos/vigiliajoaobaptista%23.html %} Junho

{% include missal/santos/nascimentojoaobaptista%24.html %} Junho

{% include missal/santos/guilherme%25.html %} Junho

{% include missal/santos/joaoepaulo%26.html %} Junho

{% include missal/santos/pelagio%26.html %} Junho %latim

{% include missal/santos/vigiliapedropaulo%28.html %} Junho

{% include missal/santos/pedropauloapostolos%29.html %} Junho

{% include missal/santos/comemoracaopaulo%30.html %} Junho

{% include missal/santos/preciosissimosangue%1.html %} Julho

{% include missal/santos/visitacao%2.html %} Julho

{% include missal/santos/ireneu%3.html %} Julho

{% include missal/santos/isabelrainha%4.html %} Julho

{% include missal/santos/antoniozacarias%5.html %} Julho

{% include missal/santos/cirilometodio%7.html %} Julho

{% include missal/santos/seteirmaos%10.html %} Julho

{% include missal/santos/pioi%11.html %} Julho

{% include missal/santos/joaogualberto%12.html %} Julho

{% include missal/santos/anacleto%13.html %} Julho

{% include missal/santos/boaventura%14.html %} Julho

{% include missal/santos/inacioazevedo%15.html %} Julho %latim

{% include missal/santos/montecarmelo%16.html %} de Julho

{% include missal/santos/sisenando%16.html %} de Julho %latim

{% include missal/santos/aleixo%17.html %} de Julho

{% include missal/santos/camilolelis%18.html %} de Julho

{% include missal/santos/vicentepaulo%19.html %} de Julho

{% include missal/santos/jeronimoemiliano%20.html %} de Julho

{% include missal/santos/santamargarida%20.html %} de Julho

{% include missal/santos/colomba%20.html %} de Julho %latim

{% include missal/santos/praxedes%21.html %} de Julho

{% include missal/santos/anjoportugal%21.html %} Julho %criar

{% include missal/santos/mariamadalena%22.html %} Julho %falta evangelho

{% include missal/santos/lourencobrindes%22.html %} Julho %latim

{% include missal/santos/apolinario%23.html %} Julho

{% include missal/santos/liborio%23.html %} Julho

{% include missal/santos/cristina%24.html %} Julho

{% include missal/santos/tiagoapostolo%25.html %} Julho

{% include missal/santos/santaana%26.html %} Julho

{% include missal/santos/pantaleao%27.html %} Julho %latim %Porto oração %tirar?

{% include missal/santos/rodolfoaguaviva%27.html %} Julho %latim

{% include missal/santos/nazario%28.html %} Julho

{% include missal/santos/vitorpapa%28.html %} Julho

{% include missal/santos/inocencio%28.html %} Julho

{% include missal/santos/santamarta%29.html %} Julho

{% include missal/santos/felixii%29.html %} Julho

{% include missal/santos/abdonsenen%30.html %} Julho

{% include missal/santos/inacioloiola%31.html %} Julho

{% include missal/santos/macabeus%1.html %} Agosto

{% include missal/santos/afonsoligorio%2.html %} Agosto

{% include missal/santos/estevaopapa%2.html %} Agosto

{% include missal/santos/domingos%4.html %} Agosto

{% include missal/santos/dedicacaomarianeves%5.html %} Agosto

{% include missal/santos/transfiguracao%6.html %} Agosto

{% include missal/santos/sixtofelicissimoagapito%6.html %} Agosto

{% include missal/santos/sixtoii%6.html %} Agosto

{% include missal/santos/caetano%7.html %} Agosto

{% include missal/santos/vianney%8.html %} Agosto

{% include missal/santos/ciriaco%8.html %} Agosto

{% include missal/santos/vigilialourenco%9.html %} Agosto

{% include missal/santos/romao%9.html %} Agosto

{% include missal/santos/lourenco%10.html %} Agosto

{% include missal/santos/tiburciosusana%11.html %} Agosto

{% include missal/santos/filomena%11.html %} Agosto

{% include missal/santos/clara%12.html %} Agosto

{% include missal/santos/hipolitocassiano%13.html %} Agosto

{% include missal/santos/vigiliaassuncao%14.html %} Agosto

{% include missal/santos/assuncao%15.html %} Agosto

{% include missal/santos/joaquim%16.html %} Agosto

{% include missal/santos/jacinto%17.html %} Agosto

{% include missal/santos/agapito%17.html %} Agosto

{% include missal/santos/saoroque%18?.html %} Agosto %latim

{% include missal/santos/joaoeudes%19.html %} Agosto

{% include missal/santos/bernardo%20.html %} Agosto

{% include missal/santos/joanachantal%21.html %} Agosto

{% include missal/santos/imaculadocoracaomaria%22.html %} Agosto

{% include missal/santos/timoteooutros%22.html %} Agosto

{% include missal/santos/filipebenicio%23.html %} Agosto

{% include missal/santos/bartolomeuapostolo%24.html %} Agosto

{% include missal/santos/saoluisrei%25.html %} Agosto

{% include missal/santos/miguelcarv%25.html %} Agosto %repete?

{% include missal/santos/zeferino%26.html %} Agosto

{% include missal/santos/josecalasans%27.html %} Agosto

{% include missal/santos/agostinho%28.html %} Agosto

{% include missal/santos/hermes%28.html %} Agosto

{% include missal/santos/degolacaobaptista%29.html %} Agosto

{% include missal/santos/rosalima%30.html %} Agosto

{% include missal/santos/raimundononato%31.html %} Agosto

{% include missal/santos/egidio%1.html %} Setembro

{% include missal/santos/dozeirmaos%1.html %} Setembro

{% include missal/santos/estevaorei%2.html %} Setembro

{% include missal/santos/piox%3.html %} Setembro

{% include missal/santos/lourencojustiniano%5.html %} Setembro

{% include missal/santos/natividademaria%8.html %} Setembro

{% include missal/santos/gorgonio%9.html %} Setembro

{% include missal/santos/pedroclaver%9.html %} Setembro %? latim

{% include missal/santos/nicolautolentino%10.html %} Setembro

{% include missal/santos/protojacinto%11.html %} Setembro

{% include missal/santos/santissimonomemaria%12.html %} Setembro

{% include missal/santos/exaltacaocruz%14.html %} Setembro

{% include missal/santos/setedoressetembro%15.html %} Setembro %sequencia

{% include missal/santos/corneliocipriano%16.html %} Setembro

{% include missal/santos/cornelio%16.html %} Setembro

{% include missal/santos/eufemiaoutros%16.html %} Setembro

{% include missal/santos/trasladacaovicentemartir%16.html %} Setembro %?

{% include missal/santos/estigmasfrancisco%17.html %} Setembro

{% include missal/santos/josecupertino%18.html %} Setembro

{% include missal/santos/januariooutros%19.html %} Setembro

{% include missal/santos/eustaquiooutros%20.html %} Setembro

{% include missal/santos/mateus%21.html %} Setembro

{% include missal/santos/tomasvilanova%21.html %} Setembro

{% include missal/santos/lino%23.html %} Setembro

{% include missal/santos/tecla%23.html %} Setembro

{% include missal/santos/mariamerces%24.html %} Setembro

{% include missal/santos/ciprianojustina%26.html %} Setembro

{% include missal/santos/cosmedamiao%27.html %} Setembro

{% include missal/santos/venceslau%28.html %} Setembro

{% include missal/santos/dedicacaoarcanjomiguel%29.html %} de Setembro

{% include missal/santos/jeronimo%30.html %} de Setembro

{% include missal/santos/remigio%1.html %} Outubro

{% include missal/santos/verissimooutros%1.html %} Outubro %latim

{% include missal/santos/anjosguarda%2.html %} Outubro

{% include missal/santos/teresamenino%3.html %} Outubro

{% include missal/santos/francisco%4.html %} Outubro

{% include missal/santos/placido%5.html %} Outubro

{% include missal/santos/bruno%6.html %} Outubro

{% include missal/santos/rosariomaria%7.html %} Outubro

{% include missal/santos/marcospapa%7.html %} Outubro

{% include missal/santos/sergiobaco%8.html %} Outubro

{% include missal/santos/brigida%8.html %} Outubro

{% include missal/santos/joaoleonardo%9.html %} Outubro

{% include missal/santos/dionisio%9.html %} Outubro

{% include missal/santos/mariamonte%9.html %} Outubro %latim

{% include missal/santos/franciscoborgia%10.html %} Outubro

{% include missal/santos/maternidademaria%11.html %} Outubro

{% include missal/santos/eduardo%13.html %} Outubro

{% include missal/santos/calisto%14.html %} Outubro

{% include missal/santos/teresa%15.html %} Outubro

{% include missal/santos/hedviges%16.html %} Outubro

{% include missal/santos/trasladacaopedrorates%17.html %} Outubro %latim

{% include missal/santos/margaridamaria%17.html %} Outubro

{% include missal/santos/lucas%18.html %} Outubro

{% include missal/santos/pedroalcantara%19.html %} Outubro

{% include missal/santos/joaocancio%20.html %} Outubro

{% include missal/santos/santairia%20.html %} Outubro %latim

{% include missal/santos/hilariao%21.html %} Outubro

{% include missal/santos/ursulaoutras%21.html %} Outubro

{% include missal/santos/basilicamafra%22.html %} Outubro

{% include missal/santos/antoniomariaclaret%23.html %} Outubro

{% include missal/santos/rafaelarcanjo%24.html %} Outubro

{% include missal/santos/trasladacaomartinho%25.html %} Outubro %latim

{% include missal/santos/crispimcrispiniano%25.html %} Outubro %latim

{% include missal/santos/crisantodaria%25.html %} Outubro

{% include missal/santos/evaristo%26.html %} Outubro

{% include missal/santos/vicentesabinacristeta%27.html %} Outubro %latim

{% include missal/santos/goncalolagos%27.html %} Outubro %latim

{% include missal/santos/simaojudas%28.html %} Outubro %latim

{% include missal/santos/trasladacaorainhaisabel%29.html %} Outubro %latim

{% include missal/santos/cristorei%Último.html %} Domingo Outubro

{% include missal/santos/vitoriacristaos%30.html %} Outubro

{% include missal/santos/todossantos%1.html %} Novembro

{% include missal/santos/comemoracaofieisdefuntos%2.html %} Novembro

{% include missal/santos/carlosborromeu%4.html %} Novembro

{% include missal/santos/santasreliquias%5.html %} Novembro %latim

{% include missal/santos/nunosantamaria%6.html %} Novembro %latim

{% include missal/santos/quatrosantosmartires%8.html %} Novembro

{% include missal/santos/dedicacaobasilicasalvador%9.html %} Novembro

{% include missal/santos/andreavelino%10.html %} Novembro

{% include missal/santos/martinho%11.html %} Novembro

{% include missal/santos/martinhopapa%12.html %} Novembro

{% include missal/santos/diogo%13.html %} Novembro

{% include missal/santos/josofa%14.html %} Novembro

{% include missal/santos/dedicacaobasilicajesus%15.html %} Novembro

{% include missal/santos/albertomagno%15.html %} Novembro

{% include missal/santos/gertrudes%16.html %} Novembro

{% include missal/santos/gregoriotaumaturgo%17.html %} Novembro

{% include missal/santos/dedicacaobasilicapedropaulo%18.html %} Novembro

{% include missal/santos/isabelviuva%19.html %} Novembro

{% include missal/santos/isabelviuva%19.html %} Novembro

{% include missal/santos/ponciano%19.html %} Novembro

{% include missal/santos/felixvalois%20.html %} Novembro

{% include missal/santos/apresentacaomaria%21.html %} Novembro

{% include missal/santos/cecilia%22.html %} Novembro

{% include missal/santos/clemente%23.html %} Novembro

{% include missal/santos/joaodacruz%24.html %} Novembro

{% include missal/santos/santacatarinavirgem%25.html %} Novembro

{% include missal/santos/silvestre%26.html %} Novembro

{% include missal/santos/pedroalexandrino%26.html %} Novembro

{% include missal/santos/catarinalaboure%28.html %} Novembro %latim

{% include missal/santos/tiagointercisio%28.html %} Novembro %
