<h1 class="text-center">Extrema-unção</h1>

<em>O Sacerdote, entrando em casa do enfermo, diz:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
℣. Pax huic dómui.
</div>
<div class="col-6 text-justify">
℣. A paz esteja nesta casa.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et ómnibus habitántibus in ea.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E em todos seus habitantes.
</div>
</div>
</div>

<h4 class="text-center">Asperges Me</h4><em>Página aspergesme</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Exáudi nos, Dómine sancte, Pater omnípotens, ætérna Deus: et míttere dignéris sanctum Angelum tuum de cælis, qui custódiat, fóveat, prótegat, vísitet atque deféndat omnes habitántes in hoc habitáculo. Per Christum Dóminum nostrum.
</div>
<div class="col-6 text-justify">
Ouvi-nos, Senhor santo, Pai omnipotente, Deus eterno, dignai-Vos mandar do céu o vosso santo Anjo, para que ele guarde, sustente, proteja, visite e defenda todos aqueles que se encontram nesta morada. Por Cristo Senhor nosso.
</div>
</div>
</div>

<em>O Acólito diz o Confiteor Deo... (como na página confiteor); e o Sacerdote, tendo dado as Absolvições, continua:</em>

<h3 class="text-center">Recepção da Comunhão</h3>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
℣. Ecce Agnus Dei, ecce qui tollit peccáta mundi.
</div>
<div class="col-6 text-justify">
℣. Eis o Cordeiro de Deus, eis Aquele que tira os pecados do mundo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Dómine, non sum dignus, ut intres sub tectum meum: sed tantum dic verbo, et sanábitur ánima mea.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Senhor, eu não sou digno de que entreis na minha morada, mas dizei uma só palavra e a minha alma será salva.
</div>
<div class="col-6 text-justify">
Accípe frater (soror), Viaticum Córporis Dómini nostri Jesu Christi, qui te custódiat ab hoste malígno, et perdúcate in vitam ætérnam.
</div>
<div class="col-6 text-justify">
Recebei, meu irmão (ou minha irmã), o Viático do Corpo de n. Se. J. C., a fim de que vos guie até à vida eterna.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
℣. Dominus vobíscum.
</div>
<div class="col-6 text-justify">
℣. O Senhor seja convosco.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et cum spíritu tuo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E com vosso espírito.
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-center">
Orémus.
</div>
<div class="col-6 text-center">
Oremos.
</div>
<div class="col-6 text-justify">
Dómine sancte, Páter omnípotens, ætérne Deus, te fidéliter deprecámur, ut accipiénti fratri nostro (soróri nostræ) sacrosánctum Corpus Dómini nostri Jesu Christi Fílii tui, tam córpori, quam ánimæ prosit ad remédium sempitérnum: Qui tecum vivit et regnat in unitáte Spíritus Sancti Deus, per ómnia sǽcula sæculórum.
</div>
<div class="col-6 text-justify">
Senhor santo, Pai omnipotente, Deus eterno, Vos rogamos com confiança que o Corpo Santíssimo de nosso Senhor, que o nosso irmão (ou irmã) acaba de receber, lhe seja remédio eficaz, tanto para a sua alma como para o seu corpo, a fim de que lhe sirva para a eternidade: Ele, que, sendo Deus, convosco vive e reina por todos os séculos dos séculos.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
</div>
</div>
