<em>Desde a Páscoa até à Vigília da SS. Trindade, diz-se:</em>
FIXME VIDIAQUAM
\gregorioscore scores/missa/vidiaquam

Vi a água que saía do lado direito do Templo, aleluia: e todos aqueles em quem esta água tocou foram salvos; e dirão: aleluia, aleluia.

Louvai o Senhor, porque Ele é bom, pois a sua misericórdia é eterna.

℣. Glória ao Pai, e ao Filho e ao Espírito Santo.

℟. Assim como era no princípio, agora e sempre, por todos os séculos dos séculos. Amen.


<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Vidi aquam egrediéntem de templo a látere dextro, allelúja: et omnes ad quos pervénit aqua ista salvi facti sunt et dicent: allelúja, allelúja.
</div>
<div class="col-6 text-justify">
Vi a água que saía do lado direito do Templo, aleluia: e todos aqueles em quem esta água tocou foram salvos; e dirão: aleluia, aleluia.
</div>
<div class="col-6 text-justify">
℣. Osténde nobis, Dómine, misericórdiam tuam. Allelúja.
</div>
<div class="col-6 text-justify">
℣. Mostrai, Senhor, a vossa misericórdia. Aleluia.
</div>
<div class="col-6 text-justify">
℟. Et salutáre tuum da nobis. Allelúja.
</div>
<div class="col-6 text-justify">
℟. E dai-nos a salvação. Aleluia.
</div>
<div class="col-6 text-justify">
℣. Dómine, exáudi oratiónem meam.
</div>
<div class="col-6 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-6 text-justify">
℟. Et clamor meus ad te véniat.
</div>
<div class="col-6 text-justify">
℟. E que meu clamor chegue até Vós.
</div>
<div class="col-6 text-justify">
℣. Dóminus vobíscum.
</div>
<div class="col-6 text-justify">
℣. O Senhor seja convosco.
</div>
<div class="col-6 text-justify">
℟. Et cum spíritu tuo.
</div>
<div class="col-6 text-justify">
℟. E com vosso espírito.
</div>
<div class="col-6 text-center">
Orémus.
</div>
<div class="col-6 text-center">
Oremos.
</div>
<div class="col-6 text-justify">
Exáudi nos, Dómine sancte, Pater omnípotens, ætérne, Deus, et míttere dignéris Sanctum Angelum tuum de cælis, qui custódiat, fóveat, prótegat, vísitet atque deféndat omnes habitantes in hoc habitáculo. Per Christum Dóminum nostrum. Amen.
</div>
<div class="col-6 text-justify">
Ouvi-nos, Senhor santo, Pai omnipotente, Deus eterno, e dignai-Vos enviar do céu o vosso Santo Anjo, para que ele guarde, conserve, proteja, visite e defenda todos aqueles que se encontram neste templo. Por Cristo, nosso Senhor. Amen.
</div>
</div>
</div>
