<h3 class="text-center" id="item-23-1">Pequeno Capítulo - <em>Ecl. 24</em></h3>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">Ego mater pulchræ dilectionis, et timoris, et agnitionis, et sanctæ spei.
</div>
<div class="col-6 dropcaps text-justify">Eu sou a Mãe do amor belo e do temor, e do conhecimento antigo, e da santa esperança.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Deo grátias.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Graças a Deus.
</div>
<div class="col-6 text-justify">
V. Ora pro nobis sancta Dei Génetrix.
</div>
<div class="col-6 text-justify">
V. Rogai por nós, Santa Mãe de Deus.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Ut digni efficiamur promissionibus Christi.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Para que sejamos dignos das promessas de Cristo.
</div>
<div class="col-6 text-justify">
<em>Nunc. Ant.</em> Magnum hæreditatis mysterium: templum Dei factus est uterus nescientis virum: non est pollutus ex ea carnem assumens; omnes gentes venient, dicentes: Gloria tibi, Domine.
</div>
<div class="col-6 text-justify">
<em>Nunc. Ant.</em> Grande mystério de herança: o ventre daquela que não conheceu varão, é feito templo de Deus; o qual se não manchou, tomando dela carne humana. Virão todas as gentes, dizendo: Glória a Vós, ó Senhor.
</div>
<div class="col-6 text-danger text-center"> Orémus. </div>
<div class="col-6 text-danger text-center"> Oremos. </div>
<div class="col-6 dropcaps text-justify">Deus, qui salutis æternæ, beatæ Mariæ virginitate fœcunda, humano generi præmia præstitisti: tribue, quǽsumus; ut ipsam pro nobis intercedere sentiamus, per quam meruimus auctorem vitæ suscipere, Dominum nostrum Jesum Christum Filium tuum. Qui tecum vivit et regnat in unitate Spiritus Sancti, Deus, per omnia sæcula sæculorum.
</div>
<div class="col-6 dropcaps text-justify">Ó Deus, que pela virgindade fecunda da bem-aventurada Maria, destes ao género humano as gratificações da salvação eterna: concedei-nos, Vos rogamos, que experienciemos sua intercessão por nós, dela pela qual recebemos o autor da vida, Nosso Senhor Jesus Cristo, vosso Filho. Que convosco, e com o Espírito Santo, vive e reina por todos os séculos.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
</div>
</div>

<em>Acabar com uma Antífona de Nossa Senhora.</em>
