<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
℣. Convérte nos &#10016; Deus, salutáris noster.
</div>
<div class="col-md-5 text-justify">
℣. Converte-nos, &#10016; Deus nosso Salvador.
</div>
<div class="col-md-5 text-justify">
℟. Et avérte iram tuam a nobis.
</div>
<div class="col-md-5 text-justify">
℟. E afasta de nós a vossa ira.
</div>
<div class="col-md-5 text-justify">
℣. Deus &#10016; in adjutórium meum inténde.
</div>
<div class="col-md-5 text-justify">
℣. Deus, &#10016; vinde em meu auxílio.
</div>
<div class="col-md-5 text-justify">
℟. Dómine, ad adjuvándum me festína.
</div>
<div class="col-md-5 text-justify">
℟. Senhor, apressai-Vos em socorrer-me.
</div>
<div class="col-md-5 text-justify">
℣. Glória Patri, et Fílio, et Spíritui Sancto.
</div>
<div class="col-md-5 text-justify">
℣. Glória ao Pai, e ao Filho e ao Espírito Santo.
</div>
<div class="col-md-5 text-justify">
℟. Sicut erat in pricípio, et nunc, et semper, et in sǽcula sæculórum. Amen.
</div>
<div class="col-md-5 text-justify">
℟. Assim como era no princípio, agora e sempre, e por todos os séculos dos séculos. Amen.
</div>
</div>
</div>

<h3 class="text-center">Salmo 128</h3>

<div class="container">
<div class="row">
{% include salmos/128.html %}
</div>
</div>

<h3 class="text-center">Salmo 129</h3>

<div class="container">
<div class="row">
{% include salmos/129.html %}
</div>
</div>

<h3 class="text-center">Salmo 130</h3>

<div class="container">
<div class="row">
{% include salmos/130.html %}
</div>
</div>

<h3 class="text-center">Hino Memento rerum conditor</h3>

<div class="container">
        <div class="row">
        {% include hinos/mementorerumconditor.html %}
        </div>
        </div>

<h3 class="text-center">Pequeno Capítulo - <em>Ecl. 24</em></h3>
<div class="container">
<div class="row">
<div class="col-md-5 dropcaps text-justify">Ego mater pulchræ dilectionis, et timoris, et agnitionis, et sanctæ spei.
</div>
<div class="col-md-5 dropcaps text-justify">Eu sou a Mãe do amor belo e do temor, e do conhecimento antigo, e da santa esperança.
</div>
<div class="col-md-5 text-justify">
℟. Deo grátias.
</div>
<div class="col-md-5 text-justify">
℟. Graças a Deus.
</div>
<div class="col-md-5 text-justify">
℣. Ora pro nobis sancta Dei Génetrix.
</div>
<div class="col-md-5 text-justify">
℣. Rogai por nós, Santa Mãe de Deus.
</div>
<div class="col-md-5 text-justify">
℟. Ut digni efficiamur promissionibus Christi.
</div>
<div class="col-md-5 text-justify">
℟. Para que sejamos dignos das promessas de Cristo.
</div>
</div>
</div>

<h3 class="text-center">Ofício 1</h3>
<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Sub tuum præsídium confúgimus, sancta Dei Génetrix; nostras deprecatiónes ne despícias in necessitátibus; sed a perículis cunctis líbera nos semper, Virgo gloriósa et benedícta.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> À vossa protecção recorremos, Santa Mãe de Deus; não desprezeis as nossas súplicas em nossas necessidades; mas livrai-nos sempre de todos os perigos, ó Virgem gloriosa e bendita.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
</div>
</div>

<h3 class="text-center">Tempo Pascal</h3>
<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Regína Cæli, lætáre, allelúja; Quia quem meruísti portáre, allelúja; Resurréxit, sicut dixit, allelúja; Ora pro nóbis Deum, allelúja. Gaude et lætáre, Virgo Maria, allelúja. Quia surréxit Dóminus vere, allelúja.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Rainha do Céu, alegrai-Vos, Aleluia! Porque Aquele que merecestes trazer em vosso ventre, Aleluia! Ressuscitou como disse, Aleluia! Rogai por nós a Deus, Aleluia!
Alegrai-Vos e exultai, ó Virgem Maria, Aleluia! Porque o Senhor ressuscitou verdadeiramente, Aleluia!
</div>
</div>
</div>

<h3 class="text-center">Cântico Nunc Dimittis</h3>

<div class="container">
        <div class="row">
        {% include hinos/nuncdimittis.html %}
        </div>
        </div>

<h3 class="text-center">Ofício 1</h3>
<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Sub tuum præsídium confúgimus, sancta Dei Génetrix; nostras deprecatiónes ne despícias in necessitátibus; sed a perículis cunctis líbera nos semper, Virgo gloriósa et benedícta.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> À vossa protecção recorremos, Santa Mãe de Deus; não desprezeis as nossas súplicas em nossas necessidades; mas livrai-nos sempre de todos os perigos, ó Virgem gloriosa e bendita.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
</div>
</div>

<h3 class="text-center">Tempo Pascal</h3>
<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Regína Cæli, lætáre, allelúja; Quia quem meruísti portáre, allelúja; Resurréxit, sicut dixit, allelúja; Ora pro nóbis Deum, allelúja. Gaude et lætáre, Virgo Maria, allelúja. Quia surréxit Dóminus vere, allelúja.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Rainha do Céu, alegrai-Vos, Aleluia! Porque Aquele que merecestes trazer em vosso ventre, Aleluia! Ressuscitou como disse, Aleluia! Rogai por nós a Deus, Aleluia!
Alegrai-Vos e exultai, ó Virgem Maria, Aleluia! Porque o Senhor ressuscitou verdadeiramente, Aleluia!
</div>
<div class="col-md-5 text-justify">
℣. Domine, exaudi orationem meam.
</div>
<div class="col-md-5 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-md-5 text-justify">
℟. Et clamor meus ad te veniat.
</div>
<div class="col-md-5 text-justify">
℟. E o meu clamor chegue até Vós.
</div>
<div class="col-md-5 text-center"> Orémus. </div>
<div class="col-md-5 text-center"> Oremos. </div>
<div class="col-md-5 dropcaps text-justify">Beatæ et gloriosæ semper Virginis Mariæ, quǽsumus, Domine, intercessio gloriosa nos protegat: et ad vitam perducat æternam. Per Dominum, &c.
</div>
<div class="col-md-5 dropcaps text-justify">Qua gloriosa intercessão da abençoada e gloriosa Maria sempre Virgem, nos proteja, nós Vos pedimos Senhor, e que nos traga a vida eterna. Por nosso Senhor, &c.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
<div class="col-md-5 text-justify">
℣. Domine, exaudi orationem meam.
</div>
<div class="col-md-5 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-md-5 text-justify">
℟. Et clamor meus ad te veniat.
</div>
<div class="col-md-5 text-justify">
℟. E o meu clamor chegue até Vós.
</div>
<div class="col-md-5 text-justify">
℣. Benedicamus Domino.
</div>
<div class="col-md-5 text-justify">
℣. Bendigamos o Senhor.
</div>
<div class="col-md-5 text-justify">
℟. Deo gratias.
</div>
<div class="col-md-5 text-justify">
℟. Graças a Deus.
</div>
</div>
</div>

<em>Acabar com uma Antífona de Nossa Senhora.</em>
