<em>Tudo como no primeiro oficio, excepto o seguinte: No Terceiro Nocturno, na Quarta-feira, no Sábado e na Festa da Anunciação, a última Antífona é a seguinte; são próprias as Lições e Responsórios que seguem.</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Angelus Domini nuntiavit Mariæ, et concepit de Spiritu Sancto, (Allelúja)
</div>
<div class="col-6 text-justify">
<em>Ant.</em> O Anjo do Senhor anunciou a Maria, e ela concebeu do Espírito Santo.
</div>
</div>
</div>

<h3 class="text-center" id="item-2-1">Salmo 97</h3>

<div class="container-fluid">
<div class="row">
{% include salmos/097.html %}
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Angelus Domini nuntiavit Mariæ, et concepit de Spiritu Sancto, (Allelúja)
</div>
<div class="col-6 text-justify">
<em>Ant.</em> O Anjo do Senhor anunciou a Maria, e ela concebeu do Espírito Santo.
</div>
</div>
</div>

<h3 class="text-center" id="item-2-2">Absolvição</h3>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">Precibus et meritis beatæ Mariæ semper Virginis, et omnium Sanctorum, perducat nos Dominus ad regna cælorum.
</div>
<div class="col-6 dropcaps text-justify">Pelos rogos e merecimentos da bem-aventurada Virgem Maria, e de todos os Santos, nos conduza o Senhor ao reino dos céus.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="col-6 text-justify">
V. Jube, Domine, benedicere.
</div>
<div class="col-6 text-justify">
V. Dai-me, ó Senhor, a vossa bênção.
</div>
</div>
</div>

<h3 class="text-center" id="item-2-3">Benção</h3>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Nos cum prole pia benedicat Virgo Maria.
</div>
<div class="col-6 text-justify">
Benza-nos a Virgem Maria com seu piíssimo Filho.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
</div>
</div>

<h3 class="text-center" id="item-2-4">Lição 1 - <em>Lc. 1, 26-28</em></h3>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">Missus est Angelus Gabriel a Deo in civitatem Galilææ, cui nomen Nazareth, ad virginem desponsatam viro, cui nomen erat Joseph, de domo David: et nomen virginis Maria. Et ingressus Angelus ad eam dixit: Ave gratia plena: Dominus tecum: benedicta tu in mulieribus.</div>
<div class="col-6 dropcaps text-justify">O Anjo Gabriel foi mandado por Deus à cidade de Galileia chamada Nazaré, a uma virgem denominada Maria, desposada com um varão cujo nome era José, da casa de David. E entrando o Anjo onde ela estava, lhe disse: Deus vos salve, ó cheia de graça, o Senhor é convosco; bendita sois vós entre as mulheres.
</div>
<div class="col-6 text-justify">
V. Tu autem, Dómine, miserére nobis.
</div>
<div class="col-6 text-justify">
V. E vós, Senhor, tende misericórdia de nós.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Deo grátias.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Demos graças a Deus.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Missus est Gabriel Angelus ad Maríam Vírginem desponsatam Joseph, nuntians ei verbum; et expavescit Virgo de lúmine: ne timeas, María, invenísti grátiam apud Dóminum: Ecce concipies et paries, et vocábitur Altíssimi Fílius.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> O Anjo Gabriel foi enviado a Maria Virgem, desposada com José, para lhe anunciar o verbo; e a Virgem assustou-se com o esplendor da sua luz. Não temas, Maria, que achaste graça para com o Senhor. Conceberás, e darás à luz um filho que será chamado o filho do Altíssimo.
</div>
<div class="col-6 text-justify">
V. Dabit ei Dóminus Deus sedem David, patris ejus, et regnábit in domo Jacob in ætérnum.
</div>
<div class="col-6 text-justify">
V. O Senhor Deus lhe dará o trono de David seu Pai, e reinará eternamente na casa de Jacob.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Ecce concipies et paries, et vocábitur Altíssimi Fílius.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Conceberás, e darás á luz um filho que será chamado o Filho do Altíssimo.
</div>
<div class="col-6 text-justify">
V. Iube domne benedicere.
</div>
<div class="col-6 text-justify">
V. Dai-me, ó Senhor, a vossa bênção.
</div>
<div class="col-6 text-justify">
Ipsa Virgo Vírginum intercédat pro nobis ad Dóminum.
</div>
<div class="col-6 text-justify">
A mesma Virgem das virgens interceda por nós ao Senhor.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
</div>
</div>

<h3 class="text-center" id="item-2-5">Lição 2 - <em>Lc. 1, 29-33</em></h3>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">Quæ cum audisset, turbata est in sermone ejus, et cogitabat qualis esset ista salutatio. Et ait Angelus ei: Ne timeas, Maria: invenisti enim gratiam apud Deum: ecce concipies in utero, et paries filium, et vocabis nomen ejus Jesum: hic erit magnus, et Filius Altissimi vocabitur, et dabit illi Dominus Deus sedem David patris ejus: et regnabit in domo Jacob in æternum, et regni ejus non erit finis.</div>
<div class="col-6 dropcaps text-justify">Ouvindo ela estas palavras, perturbou-se pelo que se lhe dizia; e considerava que saudação seria. Então o Anjo disse-lhe: Não temas, Maria, porque achaste graça para com Deus. Conceberás no teu ventre, e darás à luz um filho a quem darás o nome de Jesus. Este será grande e se chamará Filho do Altíssimo, e o Senhor Deus lhe dará o trono de David seu Pai, e reinará eternamente na casa de Jacob, e o seu Reino não terá fim.
</div>
<div class="col-6 text-justify">
V. Tu autem, Dómine, miserére nobis.
</div>
<div class="col-6 text-justify">
V. E vós, Senhor, tende misericórdia de nós.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Deo grátias.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Demos graças a Deus.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Ave, María, grátia plena; Dóminus tecum: Spíritus Sanctus supervéniet in te, et virtus Altíssimi obumbrábit tibi: quod enim ex te nascétur Sanctum, vocábitur Fílius Dei.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Ave, Maria, cheia de graça; o Senhor é convosco. Virá sobre vós o Espírito Santo e a virtude do Altíssimo vos fará sombra: por isso o santo que nascerá de vós será chamado Filho de Deus.
</div>
<div class="col-6 text-justify">
V. Quómodo fiet istud, quóniam virum non cognósco? Et respóndens Angelus, dixit ei.
</div>
<div class="col-6 text-justify">
V. Como se fará isto, pois não conheço varão? E respondendo o Anjo, lhe disse:
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Spíritus Sanctus supervéniet in te, et virtus Altíssimi obumbrábit tibi: quod enim ex te nascétur Sanctum, vocábitur Fílius Dei.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Virá sobre vós o Espírito Santo, e a virtude do Altíssimo vos fará sombra; por isso o santo que nascerá de vós será chamado Filho de Deus.
</div>
</div>
</div>

<em>Quando o Te Deum é dito depois da Terceira Lição, adiciona-se o seguinte no fim do Responsório:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
V. Glória Patri, et Fílio, et Spirítui Sancto.
</div>
<div class="col-6 text-justify">
V. Glória ao Pai e ao Filho e ao Espírito Santo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Spíritus Sanctus supervéniet in te, et virtus Altíssimi obumbrábit tibi: quod enim ex te nascétur Sanctum, vocábitur Fílius Dei.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Virá sobre vós o Espírito Santo, e a virtude do Altíssimo vos fará sombra; por isso o santo que nascerá de vós será chamado Filho de Deus.
</div>
<div class="col-6 text-justify">
V. Iube domne benedicere.
</div>
<div class="col-6 text-justify">
V. Dai-me, Senhor, a vossa bênção.
</div>
</div>
</div>

<h3 class="text-center" id="item-2-6">Benção</h3>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Per Vírginem Matrem concédat nobis Dóminus salútem et pacem.
</div>
<div class="col-6 text-justify">
Pela Virgem Maria, nos conceda o Senhor a paz e a salvação.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
</div>
</div>

<h3 class="text-center" id="item-2-7">Lição 3 <em>Lc. 1, 34-38</em></h3>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">Dixit autem Maria ad Angelum: Quomodo fiet istud, quoniam virum non cognosco? Et respondens Angelus dixit ei: Spiritus Sanctus superveniet in te, et virtus Altissimi obumbrabit tibi. Ideoque et quod nascetur ex te Sanctum, vocabitur Filius Dei. Et ecce Elisabeth cognata tua, et ipsa concepit filium in senectute sua: et hic mensis sextus est illi, quæ vocatur sterilis: quia non erit impossibile apud Deum omne verbum. Dixit autem Maria: Ecce ancilla Domini: fiat mihi secundum verbum tuum.</div>
<div class="col-6 dropcaps text-justify">Disse então Maria ao Anjo: Como se fará isto, por quando não conheço varão? E respondendo o Anjo, lhe disse: Virá sobre vós o Espírito Santo, e a virtude do Altíssimo vos fará sombra; e por isso o santo que nascerá de vós se chamará Filho de Deus. E também Isabel, vossa parenta, que é chamada estéril, concebeu um filho na sua velhice, está já no sexto mês; porque a Deus nada é impossível. Disse então Maria: Eis aqui a escrava do Senhor, faça-se em mim segundo a vossa palavra.
</div>
<div class="col-6 text-justify">
V. Tu autem, Dómine, miserére nobis.
</div>
<div class="col-6 text-justify">
V. E vós, Senhor, tende misericórdia de nós.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Deo grátias.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Demos graças a Deus.
</div>
</div>
</div>

<em>O Te Deum não é dito no Advento, excluindo as Festas de Nossa Senhora. O seguinte Responsório é dito quando o Te Deum é omitido:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Súscipe verbum, Virgo María, quod tibi a Dómino per Angelum transmíssum est: concípies et páries Deum páriter et hóminem, ut benedícta dicáris inter omnes mulíeres.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Recebei, Maria Virgem, a palavra que Senhor vos transmite pelo seu Anjo. Concebereis, e dareis à luz a Deus e Homem juntamente: pelo que sereis chamada Bendita entre todas as mulheres.
</div>
<div class="col-6 text-justify">
V. Paries quidem fílium, et virginitátis non patiéris detriméntum: efficiéris grávida, et eris mater semper intácta.
</div>
<div class="col-6 text-justify">
V. Dareis à luz um filho, e ficareis sempre Virgem. Concebereis e ficareis mãe, continuareis sempre pura e imaculada.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Ut benedícta dicáris inter omnes mulíeres.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Pelo que sereis chamada Bendita entre todas as mulheres.
</div>
<div class="col-6 text-justify">
V. Glória Patri, et Fílio, et Spirítui Sancto.
</div>
<div class="col-6 text-justify">
V. Glória ao Pai e ao Filho e ao Espírito Santo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Ut benedícta dicáris inter omnes mulíeres.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Pelo que sereis chamada Bendita entre todas as mulheres.
</div>
</div>
</div>