<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
℣. Deus &#10016; in adjutórium meum inténde.
</div>
<div class="col-6 text-justify">
℣. Deus, &#10016; vinde em meu auxílio.
</div>
<div class="col-6 text-justify">
℟. Dómine, ad adjuvándum me festína.
</div>
<div class="col-6 text-justify">
℟. Senhor, apressai-Vos em socorrer-me.
</div>
<div class="col-6 text-justify">
        ℣. Glória Patri, et Fílio, et Spíritui Sancto.
        </div>
        <div class="col-6 text-justify">
        ℣. Glória ao Pai, e ao Filho e ao Espírito Santo.
        </div>
        <div class="col-6 text-justify">
        ℟. Sicut erat in pricípio, et nunc, et semper, et in sǽcula sæculórum. Amen.
        </div>
        <div class="col-6 text-justify">
        ℟. Assim como era no princípio, agora e sempre, e por todos os séculos dos séculos. Amen.
</div>
</div>
</div>

<h3 class="text-center" id="item-15-1">Hino Memento rerum conditor</h3>

<div class="container-fluid">
        <div class="row">
        {% include hinos/mementorerumconditor.html %}
        </div>
        </div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Pulchra es et decora, filia Jerusalem: terribus ut castrorum acies ordinara.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Filha de Jerusalém, sois bela e decorosa, terrível como um exército formado em linha.
</div>
</div>
</div>

<h3 class="text-center" id="item-15-2">Salmo 125</h3>

<div class="container-fluid">
<div class="row">
{% include salmos/125.html %}
</div>
</div>

<h3 class="text-center" id="item-15-3">Salmo 126</h3>

<div class="container-fluid">
<div class="row">
{% include salmos/126.html %}
</div>
</div>

<h3 class="text-center" id="item-15-4">Salmo 127</h3>

<div class="container-fluid">
<div class="row">
{% include salmos/127.html %}
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Pulchra es et decora, filia Jerusalem: terribus ut castrorum acies ordinara.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Filha de Jerusalém, sois bela e decorosa, terrível como um exército formado em linha.
</div>
</div>
</div>

<h3 class="text-center" id="item-15-5">Pequeno Capítulo - <em>Ecl. 24, 19-20</em></h3>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">Sicut cinnamomum et balsamum aromatizans odorem dedi: quasi myrrha electa dedi suavitatem odoris.</div>
<div class="col-6 dropcaps text-justify">Assim como o cinamomo e o bálsamo, que difundem cheiro, dei eu fragrância: como a mirra escolhida, dei cheiro de suavidade.
</div>
<div class="col-6 text-justify">
℟. Deo grátias.
</div>
<div class="col-6 text-justify">
℟. Graças a Deus.
</div>
<div class="col-6 text-justify">
℣. Post partum, Virgo, invioláta permansísti.
</div>
<div class="col-6 text-justify">
℣. Despois do parto permanecestes imaculada.
</div>
<div class="col-6 text-justify">
℟. Dei Génetrix, intercéde pro nobis.
</div>
<div class="col-6 text-justify">
℟. Intercedei por nós, ó Mãe de Deus.
</div>
</div>
</div>


<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>(Hic genuflectitur)</em> Kyrie eleison
</div>
<div class="col-6 text-justify">
<em>(Genuflectir)</em> Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, eléison.
</div>
<div class="col-6 text-justify">
Cristo, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Kyrie, eléison.
</div>
<div class="col-6 text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
℣. Domine, exaudi orationem meam.
</div>
<div class="col-6 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-6 text-justify">
℟. Et clamor meus ad te veniat.
</div>
<div class="col-6 text-justify">
℟. E o meu clamor chegue até Vós.
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-danger text-center"> Orémus. </div>
<div class="col-6 text-danger text-center"> Oremos. </div>
<div class="col-6 dropcaps text-justify">Famulorum tuorum, quaesumus, Domine, delictis ignosce: ut qui tibi placere de actibus nostris non valemus, Genitricis Filii tui Domini nostri intercessione salvemur:
Qui tecum vivit et regnat &c.
</div>
<div class="col-6 dropcaps text-justify">Perdoai, Senhor, como Vos pedimos, os delictos dos vossos servos; para que não podendo agradar-Vos com as nossas obras, sejamos salvos, pela intercessão da Virgem Mãe de vosso Filhos e Senhor nosso: Que convosco vive e reina &c.
</div>
<div class="col-6 text-justify">
℟. Amen.
</div>
<div class="col-6 text-justify">
℟. Amen.
</div>
<div class="col-6 text-justify">
℣. Domine, exaudi orationem meam.
</div>
<div class="col-6 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-6 text-justify">
℟. Et clamor meus ad te veniat.
</div>
<div class="col-6 text-justify">
℟. E o meu clamor chegue até Vós.
</div>
<div class="col-6 text-justify">
℣. Benedicamus Domino.
</div>
<div class="col-6 text-justify">
℣. Bendigamos o Senhor.
</div>
<div class="col-6 text-justify">
℟. Deo gratias.
</div>
<div class="col-6 text-justify">
℟. Graças a Deus.
</div>
<div class="col-6 text-justify">
℣. Fidelium animæ per misericordiam Dei, requiescant in pace.
</div>
<div class="col-6 text-justify">
℣. E que as almas dos fiéis, pela misericórdia de Deus, descansem em paz.
</div>
<div class="col-6 text-justify">
℟. Amen.
</div>
<div class="col-6 text-justify">
℟. Amen.
</div>
</div>
</div>
