<em>Tudo como no primeiro oficio, excepto o seguinte:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Missus est Gabriel Angelus ad Maríam, Vírginem, desponsatam Joseph.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> O Anjo Gabriel foi enviado a Maria Virgem, desposada com José.
</div>
</div>
</div>

<h3 class="text-center" id="item7-1">Pequeno Capítulo - <em>Is. 7, 14-15</em></h3>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">Ecce Virgo concipiet, et pariet filium, et vocabitur nomen ejus Emmanuel. Butyrum et mel comedet, ut sciat reprobare malum, et eligere bonum.
</div>
<div class="col-6 dropcaps text-justify">Pois por isso o mesmo Senhor vos dará este sinal: Uma virgem conceberá e dará à luz um filho, e o seu nome será Emanuel. Ele comerá manteiga e mel, até que saiba rejeitar o mal e escolher o bem.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Deo grátias.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Graças a Deus.
</div>
<div class="col-6 text-justify">
V. Dignare me laudare te, Virgo sacrata.
</div>
<div class="col-6 text-justify">
V. Dignai-vos, sagrada Virgem, de que eu vos louve.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Da mihi virtutem contra hostes tuos.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Dai-me esforço contra vossos inimigos.
</div>
</div>
</div>


<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>(Hic genuflectitur)</em> Kyrie eleison
</div>
<div class="col-6 text-justify">
<em>(Genuflectir)</em> Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, eléison.
</div>
<div class="col-6 text-justify">
Cristo, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Kyrie, eléison.
</div>
<div class="col-6 text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
V. Domine, exaudi orationem meam.
</div>
<div class="col-6 text-justify">
V. Ouvi, Senhor, a minha oração.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Et clamor meus ad te veniat.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> E o meu clamor chegue até Vós.
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-danger text-center"> Orémus. </div>
<div class="col-6 text-danger text-center"> Oremos. </div>
<div class="col-6 dropcaps text-justify">Deus, qui de beatæ Mariæ Virginis utero Verbum tuum, Angelo nuntiante, carnem suscipere voluisti: præsta supplicibus tuis; ut qui vere eam Genetricem Dei credimus, ejus apud te intercessionibus adjuvemur. Per eundem Dominum nostrum Jesum Christum.
</div>
<div class="col-6 dropcaps text-justify">Ó Deus, que pela anunciação do Anjo quisestes que o vosso Verbo se vestisse da nossa carne nas entranhas da bem-aventurada Virgem Maria: nós, vossos humildes servos, cremos ser ela a verdadeira Mãe de Deus, concedei-nos que nos ajudem as suas intercessões para convosco. Pelo mesmo Jesus Cristo Senhor Nosso.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
</div>
</div>