<em>Tudo como no primeiro oficio, excepto o seguinte:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Rubum, quem viderat Moyses incombustum, conservatam agnovimus tuam laudabilem virginitatem: Dei Genitrix, intercede pro nobis.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Na sarça que Moisés via sem se consumir, reconhecemos a vossa admirável virgindade conservada: rogai por nós, Santa Mãe de Deus.
</div>
</div>
</div>

<h3 class="text-center" id="item-14-1">Pequeno Capítulo - <em>Ecl. 24, 16</em></h3>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">Et radicavi in populo honorificato, et in parte Dei mei hereditas illius et in plenitudine sanctorum detentio mea.</div>
<div class="col-6 dropcaps text-justify">E lancei raízes no povo honorificado, e na parte de meu Deus, herança sua; e na congregação dos santos fiz a minha morada.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Deo grátias.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Graças a Deus.
</div>
<div class="col-6 text-justify">
V. Benedicta tu in mulieribus.
</div>
<div class="col-6 text-justify">
V. Bendita sois vóo entre as mulheres.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Et benedictus fructus ventris tui.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> E bendito é o fruto do vosso ventre.
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-danger text-center"> Orémus. </div>
<div class="col-6 text-danger text-center"> Oremos. </div>
<div class="col-6 dropcaps text-justify">Deus, qui salutis æternæ, beatæ Mariæ virginitate fœcunda, humano generi præmia præstitisti: tribue, quǽsumus; ut ipsam pro nobis intercedere sentiamus, per quam meruimus auctorem vitæ suscipere, Dominum nostrum Jesum Christum Filium tuum. Qui tecum vivit et regnat in unitate Spiritus Sancti, Deus, per omnia sæcula sæculorum.
</div>
<div class="col-6 dropcaps text-justify">Ó Deus, que pela virgindade fecunda da bem-aventurada Maria, destes ao género humano as gratificações da salvação eterna: concedei-nos, Vos rogamos, que experienciemos sua intercessão por nós, dela pela qual recebemos o autor da vida, Nosso Senhor Jesus Cristo, vosso Filho. Que convosco, e com o Espírito Santo, vive e reina por todos os séculos.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Amen.
</div>
</div>
</div>