<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
℣. Deus &#10016; in adjutórium meum inténde.
</div>
<div class="col-md-5 text-justify">
℣. Deus, &#10016; vinde em meu auxílio.
</div>
<div class="col-md-5 text-justify">
℟. Dómine, ad adjuvándum me festína.
</div>
<div class="col-md-5 text-justify">
℟. Senhor, apressai-Vos em socorrer-me.
</div>
<div class="col-md-5 text-justify">
        ℣. Glória Patri, et Fílio, et Spíritui Sancto.
        </div>
        <div class="col-md-5 text-justify">
        ℣. Glória ao Pai, e ao Filho e ao Espírito Santo.
        </div>
        <div class="col-md-5 text-justify">
        ℟. Sicut erat in pricípio, et nunc, et semper, et in sǽcula sæculórum. Amen.
        </div>
        <div class="col-md-5 text-justify">
        ℟. Assim como era no princípio, agora e sempre, e por todos os séculos dos séculos. Amen.
</div>
</div>
</div>

<h3 class="text-center">Hino Memento rerum conditor</h3>

<div class="container">
        <div class="row">
        {% include hinos/mementorerumconditor.html %}
        </div>
        </div>

<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> In odorem unguentorum tuorum currimus: adolescentulæ dilexerunt te nimis.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Todos corremos à fragrância dos vossos aromas, as donzelas vos amarão grandemente.
</div>
</div>
</div>

<h3 class="text-center">Salmo 122</h3>

<div class="container">
<div class="row">
{% include salmos/122.html %}
</div>
</div>

<h3 class="text-center">Salmo 123</h3>

<div class="container">
<div class="row">
{% include salmos/123.html %}
</div>
</div>

<h3 class="text-center">Salmo 124</h3>

<div class="container">
<div class="row">
{% include salmos/124.html %}
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> In odorem unguentorum tuorum currimus: adolescentulæ dilexerunt te nimis.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Todos corremos à fragrância dos vossos aromas, as donzelas vos amarão grandemente.
</div>
</div>
</div>

<h3 class="text-center">Pequeno Capítulo - <em>Ecl. 24, 16</em></h3>
<div class="container">
<div class="row">
<div class="col-md-5 dropcaps text-justify">Et radicavi in populo honorificato, et in parte Dei mei hereditas illius et in plenitudine sanctorum detentio mea.
</div>
<div class="col-md-5 dropcaps text-justify">E lancei raízes no povo honorificado, e na parte de meu Deus, herança sua; e na congregação dos santos fiz a minha morada.
</div>
<div class="col-md-5 text-justify">
℟. Deo grátias.
</div>
<div class="col-md-5 text-justify">
℟. Graças a Deus.
</div>
<div class="col-md-5 text-justify">
℣. Benedicta tu in mulieribus.
</div>
<div class="col-md-5 text-justify">
℣. Bendita sois v´so entre as mulheres.
</div>
<div class="col-md-5 text-justify">
℟. Et benedictus fructus ventris tui.
</div>
<div class="col-md-5 text-justify">
℟. E bendito é o fruto do vosso ventre.
</div>
</div>
</div>


<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>(Hic genuflectitur)</em> Kyrie eleison
</div>
<div class="col-md-5 text-justify">
<em>(Genuflectir)</em> Senhor, tende piedade de nós.
</div>
<div class="col-md-5 text-justify">
Christe, eléison.
</div>
<div class="col-md-5 text-justify">
Cristo, tende piedade de nós.
</div>
<div class="col-md-5 text-justify">
Kyrie, eléison.
</div>
<div class="col-md-5 text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-md-5 text-justify">
℣. Domine, exaudi orationem meam.
</div>
<div class="col-md-5 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-md-5 text-justify">
℟. Et clamor meus ad te veniat.
</div>
<div class="col-md-5 text-justify">
℟. E o meu clamor chegue até Vós.
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-5 text-center"> Orémus. </div>
<div class="col-md-5 text-center"> Oremos. </div>
<div class="col-md-5 dropcaps text-justify">Concede, misericors Deus, fragilitati nostrae praesidium: ut qui sanctae Dei Genitricis memoriam agimus, intercessionis ejus auxilio, a nostris iniquitatibus resurgamus. Per eúmdem Dóminum &c.
</div>
<div class="col-md-5 dropcaps text-justify">Concedei, misericordioso Deus, um esforço grande à nossa fragilidade, para que os que celebramos a memória da santa Mãe de Deus, com o auxílio da sua intercessão, ressuscitemos das nossas iniquidades. Pelo mesmo Senhor &c.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
<div class="col-md-5 text-justify">
℣. Domine, exaudi orationem meam.
</div>
<div class="col-md-5 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-md-5 text-justify">
℟. Et clamor meus ad te veniat.
</div>
<div class="col-md-5 text-justify">
℟. E o meu clamor chegue até Vós.
</div>
<div class="col-md-5 text-justify">
℣. Benedicamus Domino.
</div>
<div class="col-md-5 text-justify">
℣. Bendigamos o Senhor.
</div>
<div class="col-md-5 text-justify">
℟. Deo gratias.
</div>
<div class="col-md-5 text-justify">
℟. Graças a Deus.
</div>
<div class="col-md-5 text-justify">
℣. Fidelium animæ per misericordiam Dei, requiescant in pace.
</div>
<div class="col-md-5 text-justify">
℣. E que as almas dos fiéis, pela misericórdia de Deus, descansem em paz.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
</div>
</div>
