<em>Tudo como no primeiro oficio, excepto o seguinte:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Quando natus es inefabilitre ex Virgnine, tunc impletæ sunt Scripturæ: sicut pluvia in vellus descendisti, ut salvum faceres genus humanum: te laudamus, Deus noster.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Quando nascestes misteriosamente da Virgem, então se cumpriram as Escrituras: descestes como a chuva sobre a lã, para salvar a humanidade. Nós Vos louvamos, ó Nosso Deus.
</div>
</div>
</div>