<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
℣. Deus <span class="text-danger">&#10016;</span> in adjutórium meum inténde.
</div>
<div class="col-6 text-justify">
℣. Deus, <span class="text-danger">&#10016;</span> vinde em meu auxílio.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Dómine, ad adjuvándum me festína.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Senhor, apressai-Vos em socorrer-me.
</div>
<div class="col-6 text-justify">
    ℣. Glória Patri, et Fílio, et Spíritui Sancto.
    </div>
    <div class="col-6 text-justify">
    ℣. Glória ao Pai, e ao Filho e ao Espírito Santo.
    </div>
    <div class="col-6 text-justify">
    <span class="text-danger">℟.</span> Sicut erat in pricípio, et nunc, et semper, et in sǽcula sæculórum. Amen.
    </div>
    <div class="col-6 text-justify">
    <span class="text-danger">℟.</span> Assim como era no princípio, agora e sempre, e por todos os séculos dos séculos. Amen.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> O admirabile commercium: Creator generis humani, animatum corpus sumens, de Virgine nasci dignatus est: et procedens homo sine semine, largitus est nobis suam Deitatem.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Ó admirável permuta! O Criador do género humano, tomando corpo e alma, dignou-se nascer de uma Virgem; e, feito homem sem progenitor, tornou-nos participantes da sua divindade.
</div>
</div>
</div>

<h3 class="text-center" id="item-20-1">Salmo 109</h3>

<div class="container-fluid">
<div class="row">
{% include salmos/109.html %}
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> O admirabile commercium: Creator generis humani, animatum corpus sumens, de Virgine nasci dignatus est: et procedens homo sine semine, largitus est nobis suam Deitatem.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Ó admirável permuta! O Criador do género humano, tomando corpo e alma, dignou-se nascer de uma Virgem; e, feito homem sem progenitor, tornou-nos participantes da sua divindade.
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Quando natus es inefabilitre ex Virgnine, tunc impletæ sunt Scripturæ: sicut pluvia in vellus descendisti, ut salvum faceres genus humanum: te laudamus, Deus noster.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Quando nascestes misteriosamente da Virgem, então se cumpriram as Escrituras: descestes como a chuva sobre a lã, para salvar a humanidade. Nós Vos louvamos, ó Nosso Deus.
</div>
</div>
</div>

<h3 class="text-center" id="item-20-2">Salmo 112</h3>

<div class="container-fluid">
<div class="row">
{% include salmos/112.html %}
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Quando natus es inefabilitre ex Virgnine, tunc impletæ sunt Scripturæ: sicut pluvia in vellus descendisti, ut salvum faceres genus humanum: te laudamus, Deus noster.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Quando nascestes misteriosamente da Virgem, então se cumpriram as Escrituras: descestes como a chuva sobre a lã, para salvar a humanidade. Nós Vos louvamos, ó Nosso Deus.
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Rubum, quem viderat Moyses incombustum, conservatam agnovimus tuam laudabilem virginitatem: Dei Genitrix, intercede pro nobis.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Na sarça que Moisés via sem se consumir, reconhecemos a vossa admirável virgindade conservada: rogai por nós, Santa Mãe de Deus.
</div>
</div>
</div>

<h3 class="text-center" id="item-20-3">Salmo 121</h3>

<div class="container-fluid">
<div class="row">
{% include salmos/121.html %}
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Rubum, quem viderat Moyses incombustum, conservatam agnovimus tuam laudabilem virginitatem: Dei Genitrix, intercede pro nobis.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Na sarça que Moisés via sem se consumir, reconhecemos a vossa admirável virgindade conservada: rogai por nós, Santa Mãe de Deus.
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Germinavit radix Jesse, orta est stella ex Jacob; virgo peperit Salvatorem: te laudamus, Deus noster.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Floresceu a raiz de Jessé, surgiu a estrela de Jacob. A Virgem deu à luz o Salvador: Nós Vos louvamos, ó Nosso Deus.
</div>
</div>
</div>

<h3 class="text-center" id="item-20-4">Salmo 126</h3>

<div class="container-fluid">
<div class="row">
{% include salmos/126.html %}
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Germinavit radix Jesse, orta est stella ex Jacob; virgo peperit Salvatorem: te laudamus, Deus noster.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Floresceu a raiz de Jessé, surgiu a estrela de Jacob. A Virgem deu à luz o Salvador: Nós Vos louvamos, Senhor nosso Deus.
</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Ecce, Maria genuit nobis Salvatorem, quem Joannes videns exclamavit, dicens: Ecce Agnus Dei, ecce qui tollit peccata mundi, (allelúja).
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Eis, Maria deu à luz o nosso Salvador, que João reconheceu e exclamou: eis o Cordeiro de Deus, Aquele que tira o pecado do mundo, (aleluia).
</div>
</div>
</div>

<h3 class="text-center" id="item-20-5">Salmo 147</h3>

<div class="container-fluid">
<div class="row">
{% include salmos/147.html %}
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Ecce, Maria genuit nobis Salvatorem, quem Joannes videns exclamavit, dicens: Ecce Agnus Dei, ecce qui tollit peccata mundi, (allelúja).
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Eis, Maria deu à luz o nosso Salvador, que João reconheceu e exclamou: eis o Cordeiro de Deus, Aquele que tira o pecado do mundo, (aleluia).
</div>
</div>
</div>

<h3 class="text-center" id="item-20-6">Pequeno Capítulo - <em>Ecl. 24, 14</em></h3>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">Ab initio et ante sæcula creata sum, et usque ad futurum sæculum non desinam, et in habitatione sancta coram ipso ministravi.</div>
<div class="col-6 dropcaps text-justify">Eu fui criada desde o princípio, antes dos séculos, e não deixarei de existir até ao fim dos séculos, e exerci diante dele o meu ministério na morada santa.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Deo grátias.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Graças a Deus.
</div>
</div>
</div>

<h3 class="text-center" id="item-20-7">Ave Maris Stella</h3>

<div class="container-fluid">
    <div class="row">
    {% include hinos/avemariastella.html %}
    </div>
    </div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
℣. Diffusa est gratia in labiis tuis.
</div>
<div class="col-6 text-justify">
℣. A graça derramou-se nos vossos lábios.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Propterea benedixit te Deus in æternum.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Por isso vos abençoou Deus para sempre.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Magnum hæreditatis mysterium: templum Dei factus est uterus nescientis virum: non est pollutus ex ea carnem assumens; omnes gentes venient, dicentes: Gloria tibi, Domine.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Grande mystério de herança: o ventre daquela que não conheceu varão, é feito templo de Deus; o qual se não manchou, tomando dela carne humana. Virão todas as gentes, dizendo: Glória a Vós, ó Senhor.
</div>
</div>
</div>

<h3 class="text-center" id="item-20-8">Magnificat</h3>

<div class="container-fluid">
    <div class="row">
    {% include hinos/magnificat.html %}
    </div>
    </div>
    
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>Ant.</em> Magnum hæreditatis mysterium: templum Dei factus est uterus nescientis virum: non est pollutus ex ea carnem assumens; omnes gentes venient, dicentes: Gloria tibi, Domine.
</div>
<div class="col-6 text-justify">
<em>Ant.</em> Grande mystério de herança: o ventre daquela que não conheceu varão, é feito templo de Deus; o qual se não manchou, tomando dela carne humana. Virão todas as gentes, dizendo: Glória a Vós, ó Senhor.
</div>
<div class="col-6 text-justify">
℣. Domine, exaudi orationem meam.
</div>
<div class="col-6 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et clamor meus ad te veniat.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E o meu clamor chegue até Vós.
</div>
<div class="col-6 text-danger text-center"> Orémus. </div>
<div class="col-6 text-danger text-center"> Oremos. </div>
<div class="col-6 dropcaps text-justify">Deus, qui salutis æternæ, beatæ Mariæ virginitate fœcunda, humano generi præmia præstitisti: tribue, quǽsumus; ut ipsam pro nobis intercedere sentiamus, per quam meruimus auctorem vitæ suscipere, Dominum nostrum Jesum Christum Filium tuum. Qui tecum vivit et regnat in unitate Spiritus Sancti, Deus, per omnia sæcula sæculorum.
</div>
<div class="col-6 dropcaps text-justify">Ó Deus, que pela virgindade fecunda da bem-aventurada Maria, destes ao género humano as gratificações da salvação eterna: concedei-nos, Vos rogamos, que experienciemos sua intercessão por nós, dela pela qual recebemos o autor da vida, Nosso Senhor Jesus Cristo, vosso Filho. Que convosco, e com o Espírito Santo, vive e reina por todos os séculos.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
℣. Domine, exaudi orationem meam.
</div>
<div class="col-6 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et clamor meus ad te veniat.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E o meu clamor chegue até Vós.
</div>
<div class="col-6 text-justify">
℣. Benedicamus Domino.
</div>
<div class="col-6 text-justify">
℣. Bendigamos o Senhor.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Deo gratias.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Graças a Deus.
</div>
<div class="col-6 text-justify">
℣. Fidelium animæ per misericordiam Dei, requiescant in pace.
</div>
<div class="col-6 text-justify">
℣. E que as almas dos fiéis, pela misericórdia de Deus, descansem em paz.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
</div>
</div>

<em>Acabar com uma Antífona de Nossa Senhora.</em>
