<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
℣. Deus &#10016; in adjutórium meum inténde.
</div>
<div class="col-md-5 text-justify">
℣. Deus, &#10016; vinde em meu auxílio.
</div>
<div class="col-md-5 text-justify">
℟. Dómine, ad adjuvándum me festína.
</div>
<div class="col-md-5 text-justify">
℟. Senhor, apressai-Vos em socorrer-me.
</div>
<div class="col-md-5 text-justify">
        ℣. Glória Patri, et Fílio, et Spíritui Sancto.
        </div>
        <div class="col-md-5 text-justify">
        ℣. Glória ao Pai, e ao Filho e ao Espírito Santo.
        </div>
        <div class="col-md-5 text-justify">
        ℟. Sicut erat in pricípio, et nunc, et semper, et in sǽcula sæculórum. Amen.
        </div>
        <div class="col-md-5 text-justify">
        ℟. Assim como era no princípio, agora e sempre, e por todos os séculos dos séculos. Amen.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Dum esset Rex in acubitu suo, nardus mea dedit odorem suavitatis.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Estando o Rei no seu repouso, exalou o meu frasco um suavíssimo cheiro.
</div>
</div>
</div>

<h3 class="text-center">Salmo 109</h3>

<div class="container">
<div class="row">
{% include salmos/109.html %}
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Dum esset Rex in acubitu suo, nardus mea dedit odorem suavitatis.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Estando o Rei no seu repouso, exalou o meu frasco um suavíssimo cheiro.
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Læva ejus sub capite meo, et dextera ilius amplexabitur me.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Sua mão esquerda estará debaixo de minha cabeça, e a sua direita me dará um abraço.
</div>
</div>
</div>

<h3 class="text-center">Salmo 112</h3>

<div class="container">
<div class="row">
{% include salmos/112.html %}
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Læva ejus sub capite meo, et dextera ilius amplexabitur me.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Sua mão esquerda estará debaixo de minha cabeça, e a sua direita me dará um abraço.
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Nigra sum, sed formosa, filiæ Jerusalem; ideo dilexit me rex, et introduxit me in cubiculom suum.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Sou negra, mas sou formosa, ó filhas de Jerusalém; por isso o Rei me amou, e me levou a seu aposento.
</div>
</div>
</div>

<h3 class="text-center">Salmo 121</h3>

<div class="container">
<div class="row">
{% include salmos/121.html %}
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Nigra sum, sed formosa, filiæ Jerusalem; ideo dilexit me rex, et introduxit me in cubiculom suum.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Sou negra, mas sou formosa, ó filhas de Jerusalém; por isso o Rei me amou, e me levou a seu aposento.
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Jam hiems transiit, imber abiit et recessit: surge, amica mea, et veni.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Já se foi o Inverno, e passou o chuveiro; levanta-te e vem, ó minha amada.
</div>
</div>
</div>

<h3 class="text-center">Salmo 126</h3>

<div class="container">
<div class="row">
{% include salmos/126.html %}
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Jam hiems transiit, imber abiit et recessit: surge, amica mea, et veni.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Já se foi o Inverno, e passou o chuveiro; levanta-te e vem, ó minha amada.
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Speciosa facta es et suavis in deliciis tuis, sancta Dei Genitrix.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Especiosa sois, e suave nas vossas delicias, ó santa Mãe de Deus.
</div>
</div>
</div>

<h3 class="text-center">Salmo 147</h3>

<div class="container">
<div class="row">
{% include salmos/147.html %}
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Speciosa facta es et suavis in deliciis tuis, sancta Dei Genitrix.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Especiosa sois, e suave nas vossas delicias, ó santa Mãe de Deus.
</div>
</div>
</div>

<h3 class="text-center">Pequeno Capítulo - <em>Ecl. 24, 14</em></h3>
<div class="container">
<div class="row">
<div class="col-md-5 dropcaps text-justify">Ab initio et ante sæcula creata sum, et usque ad futurum sæculum non desinam, et in habitatione sancta coram ipso ministravi.

</div>
<div class="col-md-5 dropcaps text-justify">Eu fui criada desde o princípio, antes dos séculos, e não deixarei de existir até ao fim dos séculos, e exerci diante dele o meu ministério na morada santa.
</div>
<div class="col-md-5 text-justify">
℟. Deo grátias.
</div>
<div class="col-md-5 text-justify">
℟. Graças a Deus.
</div>
</div>
</div>

<h3 class="text-center">Ave Maris Stella</h3>

<div class="container">
        <div class="row">
        {% include hinos/avemariastella.html %}
        </div>
        </div>

<h3 class="text-center">Ofício 1</h3>
<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Beata Mater et intacta Virgo, gloriosa Regina mundi, intercede pro nobis ad Dominum.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Santa Mãe e Virgem intacta, gloriosa Rainha do mundo, intercedei a Deus por nós.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
</div>
</div>

<h3 class="text-center">Tempo Pascal</h3>
<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Regína Cæli, lætáre, allelúja; Quia quem meruísti portáre, allelúja; Resurréxit, sicut dixit, allelúja; Ora pro nóbis Deum, allelúja. Gaude et lætáre, Virgo Maria, allelúja. Quia surréxit Dóminus vere, allelúja.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Rainha do Céu, alegrai-Vos, Aleluia!
Porque Aquele que merecestes trazer em vosso ventre, Aleluia! Ressuscitou como disse, Aleluia! Rogai por nós a Deus, Aleluia! Alegrai-Vos e exultai, ó Virgem Maria, Aleluia! Porque o Senhor ressuscitou verdadeiramente, Aleluia!
</div>
</div>
</div>

<h3 class="text-center">Magnificat</h3>

<div class="container">
        <div class="row">
        {% include hinos/magnificat.html %}
        </div>
        </div>

<h3 class="text-center">Ofício 1</h3>
<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Beata Mater et intacta Virgo, gloriosa Regina mundi, intercede pro nobis ad Dominum.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Santa Mãe e Virgem intacta, gloriosa Rainha do mundo, intercedei a Deus por nós.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
</div>
</div>

<h3 class="text-center">Tempo Pascal</h3>
<div class="container">
<div class="row">
<div class="col-md-5 text-justify">
<em>Ant.</em> Regína Cæli, lætáre, allelúja; Quia quem meruísti portáre, allelúja; Resurréxit, sicut dixit, allelúja; Ora pro nóbis Deum, allelúja. Gaude et lætáre, Virgo Maria, allelúja. Quia surréxit Dóminus vere, allelúja.
</div>
<div class="col-md-5 text-justify">
<em>Ant.</em> Rainha do Céu, alegrai-Vos, Aleluia! Porque Aquele que merecestes trazer em vosso ventre, Aleluia! Ressuscitou como disse, Aleluia! Rogai por nós a Deus, Aleluia! Alegrai-Vos e exultai, ó Virgem Maria, Aleluia! Porque o Senhor ressuscitou verdadeiramente, Aleluia!
</div>
<div class="col-md-5 text-justify">
℣. Domine, exaudi orationem meam.
</div>
<div class="col-md-5 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-md-5 text-justify">
℟. Et clamor meus ad te veniat.
</div>
<div class="col-md-5 text-justify">
℟. E o meu clamor chegue até Vós.
</div>
<div class="col-md-5 text-danger text-center"> Orémus. </div>
<div class="col-md-5 text-danger text-center"> Oremos. </div>
<div class="col-md-5 dropcaps text-justify">Concede nos famulos tuos, quǽsumus, Domine Deus, perpetua mentis et corporis sanitate gaudere: et gloriosa beatæ Mariæ semper Virginis intercessione, a præsenti liberari tristitia, et æterna perfrui lætitia. Per Dominum nostrum Jesum Christum.
</div>
<div class="col-md-5 dropcaps text-justify">Senhor Deus, nós Vos suplicamos que concedais a vossos servos lograr uma perpétua saúde de corpo e alma, e que pela intercessão gloriosa da bem-aventurada sempre Virgem Maria sejamos livres da presente tristeza, e gozemos da eterna alegria. Por Jesus Cristo nosso Senhor.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
<div class="col-md-5 text-justify">
℣. Domine, exaudi orationem meam.
</div>
<div class="col-md-5 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-md-5 text-justify">
℟. Et clamor meus ad te veniat.
</div>
<div class="col-md-5 text-justify">
℟. E o meu clamor chegue até Vós.
</div>
<div class="col-md-5 text-justify">
℣. Benedicamus Domino.
</div>
<div class="col-md-5 text-justify">
℣. Bendigamos o Senhor.
</div>
<div class="col-md-5 text-justify">
℟. Deo gratias.
</div>
<div class="col-md-5 text-justify">
℟. Graças a Deus.
</div>
<div class="col-md-5 text-justify">
℣. Fidelium animæ per misericordiam Dei, requiescant in pace.
</div>
<div class="col-md-5 text-justify">
℣. E que as almas dos fiéis, pela misericórdia de Deus, descansem em paz.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
<div class="col-md-5 text-justify">
℟. Amen.
</div>
</div>
</div>

<em>Acabar com uma Antífona de Nossa Senhora.</em>
