---
import SkipToContent from './SkipToContent.astro';
import SidebarToggle from './SidebarToggle';
import Search from './Search.astro';
import ThemeToggleButton from './ThemeToggleButton';
---

<header>
	<SkipToContent />
	<nav class="nav-wrapper" aria-label="navbar">
		<div class="logo flex">
			<ul>
				<li>
					<img src="/favicon.svg" width="50" />
				</li>
				<li class="text-3xl">
					<a href="/">Tesouro dos Fiéis</a>
				</li>
			</ul>
		</div>
		<ThemeToggleButton
			client:visible
			labels={{ useLight: 'Mudar para tema claro', useDark: 'Mudar para tema escuro' }}
			isInsideHeader={true}
		/>
		<Search />
		<SidebarToggle client:idle />
	</nav>
</header>

<style>
	header {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		height: var(--theme-navbar-height);
		z-index: 11;
		padding: 2rem 0;
		background-color: var(--theme-navbar-bg);
		display: flex;
		align-items: center;
		justify-content: left;
		overflow: hidden;
	}

	ul,
	li {
		all: inherit;
		flex-grow: 0;
	}

	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.75rem;
		width: 100%;
		padding-inline: var(--min-spacing-inline);
	}

	/* If the device is likely to show a scrollbar gutter, reserve space for it */
	@media (hover: hover) {
		.nav-wrapper {
			max-width: calc(100vw - 1.1rem);
		}
	}

	.logo {
		display: flex;
		justify-content: flex-start;
		font-size: 1rem;
		flex-grow: 1;
		flex-shrink: 0;
		font-weight: 600;
		line-height: 1;
		color: hsla(var(--color-base-white), 100%, 1);
		text-decoration: none;
		gap: 0.5em;
	}

	.logo a {
		transition: transform 500ms ease-out;
		outline: none;
	}

	.logo a:hover,
	.logo a:focus {
		opacity: 1;
		transform: translateY(-2px);
		color: var(--theme-accent);
	}

	@media (min-width: 20em) {
		.docs {
			display: inherit;
			max-width: 80px;
		}
	}

	@media (min-width: 23.5em) {
		.docs {
			max-width: none;
		}
		.nav-wrapper {
			gap: 1rem;
		}
	}

	@media (min-width: 50em) {
		header {
			padding: 2.5rem 0 1.5rem 0;
		}
		.astro {
			width: auto;
		}
	}

	@media (forced-colors: active) {
		.text {
			fill: LinkText;
		}
		.docs-path {
			fill: ActiveText;
		}
	}
</style>
