<h2 class="text-center">12.ª Por alguma necessidade</h2>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Deus, refúgium nostrum et virtus: adésto piis Ecclésiæ tuæ précibus, auctor ipse pietátis, et præsta; ut, quod fidéliter pétimus, efficáciter consequámur. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus, nosso refúgio e fortaleza e autor da piedade, atendei às preces devotas da vossa Igreja, para que obtenhamos eficazmente o que Vos suplicamos confiadamente. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Da, miséricors Deus: ut hæc salutáris oblátio et a própriis nos reátibus indesinénter expédiat, et ab ómnibus tueátur advérsis. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Concedei-nos, ó Deus misericordioso, que esta salutar oblação nos livre urgentemente das nossas próprias faltas e nos defenda de todas as adversidades. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Súmpsimus, Dómine, sacri dona mystérii, humíliter deprecántes: ut, quæ in tui commemoratiónem nos fácere præcepísti, in nostræ profíciant infirmitátis auxílium: Qui vivis <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Senhor, recebemos os dons dos vossos sagrados mystérios; e, humildemente Vos suplicamos, permiti que seja proveitoso para a nossa fraqueza aquilo que ordenastes fizéssemos em vossa memória. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>