<h2 class="text-center">10.ª Contra os perseguidores da Igreja</h2>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Ecclésiæ tuæ, quǽsumus, Dómine, preces placátus admítte: ut, destrúctis adversitátibus et erróribus univérsis, secúra tibi sérviat libertáte. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Senhor, Vos suplicamos, dignai-Vos acolher benigno as preces da vossa Igreja, para que, destruídas todas as adversidades e todos os obstáculos, ela Vos sirva com liberdade e segurança. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Prótege nos, Dómine, tuis mystériis serviéntes: ut, divinis rebus inhæréntes, et córpore tibi famulémur et mente. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
A nós, que celebramos os vossos mystérios, protegei-nos, Senhor, a fim de que, unindo-nos aos mystérios divinos, Vos sirvamos com o corpo e com a alma. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Quǽsumus, Dómine, Deus noster: ut, quos divína tríbuis participatióne gaudére, humánis non sinas subjacére perículis. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Senhor, nosso Deus, Vos pedimos, não consintais que aqueles a quem concedestes a graça de participar do divino banquete sejam expostos aos perigos que ameaçam os homens. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>