<h2 class="text-center">13.ª Por alguma tribulação</h2>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Ne despícias, omnípotens Deus, pópulum tuum in afflictióne clamántem: sed, propter glóriam nóminis tui, tribulátis succúrre placátus. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Não desprezeis, ó Deus omnipotente, o vosso povo, que nesta aflição por Vós clama; mas antes, para glória do vosso nome, deixai-Vos aplacar e vinde em auxílio daqueles que estão na tribulação. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Súscipe, Dómine, propítius hóstias, quibus et te placári voluísti, et nobis salútem poténti pietáte restítui. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Recebei propício, Senhor, estas oblações, com as quais quisestes ser aplacado; e, pela vossa poderosa misericórdia, restituí-nos a salvação por meio delas. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Tribulatiónem nostram, quǽsumus, Dómine, propítius réspice: et iram tuæ indignatiónis, quam juste merémur, avérte. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Senhor, Vos suplicamos, lançai vossos olhares misericordiosos para as nossas tribulações e afastai de nós o furor da vossa indignação, que justamente merecemos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>