<h2 class="text-center">Assunção da B. V. Maria</h2><em>15 de Agosto</em>

<em>Dia Festivo de Preceito</em>

<h4 class="text-center">Intróito</h4><em>Ap. 12, 1</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Signum magnum appáruit in cœlo: múlier amicta sole, et luna sub pédibus ejus, et in cápite ejus coróna stellárum duódecim. <em>Ps. 97, 1</em> Cantáte Dómino cánticum novum: quóniam mirabília fecit.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">
Um grande prodígio apareceu no céu: uma mulher revestida com o Sol, tendo a lua sob os seus pés e na cabeça uma coroa com doze estrelas. <em>Sl. 97, 1</em> Cantai ao Senhor um cântico novo, pois Ele operou maravilhas.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Omnípotens sempitérne Deus, qui Immaculátam Vírginem Maríam, Fílii tui genitrícem, córpore et ánima ad cœléstem glóriam assumpsísti: concéde, quǽsumus ; ut, ad superna semper inténti, ipsíus glóriæ mereámur esse consórtes. Per eúndem Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Omnipotente e sempiterno Deus, que elevastes em corpo e alma até à glória celestial a Imaculada Virgem Maria, Mãe de vosso Filho, concedei-nos, Vos suplicamos, que, tendo nós sempre presente ao nosso espírito os dons celestiais, mereçamos tornar-nos participantes da mesma glória. Pelo mesmo nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4><em>Jdt. 13, 22-25; 15, 10</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio libri Judith.
</div>
<div class="col-6 text-justify">
Lição do Livro de Judite.
</div>
<div class="col-6 text-justify">
Benedíxit te Dóminus in virtúte sua, quia per te ad níhilum redégit inimícos nostros. Benedícta es tu, fília, a Dómino Deo excelso, præ ómnibus muliéribus super terram. Benedíctus Dóminus, qui creávit cœlum et terram, qui te direxit in vúlnera cápitis príncipis inimicórum nostrórum; quia hódie nomen tuum ita magnificávit, ut non recédat laus tua de ore hóminum, qui mémores fúerint virtútis Dómini in ætérnum, pro quibus non pepercísti ánimæ tuæ propter angústias et tribulatiónem géneris tui, sed subvenísti ruínæ ante conspéctum Dei nostri. Tu glória Jerúsalem, tu lætítia Israël, tu honorificéntia pópuli nostri.
</div>
<div class="col-6 text-justify">
Abençoou-te o Senhor com seu poder e por ti aniquilou os nossos inimigos. Bendita és tu, ó filha, entre todas as mulheres, ante o Senhor Deus Altíssimo, e bendito é o Senhor, que criou o céu e a terra e dirigiu os teus passos para cortares a cabeça do chefe dos nossos inimigos; pois, hoje, de tal modo Ele engrandeceu o teu nome que nunca mais o teu elogio se apagará na boca dos que eternamente se lembrarem do poder do Senhor, por amor dos quais não poupaste a tua vida, ao ver as angústias e tribulações do teu povo, antes impediste a sua ruína na presença do nosso Deus. Tu és a glória de Jerusalém, a alegria de Israel e a honra do nosso povo.
</div>
</div>
</div>

<h4 class="text-center">Gradual</h4><em>Sl. 44, 11-12 & 14</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Audi, fília, et vide, et inclína aurem tuam, et concupíscit rex decórem tuum. ℣. Omnis glória ejus fíliæ Regis ab intus, in fímbriis áureis circumamícta varietátibus.
</div>
<div class="col-6 text-justify">
Ouvi, ó filha, vede e aplicai os vossos ouvidos: e o Rei cobiçará a vossa formosura! ℣. A filha do Rei entra toda gloriosa no seu palácio: os seus vestidos são tecidos de brocado de ouro.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. Assumpta est María in cœlum: gaudet exércitus Angelórum. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. Maria foi elevada ao céu em corpo e alma: alegra-se o exército dos Anjos. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4><em>Lc. 1, 41-50</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Sequéntia sancti Evangélii secúndum Lucam.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Continuação do santo Evangelho segundo S. Lucas.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Repléta est Spíritu Sancto Elisabeth et exclamávit voce magna, et dixit: Benedícta tu inter mulíeres, et benedíctus fructus ventris tui. Et unde hoc mihi ut véniat mater Dómini mei ad me? Ecce enim ut facta est vox salutatiónis tuæ in áuribus meis, exsultávit in gáudio infans in útero meo. Et beáta, quæ credidísti, quóniam perficiéntur ea, quæ dicta sunt tibi a Dómino. Et ait María: Magníficat ánima mea Dóminum; et exsultávit spíritus meus in Deo salutári meo; quia respéxit humilitátem ancíllæ suæ, ecce enim ex hoc beátam me dicent omnes generatiónes. Quia fecit mihi magna qui potens est, et sanctum nomen ejus, et misericórdia ejus a progénie in progénies timéntibus eum.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo: Isabel ficou cheia do Espírito Santo e exclamou, em voz alta: «Bendita sois vós entre as mulheres e bendito é o fruto do vosso ventre. E donde me vem a mim que a mãe do meu Senhor venha até mim? Porquanto, desde que a voz da vossa saudação chegou a meus ouvidos, o meu filho exultou de alegria no meu seio! Bem-aventurada sois, porque acreditastes que se há-de cumprir o que vos foi dito da parte do Senhor». Maria disse então: «Minha alma glorifica o Senhor e o meu espírito se alegra em Deus, meu Salvador, que se dignou olhar para a humildade da sua serva; por isso, eis que todas as gerações me chamarão bem-aventurada. Pois Aquele que é omnipotente, e o seu nome é santo, operou em mim maravilhas, e a sua misericórdia multiplicar-se-á de geração em geração sobre os que O temem».
</div>
</div>
</div>

<h4 class="text-center">Ofertório</h4><em>Gn. 3, 15</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Inimicítias ponam inter te et mulíerem, et semen tuum et semen illíus.
</div>
<div class="col-6 text-justify">
Porei inimizades entre ti e a Mulher, e entre a tua prole e a sua Prole.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Ascéndat ad te, Dómine, nostræ devotiónis oblátio, et, beatíssima Vírgine María in cœlum assumpta intercedénte, corda nostra, caritátis igne succénsa, ad te júgiter ádspirent. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ascenda até Vós, Senhor, a oblação da nossa piedade; e, por intercessão da beatíssima Virgem Maria, elevada ao céu em corpo e alma, permiti que, abrasados nossos corações no fogo da caridade, continuamente por Vós aspirem. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4><em>Lc. 1, 48-49</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Beátam me dicent omnes generatiónes, quia fecit mihi magna qui potens est.
</div>
<div class="col-6 text-justify">
Chamar-me-ão Bem-aventurada todas as gerações, pois Aquele, que é omnipotente, operou em mim maravilhas.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Sumptis, Dómine, salutáribus sacraméntis: da, quǽsumus; ut, méritis et intercessióne beátæ Vírginis Maríæ in cœlum assúmptæ, ad resurrectiónis glóriam perducámur. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Havendo recebido, Senhor, os vossos salutares sacramentos, concedei-nos, Vos suplicamos, que, pelos méritos e intercessão da Bem-aventurada Virgem Maria, elevada ao céu em corpo e alma, sejamos conduzidos à glória da ressurreição. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
