<h2 class="text-center">S. Roberto Belarmino, B. C. e Doutor <em>13 de Maio</em></h2>

<em>Como na Missa In médio Ecclésiae, página doutores, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Deus, qui ad errórem insídias repelléndas et apostólicæ Sedis jura propugnánda, beátum Robértum Pontíficem tuuam atque Doctórem mira eruditióne et virtúte decorásti: ejus méritis et intercessióne concéde; ut nos in veritátis amóre crescámus et errántium corda ad Ecclésiæ tuæ rédeant unitátem. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus, que para refutar as insídias dos erros e defender os direitos da Santa Sé Apostólica enriquecestes o B. Roberto, vosso Pontífice e Doutor, com admirável erudição e constância, concedei-nos pelos seus méritos e intercessão que em nós aumente o amor à verdade e regressem à unidade da vossa Igreja os corações dos que permanecem no erro. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola <em>Página tomasaquino</em></h4>

<h4 class="text-center">Ofertório <em>Sl. 72, 28</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Mihi autem adhærére Deo bonum est, pónere in Dómino Deo spem meam: ut annúntiem pmnes prædicatiónes tuas in portis fíliæ Sion, allelúja.
</div>
<div class="col-6 dropcaps text-justify">
Por isso bom é para mim unir-me a Deus e pôr no Senhor Deus a minha esperança, a fim de publicar todos seus louvores às portas da filha de Sião, aleluia.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Hóstias tibi, Dómine, in odórem suavitátis offérimus: et præsta; ut, beáti Robérti mónitis et exémplis edócti, per sémitam mandatórum tuórum dilatáto corde currámus. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
A Vós, Senhor, oferecemos estas hóstias em odor de suavidade; e concedei-nos que, edificados com os ensinos e exemplos do B. Roberto, caminhemos generosamente pela via dos vossos preceitos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio <em>Mt. 5, 14, 16</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Vos estis lux mundi: sic lúceat lux vestra coram homínibus, ut vídeant ópera vestra bona, et gloríficent Patrem vestrum qui in cœlis est, allelúja.
</div>
<div class="col-6 dropcaps text-justify">
Sois a luz do mundo. Assim a vossa luz brilhe diante dos homens, para que vejam as vossas boas obras e glorifiquem o vosso Pai, que está nos céus, aleluia.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Sacraménta, quæ súmpsimus, Dómine Deus noster, in nobis fóveant caritátis ardórem: quo beátus Robértus veheménter accénsus, pro Ecclésia tua se júgiter impendébat. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Que os sacramentos, que recebemos, Senhor, nosso Deus, em nós infundam o ardor da caridade com o qual o B. Roberto, intensamente abrasado, se esforçava incessantemente em defender a vossa Igreja. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
