<h2 class="text-center">S. Bonifácio, B. e Mártir <em>5 de Junho</em></h2>

<h4 class="text-center">Intróito <em>Is. 65, 19 & 23</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Exsultábo in Jerúsalem et gaudébo in pópulo meo: et non audiétur in eo ultra vos fletus et vox clamóris. Elécti mei non laborábunt frustra neque generábunt in conturbatióne: quia semen benedictórum Dómini est, et nepótes eórum cum eis. (T.P. Allelúja, allelúja.) <em>Ps. 43, 2</em> Deus, áuribus nostris audívimus: patres nostri narravérunt opus, quod operátus es in diébus eórum.
V. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Exultarei tem Jerusalém e alegrar-me-ei com meu povo: e nunca mais se ouvirá a voz das lágrimas, nem do clamor. Meus eleitos não trabalharão baldadamente, nem frutificarão na perturbação, pois constituem a geração bendita do Senhor: e os seus netos serão abençoados com eles. (T. P. Aleluia, aleluia.) <em>Sl. 43, 2</em> Ó Deus, ouvimos com os nossos ouvidos; os nossos pais contaram-nos o que fizestes nos seus dias.
V. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Deus, qui multitúdinem populórum, beáti Bonifátii Mártyris tui atque Pontíficis zelo, ad agnitiónem tui nóminis vocáre dignátus es: concéde propítius; ut, cujus sollémnia cólimus, étiam patrocínia sentiámus. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus, que Vos dignastes chamar uma multidão de povos ao conhecimento do vosso nome pelo zelo do B. Bonifácio, vosso Mártir e Pontífice, concedei-nos propício que alcancemos o Patrocínio daquele cuja festa celebramos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola <em>Página servitas</em></h4>

<h4 class="text-center">Gradual <em>1 Pe. 4, 13-14</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Communicántes Christi passiónibus gaudéte, ut in revelatióne glóriæ ejus gaudeátis exsultántes. V. Si exprobrámini in nómine Christi, beáti éritis: quóniam, quod est honóris, glóriæ et virtútis Dei, et qui est ejus Spíritus, super vos requiéscet.
</div>
<div class="col-6 dropcaps text-justify">
Havendo tomado parte nos sofrimentos de Cristo, regozijai-vos, a fim de que, quando a sua glória seja manifestada, sejais cumulados de alegria. V. Se sois ultrajados por causa do nome de Cristo, sereis bem-aventurados; pois a honra, a glória e a virtude de Deus e o seu Espírito repousarão sobre vós.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. V. <em>Is. 66, 12</em> Declinábo super eum quasi flúvium pacis, et quasi torréntem inundántem glóriam. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. V. <em>Is. 66, 12</em> Farei correr sobre ele como que um rio de paz, e como que uma torrente a trasbordar de glória. Aleluia.
</div>
</div>
</div>

<em>No T. Pascal omite-se o Gradual, e diz-se:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Allelúja, allelúja. V. <em>Is. 66, 10 & 14</em> Lætámini cum Jerúsalem, et exsultáte in ea, omnes, qui dilígitis Dóminum. Allelúja. V. Vidébitis, et gaudébit cor vestrum: cognoscétur manus Dómini servis ejus. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. V. <em>Is. 66, 10 & 14</em> Alegrai-vos e exultai com Jerusalém, ó vós, que amais o Senhor. Aleluia. V. Vereis e alegrar-se-á o vosso coração. A mão do Senhor manifestar-se-á nos seus servos. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho <em>Mt. 5, 1-12</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Sequéntia sancti Evangélii secúndum Matthǽum.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Continuação do santo Evangelho segundo S. Mateus.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Videns Jesus turbas, ascéndit in montem, et cum sedísset, accessérunt ad eum discípuli ejus, et apériens os suum, docébat eos, dicens: Beáti páuperes spíritu: quóniam ipsórum est regnum cœlórum. Beáti mites: quóniam ipsi possidébunt terram. Beáti, qui lugent: quóniam ipsi consolabúntur. Beáti, qui esúriunt et sítiunt justítiam: quóniam ipsi saturabúntur. Beáti misericórdes: quóniam ipsi misericórdiam consequántur. Beáti mundo corde: quóniam ipsi Deum vidébunt. Beáti pacífici: quóniam fílii Dei vocabúntur. Beáti, qui persecutiónem patiúntur propter justítiam: quóniam ipsórum est regnum cœlórum. Beáti estis, cum maledíxerint vobis et persecúti vos fúerint, et díxerint omne malum advérsum vos, mentiéntes, propter me: gaudete et exsultáte, quóniam merces vestra copiósa est in cœlis.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, vendo Jesus as turbas do povo que O seguiam, subiu para uma montanha. Então assentou-se, aproximando-se d’Ele os discípulos. Depois, tomando a palavra, pregou assim aos seus discípulos: «Bem-aventurados os pobres de espírito, porque deles é o reino dos céus. Bem-aventurados os mansos, porque possuirão a terra. Bem-aventurados os que choram, porque serão consolados. Bem-aventurados os que têm fome e sede de justiça, porque serão saciados. Bem-aventurados os misericordiosos, porque serão tratados com misericórdia. Bem-aventurados os que possuem o coração puro, porque verão Deus. Bem-aventurados os pacíficos, porque serão chamados filhos de Deus. Bem-aventurados os que sofrem perseguição por amor da justiça, porque lhes pertencerá o reino dos céus. Bem-aventurados, vós, quando os homens vos amaldiçoarem, perseguirem e caluniarem Dor minha causa: regozijai-vos, então, e exultai de alegria, pois uma copiosa recompensa vos está preparada nos céus».
</div>
</div>
</div>

<h4 class="text-center">Ofertório <em>Sl. 15, 7 & 8</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Benedícam Dóminum, qui tríbuit mihi intelléctum: providébam Deum in conspéctu meo semper, quóniam a dextris est mihi ne commóvear. (T.P. Allelúja.)
</div>
<div class="col-6 dropcaps text-justify">
Bendirei o Senhor, que me deu a inteligência. Tenho os meus olhos voltados constantemente para Deus; e, visto que Ele está à minha dextra, não serei abalado. (T. P. Aleluia.)
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Super has hóstias. Dómine, quæsumus, benedíctio copiósa descéndat: quæ et sanctificatiónem nostram misericórditer operátur; et de sancti Bonifátii Mártyris tui atque Pontíficis fáciat sollemnitáte gaudére. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Senhor, Vos rogamos, fazei descer sobre estas hóstias abundantes bênçãos, a fim de que pela vossa misericórdia operem a nossa santificação e nos alegrem na solenidade de S. Bonifácio, vosso Mártir e Pontífice. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio <em>Ap. 3, 21</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Qui vícerit, dabo ei sedére mecum in throno meo: sicut et ego vici et sedi cum Patre meo in throno ejus. (T.P. Allelúja.)
</div>
<div class="col-6 dropcaps text-justify">
Aquele que houver vencido tomará lugar comigo no meu trono, assim como Eu, que também venci, estou assentado com meu Pai no seu trono. (T. P. Aleluia.)
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Sanctificati, Dómine, salutári mysterio: quæsumus; ut nobis sancti Bonifátii Martyris tui atque Pontíficis pia non desit orátio, cujus nos donásti patrocínio gubernari. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Senhor, santificados com estes salutares mystérios, Vos suplicamos, não permitais que nos faltem as piedosas orações daquele que nos concedestes como nosso protector e guia. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
