<h2 class="text-center">Santa Brígida, Viúva <em>8 de Outubro</em></h2>

<em>Como na Missa Cognóvi, Dómine, página nemvirgensnemmartires, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Dómine, Deus noster, qui beátæ Birgíttæ per Fílium tuum unigénitum secreta cœléstia revelásti: ipsíus pia intercessióne da nobis, fámulis tuis; in revelatióne sempitérna glóriæ tuæ gaudére lætántes. Per eúndem Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Senhor, nosso Deus, que pelo vosso Unigénito Filho revelastes os segredos celestiais à B. Brígida, concedei-nos, já que somos vossos servos, que nos alegremos na felicidade da contemplação da vossa eterna glória. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola <em>Página monica</em></h4>
