<h2 class="text-center">S. Casimiro, Conf.</h2><em>4 de Março</em>

<em>Como na Missa Os justi, página confessoresnaopontifices1, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Deus, qui inter regáles delicias et mundi illécebras sanctum Casimírum virtúte constantiæ roborásti: quǽsumus; ut ejus intercessióne fidéles tui terréna despíciant, et ad cœléstia semper aspírent. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que no meio das delícias régias e dos atractivos do mundo fortalecestes S. Casimiro com a virtude da constância, fazei, Vos rogamos, que por sua intercessão os fiéis desprezem os bens terrenos e aspirem sempre aos celestiais. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>