<h2 class="text-center">S. S. Cirilo e Metódio, Bs. e Cs.</h2><em>7 de Julho</em>

<em>Como Missa Sacerdótes tui, página confessorespontifices2, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Omnípotens sempitérne Deus, qui Slavóniæ gentes per beátos Confessóris tuos atque Pontífices Cyríllum et Methódium ad agnitiónem tui nóminis veníre tribuísti: præsta; ut, quorum festivitáte gloriámur, eórum consórtio copulémur. Per Dóminum. <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus omnipotente e eterno, que Vos dignastes trazer ao conhecimento do vosso nome os povos eslavos pelo ministério dos B. B. Cirilo e Metódio, vossos Confessores e Pontífices, concedei-nos a graça de sermos um dia admitidos na companhia daqueles cuja festa nos gloriamos de celebrar. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4><em>Página tito</em>

<h4 class="text-center">Ofertório</h4><em>Sl. 67, 36</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Mirábilis Deus in Sanctis suis: Deus Israel, ipse dabit virtútem et fortitúdinem plebisuæ: benedíctus Deus.
</div>
<div class="col-6 text-justify">
Deus é admirável em seus Santos. Deus de Israel dará ao seu povo a força e a coragem. Bendito seja Deus.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Preces nostras, quæsumus, Dómine, et tuórum réspice oblatiónes fidélium: ut tibi gratæ sint in tuórum festivitáte (commemoratione) Sanctórum, et nobis conferant tuæ propitiatiónis auxílium. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Dignai-Vos receber benignamente as nossas orações e as oblatas dos fiéis, Senhor, a fim de que estas festas dos vossos Santos Vos sejam agradáveis e nos obtenham o auxílio da vossa propiciação. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4><em>Mt. 10, 27</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Quod dico vobis in tenebris, dícite in lúmine, dicit Dóminus: et quod in aure audítis, prædicáte super tecta.
</div>
<div class="col-6 text-justify">
O que vos digo nas trevas dizei-o às claras, diz o Senhor; e o que vos disse ao ouvido pregai-o em cima dos telhados.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Quǽsumus, omnípotens Deus: ut, qui nobis múnera dignáris præbére cœléstia, intercedéntibus sanctis tuis Cyríllo et Methódio, despícere terréna concédas. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus omnipotente, que Vos dignastes cumular-nos com os dons celestiais, Vos suplicamos, concedei-nos por intercessão dos vossos Santos Cirilo e Metódio a graça de desprezarmos as cousas terrenas. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
