<h2 class="text-center">S. Diogo, Conf.</h2><em>13 de Novembro</em>

<em>Como Missa Justus ut palma, página confessoresnaopontifices2, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Omnípotens sempitérne Deus, qui dispositióne mirábili infírma mundi éligis, ut fórtia quæque confúndas: concéde propítius humilitáti nostræ; ut, piis beáti Dídaci Confessóris tui précibus, ad perénnem in cœlis glóriam sublimári mereámur. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus omnipotente e sempiterno, que com admirável providência escolheis o que há de mais fraco no mundo para confundir os fortes, concedei propício à nossa humildade que, pelas piedosas preces do B. Diogo, vosso Confessor, mereçamos ser elevados à glória eterna nos céus. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>