<h2 class="text-center">S. Estêvão, Rei e Conf. <em>2 de Setembro</em></h2>

<em>Como na Missa Os justi, página confessoresnaopontifices1, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Concéde, quǽsumus, Ecclésiæ tuæ, omnípotens Deus: ut beátum Stéphanum Confessórem tuum, quem regnántem in terris propagatórem hábuit, propugnatórem habére mereátur gloriósum in cœlis. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Concedei à vossa Igreja, Vos imploramos, ó Deus omnipotente, que o B. Estêvão, vosso Confessor, que ela possuiu como seu propagador enquanto reinou na terra, seja agora seu defensor na glória dos céus. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Evangelho <em>Página saoluisrei</em></h4>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Réspice, quas offérimus, hóstias, omnípotens Deus: et præsta; ut, qui passiónis Dominicae mystéria celebrámus, imitémur quod ágimus. Per eúndem Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus omnipotente, dignai-Vos olhar para estas hóstias, que Vos oferecemos, e permiti que, celebrando nós os mystérios da Paixão do Senhor, imitemos o que Vos apresentamos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Præsta, quǽsumus, omnípotens Deus: ut beáti Stephani Confessóris tui fidem cóngrua devotióne sectémur; qui, pro ejúsdem fídei dilatatióne, de terréno regno ad cœléstis regni glóriam méruit perveníre. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Concedei-nos, Vos rogamos, ó Deus omnipotente, a graça de imitarmos com a devida devoção os exemplos de fé do B. Estêvão, vosso Confessor, o qual pela propagação desta mesma fé mereceu transitar da realeza terrestre para a glória do reino celestial. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
