<h2 class="text-center">S. Filipe Benício, Conf. <em>23 de Agosto</em></h2>

<em>Como Missa Justus ut palma, página confessoresnaopontifices2, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Deus, qui per beátum Philippum Confessórem tuum, exímium nobis humilitátis exémplum tribuísti: da fámulis tuis próspera mundi ex ejus imitatióne despícere, et cœléstia semper inquírere. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que na pessoa do B. Filipe, vosso Confessor, nos proporcionastes exímio exemplo de humildade, fazei que os vossos servos, imitando-o, desprezem as alegrias deste mundo e procurem sempre as celestiais. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>