<h2 class="text-center">S. Francisco de Sales, B. C. e Doutor</h2><em>29 de Janeiro</em>

<em>Como na Missa In médio Ecclésiae, página doutores, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Deus, qui ad animárum salútem beátum Francíscum Confessórem tuum atque Pontíficem ómnibus ómnium factum esse voluísti: concéde propítius; ut, caritátis tuæ dulcédine perfúsi, ejus dirigéntibus mónitis ac suffragántibus méritis, ætérna gáudia consequámur. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que para a salvação das almas quisestes que o B. Francisco, vosso Confessor e Pontífice, se fizesse tudo para todos, concedei-nos benigno que, cheios da doçura do vosso amor, guiados pelos seus conselhos e protegidos pelos seus merecimentos, alcancemos as alegrias eternas. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>