<h2 class="text-center">S. João, Apóstolo e Evangelista</h2><em>27 de Dezembro</em>

<h4 class="text-center">Intróito</h4><em>Ecl. 15, 5</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
In médio Ecclésiæ apéruit os ejus: et implévit eum Dóminus spíritu sapiéntiæ et intelléctus: stolam glóriæ índuit eum. <em>Ps. 91, 2</em> Bonum est confitéri Dómino: et psállere nómini tuo, Altíssime.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">
Abriu-lhe o Senhor a boca no meio da Igreja, encheu-o com o espírito da sabedoria e da inteligência e revestiu-o com a túnica da glória. <em>Sl. 91, 2</em> É bom louvar o Senhor: e cantar hinos em honra do vosso nome, ó Altíssimo!
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Ecclésiam tuam, Dómine, benígnus illústra: ut, beáti Joánnis Apóstoli tui et Evangelístæ illumináta doctrínis, ad dona pervéniat sempitérna. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Senhor, ilustrai benigno a vossa Igreja, para que, instruída com os ensinos do B. João, vosso Apóstolo e Evangelista, alcance os bens eternos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4><em>Ecl. 15, 1-6</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Lectio libri Sapiéntiæ.
</div>
<div class="col-6 text-justify">
Lição do Livro da Sabedoria.
</div>
<div class="col-6 text-justify">
Qui timet Deum, fáciet bona: et qui cóntinens est justítiæ, apprehéndet illam, et obviábit illi quasi mater honorificáta. Cibábit illum pane vitæ et intelléctus, et aqua sapiéntiæ salutáris potábit illum: et firmábitur in illo, et non flectétur: et continébit illum, et non confundétur: et exaltábit illum apud próximos suos, et in médio ecclésiæ apériet os ejus, et adimplébit illum spíritu sapiéntiæ et intelléctus, et stola glóriæ véstiet illum. Jucunditátem et exsultatiónem thesaurizábit super illum, et nómine ætérno hereditábit illum, Dóminus, Deus noster.
</div>
<div class="col-6 text-justify">
Aquele que teme Deus praticará o bem; e aquele que cultivar a justiça alcançará a sabedoria, que virá ao seu encontro, como uma mãe cheia de dignidade. Ela o sustentará com o pão da vida e da inteligência e lhe dará a beber a água da sabedoria, que produz a salvação. Ela lhe dará uma opinião firme, e o não deixará se curvar. Ela o sustentará, e o não deixará cair em confusão. Ela o elevará no meio dos semelhantes; lhe abrirá a boca no meio da Igreja; o encherá de sabedoria e inteligência; e o revestirá com a túnica da glória. Guardará para ele um tesouro de alegria e de glória, e o Senhor, nosso Deus, o tornará herdeiro dum nome eterno.
</div>
</div>
</div>

<h4 class="text-center">Gradual</h4><em>Jo. 21, 23 & 19</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Exiit sermo inter fratres, quod discípulus ille non móritur: et non dixit Jesus: Non móritur. ℣. Sed: Sic eum volo manére, donec véniam: tu me séquere.
</div>
<div class="col-6 text-justify">
Espalhou-se entre os irmãos a notícia de que aquele discípulo não morreria. Ora Jesus não disse: «Não morrerá». ℣. Mas disse: «Quero que permaneça assim, até que eu venha: E tu, segue-me».
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>ibid., 24</em> Hic est discípulus ille, qui testimónium pérhibet de his: et scimus, quia verum est testimónium ejus. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>ibid., 24</em> Este é o próprio discípulo que dá testemunho destas cousas; e sabemos que seu testemunho é verdadeiro. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4><em>Jo. 21, 19-24</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Sequéntia sancti Evangélii secúndum Joannem.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Continuação do santo Evangelho segundo S. João.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Dixit Jesus Petro: Séquere me. Convérsus Petrus vidit illum discípulum, quem diligébat Jesus, sequéntem, qui et recúbuit in cena super pectus ejus, et dixit: Dómine, quis est qui tradet te? Hunc ergo cum vidísset Petrus, dixit Jesu: Dómine, hic autem quid? Dicit ei Jesus: Sic eum volo manére, donec véniam, quid ad te? tu me séquere. Exiit ergo sermo iste inter fratres, quia discípulus ille non móritur. Et non dixit ei Jesus: Non móritur; sed: Sic eum volo manére, donec véniam: quid ad te? Hic est discípulus ille, qui testimónium pérhibet de his, et scripsit hæc: et scimus, quia verum est testimónium ejus.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, disse Jesus a Pedro: «Segue-me». Então, voltando-se para Pedro, viu que o seguia aquele discípulo, a quem Jesus amava, o qual, durante a ceia, reclinara a cabeça sobre o seu peito e Lhe havia perguntado: «Quem é aquele que vos trairá?». E Pedro, tendo-o visto, disse a Jesus: «Senhor, o que acontecerá a este?». Respondeu-lhe Jesus: «Se quero que assim permaneça, até que Eu venha, que te importa? Segue-me tu». Correu, então, entre os irmãos que aquele discípulo não havia de morrer. Ora Jesus não havia dito: «Não morrerá». Mas disse: «Se quero que ele permaneça assim, até que Eu venha, que te importa?». Este é o próprio discípulo que dá testemunho destas cousas e as escreveu; e sabemos que seu testemunho é verdadeiro.
</div>
</div>
</div>

<h4 class="text-center">Ofertório</h4><em>Sl. 91, 13</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Justus ut palma florébit: sicut cedrus, quæ in Líbano est, mulliplicábitur.
</div>
<div class="col-6 text-justify">
O justo florescerá, como a palmeira, e crescerá, como o cedro do Líbano.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Súscipe, Dómine, múnera, quæ in ejus tibi sollemnitáte deférimus, cujus nos confídimus patrocínio libcrári. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Recebei, Senhor, as ofertas que Vos apresentamos na solenidade daquele com o auxílio do qual esperamos ser livres do mal. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4><em>Jo. 21, 2</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Exiit sermo inter fratres, quod discípulus ille non móritur: et non dixit Jesus: Non móritur; sed: Sic eum volo manére, donec véniam.
</div>
<div class="col-6 text-justify">
Correu, pois, entre os irmãos que aquele discípulo não havia de morrer. Ora Jesus não havia dito: «Não morrerá». Mas disse: «Quero que ele assim permaneça até que Eu venha».
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Refécti cibo potúque cœlésti, Deus noster, te súpplices deprecámur: ut, in cujus hæc commemoratióne percépimus, ejus muniámur et précibus. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Confortados com o alimento e a bebida celestiais, nós Vos imploramos, ó nosso Deus, que sejamos protegidos pelas preces daquele em cuja memória recebemos este augusto sacramento. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
