<h2 class="text-center">S. João Damasceno, Conf. e Doutor <em>27 de Março</em></h2>

<h4 class="text-center">Intróito <em>Sl. 72, 24</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Tenuísti manum déxteram meam: et in voluntáte tua deduxísti me, et cum glória suscepísti me. (T. P. Allelúja, allelúja.) <em>Ps. ib., 1</em> Quam bonus Israël Deus his, qui recto sunt corde!
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Segurastes-me com a mão direita, conduzistes-me segundo a vossa vontade e acolhestes-me com gloria. (T. P. Aleluia, aleluia.) <em>Sl. ib., 1</em> Oh! como Deus de Israel é bom para com os que possuem coração recto.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Omnípotens sempitérne Deus, qui, ad cultum sacrarum imáginum asseréndum, beátum Joánnem cœlésti doctrina et admirábili spíritus fortitúdine imbuísti: concéde nobis ejus intercessióne et exémplo; ut, quorum cólimus imagines, virtútes imitémur et patrocínia sentiámus. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Deus omnipotente e eterno, que para defesa do culto das imagens dos Santos inspirastes ao B. João uma doutrina celestial e lhe concedestes admirável constância para a sustentar, fazei por sua intercessão e exemplo que imitemos as virtudes daqueles cujas imagens honramos, e sintamos os efeitos desse patrocínio. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola <em>Sb. 10, 10-17</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio libri Sapiéntiæ.
</div>
<div class="col-6 text-justify">
Lição do Livro da Sabedoria.
</div>
<div class="col-6 dropcaps text-justify">
Justum dedúxit Dóminus per vias rectas, et osténdit illi regnum Dei, et dedit illi sciéntiam sanctórum: honestávit illum in labóribus, et complévit labóres illíus. In fraude circumveniéntium illum áffuit illi, et honéstum fecit illum. Custodívit illum ab inimícis, et a seductóribus tutávit illum, et certámen forte dedit illi, ut vínceret et sciret, quóniam ómnium poténtior est sapiéntia. Hæc vénditum justum non derelíquit, sed a peccatóribus liberávit eum: descendítque cum illo in fóveam, et in vínculis non derelíquit illum, donec afférret illi sceptrum regni, et poténtiam advérsus eos, qui eum deprimébant: et mendáces osténdit, qui maculavérunt illum, et dedit illi claritátem ætérnam. Hæc pópulum justum et semen sine querela liberávit a natiónibus, quæ illum deprimébant. Intrávit in ánimam servi Dei, et stetit contra reges horréndos in porténtis et signis. Et réddidit justis mercédem labórum suórum.
</div>
<div class="col-6 dropcaps text-justify">
O Senhor conduziu o justo por caminhos direitos, mostrou-lhe o reino de Deus, concedeu-lhe a ciência dos santos, tornou prósperas as suas fadigas e cumulou de frutos os seus labores. Auxiliou-o contra aqueles que queriam defraudá-lo e enriqueceu-o. Protegeu-o contra os seus inimigos, defendeu-o dos seus sedutores e permitiu que sustentasse rijo combate, a fim de que ficasse vencedor e conhecesse que a sabedoria é a mais poderosa de todas as cousas. Esta não faltou ao justo, ainda quando vendido, mas livrou-o dos pecadores; desceu com ele ao fosso e o não abandonou nas cadeias, até lhe conseguir o ceptro real e o poder contra os que o maltratavam; convenceu de mentirosos os que o desonravam, e deu-lhe uma glória eterna. Foi ela quem livrou o povo santo e a raça escolhida das nações que o oprimiam. Ela entrou na alma do servo de Deus e com prodígios e outros sinais fez frente aos reis temíveis. E ela deu aos justos a recompensa dos seus trabalhos.
</div>
</div>
</div>

<h4 class="text-center">Gradual <em>Sl. 17, 33 & 35</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Deus, qui præcínxit me virtúte: et pósuit immaculátam viam meam. ℣. Qui docet manus meas ad prœlium: et posuísti, ut arcum ǽreum, bráchia mea.
</div>
<div class="col-6 dropcaps text-justify">
Foi Deus quem me revestiu com a força e tornou a minha vida sem mancha. ℣. Foi Deus quem adestrou as minhas mãos para o combate e tornou os meus braços rijos, como um arco de bronze.
</div>
</div>
</div>

<h4 class="text-center">Trato <em>ibid., 38, 39 & 50</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Pérsequar inimícos meos, et comprehéndam illos. ℣. Confríngam illos, nec poterunt stare: cadent subtus pedes meos. ℣. Proptérea confitébor in natiónibus, Dómine, et nómini tuo psalmum dicam.
</div>
<div class="col-6 dropcaps text-justify">
Perseguirei os meus inimigos até alcançá-los. ℣. Hei-de vencê-los; não poderão erguer-se; e cairão debaixo de meus pés. ℣. Por isso, Senhor, hei-de louvar-Vos diante de todos os povos e cantarei hinos em honra do vosso nome.
</div>
</div>
</div>

<em>No Tempo Pascal omite-se o Gradual e o Trato, e diz-se:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Allelúja, allelúja. ℣. <em>1 Reg. 25, 26 & 28</em> Dóminus salvávit manum tuam tibi: quia prǿlia Dómini tu prœliáris. Allelúja. ℣. <em>Ps. 143, 1</em> Benedíctus Dóminus, Deus meus, qui docet manus meas ad prǿlium, et dígitos meos ad bellum. Allelúja.
</div>
<div class="col-6 dropcaps text-justify">
Aleluia, aleluia. ℣. <em>1 Rs. 25, 26 & 28</em> Guardou o Senhor a vossa vida, pois combatestes por Ele. Aleluia. ℣. <em>Sl. 143, 1</em> Bendito seja o Senhor, meu Deus, pois adestrou minhas mãos para o combate e meus dedos para a batalha. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho <em>Lc. 6, 6-11</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Sequéntia sancti Evangélii secúndum Lucam.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Continuação do santo Evangelho segundo S. Lucas.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Factum est et in álio sábbato, ut intráret Jesus in synagógam et docéret. Et erat ibi homo, et manus ejus déxtera erat árida. Observábant autem scribæ et pharisǽi, si in sábbato curáret: ut invenírent, unde accusárent eum. Ipse vero sciébat cogitatiónes eórum. Et ait hómini, qui habébat manum áridam: Surge et sta in médium. Et surgens stetit. Ait autem ad illos Jesus: Intérrogo vos, si licet sábbatis benefácere, an male: ánimam salvam fácere, an pérdere? Et circumspéctis ómnibus dixit hómini: Exténde manum tuam. Et exténdit: et restitúta est manus ejus. Ipsi autem repléti sunt insipiéntia, et colloquebántur ad ínvicem, quidnam fácerent Jesu.
</div>
<div class="col-6 dropcaps text-justify">
Naquele empo, em um outro dia de sábado, entrou Jesus na sinagoga e aí ensinava. Estava lá um homem, que tinha a mão direita seca. Ora, os escribas e os fariseus observaram-n’O para ver se Ele fazia curas ao dia de sábado, para terem pretexto para O acusar; mas Jesus, que conhecia os seus pensamentos, disse ao homem que tinha a mão seca: «Levanta-te e põe-te de pé, no meio». Ele, levantando-se, conservava-se de pé. Então Jesus disse-lhes: «Pergunto-vos se é lícito ao dia de sábado praticar o bem ou o mal: salvar a vida de alguém ou deixá-lo morrer? E, circunvolvendo os olhos por aqueles que ali estavam, disse ao homem: «Estende a tua mão!». E ele estendeu a mão, que ficou curada! Então os fariseus, cheios de demência, conferenciaram uns com os outros para combinar o que haviam de fazer a Jesus.
</div>
</div>
</div>

<h4 class="text-center">Ofertório <em>Jb. 14, 7</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Lignum habet spem: sipræcísum fúerit, rursum viréscit, et rami ejus púllulant.
</div>
<div class="col-6 dropcaps text-justify">
A árvore tem esperança; pois, se a cortarem, torna a reverdescer e a lançar suas ramagens.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Ut, quæ tibi, Dómine, offérimus, dona tuo sint digna conspéctu: beáti Joánnis et Sanctórum, quos ejus ópera expósitos in templis cólimus, pia suffragátio conspíret. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Senhor, que os piedosos sufrágios do B. João e dos Santos, cujas imagens foram expostas nos templos graças ao seu zelo, sirvam para tornar dignos dos vossos olhares os dons que Vos oferecemos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio <em>Sl. 36, 17</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Bráchia peccatórum conteréntur, confírmat autem justos Dóminus.
</div>
<div class="col-6 dropcaps text-justify">
Os braços dos maus serão quebrados; mas o Senhor fortificará os braços dos justos.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Sumpta nos, quǽsumus, Dómine, dona cœléstibus armis tueántur: et beáti Joánnis patrocínia circúmdent Sanctórum unánimi suffrágio cumuláta; quorum imágines evícit in Ecclésia esse venerándas. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Senhor, Vos suplicamos, fazei que os dons recebidos sejam para nós uma armadura celeste, e que o patrocínio do B. João, unido aos sufrágios unânimes dos Santos, cujas imagens fez venerar nos templos, seja a nossa salvaguarda. Por nosso Senhor <em>&c.</em>
</div>
</div>