<h2 class="text-center">S. Josafá, B. e Mártir</h2><em>14 de Novembro</em>

<h4 class="text-center">Intróito</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Gaudeámus omnes in Dómino, diem festum celebrántes sub honóre beáti Jósaphat Mártyris: de cujus passióne gaudent Angeli et colláudant Fílium Dei. <em>Ps. 32, 1</em> Exsultáte, justi, in Dómino: rectos decet collaudátio.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">
Alegremo-nos todos no Senhor, neste dia em que celebramos a festa em honra do B. Mártir Josafá, de cujo martírio se regozijam os Anjos, louvando, unissonamente, o Filho de Deus. <em>Sl. 32, 1</em> Aclamai o Senhor, ó justos, pois é aos que possuem coração recto que pertence louvar o Senhor.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Excita, quǽsumus, Dómine, in Ecclésia tua Spíritum, quo replétus beátus Jósaphat Martyr et Póntifex tuus ánimam suam pro óvibus pósuit: ut, eo intercedénte, nos quoque eódem Spíritu moti ac roboráti, ánimam nostram pro frátribus pónere non vereámur. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Senhor, Vos imploramos, despertai na vossa Igreja, o Espírito de que o B. Josafá, vosso Mártir, estava cheio e que o levou a dar a vida pelas suas ovelhas, a fim de que pela sua intercessão, animados e fortalecidos pelo mesmo Espírito, nunca temamos sacrificar a nossa vida pelos nossos irmãos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4><em>Página tomascantorbery</em>

<h4 class="text-center">Gradual</h4><em>Sl. 88, 21-23</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Invéni David servum meum, óleo sancto meo unxi eum: manus enim mea auxiliábitur ei, et bráchium meum confortábit eum. ℣. Nihil profíciet inimícus in eo, et fílius iniquitátis non nocébit ei.
</div>
<div class="col-6 text-justify">
Encontrei o meu servo David e ungi-o com meu óleo sagrado: a minha mão o auxiliará e o meu braço o fortalecerá. ℣. Meu inimigo nada poderá contra ele e o filho da iniquidade nenhum mal lhe fará.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. Hic est sacérdos, quem coronávit Dóminus. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. Eis o sacerdote que o Senhor coroou. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4><em>Página tomascantorbery</em>

<h4 class="text-center">Ofertório</h4><em>Jo. 15, 13</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Majórem caritátem nemo habet, ut ánimam suam ponat quis pro amícis suis.
</div>
<div class="col-6 text-justify">
Ninguém pode dar maior prova de amor do que sacrificar a vida pelos seus amigos.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Clementíssime Deus, múnera hæc tua benedictióne perfunde, et nos in fide confírma: quam sanctus Jósaphat Martyr et Póntifex tuus, effúso sánguine, asséruit. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó clementíssimo Deus, infundi abundantemente a vossa bênção sobre estas ofertas; e dignai-Vos fortalecer-nos na fé, pela qual o vosso Santo Mártir e Pontífice Josafá derramou o sangue. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4><em>Jo. 10, 14</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Ego sum pastor bonus: et cognósco oves meas et cognóscunt me meæ.
</div>
<div class="col-6 text-justify">
Sou o bom pastor: conheço as minhas ovelhas; e as minhas ovelhas conhecem-me.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Spíritum, Dómine, fortitúdinis hæc nobis tríbuat mensa cœléstis: quæ sancti Jósaphat Mártyris tui atque Pontíficis vitam pro Ecclésiæ honóre júgiter áluit ad victóriam. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Que o Espírito da fortaleza, Senhor, nos seja dado nesta celestial mesa, em que o vosso Santo Mártir e Pontífice Josafá encontrou sempre alimento de vida até alcançar a vitória em honra da Igreja. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
