<h2 class="text-center">S. Juliana de Falconéri, Virgem</h2><em>19 de Junho</em>

<em>Como na Missa Dilexísti justitiam, página virgemnaomartir1, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Deus, qui beátam Juliánam Vírginem tuam extrémo morbo laborántem, pretióso Fílii tui Córpore mirabíliter recreáre dignátus es: concéde, quǽsumus; ut, ejus intercedéntibus méritis, nos quoque eódem in mortis agóne refécti ac roboráti, ad cœléstem pátriam perducámur. Per eúndem Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que com o preciosíssimo Corpo de vosso Filho Vos dignastes sustentar miraculosamente a B. Juliana, vossa Virgem, quando ela sofreu a última doença, concedei-nos, pelos seus méritos e intercessão, Vos suplicamos, que também na nossa agonia mortal sejamos alimentados e fortificados com este mesmo Corpo e conduzidos à pátria celestial. Pelo mesmo nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4><em>S. S. Gervásio e Protásio</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Deus, qui nos ánnua sanctórum Martyrum tuórum Gervásii et Protásii sollemnitáte lætíficas: concéde propítius; ut, quorum gaudémus méritis, accendámur exémplis. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que nos alegrais com a solenidade anual dos vossos Santos Mártires Gervásio e Protásio, concedei-nos propício que sejamos inflamados pelos exemplos daqueles cujos méritos nos enchem de alegria celestial. Pelo nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4><em>S. S. Mártires</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Oblátis, quǽsumus, Dómine, placáre munéribus: et, intercedéntibus sanctis Martýribus tuis, a cunctis nos defénde perículis. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Deixai-Vos aplacar com os dons que Vos oferecemos, Senhor, e por intercessão dos vossos Santos Mártires defendei-nos de todos os perigos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">PostComúnio</h4><em>S. S. Mártires</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Hæc nos commúnio, Dómine, purget a crímine: et, intercedéntibus sanctis Martýribus tuis Gervásio et Protásio, cœléstis remédii fáciat esse consórtes. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Que esta comunhão nos purifique dos nossos crimes, Senhor, e que por intercessão dos vossos Santos Mártires Gervásio e Protásio nos faça participantes do remédio celestial. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>