<h2 class="text-center">Santa Margarida Maria, Virgem</h2><em>17 de Outubro</em>

<h4 class="text-center">Intróito</h4><em>Ct. 2, 3</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Sub umbra illíus, quem desideráveram, sedi: et fructus ejus dulcis gútturi meo. <em>Ps. 83, 2-3</em> Quam dilécta tabernácula tua, Dómine virtútum! concupíscit, et déficit ánima mea in átria Dómini.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">
Assentei-me à sombra daquele que eu desejara: e o seu fruto é doce ao meu paladar. <em>Sl. 83, 2-3</em> Como são amáveis os vossos tabernáculos, ó Senhor dos exércitos! Minha alma suspira ardentemente pelos átrios do Senhor.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Dómine Jesu Christe, qui investigábiles divítias Cordis tui beátæ Margarítæ Maríæ Vírgini mirabíliter revelásti: da nobis ejus méritis et imitatióne; ut, te in ómnibus et super ómnia diligéntes, jugem in eódem Corde tuo mansiónem habére mereámur: Qui vivis et regnas <em>&c.</em>
</div>
<div class="col-6 text-justify">
Senhor Jesus Cristo, que de uma maneira admirável Vos dignastes revelar à B. Virgem Margarida Maria as insondáveis riquezas do vosso Coração, concedei-nos pelos seus méritos e à sua imitação que, amando-Vos em tudo e acima de tudo, possamos ter uma mansão no vosso Coração. Ó Vós, que viveis e reinais <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4><em>Página santissimocoracao</em>

<h4 class="text-center">Gradual</h4><em>Ct. 8, 7</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Aquæ multæ non potuérunt exstínguere caritátem, nec flúmina óbruent illam. ℣. <em>Ps. 72, 26</em> Defécit caro mea et cor meum: Deus cordis mei, et pars mea Deus in ætérnum.
</div>
<div class="col-6 text-justify">
As águas caudalosas não puderam extinguir a caridade, nem os rios a submergiram. ℣. <em>Sl. 72, 26</em> Meu corpo e o meu coração desfaleceram, ó Deus, que sois o Deus do meu coração e a minha herança na eternidade!
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Cant. 7, 10</em> Ego dilécto meo, et ad me conversio ejus. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Ct. 7, 10</em> Eu sou para o meu muito amado! E Ele volveu-se para mim. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4><em>Página pauloeremita</em>

<h4 class="text-center">Ofertório</h4><em>Zc. 9, 17</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Quid bonum ejus est et quid pulchrum ejus, nisi fruméntum electórum et vinum gérminans vírgines?
</div>
<div class="col-6 text-justify">
Que possui o Senhor de bom e de belo, melhor do que o trigo dos eleitos e o vinho que gera as virgens?
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Accéopta tibi sint, Dómine, plebis tuæ múnera: et concéde; ut ignis ille divínus nos inflámmet, quo de Corde Fílii tui emisso beáta Margaríta María veheménter æstuávit. Per eúndem Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Dignai-Vos aceitar, Senhor, as ofertas do vosso povo e permiti que sejamos inflamados no fogo divino que, irradiando do Coração do vosso Filho, consumiu em seu ardor a B. Margarida Maria. - Pelo mesmo nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4><em>Ct. 6, 2</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Ego dilecto meo, et diléctus meus mihi, qui páscitur inter lília.
</div>
<div class="col-6 text-justify">
Eu sou do meu muito amado e o meu muito amado é meu, pois Ele apascenta-se entre os lírios.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Córporis et Sánguinis tui, Dómine Jesu, sumptis mystériis: concéde nobis, quǽsumus, beáta Margaríta María Vírgine intercedénte; ut, supérbis sǽculi vanitátibus exútis, mansuetúdinem et humilitátem Cordis tui indúere mereámur: Qui vivis <em>&c.</em>
</div>
<div class="col-6 text-justify">
Senhor Jesus, havendo participado dos mystérios do vosso Corpo e Sangue, Vos rogamos, concedei-nos pela intercessão da B. Margarida Maria, Virgem, que, despojando-nos das vaidades do mundo, mereçamos ser revestidos com a mansidão e com a humildade do vosso Coração. Ó Vós, que viveis e reinais <em>&c.</em>
</div>
</div>
</div>
