<h2 class="text-center">S. Margarida, Rainha, Viúva <em>10 de Junho</em></h2>

<em>Como na Missa Cognóvi, Dómine, página nemvirgensnemmartires, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Deus, qui beátam Margarítam regínam exímia in páuperes caritáte inirábilem effecísti: da; ut, ejus intercessióne et exémplo, tua in córdibus nostris cáritas júgiter augeátur. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que tornastes admirável a B. Margarida, rainha, concedendo-lhe uma caridade extraordinária para com os pobres, permiti que, pelo seu exemplo e intercessão, a vossa caridade cresça continuamente nos nossos corações. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>