<h2 class="text-center">S. Nuno de Santa Maria</h2><em>6 de Novembro</em>

<em>Como na Missa Os justi, página confessoresnaopontifices1, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Deus, qui beáto Nónio bonum certámen certáre dedísti, eúmque sui ac mundi contemptórem exímium effecísti: concéde nobis fámulis tuis; ut, devíctis mundi cupiditátibus, in cælésti pátri perpétuo gaudeámus. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que permitistes ao B. Nuno «combater o bom combate» e o tornastes num exímio dominador de si e do mundo, a nós, que somos vossos servos, concedei-nos que, depois de havermos vencido as cobiças do mundo, nos alegremos perpetuamente na pátria celestial. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4><em>Página epistolaabades</em>

<h4 class="text-center">Evangelho</h4><em>Página evangelhoabades</em>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Tuórum mílitum, Rex omnípotens, virtútem corróborat; ut, quos in hujus mortalitátis stádio, beáti Nónii Confessóris tui vita præclára lætíficat: consummáto cursu certámis, per hæc quæ offérimus, immortalitátis bravíum comprehéndant. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Rei omnipotente, corroborai o valor dos vossos soldados, para que aqueles que nesta arena mortal se alegram com a preclara vida do B. Nuno, vosso Confessor, terminado o tempo do combate, alcancem, mediante esta hóstia, que Vos oferecemos, o prémio da imortalidade. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Súpplices te rogámus, omnípotens Deus: ut, quos tuis réficis sacraméntis; intercedénte Beáto Nónio Confessóre tuo, tríbuas ab hóstium insídiis júgiter liberári, et contra ómnia advérsa contínua protectióne muníri. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó omnipotente Deus, humildemente Vos rogamos que àqueles que foram alimentados com vossos sacramentos Vos digneis conceder, por intercessão do B. Nuno, vosso Confessor, sejam sempre livres das insídias dos seus inimigos e pela contínua protecção do mesmo sejam fortalecidos contra todas as adversidades. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
