<h2 class="text-center">

<h4 class="text-center">Intróito</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">

<em>
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">

<em>
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>&c.</em>
</div>
<div class="col-6 text-justify">
<em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Lectio Epístolæ beati Pauli Apostoli ad Corinthios.
</div>
<div class="col-6 text-justify">
Lição da Ep.ª do B. Ap.º Paulo aos Coríntios.
</div>
<div class="col-6 text-justify">
Fratres:
</div>
<div class="col-6 text-justify">
Meus
</div>
</div>
</div>

<h4 class="text-center">Gradual</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">

</div>
<div class="col-6 text-justify">

</div>
<div class="col-6 text-justify">

</div>
<div class="col-6 text-justify">

</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
&#10016; Sequéntia sancti Evangélii secúndum Lucam.
</div>
<div class="col-6 text-justify">
&#10016; Continuação do santo Evangelho segundo S. Lucas.
</div>
<div class="col-6 dropcaps text-justify">
In
</div>
<div class="col-6 dropcaps text-justify">
Naquele
</div>
</div>
</div>

<h4 class="text-center">Ofertório</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">

</div>
<div class="col-6 text-justify">

</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>&c.</em>
</div>
<div class="col-6 text-justify">
<em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">

</div>
<div class="col-6 text-justify">

</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<em>&c.</em>
</div>
<div class="col-6 text-justify">
<em>&c.</em>
</div>
</div>
</div>
