<h2 class="text-center">Os Quarenta Mártires</h2><em>10 de Março</em>

<h4 class="text-center">Intróito</h4><em>Sl. 33, 18</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Clamavérunt justi, et Dóminus exaudívit eos: et ex ómnibus tribulatiónibus eórum liberávit eos. <em>Ps. ibid., 2</em> Benedícam Dóminum in omni témpore: semper laus ejus in ore meo.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">
Os justos clamaram por Deus; então o Senhor ouviu-os e livrou-os de todas as tribulações. <em>Sl. ibid., 2</em> Bendirei o Senhor em todo o tempo; o seu louvor estará sempre na minha boca.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Præsta, quǽsumus, omnípotens Deus: ut, qui gloriósos Mártyres fortes in sua confessióne cognóvimus, pios apud te in nostra intercessióne sentiámus. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Concedei-nos, Vos pedimos, ó Deus omnipotente, que, reconhecendo nós a fortaleza com que estes Santos Mártires confessaram a fé, sintamos também em nosso favor a caridade da sua intercessão junto de Vós. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4><em>Página fabiaosebastiao</em>

<h4 class="text-center">Gradual</h4><em>Sl. 132, 1-2</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Ecce, quam bonum et quam jucundum, habitáre fratres in unum! ℣. Sicut unguéntum in cápite, quod descéndit in barbam, barbam Aaron.
</div>
<div class="col-6 text-justify">
Oh! como é bom e suave que os irmãos habitem juntos! ℣. É como o perfume suave espalhado na cabeça de Aarão, e que corre pela barba: pela barba de Aarão.
</div>
</div>
</div>

<h4 class="text-center">Trato</h4><em>Página muitosmartires1</em>

<h4 class="text-center">Evangelho</h4><em>Página muitosmartires1</em>

<h4 class="text-center">Ofertório</h4><em>Sl. 31, 11</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Lætámini in Dómino et exsultáte, justi: et gloriámini, omnes recti corde.
</div>
<div class="col-6 text-justify">
Alegrai-vos no Senhor, ó justos! Exultai de júbilo! Todos aqueles que possuem o coração recto serão glorificados.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Preces, Dómine, tuórum réspice oblationésque fidélium: ut et tibi gratæ sint pro tuórum festivitáte Sanctórum, et nobis cónferant tuæ propitiatiónis auxílium. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Dignai-Vos olhar benigno, Senhor, para as preces e ofertas dos vossos fiéis; e fazei que na festa dos vossos Santos Vos sejam agradáveis e nos alcancem o socorro da vossa misericórdia. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4><em>Mt. 12, 50</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Quicúmque fécerit voluntátem Patris mei, qui in cœlis est: ipse meus frater et soror et mater est, dicit Dóminus.
</div>
<div class="col-6 text-justify">
Aquele que faz a vontade de meu Pai, que está nos céus, é para mim, meu irmão, minha irmã e minha mãe: diz o Senhor.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Sanctórum tuórum, Dómine, intercessióne placátus: præsta, quǽsumus; ut, quæ temporáli celebrámus actióne, perpétua salvatióne capiámus. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Aplacado, Senhor, com a intercessão dos vossos Santos, permiti, Vos imploramos, que alcancemos a salvação eterna com a celebração desta acção temporal. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
