<h2 class="text-center">S. S. Vicente e Anastácio, Márts.</h2><em>22 de Janeiro</em>

<em>Como Missa Intret in, página muitosmartires1, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Adésto, Dómine, supplicatiónibus nostris: ut, qui ex iniquitáte nostra reos nos esse cognóscimus, beatórum Mártyrum tuórum Vincéntii et Anastásii intercessióne liberémur. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Senhor, dignai-Vos ouvir as nossas súplicas, a fim de que, reconhecendo-nos réus diante de Vós pelas nossas iniquidades, sejamos livres delas por intercessão dos vossos B. B. Mártires Vicente e Anastácio. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Múnera tibi, Dómine, nostræ devotiónis offérimus: quæ et pro tuórum tibi grata sint honóre Justórum, et nobis salutária, te miseránte, reddántur. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Senhor, Vos oferecemos estes dons da nossa devoção; e que em consideração dos vossos Santos eles Vos sejam agradáveis, e pela vossa misericórdia nos sejam salutares. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Quǽsumus, omnípotens Deus: ut, qui cœléstia aliménta percépimus, intercedéntibus beátis Martýribus tuis Vincéntio et Anastásio, per hæc contra ómnia advérsa muniámur. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus omnipotente, Vos suplicamos, fazei que, havendo nós recebido os alimentos celestiais, sejamos fortalecidos contra todas as adversidades por intercessão dos vossos B. B. Mártires Vicente e Anastácio. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h2 class="text-center">S. Vicente, Mártir</h2><em>No Patriarcado de Lisboa e na Diocese do Algarve, 22 de Janeiro</em>

<em>Como Missa In virtúte tua, página martirnaopontifice1, excepto:</em>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Adésto, Dómine, supplicatiónibus nostris: ut, qui ex iniquitáte nostra reos nos esse cognóscimus, beáti Vincéntii Martyris tui intercessióne liberémur. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Senhor, dignai-Vos ouvir as nossas súplicas, a fim de que, reconhecendo-nos réus diante de Vós pelas nossas iniquidades, sejamos livres delas por intercessão do vosso B. Mártir Vicente. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4><em>Jo. 12, 24-26</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
&#10016; Sequéntia sancti Evangélii secúndum Joánnem.
</div>
<div class="col-6 text-justify">
&#10016; Continuação do santo Evangelho segundo S. João.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Dixit Jesus discípulis suis: Amen, amen, dico vobis, nisi granum fruménti cadens in terram, mórtuum fúerit, ipsum solum manet: si autem mórtuum fúerit, multum fructum affert. Qui amat ánimam suam, perdet eam: et qui odit ánimam suam in hoc mundo, in vitam ætérnam custódit eam. Si quis mihi mínistrat, me sequátur: et ubi sum ego, illic et miníster meus erit. Si quis mihi ministráverit, honorificábit eum Pater meus.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, disse Jesus aos seus discípulos: «Se o grão de trigo, caindo na terra, não morrer, permanece estéril; mas, se morrer, dará muito fruto. Aquele que ama a sua vida perdê-la-á; mas aquele que aborrece a sua vida neste mundo conservá-la-á para a vida eterna. Se alguém me serve, siga-me; e onde eu estiver lá estará também o meu servo. Se alguém me servir, meu Pai o honrará».
</div>
</div>
</div>

<h4 class="text-center">Ofertório</h4><em>Sl. 95, 6</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Conféssio et pulchritúdo in conspéctu ejus: sánctitas, et magnificéntia in sanctificatióne ejus.
</div>
<div class="col-6 text-justify">
Rodeiam-no a glória e a majestade: e no seu santuário reluzem a santidade e a magnificência.
</div>
</div>
</div>