<h2 class="text-center">S. S. Vito, Modesto e Crescência, Mártires</h2><em>15 de Junho</em>

<h4 class="text-center">Intróito</h4><em>Sl. 33, 20-21</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Multæ tribulationes justórum, et de his ómnibus liberávit eos Dóminus: Dóminus custodit ómnia ossa eórum: unum ex his non conterétur. <em>Ps. ib., 2</em> Benedícam Dóminum in omni témpore: semper laus ejus in ore meo.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">
Muitas são as tribulações dos justos, mas de todas elas o Senhor os livrará: o Senhor guarda todos seus ossos e nem um só deles será quebrado. <em>Sl. ib., 2</em> Bendirei o Senhor em todo o tempo; o seu louvor estará sempre na minha boca.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Da Ecclésiæ tuæ, quǽsumus, Dómine, sanctis Martýribus tuis Vito, Modésto atque Crescéntia intercedéntibus, supérbe non sápere, sed tibi plácita humilitáte profícere: ut, prava despíciens, quæcúmque recta sunt, libera exérceat caritáte. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Senhor, dignai-Vos conceder aos vossos fiéis, pela intercessão dos vossos Santos Mártires Vito, Modesto e Crescência, que não caiam em sentimentos de orgulho, mas pratiquem a humildade, que Vos é tão agradável, a fim de que, desprezando todo o mal, exerçam livremente a caridade em tudo quanto é bom. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4><em>Página muitosmartires1</em>

<h4 class="text-center">Gradual</h4><em>Sl. 149, 5 & 1</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Exsultábunt Sancti in glória: lætabúntur in cubílibus suis. ℣. Cantáte Dómino cánticum novum: laus ejus in ecclésia sanctórum.
</div>
<div class="col-6 text-justify">
Os Santos exultarão de alegria na sua glória: e rejubilarão nos lugares do seu repouso. ℣. Cantai ao Senhor um cântico novo: que a assembleia dos fiéis cante sempre os seus louvores.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Ps. 144, 10-11</em> Sancti tui, Dómine, benedícent te: glóriam regni tui dicent. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Sl. 144, 10-11</em> Que os vossos Santos Vos bendigam: que publiquem a glória do vosso reino. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4><em>Lc. 10, 16-20</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Sequéntia sancti Evangélii secúndum Lucam.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Continuação do santo Evangelho segundo S. Lucas.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Dixit Jesus discípulis suis: Qui vos audit, me audit: et qui vos spernit, me spernit. Qui autem me spernit, spernit eum, qui misit me. Revérsi sunt autem septuagínta duo cum gáudio, dicéntes: Dómine, étiam dæmónia subjiciúntur nobis in nómine tuo. Et ait illis: Vidébam sátanam sicut fulgur de cœlo cadéntem. Ecce, dedi vobis potestátem calcandi supra serpéntes et scorpiónes, et super omnem virtútem inimíci: et nihil vobis nocébit. Verúmtamen in hoc nolíte gaudére, quia spíritus vobis subjiciúntur: gaudéte autem, quod nómina vestra scripta sunt in cœlis.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo disse Jesus aos seus discípulos: «Quem vos ouve, ouve-me a mim; e quem vos despreza, despreza-me a mim. Quem me despreza, despreza Aquele que me enviou». Ora os setenta e dous voltaram, depois, cheios de alegria, dizendo: «Senhor, pelo vosso nome até os demónios se submeteram a nós!». E Ele disse: «Eu via Satanás cair do céu, como um relâmpago. Eis que vos dei poder para calcar as serpentes, os escorpiões e ainda todo o poder do inimigo; e nada vos fará dano. Todavia não deveis alegrar-vos, porque os espíritos estão sujeitos a vós; mas porque os vossos nomes estão escritos nos céus».
</div>
</div>
</div>

<h4 class="text-center">Ofertório</h4><em>Página muitosmartires1</em>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Sicut glóriam divínæ poténtiæ múnera pro Sanctis obláta testántur: sic nobis efféctum, Dómine, tuæ salvatiónis impéndant. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Assim como os dons oferecidos em honra dos vossos Santos testemunham gloriosamente o poder divino, assim também, Senhor, permiti que eles nos alcancem a salvação. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4><em>Sb. 3, 1-2 & 3</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Justórum ánimæ in manu Dei sunt, et non tanget illos torméntum malítiæ: visi sunt óculis insipiéntium mori: illi autem sunt in pace.
</div>
<div class="col-6 text-justify">
As almas dos justos estão nas mãos de Deus e o tormento da malícia lhes não causará dano. Aos olhos dos insensatos pareciam mortos, mas estão na paz.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Repléti, Dómine, benedictióne sollémni: quǽsumus; ut, per intercessiónem sanctórum Mártyrum tuórum Viti, Modésti et Crescéntiæ, medicína sacraménti et corpóribus nostris prosit et méntibus. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Saciados com vossa bênção nesta solenidade, dignai-Vos conceder-nos, Senhor, pela intercessão dos vossos Santos Mártires Vito, Modesto e Crescência, que este vosso sacramento seja medicina proveitosa para as nossas almas e corpos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
