---
import { Icon } from 'astro-icon/components'

const data: { name: string; browser_download_url: string }[] = await fetch(
  "https://api.github.com/repos/tesourofieis/tesourofieis/releases/latest"
)
.then((data) => data.json())
.then((data) => data.assets);
---

{typeof window !== 'undefined' && data && (
  <div class="mb-10">
    <h6>Instalar</h6>
    <div class="flex items-center justify-center gap-5">
      <a href="https://api.github.com/repos/tesourofieis/tesourofieis/releases/latest">
        <button
          type="button"
          title="Aplicação para computador"
          class="rounded-full shadow-md w-10 h-10 flex items-center justify-center cursor-pointer bg-transparent border border-sepia-500 hover:bg-sepia-500"
        >
          <Icon name="mdi:laptop" />
        </button>
      </a>
      |
      <a href="https://play.google.com/store/apps/details?id=com.tesourofieis.app">
        <button
          type="button"
          title="Aplicação para Android"
          class="rounded-full shadow-md w-10 h-10 flex items-center justify-center cursor-pointer bg-transparent border border-zinc-500 hover:bg-zinc-500"
        >
          <Icon name="mdi:android" />
        </button>
      </a>
    </div>
  </div>
)}

