<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Kyrie, eleison.
</div>
<div class="col-6 dropcaps text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, eleison.
</div>
<div class="col-6 text-justify">
Jesus Cristo, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Kyrie, eleison.
</div>
<div class="col-6 text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, audi nos.
</div>
<div class="col-6 text-justify">
Jesus Cristo, ouvi-nos.
</div>
<div class="col-6 text-justify">
Christe, exaudi nos.
</div>
<div class="col-6 text-justify">
Jesus Cristo, atendei-nos.
</div>
<div class="col-6 text-justify">
Pater de cælis, Deus, miserere nobis.
</div>
<div class="col-6 text-justify">
Pai dos Céus que sois Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Fili, Redemptor mundi, Deus, miserere nobis.
</div>
<div class="col-6 text-justify">
Filho Redentor do mundo que sois Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Spiritus Sancte, Deus, miserere nobis.
</div>
<div class="col-6 text-justify">
Espírito Santo que sois Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Sancta Trinitas, unus Deus, miserere nobis.
</div>
<div class="col-6 text-justify">
Santíssima Trindade que sois um só Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Sanguis Christi, Unigeniti Patris æterni, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, Unigénito do Pai Eterno, salvai-nos.
</div>
<div class="col-6 text-justify">
Sancta Trinitas, unus Deus, miserere nobis.
</div>
<div class="col-6 text-justify">
Santíssima Trindade que sois um só Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Sanguis Christi, Verbi Dei incarnati, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, Verbo de Deus Encarnado, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, Novi et Aeterni Testamenti, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, do Novo e Eterno Testamento, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, in agonia decurrens in terram, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, a correr na agonia sobre a terra, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, in flagellatione profluens, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, a verter na flagelação, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, in coronatione spinarum emanans, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, a emanar na coroação de espinhos, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, in Cruce effusus, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, derramado na Cruz, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, pretium nostræ salutis, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, preço da nossa Salvação, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, sine quo non fit remissio, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, sem o qual não há remissão, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, in Eucharistia potus et lavacrum animarum, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, bebida e purificação das almas na Eucaristia, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, flumen misericordiæ, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, manancial de misericórdia, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, victor dæmonum, salva nos..
</div>
<div class="col-6 text-justify">
Sangue de Cristo, vencedor dos demónios, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, fortitudo martyrum, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, fortaleza dos mártires, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, virtus confessorum, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, força dos confessores, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, germinans virgines, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, fonte de virgindade, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, robur periclitantium, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, conforto dos que estão em perigo, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, levamen laborantium, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, alívio dos que sofrem, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, in fletu solatium, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, consolo das nossas lágrimas, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, spes poenitentium, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, esperança dos penitentes, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, solamen morientium, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, consolação dos agonizantes, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, pax et dulcedo cordium, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, paz e doçura dos corações, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, pignus vitæ æternæ, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, penhor de vida eterna, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, animas liberans de lacu Purgatorii, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, que libertais as almas do Purgatório, salvai-nos.
</div>
<div class="col-6 text-justify">
Sanguis Christi, omni gloria et honore dignissimus, salva nos.
</div>
<div class="col-6 text-justify">
Sangue de Cristo, digníssimo de toda a honra e glória, salvai-nos.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccata mundi, parce nobis, Domine.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus, que tirais os pecados do mundo, perdoai-nos Senhor.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccata mundi, exaudi nos, Domine.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus, que tirais os pecados do mundo, ouvi-nos Senhor.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccata mundi, miserere nobis, Domine.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus, que tirais os pecados do mundo, tende piedade de nós.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Redimisti nos, Domine, in sanguine tuo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Remiste-nos, Senhor, com vosso Sangue.
</div>
<div class="col-6 text-justify">
V. Et fecisti nos Deo nostro regnum.
</div>
<div class="col-6 text-justify">
V. E fizestes de nós um reino para o nosso Deus.
</div>
<div class="col-6 text-danger text-center"> Orémus.</div>
<div class="col-6 text-danger text-center"> Oremos.</div>
<div class="col-6 dropcaps text-justify">
Omnipotens sempiterne Deus, qui unigenitum Filium tuum mundi Redemptorem constituisti, ac ejus sanguine placari voluisti, concede, quǽsumus, salutis nostræ pretium ita venerari, concede, quǽsumus, salutis nostræ pretium ita venerari, atque a præsentis vitæ malis ejus virtute defendi in terris, ut fructu perpetuo lætemur in cælis. Per eundem Christum Dominum nostrum. Amen.
</div>
<div class="col-6 dropcaps text-justify">
Deus Todo-Poderoso e Eterno, que constituístes o vosso Filho Unigénito Filho Redentor do mundo, e quisestes ser aplacado com seu Sangue, concedei-nos a graça de venerar o preço da nossa salvação e de encontrar, na virtude que Ele contém, defesa contra os males da vida presente, de tal modo que eternamente gozemos dos seus frutos no Céu. Pelo mesmo Cristo, Senhor nosso. Amen.
</div>
</div>
</div>
