<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Kyrie, eléison.
</div>
<div class="col-6 text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, eléison.
</div>
<div class="col-6 text-justify">
Jesus Cristo, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Kyrie, eléison.
</div>
<div class="col-6 text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, áudi nos.
</div>
<div class="col-6 text-justify">
Jesus Cristo, ouvi-nos.
</div>
<div class="col-6 text-justify">
Christe, exáudi nos.
</div>
<div class="col-6 text-justify">
Jesus Cristo, atendei-nos.
</div>
<div class="col-6 text-justify">
Pater de cælis, Deus, miserére nobis.
</div>
<div class="col-6 text-justify">
Pai do Céu, que sois Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Fili, Redémptor mundi, Deus,
</div>
<div class="col-6 text-justify">
Filho Redentor do mundo, que sois Deus,
</div>
<div class="col-6 text-justify">
Spíritus Sancte, Deus,
</div>
<div class="col-6 text-justify">
Espírito Santo, que sois Deus,
</div>
<div class="col-6 text-justify">
Sancta Trínitas, unus Deus,
</div>
<div class="col-6 text-justify">
Santíssima Trindade, que sois um só Deus,
</div>
<div class="col-6 text-justify">
Sancta Maria, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Maria, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancta Dei Génitrix, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Mãe de Deus, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancta Virgo vírginum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Virgem das Virgens, rogai por nós.
</div>
<div class="col-6 text-justify">
Mater Christi, ora pro nobis.
</div>
<div class="col-6 text-justify">
Mãe de Cristo, rogai por nós.
</div>
<div class="col-6 text-justify">
Mater Ecclésiæ, ora pro nobis.
</div>
<div class="col-6 text-justify">
Mãe da Igreja, rogai por nós.
</div>
<div class="col-6 text-justify">
Mater divínæ grátiæ, ora pro nobis.
</div>
<div class="col-6 text-justify">
Mãe da divina graça, rogai por nós.
</div>
<div class="col-6 text-justify">
Mater puríssima, ora pro nobis.
</div>
<div class="col-6 text-justify">
Mãe puríssima, rogai por nós.
</div>
<div class="col-6 text-justify">
Mater castíssima, ora pro nobis.
</div>
<div class="col-6 text-justify">
Mãe castíssima, rogai por nós.
</div>
<div class="col-6 text-justify">
Mater invioláta, ora pro nobis.
</div>
<div class="col-6 text-justify">
Mãe imaculada, rogai por nós.
</div>
<div class="col-6 text-justify">
Mater intemeráta ora pro nobis.
</div>
<div class="col-6 text-justify">
Mãe intacta, rogai por nós.
</div>
<div class="col-6 text-justify">
Mater amábilis, ora pro nobis.
</div>
<div class="col-6 text-justify">
Mãe amável, rogai por nós.
</div>
<div class="col-6 text-justify">
Mater admirábilis, ora pro nobis.
</div>
<div class="col-6 text-justify">
Mãe admirável, rogai por nós.
</div>
<div class="col-6 text-justify">
Mater boni consílii, ora pro nobis.
</div>
<div class="col-6 text-justify">
Mãe do bom conselho, rogai por nós.
</div>
<div class="col-6 text-justify">
Mater Creatóris, ora pro nobis.
</div>
<div class="col-6 text-justify">
Mãe do Criador, rogai por nós.
</div>
<div class="col-6 text-justify">
Mater Salvatóris, ora pro nobis.
</div>
<div class="col-6 text-justify">
Mãe do Salvador, rogai por nós.
</div>
<div class="col-6 text-justify">
Virgo prudentíssima, ora pro nobis.
</div>
<div class="col-6 text-justify">
Virgem prudentíssima, rogai por nós.
</div>
<div class="col-6 text-justify">
Virgo veneranda, ora pro nobis.
</div>
<div class="col-6 text-justify">
Virgem venerável, rogai por nós.
</div>
<div class="col-6 text-justify">
Virgo prædicánda, ora pro nobis.
</div>
<div class="col-6 text-justify">
Virgem louvável, rogai por nós.
</div>
<div class="col-6 text-justify">
Virgo potens, ora pro nobis.
</div>
<div class="col-6 text-justify">
Virgem poderosa, rogai por nós.
</div>
<div class="col-6 text-justify">
Virgo clemens, ora pro nobis.
</div>
<div class="col-6 text-justify">
Virgem clemente, rogai por nós.
</div>
<div class="col-6 text-justify">
Virgo fidélis, ora pro nobis.
</div>
<div class="col-6 text-justify">
Virgem fiel, rogai por nós.
</div>
<div class="col-6 text-justify">
Speculum justitiæ, ora pro nobis.
</div>
<div class="col-6 text-justify">
Espelho de justiça, rogai por nós.
</div>
<div class="col-6 text-justify">
Sedes sapiéntiæ, ora pro nobis.
</div>
<div class="col-6 text-justify">
Sede de sabedoria, rogai por nós.
</div>
<div class="col-6 text-justify">
Causa nostræ lætítiæ, ora pro nobis.
</div>
<div class="col-6 text-justify">
Causa da nossa alegria, rogai por nós.
</div>
<div class="col-6 text-justify">
Vas spirituále, ora pro nobis.
</div>
<div class="col-6 text-justify">
Vaso espiritual, rogai por nós.
</div>
<div class="col-6 text-justify">
Vas honorábile, ora pro nobis.
</div>
<div class="col-6 text-justify">
Vaso honorífico, rogai por nós.
</div>
<div class="col-6 text-justify">
Vas insígne devotiónis, ora pro nobis.
</div>
<div class="col-6 text-justify">
Vaso insigne de devoção, rogai por nós.
</div>
<div class="col-6 text-justify">
Rosa mystica, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rosa mística, rogai por nós.
</div>
<div class="col-6 text-justify">
Turris davídica, ora pro nobis.
</div>
<div class="col-6 text-justify">
Torre de David, rogai por nós.
</div>
<div class="col-6 text-justify">
Turris ebúrnea, ora pro nobis.
</div>
<div class="col-6 text-justify">
Torre de marfim, rogai por nós.
</div>
<div class="col-6 text-justify">
Domus áurea, ora pro nobis.
</div>
<div class="col-6 text-justify">
Casa de ouro, rogai por nós.
</div>
<div class="col-6 text-justify">
Fœderis arca, ora pro nobis.
</div>
<div class="col-6 text-justify">
Arca da Aliança, rogai por nós.
</div>
<div class="col-6 text-justify">
Jánua cæli, ora pro nobis.
</div>
<div class="col-6 text-justify">
Porta do Céu, rogai por nós.
</div>
<div class="col-6 text-justify">
Stella matutína, ora pro nobis.
</div>
<div class="col-6 text-justify">
Estrela da manhã, rogai por nós.
</div>
<div class="col-6 text-justify">
Salus infirmórum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Saúde dos enfermos, rogai por nós.
</div>
<div class="col-6 text-justify">
Refúgium peccatórum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Refúgio dos pecadores, rogai por nós.
</div>
<div class="col-6 text-justify">
Consolátrix afflictórum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Consoladora dos aflitos, rogai por nós.
</div>
<div class="col-6 text-justify">
Auxílium christianórum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Auxílio dos cristãos, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína angelórum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha dos Anjos, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína patriarchárum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha dos Patriarcas, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína prophetárum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha dos Profetas, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína apostolórum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha dos Apóstolos, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína mártyrum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha dos Mártires, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína confessórum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha dos Confessores, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína vírginum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha das Virgens, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína sanctórum ómnium, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha de todos os Santos, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína sine labe originali concépta, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha concebida sem mácula de pecado original, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína in cælum assúmpta, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha elevada ao Céu em corpo e alma, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína sacratíssimi rosárii, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha do Santíssimo Rosário, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína famíliæ, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha da Família, rogai por nós.
</div>
<div class="col-6 text-justify">
Regína pacis, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha da Paz, rogai por nós.
</div>
<div class="col-6 text-justify">
Regina Lusitaniæ, ora pro nobis.
</div>
<div class="col-6 text-justify">
Rainha de Portugal, rogai por nós.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccáta mundi, parce nobis, Dómine.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus, que tirais o pecado do mundo, perdoai-nos, Senhor.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccáta mundi, exáudi nos, Dómine.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus, que tirais o pecado do mundo, ouvi-nos, Senhor.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccáta mundi, miserére nobis.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus, que tirais o pecado do mundo, tende piedade de nós.
</div>
</div>
</div>

<em>No tempo do Advento:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
V. Angelus Dómini nuntiávit Mariæ.
</div>
<div class="col-6 text-justify">
V. O Anjo do Senhor anunciou a Maria.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Et concépit de Spíritu Sancto.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> E ela concebeu do Espírito Santo.
</div>
<div class="col-6 text-danger text-center"> Orémus.</div>
<div class="col-6 text-danger text-center"> Oremos.</div>
<div class="col-6 dropcaps text-justify">
Deus, qui de beátæ Mariæ Vírginis útero Verbum tuum, Angelo nuntiánte, carnem suscípere voluísti, præsta supplícibus tuis; ut, qui vere eam Genetricem Dei crédimus, ejus apud te intercessiónibus adjuvémur. Per eúmdem Christum Dóminum nostrum. Amen.
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus, que, segundo a anunciação do Anjo, quisestes que o vosso Verbo assumisse a carne humana no seio da B. Virgem Maria, concedei aos vossos suplicantes que os que crêem que ela é verdadeira Mãe de Deus sejam auxiliados na vossa presença com a intercessão das suas preces. Pelo mesmo Cristo, nosso Senhor. Amen.
</div>
</div>
</div>

<em>Desde o Natal até à purificação da B. V. Maria:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
V. Post partum, Virgo, invioláta permansísti.
</div>
<div class="col-6 text-justify">
V. Despois do parto permanecestes imaculada.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Dei Génetrix, intercéde pro nobis.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Intercedei por nós, ó Mãe de Deus.
</div>
<div class="col-6 text-danger text-center"> Orémus.</div>
<div class="col-6 text-danger text-center"> Oremos.</div>
<div class="col-6 dropcaps text-justify">
Deus, qui salútis ætérnæ, beátæ Maríæ virginitáte fecúnda, humáno géneri præmia præstitísti: tríbue, quǽsumus; ut ipsam pro nobis intercédere sentiámus, per quam merúimus auctórem vitæ suscípere, Dóminum nostrum Jesum Christum Fílium tuum. Amen.
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus, que, pela Virgindade fecunda da B. V. Maria, concedestes ao género humano o prémio da salvação eterna, permiti, Vos imploramos, que gozemos os efeitos da intercessão daquela pela qual fomos julgados dignos de receber o autor da vida, nosso Senhor Jesus Cristo, vosso Filho. Amen.
</div>
</div>
</div>

<em>Da Purificação à Páscoa e após o Tempo Pascal até ao Advento:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
V. Ora pro nobis, sancta Dei Génitrix.
</div>
<div class="col-6 text-justify">
V. Rogai por nós, santa Mãe de Deus.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Ut digni efficiámur promissiónibus Christi.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Para que sejamos dignos das promessas de Cristo.
</div>
<div class="col-6 text-danger text-center"> Orémus.</div>
<div class="col-6 text-danger text-center"> Oremos.</div>
<div class="col-6 dropcaps text-justify">
Concéde nos fámulos tuos, quǽsumus, Dómine Deus, perpétua mentis et córporis sanitáte gaudére: et gloriósa beátæ Maríæ semper Vírginis intercessióne, a præsénti liberári tristítia, et ætérna pérfrui lætítia. Per Christum Dóminum nostrum. Amen.
</div>
<div class="col-6 dropcaps text-justify">
Senhor Deus, Vos suplicamos, concedei aos vossos servos o gozo da perpétua saúde da alma e do corpo, e pela gloriosa intercessão da B. Maria, sempre Virgem, permiti que sejamos livres das tristezas do tempo presente e alcancemos o gozo da alegria eterna. Por Cristo, nosso Senhor. Amen.
</div>
</div>
</div>

<em>No Tempo Pascal:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
V. Gaude et lætáre, Virgo Maria, allelúja.
</div>
<div class="col-6 text-justify">
V. Regozijai-vos e alegrai-vos, ó Virgem Maria, aleluia.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Quia surréxit Dóminus vere, allelúja.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Porque ressuscitou verdadeiramente o Senhor, aleluia.
</div>
<div class="col-6 text-danger text-center"> Orémus.</div>
<div class="col-6 dropcaps text-center">
Oremos.
</div>
<div class="col-6 dropcaps text-justify">
Deus, qui per resurrectiónem Filii tui Dómini nostri Jesu Christi mundum lætificáre dignátus es: præsta, quǽsumus; ut, per ejus Genitrícem Vírginem Mariam, perpétuæ capiámus gáudia vitæ. Per eumdem Christum, Dóminum nostrum. Amen.
</div>
<div class="col-6 text-justify">
Ó Deus, que Vos dignastes alegrar o mundo com a Ressurreição do vosso Filho, nosso Senhor Jesus Cristo, concedei-nos, Vos suplicamos, a graça de alcançarmos pela protecção da V. Maria, Sua Mãe, a glória eterna. Pelo mesmo Cristo, nosso Senhor. Amen.
</div>
</div>
</div>
