<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Kyrie, eleison.
</div>
<div class="col-6 text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, eleison.
</div>
<div class="col-6 text-justify">
Jesus Cristo, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Kyrie, eleison.
</div>
<div class="col-6 text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, exaudi nos.
</div>
<div class="col-6 text-justify">
Jesus Cristo, ouvi-nos.
</div>
<div class="col-6 text-justify">
Christe, audi nos.
</div>
<div class="col-6 text-justify">
Jesus Cristo atendei-nos.
</div>
<div class="col-6 text-justify">
Pater de cælis, Deus, miserere nobis.
</div>
<div class="col-6 text-justify">
Pai do Céu que sois Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Fili, Redemptor mundi, Deus,
</div>
<div class="col-6 text-justify">
Filho, Redentor do mundo, que sois Deus,
</div>
<div class="col-6 text-justify">
Spiritus Sancte Deus,
</div>
<div class="col-6 text-justify">
Espírito Santo que sois Deus,
</div>
<div class="col-6 text-justify">
Sancta Trinitas, unus Deus, miserere nobis.
</div>
<div class="col-6 text-justify">
Santíssima Trindade que sois um só Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Sancta Maria, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Maria, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Joseph, ora pro nobis.
</div>
<div class="col-6 text-justify">
S. José, rogai por nós.
</div>
<div class="col-6 text-justify">
Proles David inclyta, ora pro nobis.
</div>
<div class="col-6 text-justify">
Honra da família de David, rogai por nós.
</div>
<div class="col-6 text-justify">
Lumen Patriarcharum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Glória dos Patriarcas, rogai por nós.
</div>
<div class="col-6 text-justify">
Dei Genetricis Sponse, ora pro nobis.
</div>
<div class="col-6 text-justify">
Esposo da Mãe de Deus, rogai por nós.
</div>
<div class="col-6 text-justify">
Custos pudice Virginis, ora pro nobis.
</div>
<div class="col-6 text-justify">
Castíssimo guardião da Virgem, rogai por nós.
</div>
<div class="col-6 text-justify">
Filii Dei nutricie, ora pro nobis.
</div>
<div class="col-6 text-justify">
Amparo do Filho de Deus, rogai por nós.
</div>
<div class="col-6 text-justify">
Christi defensor sedule, ora pro nobis.
</div>
<div class="col-6 text-justify">
Vigilante defensor de Cristo, rogai por nós.
</div>
<div class="col-6 text-justify">
Almæ Familiæ præses, ora pro nobis.
</div>
<div class="col-6 text-justify">
Chefe da Sagrada Família, rogai por nós.
</div>
<div class="col-6 text-justify">
Joseph iustissime, ora pro nobis.
</div>
<div class="col-6 text-justify">
José justíssimo,  rogai por nós.
</div>
<div class="col-6 text-justify">
Joseph castissime, ora pro nobis.
</div>
<div class="col-6 text-justify">
José castíssimo,  rogai por nós.
</div>
<div class="col-6 text-justify">
Joseph prudentissime, ora pro nobis.
</div>
<div class="col-6 text-justify">
José prudentíssimo, rogai por nós.
</div>
<div class="col-6 text-justify">
Joseph fortissime, ora pro nobis.
</div>
<div class="col-6 text-justify">
José fortíssimo, rogai por nós.
</div>
<div class="col-6 text-justify">
Joseph obœdientissime, ora pro nobis.
</div>
<div class="col-6 text-justify">
José obedientíssimo, rogai por nós.
</div>
<div class="col-6 text-justify">
Joseph fidelissime, ora pro nobis.
</div>
<div class="col-6 text-justify">
José fidelíssimo, rogai por nós.
</div>
<div class="col-6 text-justify">
Speculum patientiæ, ora pro nobis.
</div>
<div class="col-6 text-justify">
Espelho de paciência, rogai por nós.
</div>
<div class="col-6 text-justify">
Amator paupertatis, ora pro nobis.
</div>
<div class="col-6 text-justify">
Amante da pobreza, rogai por nós.
</div>
<div class="col-6 text-justify">
Exemplar opificum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Modelo dos trabalhadores, rogai por nós.
</div>
<div class="col-6 text-justify">
Domesticæ vitæ decus, ora pro nobis.
</div>
<div class="col-6 text-justify">
Glória dos lares, rogai por nós.
</div>
<div class="col-6 text-justify">
Custos virginum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Guardião das virgens, rogai por nós.
</div>
<div class="col-6 text-justify">
Familiarum columen, ora pro nobis.
</div>
<div class="col-6 text-justify">
Sustentáculo das famílias, rogai por nós.
</div>
<div class="col-6 text-justify">
Solatium miserorum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Consolo dos infelizes, rogai por nós.
</div>
<div class="col-6 text-justify">
Spes ægrotantium, ora pro nobis.
</div>
<div class="col-6 text-justify">
Esperança dos enfermos, rogai por nós.
</div>
<div class="col-6 text-justify">
Patrone morientium, ora pro nobis.
</div>
<div class="col-6 text-justify">
Advogado dos moribundos, rogai por nós.
</div>
<div class="col-6 text-justify">
Terror dæmonum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Terror dos demónios, rogai por nós.
</div>
<div class="col-6 text-justify">
Protector sanctæ Ecclesiæ, ora pro nobis.
</div>
<div class="col-6 text-justify">
Protector da Santa Igreja, rogai por nós.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccata mundi, parce nobis, Domine.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus, que tirais os pecados do mundo, perdoai-nos Senhor!
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccata mundi, exaudi nobis, Domine.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus que tirais os pecados do mundo, ouvi-nos Senhor!
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccata mundi, miserere nobis.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus que tirais os pecados do mundo, tende piedade de nós Senhor!
</div>
<div class="col-6 text-justify">
Constituit eum dominum domus suæ.
</div>
<div class="col-6 text-justify">
Ele o constituiu Senhor da sua casa.
</div>
<div class="col-6 text-justify">
Et principem omnis possessionis suæ.
</div>
<div class="col-6 text-justify">
E o fez príncipe de todos seus bens.
</div>
<div class="col-6 text-danger text-center"> Orémus.</div>
<div class="col-6 text-danger text-center"> Oremos.</div>
<div class="col-6 dropcaps text-justify">
Deus, qui in ineffabili providentia beatum Joseph sanctissimæ Genetricis tuæ Sponsum eligere dignatus es, præsta, quǽsumus, ut quem protectorem veneramur in terris, intercessorem habere mereamur in cælis: Qui vivis et regnas in sæcula sæculorum. Amen.
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus, cuja inegável providência se dignou escolher o bem-aventurado S. José para esposo de vossa Mãe Santíssima, fazei que venerando-o como protector na terra, mereçamos tê-lo como nosso intercessor no Céu. Vós que sois Deus com o Pai, na unidade do Espírito Santo. Amen.
</div>
</div>
</div>
