<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Kyrie eleison
</div>
<div class="col-6 dropcaps text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, eléison.
</div>
<div class="col-6 text-justify">
Cristo, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Kyrie, eléison.
</div>
<div class="col-6 text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, audi nos.
</div>
<div class="col-6 text-justify">
Cristo, ouvi-nos.
</div>
<div class="col-6 text-justify">
Christe, exáudi nos.
</div>
<div class="col-6 text-justify">
Cristo, atendei-nos.
</div>
<div class="col-6 text-justify">
Pater de cælis, Deus, miserére nobis
</div>
<div class="col-6 text-justify">
Deus pai do céu, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Fili, Redémptor mundi, Deus, miserere nobis
</div>
<div class="col-6 text-justify">
Filho Redentor do mundo, que sois Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Spíritus Sancte, Deus, miserére nobis.
</div>
<div class="col-6 text-justify">
Deus Espírito Santo, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Sancta Trínitas, unus Deus, miserére nobis.
</div>
<div class="col-6 text-justify">
Santíssima Trindade, que sois um só Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Sancta María, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Maria, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancta Dei Génetrix, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Mãe de Deus, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancta Virgo vírginum, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Virgem das virgens, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Michæl, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Miguel, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Gabriel, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Gabriel, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Raphæl, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Rafæl, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes sancti Angeli et Archangeli, orate pro nobis.
</div>
<div class="col-6 text-justify">
Todos os santos Anjos e Arcanjos, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes sancti beatórum Spírituum ordines, orate pro nobis.
</div>
<div class="col-6 text-justify">
Todos as santas ordens de Espíritos bem-aventurados, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Joánnes Baptista, ora pro nobis.
</div>
<div class="col-6 text-justify">
São João Batista, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Josephe, ora pro nobis.
</div>
<div class="col-6 text-justify">
São José, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes sancti Patriárchæ et Prophetæ, orate pro nobis.
</div>
<div class="col-6 text-justify">
Todos os santos patriarcas e profetas, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Petre, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Pedro, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Paule, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Paulo, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Andrea, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santo André, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Jacobe, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Tiago, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Joánnes, ora pro nobis.
</div>
<div class="col-6 text-justify">
São João, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Thoma, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Tomé, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Jacobe, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Tiago, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Philippe, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Felipe, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Bartholomæe, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Bartolomeu, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Matthæe, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Mateus, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Simon, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Simão, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Thaddæe, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Tadeu, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Matthia, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Matias, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Barnaba, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Barnabé, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Luca, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Lucas, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Marce, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Marcos, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes sancti Apóstoli et Evangelistæ, orate pro nobis.
</div>
<div class="col-6 text-justify">
Todos os santos apóstolos e evangelistas, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes sancti Discípuli Dómini, orate pro nobis.
</div>
<div class="col-6 text-justify">
Todos os santos Discípulos do Senhor, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes sancti Innocéntes, orate pro nobis.
</div>
<div class="col-6 text-justify">
Todos os santos inocentes, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Stephane, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santo Estêvão, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Laurénti, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Lourenço, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Vincenti, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Vicente, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancti Fabiane et Sebastiane, orate pro nobis.
</div>
<div class="col-6 text-justify">
Santos Fabiano e São Sebastião, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancti Joánnes et Paule, orate pro nobis.
</div>
<div class="col-6 text-justify">
Santos João e Paulo, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancti Cosma et Damiane, orate pro nobis.
</div>
<div class="col-6 text-justify">
Santos Cosme e Damião, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancti Gervasi et Protasi, orate pro nobis.
</div>
<div class="col-6 text-justify">
Santos Gervásio e Protásio, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes sancti Mártyres, orate pro nobis.
</div>
<div class="col-6 text-justify">
Todos os santos Mártires, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Silvester, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Silvestre, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Gregóri, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Gregório, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Ambrósi, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santo Ambrósio, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Augustine, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santo Agostinho, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Hieronyme, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Jerônimo, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Martine, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Martinho, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Nicolaë, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Nicolau, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes sancti Pontifices et Confessores, orate pro nobis.
</div>
<div class="col-6 text-justify">
Todos os santos pontífices e confessores, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes sancti Doctores, orate pro nobis.
</div>
<div class="col-6 text-justify">
Todos os santos doutores, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Antoni, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santo Antônio, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Benedicte, orate pro nobis.
</div>
<div class="col-6 text-justify">
São Bento, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Bernarde, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Bernardo, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Dominice, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Domingos, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancte Francisce, ora pro nobis.
</div>
<div class="col-6 text-justify">
São Francisco, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes sancti Sacerdótes et Levitæ, orate pro nobis.
</div>
<div class="col-6 text-justify">
Todos os santos sacerdotes e levitas, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes sancti Monachi et Eremitæ, orate pro nobis.
</div>
<div class="col-6 text-justify">
Todos os santos Monges e eremitas, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancta María Magdalena, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Maria Madalena, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancta Agatha, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Águeda, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancta Lucia, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Lúcia, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancta Agnes, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Inês, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancta Cæcilia, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Cecília, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancta Catharina, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Catarina, rogai por nós.
</div>
<div class="col-6 text-justify">
Sancta Anastasia, ora pro nobis.
</div>
<div class="col-6 text-justify">
Santa Anastasia, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes sanctæ Vírgines et Víduæ, orate pro nobis.
</div>
<div class="col-6 text-justify">
Todas as Santas Virgens e Viúvas, rogai por nós.
</div>
<div class="col-6 text-justify">
Omnes Sancti et Sanctæ Dei, intercédite pro nobis.
</div>
<div class="col-6 text-justify">
Todas os Santos e Santas de Deus, intercedam por nós.
</div>
<div class="col-6 text-justify">
Propitius esto, parce nobis, Dómine.
</div>
<div class="col-6 text-justify">
Sede-nos propício, perdoai-nos, Senhor.
</div>
<div class="col-6 text-justify">
Propitius esto, Exáudi nos, Dómine.
</div>
<div class="col-6 text-justify">
Sede-nos propício, Atendei-nos, Senhor.
</div>
<div class="col-6 text-justify">
Ab omni malo, líbera nos, Dómine.
</div>
<div class="col-6 text-justify">
De todo o mal, livrai-nos, Senhor.
</div>
<div class="col-6 text-justify">
Ab omni peccáto, líbera nos, Dómine.
</div>
<div class="col-6 text-justify">
De todo o pecado, livrai-nos, Senhor.
</div>
<div class="col-6 text-justify">
Ab ira tua, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Da sua ira, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
A subitanea et improvisa morte, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Da morte repentina e imprevista, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
Ab insídiis diaboli, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Das ciladas do demônio, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
Ab ira, et ódio, et omni mala voluntáte, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
De toda a ira, ódio e má vontade, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
A spíritu fornicatiónis, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Do espírito da fornicação, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
A fulgure et tempestáte, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Do raio e da tempestade, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
A flagello terræmotus, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Do flagelo do terremoto, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
A peste, fame et bello, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Da peste da fome e da guerra, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
A morte perpetua, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Da morte eterna, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
Per mystérium sanctæ Incarnatiónis tuæ, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Pelo mystério de vossa santa encarnação.
</div>
<div class="col-6 text-justify">
Per advéntum tuum, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Pela vossa vinda, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
Per nativitátem tuam, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Pelo vosso nascimento, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
Per baptismum et sanctum jejunium tuum, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Por vosso batismo e santo jejum, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
Per crucem et passiónem tuam, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Por vossa cruz e paixão, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
Per mortem et sepultúram tuam, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Por vossa morte e sepultura, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
Per sanctam resurrectiónem tuam, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Por vossa santa ressurreição, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
Per admirábilem ascensiónem tuam, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Por vossa admirável ascensão, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
Per advéntum Spíritus Sancti Paracliti, libera nos, Jesu.
</div>
<div class="col-6 text-justify">
Pela vinda do Espírito Santo Consolador, livrai-nos, Jesus.
</div>
<div class="col-6 text-justify">
In die judícii, líbera nos, Dómine.
</div>
<div class="col-6 text-justify">
No dia do juízo, livrai-nos, Senhor.
</div>
<div class="col-6 text-justify">
Peccatóres, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Pecadores que somos, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut nobis parcas, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que nos perdoeis, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut nobis indulgeas, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que useis de indulgência conosco, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut ad veram pœniténtiam nos perducere dignéris, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que nos digneis conduzi-nos a verdadeira penitência, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut Ecclésiam tuam sanctam regere et conservare dignéris, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que nos digneis reagir e conservar a vossa santa igreja, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut domnum Apostolicum et omnes ecclesiásticos ordines in sancta religióne conservare dignéris, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que nos digneis conservar a vossa santa religião o Senhor Apostólico e a todos as ordens da hierarquia eclesiástica, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut inimícos sanctæ Ecclésiæ humiliare dignéris, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que nos digneis humilhar os inimigos da santa igreja, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut régibus et princípibus christiánis pacem et veram concordiam donare dignéris, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que nos digneis conceder a verdadeira paz e concórdia entre os reis e príncipes cristãos, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut cuncto pópulo christiáno pacem et unitátem largiri dignéris, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que nos digneis conceder a paz e a união a todo o povo cristão, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut omnes errántes ad unitátem Ecclésiæ revocare, et infidéles univérsos ad Evangélii lumen perducere dignéris, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que nos digneis chamar à unidade da Igreja, a todos os que estão alheios a ela, para iluminar todos os infiéis com a luz do Evangelho, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut nosmetípsos in tuo sancto servítio confortare et conservare dignéris, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que vos digneis confortar-nos e conservar-nos em vosso santo serviço, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut mentes nostras ad cæléstia desidéria erigas, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que levanteis nossos corações a desejar as cousas celestiais, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut ómnibus benefactóribus nostris sempitérna bona retríbuas, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que nos digneis retribuir, com os bens eternos a todos nossos benfeitores, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut ánimas nostras, fratrum, propinquorum et benefactórum nostrórum ab ætérna damnatióne erípias, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que livreis da morte eterna nossas almas e as de nossos irmãos, parentes e benfeitores, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut fructus terræ dare et conservare dignéris, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que nos digneis dar e conservar os frutos da terra, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut ómnibus fidelibus defunctis réquiem ætérnam donare dignéris, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
 Que nos digneis conceder o eterno descanso a todos os fiéis defuntos, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Ut nos exáudire dignéris, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Que nos digneis atender-nos, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Fili Dei, te rogamus, audi nos.
</div>
<div class="col-6 text-justify">
Filho de Deus, nós vos rogamos: ouvi-nos.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccáta mundi, parce nobis, Dómine.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus que tirais os pecados do mundo, perdoai-nos, Senhor.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccáta mundi, exáudi nos, Dómine.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus que tirais os pecados do mundo, atendei-nos, Senhor.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccáta mundi, miserére nobis.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus que tirais os pecados do mundo, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, audi nos.
</div>
<div class="col-6 text-justify">
Cristo, ouvi-nos.
</div>
<div class="col-6 text-justify">
Christe, exáudi nos.
</div>
<div class="col-6 text-justify">
Cristo, atendei-nos.
</div>
<div class="col-6 text-justify">
Kyrie, eléison.
</div>
<div class="col-6 text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, eléison. Kyrie, eléison.
</div>
<div class="col-6 text-justify">
Cristo, tende piedade de nós. Senhor, tende piedade de nós
</div>
<div class="col-6 text-justify">
Pater noster (secréto)
</div>
<div class="col-6 text-justify">
Pai nosso (silêncio)
</div>
<div class="col-6 text-justify">
Et ne nos indúcas in tentatiónem.
</div>
<div class="col-6 text-justify">
E não nos dexeis cair em tentação.
</div>
<div class="col-6 text-justify">
Sed líbera nos a malo.
</div>
<div class="col-6 text-justify">
Mais livrai-nos do mal.
</div>
</div>
</div>

<h4 class="text-center">Salmo 69</h4>
<div class="container-fluid">
	<div class="row">
		{% include salmos/069.html %}
	</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Glória Patri, \&c.
</div>
<div class="col-6 text-justify">
Glória ao Pai, \&c.
</div>
<div class="col-6 text-justify">
℣. Salvos fac servos tuos.
</div>
<div class="col-6 text-justify">
℣. Meu Deus, salvai os vossos servos.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Deus meus, sperántes in te.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Quem esperam em Vós.
</div>
<div class="col-6 text-justify">
℣. Esto nobis, Dómine, turris fortitúdinis.
</div>
<div class="col-6 text-justify">
℣. Sede para nós, Senhor, uma torre forte.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> A fácie inimíci.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Contra os ataques do inimigo.
</div>
<div class="col-6 text-justify">
℣. Nihil profíciat intimícus in nobis.
</div>
<div class="col-6 text-justify">
℣. Nada possa o inimigo contra nós.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et fílius iniquitátis non appónat nocére nobis.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E o filho da iniquidade não consiga fazer-nos mal.
</div>
<div class="col-6 text-justify">
℣. Dómine, non secúndum peccáta nostra fácias nobis.
</div>
<div class="col-6 text-justify">
℣. Senhor, nos não trateis como merecem os nossos pecados.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Neque secúndum iniquitátes nostras retribuas nobis.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Nem nos castigueis como pedem as nossas iniquidades.
</div>
<div class="col-6 text-justify">
℣. Orémus pro Pontífice nostro <em>N.</em>
</div>
<div class="col-6 text-justify">
℣. Oremos pelo nosso pontífice <em>N.</em>
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Dóminus consérvet eum, et vivíficet eum, et beátum fáciat eum in terra, et non tradat eum in ánimam inimicórum éjus.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> O Senhor o conserve, lhe dê vida, o faça feliz na terra e o não entregue à violência dos seus inimigos.
</div>
<div class="col-6 text-justify">
℣. Orémus pro benefactóribus nostris.
</div>
<div class="col-6 text-justify">
℣. Oremos pelos nossos benfeitores.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Retribúere dignare, Dómine, ómnibus nobis bona faciéntibus, propter nomen tuum, vitam ætérnam. <span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Dignai-Vos, Senhor, para glória do vosso Nome, conceder a vida eterna a todos os que nos fazem bem. Amen
</div>
<div class="col-6 text-justify">
℣. Orémus pro fidélibus defúnctis.
</div>
<div class="col-6 text-justify">
℣. Oremos pelos fiéis defuntos.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Réquiem ætérnam dona eis, Dómine, et lux perpétua lúceat eis.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Dai-lhes, Senhor, o eterno descanso, entre os esplendores da luz perpétua.
</div>
<div class="col-6 text-justify">
℣. Requiéscant in pace.
</div>
<div class="col-6 text-justify">
℣. Descansem em paz.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
℣. Pro frátribus nostris abséntibus.
</div>
<div class="col-6 text-justify">
℣. Oremos pelos nossos irmãos ausentes.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Salvos fac servos tuos, Deus meus, sperántes in te.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Salvai, meu Deus, os vossos servos que esperam em Vós.
</div>
<div class="col-6 text-justify">
℣. Mitte eis, Dómine, auxílium de sancto.
</div>
<div class="col-6 text-justify">
℣. Socorrei-os, Senhor, lá do vosso santuário.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et de Sion tuére eos.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E protegei-os da celestial Sião.
</div>
<div class="col-6 text-justify">
℣. Dómine, exáudi oratiónem meam.
</div>
<div class="col-6 text-justify">
℣. Ouvi, Senhor, a minha oração.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et clamor meus ad te vénita.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E o meu clamor chegue até Vós.
</div>
<div class="col-6 text-justify">
℣. Dóminus vobíscum.
</div>
<div class="col-6 text-justify">
℣. O Senhor seja convosco.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et cum spíritu tuo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E com vosso espírito.
</div>
<div class="col-6 text-center">
Orémus.
</div>
<div class="col-6 text-center">
Oremos.
</div>
<div class="col-6 dropcaps text-justify">
Deus, cui proprium est misereri semper et parcere: suscipe deprecationem nostram; ut nos, et omnes famulos tuos, quos delictorum catena constringit, miseratio tuæ pietatis clementer absolvat.
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus, de quem sempre é próprio compadecer-Vos e perdoar, recebei a nossa humilde súplica; e fazei, por benefício da vossa clementíssima piedade, que, assim nós, como os outros vossos servos, sejamos inteiramente livres da injúriosa cadeia dos nossos delitos.
</div>
<div class="col-6 text-justify">
Exaudi, quǽsumus, Domine, supplicum preces, et confitentium tibi parce peccatis: ut pariter nobis indulgentiam tribuas benignus et pacem.
</div>
<div class="col-6 text-justify">
Ouvi, Senhor, os humildes rogos e perdoai todos os pecados dos que Vo-lo confessam para que ao mesmo tempo recebamos da vossa bondade o perdão e a graça duma completa paz.
</div>
<div class="col-6 text-justify">
Ineffabilem nobis, Domine, misericordiam tuam clementer ostende: ut simul nos et a peccatis omnibus exuas, et a poenis quas pro his meremur, eripias.
</div>
<div class="col-6 text-justify">
Ostentai sobre nós, Senhor, a vossa inefável misericórdia, de modo que, absolvendo-nos de todos nossos pecados, nos livreis juntamente das gravíssimas penas, que por eles havemos merecido.
</div>
<div class="col-6 text-justify">
Deus, qui culpa offenderis, pænitentia placaris: preces populi tui supplicantis propitius respice; et flagella tuæ iracundiæ, quæ pro peccatis nostris meremur, averte.
</div>
<div class="col-6 text-justify">
Ó Deus, a quem a culpa ofende e a penitência aplaca, recebei propício as humildes súplicas do vosso povo e apartai de nós os flagelos da vossa ira, que merecemos pelas nossas culpas.
</div>
<div class="col-6 text-justify">
Omnipotens sempiterne Deus, miserere famulo tuo Pontifici nostro {\redx N.}, et dirige eum secundum tuam clementiam in viam salutis æternæ: ut, te donante, tibi placita cupiat, et tota virtute perficiat.
</div>
<div class="col-6 text-justify">
Ó Deus eterno e omnipotente, tende piedade do vosso servo, o nosso Santo Padre {\redx N.} e conduzi-o, segundo a clemência, pelo caminho da salvação eterna para que, mediante a vossa graça execute sempre com todo o esforço o que for mais do vosso agrado.
</div>
<div class="col-6 text-justify">
Deus, a quo sancta desideria, recta consilia, et iusta sunt opera: da servis tuis illam, quam mundus dare non potest, pacem; ut et corda nostra mandatis tuis dedita, et, hostium sublata formidine, tempora sint tua protectione tranquilla.
</div>
<div class="col-6 text-justify">
Ó Deus, de quem dependem os santos desejos, os rectos conselhos e as boas obras, concedei aos aos vossos servos aquela paz que o mundo não pode dar, para que, aplicados os nossos corações à observância dos vossos preceitos e desterrado o temor dos vossos inimigos, gozemos com vossa protecção, em nossos dias, uma feliz tranquilidade.
</div>
<div class="col-6 text-justify">
Ure igne Sancti Spiritus renes nostros et cor nostrum, Domine: ut tibi casto corpore serviamus, et mundo corde placeamus.
</div>
<div class="col-6 text-justify">
Queimai, Senhor, os nossos rins e o nosso coração com o fogo do Espírito Santo, para que Vos servamos com o corpo casto e Vos agrademos com a pureza do nosso coração.
</div>
<div class="col-6 text-justify">
Fidelium, Deus omnium Conditor et Redemptor, animabus famulorum famularumque tuarum remissionem cunctorum tribue peccatorum: ut indulgentiam, quam semper optaverunt, piis supplicationibus consequantur
</div>
<div class="col-6 text-justify">
Ó Deus, criador e rendentor de todos os fiéis, concedei ás almas dos vossos servos e servas a benigna remissão dos seus pecados, para que alcancem pelas pais súplicas da vossa Igreja o perdão a que sempre aspiraram.
</div>
<div class="col-6 text-justify">
Actiones nostras, quǽsumus, Domine, aspirando præveni et adiuvando prosequere: ut cuncta oratio et operatio a te semper incipiat et per te coepta finiatur.
</div>
<div class="col-6 text-justify">
Vos suplicamos, Senhor, que Vos antecipeis a insuflar e a ajudar as nossas obras, para que todas nossas orações sempre de Vós procedam e em Vós se completem.
</div>
<div class="col-6 text-justify">
Omnipotens sempiterne Deus, qui vivorum dominaris simul et mortuorum, omniumque misereris, quos tuos fide et opere futuros esse prænoscis: te supplices exoramus; ut pro quibus effundere preces decrevimus, quosque vel præsens sæculum adhuc in carne retinet vel futurum iam exutos corpore suscepit, intercedentibus omnibus Sanctis tuis, pietatis tuæ clementia, omnium delictorum suorum veniam consequantur. Per Dominum nostrum Jesum Christum. Amen.
</div>
<div class="col-6 text-justify">
Ó Deus omnipotente e eterno, que sois supremo Senhor dos vivos e dos mortos e usais de misericórdia para com todos aqueles que pela fé e boas obras antecipadamente conheceis que serão do glorioso número dos vossos predestinados, Vos suplicamos, que os mesmos por quem Vos pedimos, ou estejam ainda em carne mortal neste mundo ou, despidos já dos seus corpos, hajam passado para a outra vida, alcancem da vossa pia clemência, pela intercessão de todos vossos Santos, o benigno perdão dos seus pecados. Por Jesus Cristo, vosso Filho e Senhor nosso, que convosco vive e reina em unidade de Deus Espírito Santo, por todos os séculos dos séculos. Amen.
</div>
<div class="col-6 text-justify">
℣. Dómine, exáudi orationem meam.
</div>
<div class="col-6 text-justify">
℣. Senhor, ouvi a minha oração.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et clamor meus ad te véniat.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E que meu clamor chegue até Vós.
</div>
<div class="col-6 text-justify">
℣. Dóminus vobíscum.
</div>
<div class="col-6 text-justify">
℣. O Senhor seja convosco.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Et cum spíritu tuo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> E com vosso espírito.
</div>
<div class="col-6 text-justify">
℣. Exáudiat nos omnípotens et miséricors Dóminus.
</div>
<div class="col-6 text-justify">
℣. Que o Senhor omnipotente e misericordioso se digne ouvir-nos.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
℣. Et fidélium ánimæ per misericórdiam Dei requiéscant in pace.
</div>
<div class="col-6 text-justify">
℣. E que as almas dos fiéis defuntos por misericórdia de Deus descansem em paz.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">℟.</span> Amen.
</div>
<div class="col-6 text-justify">
</div>
</div>
</div>
