<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Kyrie, eléison.
</div>
<div class="col-6 text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, eléison.
</div>
<div class="col-6 text-justify">
Jesus Cristo, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Kyrie, eléison.
</div>
<div class="col-6 text-justify">
Senhor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Christe, audi nos, Christe, audi nos.
</div>
<div class="col-6 text-justify">
Jesus Cristo, ouvi-nos.
</div>
<div class="col-6 text-justify">
Christe, exáudi nos, Christe, exaudi nos.
</div>
<div class="col-6 text-justify">
Jesus Cristo, atendei-nos.
</div>
<div class="col-6 text-justify">
Pater de cælis, Deus, miserére nobis.
</div>
<div class="col-6 text-justify">
Pai do Céu, que sois Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Fili, Redémptor mundi, Deus, miserére nobis.
</div>
<div class="col-6 text-justify">
Filho Redentor do mundo, que sois Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Spíritus Sancte, Deus, miserére nobis.
</div>
<div class="col-6 text-justify">
Espírito Santo, que sois Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Sancta Trínitas, unus Deus, miserére nobis.
</div>
<div class="col-6 text-justify">
Santíssima Trindade, que sois um só Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, Filii Patris æterni, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, Filho do Pai eterno, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, in sinu Virginis Matris a Spiritu Sancto formatum, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, formado pelo Espírito Santo no seio da Virgem Mãe, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, Verbo Dei substantialiter unitum, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, unido substancialmente ao Verbo de Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, maiestatis infinitæ, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, majestade infinita, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, templum Dei sanctum, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, templo santo de Deus, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, tabernaculum Altissimi, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, tabernáculo do Altíssimo, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, domus Dei et porta cæli, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, casa de Deus e porta do Céu, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, fornax ardens caritatis, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, fornalha ardente de caridade, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, iustitiæ et amoris receptaculum, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, receptáculo de justiça e de amor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, bonitate et amore plenum, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, cheio de bondade e de amor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, virtutum omnium abyssus, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, abysmo de todas as virtudes, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, omni laude dignissimum, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, digníssimo de todo o louvor, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, rex et centrum omnium cordium, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, Rei e centro de todos os corações, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, in quo sunt omnes thesauri sapientiæ et scientiæ, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, no qual estão todos os tesouros da sabedoria e ciência, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, in quo habitat omnis plenitudo divinitatis, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, no qual habita toda a plenitude da divindade, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, in quo Pater sibi bene complacuit, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, no qual o Pai põe todas suas complacências, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, de cuius plenitudine omnes nos accepimus, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, de cuja plenitude todos nós participamos, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, desiderium collium æternorum, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, desejado desde toda a eternidade, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, patiens et multæ misericordiæ, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, paciente e de muita misericórdia, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, dives in omnes qui invocant te, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, rico para todos que vos invocam, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, fons vitæ et sanctitatis, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, fonte de vida e santidade, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, propitiatio pro peccatis nostris, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, propiciação por nossos pecados, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, saturatum opprobriis, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, saturado de opróbrios, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, attritum propter scelera nostra, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, esmagado de dor por causa dos nossos pecados, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, usque ad mortem obœdiens factum, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, feito obediente até a morte, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, lancea perforatum, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, atravessado pela lança, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, fons totius consolationis, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, fonte de toda a consolação, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, vita et resurrectio nostra, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, nossa vida e ressurreição, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, pax et reconciliatio nostra, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, nossa paz e reconciliação, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, victima peccatorum, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, vítima dos pecadores, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, salus in te sperantium, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, salvação dos que em vós esperam, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, spes in te morientium, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, esperança dos que morrem em vós, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Cor Jesu, deliciæ Sanctorum omnium, miserére nobis.
</div>
<div class="col-6 text-justify">
Coração de Jesus, delícias de todos os santos, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccata mundi, parce nobis, Domine.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus, que tirais os pecados do mundo, perdoai-nos, Senhor.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccata mundi, exaudi nos, Domine.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus, que tirais os pecados do mundo, ouvi-nos Senhor.
</div>
<div class="col-6 text-justify">
Agnus Dei, qui tollis peccata mundi, miserére nobis.
</div>
<div class="col-6 text-justify">
Cordeiro de Deus, que tirais os pecados do mundo, tende piedade de nós.
</div>
<div class="col-6 text-justify">
Jesu, mitis et humilis Corde, Fac cor nostrum secundum Cor tuum.
</div>
<div class="col-6 text-justify">
Jesus, manso e humilde de coração. Fazei nosso coração semelhante ao vosso.
</div>
<div class="col-6 text-danger text-center"> Orémus.</div>
<div class="col-6 text-danger text-center"> Oremos.</div>
<div class="col-6 dropcaps text-justify">
Omnipotens sempiterne Deus, respice in Cor dilectissimi Filii tui et in laudes et satisfactiones, quas in nomine peccatorum tibi persolvit, iisque misericordiam tuam petentibus, tu veniam concede placatus in nomine ejusdem Filii tui Jesu Christi: Qui tecum vivit et regnat in sæcula sæculorum. Amen.
</div>
<div class="col-6 dropcaps text-justify">
Deus Omnipotente e Eterno, olhai o Coração do vosso dilectíssimo Filho e os louvores e reparações que pelos pecadores vos tem tributado; e aos que invocam vossa misericórdia, vós, aplacado, sede fácil no perdão, pelo mesmo Jesus Cristo que Convosco vive e reina para sempre, na unidade do Espírito Santo. Amen.
</div>
</div>
</div>
