<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Ave maris stella, Dei Mater alma, atque semper Virgo, felix caeli porta. 
</div>
<div class="col-6 dropcaps text-justify">
Ave, Estrela do mar, Mãe de Deus sagrada, Que sempre Virgem sois, Porta feliz do Céu.
</div>
<div class="col-6 text-justify">
Sumens illud Ave, Gabriélis ore, Funda nos in pace, Mutans Evæ nomen.
</div>
<div class="col-6 text-justify">
Ouvistes aquele «Ave», Dos lábios de Gabriel, Estabelecei-nos na paz, Mudando o nome de Eva.
</div>
<div class="col-6 text-justify">
Solve vincla reis, Profer lumen cæcis, Mala nostra pelle, Bona cuncta posce.
</div>
<div class="col-6 text-justify">
Libertai dos grilhões os pecadores, Mandai luz aos cegos, Afastai de nós os males, E obtém-nos todos os bens.
</div>
<div class="col-6 text-justify">
Monstra te esse matrem, Sumat per te preces, Qui pro nobis natus, Tulit esse tuus.
</div>
<div class="col-6 text-justify">
Mostrai que sois nossa Mãe; por Vós, ouça as nossas preces, Aquele que, para nos salvar, Quis ser vosso Filho.
</div>
<div class="col-6 text-justify">
Virgo singuláris, Inter omnes mitis, Nos culpis solutos, Mites fac et castos.
</div>
<div class="col-6 text-justify">
Ó Virgem sem igual, Entre todas a mais doce, Libertando-nos de nossas culpas, Fazei-os mansos e castos.
</div>
<div class="col-6 text-justify">
Vitam præsta puram, Iter para tutum, Ut videntes Jesum, Semper collætemur.
</div>
<div class="col-6 text-justify">
Concedei-nos uma vida pura, Fazei seguros os nossos caminhos, Para que, contemplando a Jesus, Exultemos eternamente.
</div>
<div class="col-6 text-justify">
Sit laus Deo Patri, Summo Christo décus, Spirítui Sancto, Tribus honor unus.
</div>
<div class="col-6 text-justify">
Seja louvado Deus Pai, A Cristo também, e ao Espírito Santo; Seja prestada honra igual.
</div>
<div class="col-6 text-justify">
Amen.
</div>
<div class="col-6 text-justify">
Amen.
</div>
</div>
</div>