<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Benedíctus Dóminus, Deus Israël: * quia visitávit, et fecit redemptiónem plebis suæ:
</div>
<div class="col-6 dropcaps text-justify">
Bendito seja o Senhor, Deus de Israel: * porque visitou e remiu seu povo:
</div>
<div class="col-6 text-justify">
Et eréxit cornu salútis nobis: * in domo David, púeri sui.
</div>
<div class="col-6 text-justify">
E preparou para nós uma poderosa salvação: * na casa deseu servo David.
</div>
<div class="col-6 text-justify">
Sicut locútus est per os sanctórum, * qui a sǽculo sunt, prophetárum ejus:
</div>
<div class="col-6 text-justify">
Quando prometeu, pela boca dos seus Santos, * que outrora foram seus Profetas:
</div>
<div class="col-6 text-justify">
Salútem ex inimícis nostris, * et de manu ómnium, qui odérunt nos.
</div>
<div class="col-6 text-justify">
Que nos salvaria dos nossos dos nossos inimigos, * e das mãos de todos os que nos odeiam.
</div>
<div class="col-6 text-justify">
Ad faciéndam misericórdiam cum pátribus nostris: * et memorári testaménti sui sancti.
</div>
<div class="col-6 text-justify">
Para praticar a sua misericórdia para com os nossos pais: * e em recordação da sua sagrada aliança.
</div>
<div class="col-6 text-justify">
Jusjurándum, quod jurávit ad Ábraham patrem nostrum, * datúrum se nobis:
</div>
<div class="col-6 text-justify">
Segundo o juramento que prestara a Abraão, nosso pai: * que nos concederia:
</div>
<div class="col-6 text-justify">
Ut sine timóre, de manu inimicórum nostrórum liberáti, * serviámus illi.
</div>
<div class="col-6 text-justify">
Sermos livres das mãos dos nos inimigos, * para O servirmos sem temor.
</div>
<div class="col-6 text-justify">
In sanctitáte, et justítia coram ipso, * ómnibus diébus nostris.
</div>
<div class="col-6 text-justify">
Na santidade e justiça, na sua presença, * em todos os dias da nossa vida.
</div>
<div class="col-6 text-justify">
Et tu, puer, Prophéta Altíssimi vocáberis: * præíbis enim ante fáciem Dómini, paráre vias ejus:
</div>
<div class="col-6 text-justify">
E tu, menino, serás chamado profeta do Altíssimo: * pois irás ante a face do Senhor, a preparar os seus caminhos:
</div>
<div class="col-6 text-justify">
Ad dandam sciéntiam salútis plebi ejus: * in remissiónem peccatórum eórum:
</div>
<div class="col-6 text-justify">
E dar aoseu povo o conhecimento da salvação: * a fim de alcançar a remissão dos seus pecados:
</div>
<div class="col-6 text-justify">
Per víscera misericórdiæ Dei nostri: * in quibus visitávit nos, óriens ex alto:
</div>
<div class="col-6 text-justify">
Pelas entranhas da misericórdia do nosso Deus: * pela qual nos visitará um Sol, nascendo do alto:
</div>
<div class="col-6 text-justify">
Illumináre his, qui in ténebris, et in umbra mortis sedent: * ad dirigéndos pedes nostros in viam pacis.
</div>
<div class="col-6 text-justify">
Para iluminar aqueles que jazem nas trevas e na sombra da morte: * e dirigir nossos passos no caminho da paz.
</div>
<div class="col-6 text-justify">
V. Glória Patri, et Fílio, et Spíritui Sancto.
</div>
<div class="col-6 text-justify">
V. Glória ao Pai, e ao Filho e ao Espírito Santo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Sicut erat in pricípio, et nunc, et semper, et in sǽcula sæculórum. Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Assim como era no princípio, agora e sempre, e por todos os séculos dos séculos. Amen.
</div>
</div>
</div>
