<div class="container-fluid">
  <div class="row">
    <div class="col-6 dropcaps text-justify">
      Jam lucis orto sídere, Deum precémur súpplices, Ut in diúrnis áctibus Nos
      servet a nocéntibus.
    </div>
    <div class="col-6 dropcaps text-justify">
      Com o sol que se alevanta, A Deus se elevam nossas súplicas, Nos actos
      diurnos, Nos preserve de todo o mal.
    </div>
    <div class="col-6 text-justify">
      Linguam refrénans témperet, Ne litis horror ínsonet: Visum fovéndo
      cóntegat, Ne vanitátes háuriat.
    </div>
    <div class="col-6 text-justify">
      Moderai a nossa língua, A mentira nos não manche, Nos anime e guarde a
      vista, Para em vaidades se não perder.
    </div>
    <div class="col-6 text-justify">
      Sint pura cordis íntima, Absístat et vecórdia; Carnis terat supérbiam
      Potus cibíque párcitas.
    </div>
    <div class="col-6 text-justify">
      Seja puro em nosso peito o coração, E banida a loucura: A carne nos
      tempere a suberba, E a bebida reprima o orgulho.
    </div>
    <div class="col-6 text-justify">
      Ut, cum dies abscésserit, Noctémque sors redúxerit, Mundi per abstinéntiam
      Ipsi canámus glóriam.
    </div>
    <div class="col-6 text-justify">
      E quando a tarde descer, E quando a noite chegar, Esquecendo-nos do mundo,
      Cantemos a vossa glória.
    </div>
    <div class="col-6 text-justify">
      Deo Patri sit glória, Eiúsque soli Fílio, Cum Spíritu Paráclito, Nunc et
      per omne sǽculum.
    </div>
    <div class="col-6 text-justify">
      A Deus Pai se dê glória, E ao seu Filho também, Assim como ao Espírito
      Paráclito, Agora e para todo o sempre.
    </div>
  </div>
</div>
