<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Magníficat * ánima mea Dóminum. Et exsultávit spíritus meus: * in Deo, salutári meo.
</div>
<div class="col-6 dropcaps text-justify">
A minha alma * glorifica o Senhor. E o meu espírito exultou: * em Deus, meu salvador.
</div>
<div class="col-6 text-justify">
Quia respéxit humilitátem ancíllæ suæ: * ecce enim ex hoc beátam me dicent omnes generatiónes.
</div>
<div class="col-6 text-justify">
Visto que Ele olhou para a humildade da sua serva: * desde agora todas as gerações me chamarão bem-aventurada.
</div>
<div class="col-6 text-justify">
Quia fecit mihi magna, qui potens est: * et sanctum nomen ejus.
</div>
<div class="col-6 text-justify">
Pois o Omnipotente operou em mim grandes maravilhas: * e seu Nome é Santo.
</div>
<div class="col-6 text-justify">
Et misericórdia ejus, a progénie in progénies: * timéntibus eum.
</div>
<div class="col-6 text-justify">
Sua misericórdia espalha-se de geração em geração sobre os: * que O temem.
</div>
<div class="col-6 text-justify">
Fecit poténtiam in brácchio suo: * dispérsit supérbos mente cordis sui.
</div>
<div class="col-6 text-justify">
Manifestou-se o poder doseu braço: * dispersou os soberbos, cujo coração é cheio de orgulho.
</div>
<div class="col-6 text-justify">
Depósuit poténtes de sede: * et exaltávit húmiles.
</div>
<div class="col-6 text-justify">
Depôs os poderosos dos seus tronos: * e ergueu os humildes.
</div>
<div class="col-6 text-justify">
Esuriéntes implévit bonis: * et dívites dimísit inánes.
</div>
<div class="col-6 text-justify">
Saciou de bens os que tinham fome: * e deixou as mãos vazias aos ricos.
</div>
<div class="col-6 text-justify">
Suscépit Israël púerum suum: * recordátus misericórdiæ suæ.
</div>
<div class="col-6 text-justify">
Recebeu Israel como seu servo: * lembrando-se da sua misericórdia.
</div>
<div class="col-6 text-justify">
Sicut locútus est ad patres nostros: * Ábraham, et sémini ejus in sǽcula.
</div>
<div class="col-6 text-justify">
Tal como anunciara a nossos pais: * a Abraão e à sua descendência para sempre.
</div>
<div class="col-6 text-justify">
V. Glória Patri, et Fílio, et Spíritui Sancto.
</div>
<div class="col-6 text-justify">
V. Glória ao Pai, e ao Filho e ao Espírito Santo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Sicut erat in pricípio, et nunc, et semper, et in sǽcula sæculórum. Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Assim como era no princípio, agora e sempre, e por todos os séculos dos séculos. Amen.
</div>
</div>
</div>
