<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Nunc dimíttis, servum tuum, Dómine, * secúndum verbum tuum in pace:
</div>
<div class="col-6 dropcaps text-justify">
Agora, Senhor, deixareis ir em paz o vosso servo, * segundo a vossa palavra:
</div>
<div class="col-6 text-justify">
Quia vidérunt óculi mei * salutáre tuum,
</div>
<div class="col-6 text-justify">
Pois os meus olhos já viram * a vossa salvação,
</div>
<div class="col-6 text-justify">
Quod parásti * ante fáciem ómnium populórum,
</div>
<div class="col-6 text-justify">
E que preparastes * ante a face de todos os povos,
</div>
<div class="col-6 text-justify">
Lumen ad revelatiónem Géntium, * et glóriam plebis tuæ Israël.
</div>
<div class="col-6 text-justify">
Luz para se revelar às nações, * e glória de Israel, vosso povo.
</div>
<div class="col-6 text-justify">
V. Glória Patri, et Fílio, et Spíritui Sancto.
</div>
<div class="col-6 text-justify">
V. Glória ao Pai, e ao Filho e ao Espírito Santo.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Sicut erat in pricípio, et nunc, et semper, et in sǽcula sæculórum. Amen.
</div>
<div class="col-6 text-justify">
<span class="text-danger">R.</span> Assim como era no princípio, agora e sempre, e por todos os séculos dos séculos. Amen.
</div>
</div>
</div>
