<h2 class="text-center">Sexta-feira das Têmporas do Inverno <em>Estação na Igreja dos Doze Apóstolos</em></h2>

<h4 class="text-center">Intróito <em>Sl. 118, 151–152</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Prope es tu, Dómine, et omnes viæ tuæ véritas: inítio cognóvi de testimóniis tuis, quia in ætérnum tu es. <em>Ps. ibid., 1</em> Beati immaculáti in via: qui ámbulant in lege Dómini.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Senhor, estais próximo: e todos vossos ensinos são verdadeiros. Desde o princípio que conheço os vossos ensinos, porque os ensinastes desde sempre. <em>Sl. ibid., 1</em> Bem-aventurados os que procedem sem mácula em seus caminhos: e os que caminham na lei do Senhor.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Excita, quǽsumus, Dómine, poténtiam tuam, et veni: ut hi, qui in tua pietáte confídunt, ab omni cítius adversitáte liberéntur: Qui vivis <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Mostrai o vosso poder, Senhor, Vos suplicamos, e vinde, a fim de que aqueles que confiam na vossa bondade sejam bem depressa livres de toda a adversidade: Vós, que viveis e <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola <em>Is. 11, 1–5</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio Isaíæ Prophétæ.
</div>
<div class="col-6 text-justify">
Lição do Profeta Isaías.
</div>
<div class="col-6 dropcaps text-justify">
Hæc dicit Dóminus Deus: Egrediátur virga de radíce Jesse, et flos de radíce ejus ascéndet. Et requiéscet super eum spíritus Dómini: spíritus sapiéntiæ et intelléctus, spíritus consílii et fortitúdinis, spíritus sciéntiæ et pietátis; et replébit eum spíritus timóris Dómini. Non secundum visiónem oculórum judicábit: neque secúndum audítum áurium árguet: sed judicábit in justítia páuperes, et árguet in æquitáte pro mansuétis terræ: et percútiet terram virga oris sui, et spíritu labiórum suórum interfíciet ímpium. Et erit justítia cíngulum lumbórum ejus: et fides cinctórium renum ejus.
</div>
<div class="col-6 dropcaps text-justify">
Isto diz o Senhor Deus: Sairá uma vara do tronco de Jessé e uma flor brotará da sua raiz. E o espírito do Senhor repousará sobre ele: espírito de sabedoria e de inteligência; espírito de conselho e de fortaleza; espírito de ciência e de piedade; e enchê-lo-á o espírito do temor do Senhor. Não julgará segundo o que os olhos vêem, nem segundo o que os ouvidos ouvem; mas julgará com justiça os pobres e se pronunciará com rectidão para com os humildes da terra. Com a vara da sua boca baterá na terra: e matará o ímpio com um sopro dos seus lábios. A justiça será o cinto de suas entranhas e a fé o cinturão dos seus rins.
</div>
</div>
</div>

<h4 class="text-center">Gradual <em>Sl. 84, 8 & 2</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Osténde nobis, Dómine, misericórdiam tuam: et salutáre tuum da nobis. ℣. Benedixísti, Dómine, terram tuam: avertísti captivitátem Jacob.
</div>
<div class="col-6 dropcaps text-justify">
Mostrai-nos, Senhor, a vossa misericórdia; e dai-nos a vossa salvação. Abençoastes, Senhor, a vossa terra; afastastes o cativeiro de Jacob.
</div>
</div>
</div>

<h4 class="text-center">Evangelho <em>Lc. 1, 39–47</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Sequéntia sancti Evangélii secúndum Lucam.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Continuação do santo Evangelho segundo S. Lucas.
</div>
<div class="col-6 dropcaps text-justify">
In illo tempore: Exsúrgens María ábiit in montána cum festinatióne in civitátem Juda: et intrávit in domum Zacharíæ, et salutávit Elísabeth. Et factum est, ut audivit salutatiónem Maríæ Elísabeth, exsultávit infans in útero ejus: et repléta est Spíritu Sancto Elísabeth, et exclamávit voce magna, et dixit: Benedícta tu inter mulíeres, et benedíctus fructus ventris tui. Et unde hoc mihi, ut véniat Mater Dómini mei ad me? Ecce enim, ut facta est vox salutatiónis tuæ in áuribus meis, exsultávit in gáudio infans in útero meo. Et beáta, quæ credidísti, quóniam perficiéntur ea, quæ dicta sunt tibi a Dómino. Et ait María: Magníficat anima mea Dóminum: et exsultávit spíritus meus in Deo, salutári meo.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, levantando-se Maria, foi apressadamente às montanhas de uma cidade de Judá, onde entrou em casa de Zacarias e saudou Isabel. E aconteceu que, logo que Isabel ouviu a saudação de Maria, saltou a criança no seu seio, e Isabel ficou cheia de Espírito Santo, exclamando em voz alta e dizendo: «Bendita sois vós entre todas as mulheres e bendito é o fruto do vosso ventre. Donde me vem a mim que a Mãe do meu Senhor venha até mim? Pois, desde que a voz da vossa saudação chegou a meus ouvidos, o meu filho exultou de alegria no meu seio! Bem-aventurada sois, porque acreditastes que se hão-de cumprir as cousas que vos foram ditas da parte do Senhor». Maria disse, então: «Minha alma glorifica ao Senhor: e o meu espírito se alegra em Deus, meu Salvador».
</div>
</div>
</div>

<h4 class="text-center">Ofertório <em>Sl. 84, 7–8</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Deus, tu convérsus vivificábis nos, et plebs tua lætábitur in te: osténde nobis, Dómine, misericórdiam tuam, et salutáre tuum da nobis.
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus, volvei para nós vossos olhares e dar-nos-eis a vida: então o vosso povo rejubilará em Vós. Mostrai-nos, Senhor, a vossa misericórdia: e dai-nos a vossa salvação.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Munéribus nostris, quǽsumus, Dómine, precibúsque suscéptis: et cœléstibus nos munda mystériis, et cleménter exáudi. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Senhor, depois de haverdes recebido as nossas ofertas e as nossas orações, Vos suplicamos, purificai-nos com vossos celestiais mystérios e ouvi-nos clementemente. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio <em>Zc. 14, 5–6</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Ecce, Dóminus véniet et omnes Sancti ejus cum eo: et erit in die illa lux magna.
</div>
<div class="col-6 dropcaps text-justify">
Eis que o Senhor vem, e com Ele virão todos os Santos; e nesse dia raiará uma luz brilhantíssima.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Tui nos, Dómine, sacraménti libátio sancta restáuret: et a vetustáte purgátos, in mystérii salutáris fáciat transíre consórtium. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Senhor, que a nossa comparticipação neste divino mystério nos restaure; e que, depois de nos haver purificado do «homem velho», nos conduza ao gozo das alegrias da salvação. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
