<h2 class="text-center">Missa Contra os Pagãos</h2>

<h4 class="text-center">Intróito <em>Sl. 43, 23-24 & 25-26</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Exsúrge, quare obdórmis, Dómine? exsúrge, et ne repéllas in finem: quare fáciem tuam avértis, oblivísceris tribulatiónem nostram? Adhǽsit in terra venter noster: exsúrge, Dómine, ádjuva nos et líbera nos. (T. P. Allelúja, allelúja.) <em>Ps. ibid., 2</em> Deus, áuribus nostris audívimus: patres nostri annuntiavérunt nobis.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">
Despertai, porque dormis, Senhor? Despertai e nos não rechaceis para sempre: porque escondeis para sempre o vosso rosto? Porque Vos esqueceis da nossa tribulação? A nossa alma rasteja no pó da terra. Despertai, Senhor; vinde em nosso auxílio; livrai-nos. (T. P. Aleluia, aleluia.) <em>Sl. ibid., 2</em> Ó Deus, com os nossos ouvidos o ouvimos; os nossos pais contaram-nos tudo.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Omnípotens sempitérne Deus, in cujus manu sunt ómnium potestátes et ómnium jura regnórum: réspice in auxílium Christianórum; ut gentes paganórum, quæ in sua feritáte confídunt, déxteræ tuæ poténtia conterántur. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó omnipotente e sempiterno Deus, em cujas mãos estão todos os poderes e os direitos de todos os vivos, vinde em auxílio dos cristãos, a fim de que os povos pagãos, que confiam na sua altivez, sejam humilhados sob o peso da vossa dextra. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola <em>Est. 13, 8-11 & 15-17</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio libri Esther.
</div>
<div class="col-6 text-justify">
Lição do Livro de Ester.
</div>
<div class="col-6 text-justify">
In diébus illis: Orávit Mardochǽus ad Dóminum, dicens: Dómine, Dómine, Rex omnípotens, in dicióne enim tua cuncta sunt pósita, et non est qui possit tuæ resístere voluntáti, si decréveris salváre Israël. Tu fecísti cœlum et terram, et quidquid cœli ámbitu continétur. Dóminus ómnium es, nec est qui resístat majestáti tuæ. Et nunc, Dómine Rex, Deus Abraham, miserére pópuli tui, quia volunt nos inimíci nostri pérdere, et hereditátem tuam delére. Ne despícias partem tuam, quam redemísti tibi de Ægýpto. Exáudi deprecatiónem meam, et propítius esto sorti et funículo tuo, et convérte luctum nostrum in gáudium, ut vivéntes laudémus nomen tuum, Dómine, et ne claudas ora te canéntium, Dómine, Deus noster.
</div>
<div class="col-6 text-justify">
Naqueles dias: orava Mardoqueu ao Senhor, dizendo: «Senhor, Senhor, Rei omnipotente, em cujo poder se encontram todas as cousas e a cuja vontade ninguém poderá resistir se quiseres salvar Israel; Vós, que criastes o céu e a terra e todas as maravilhas que se contêm no âmbito dos céus; Vós, que sois o Senhor de tudo quanto existe e a cuja majestade se não pode resistir: agora, pois, Senhor, meu Deus e meu Rei, Deus de Abraão, perdoai ao vosso povo, porque os nossos inimigos querem perder-nos, na ânsia de destruírem a vossa herança. Não deixeis em esquecimento este vosso povo, que resgatastes da terra do Egipto. Escutai a minha súplica e sede propício à vossa herança; convertei o nosso luto em alegria, para que, vivendo, Senhor, cantemos hinos em louvor do vosso nome, e não feches a boca, Senhor, nosso Deus, àqueles que Vos louvam».
</div>
</div>
</div>

<h4 class="text-center">Gradual <em>Sl. 82, 19 & 14</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Sciant gentes, quóniam nomen tibi Deus: tu solus Altíssimus super omnem terram. ℣. Deus meus, pone illos ut rotam, et sicut stípulam ante fáciem venti.
</div>
<div class="col-6 text-justify">
Saibam todos os povos que o vosso nome é Deus: e que só Vós sois o Altíssimo sobre toda a terra. ℣. Tornai-os a todos, ó meu Deus, como pó, como uma palha que o torvelinho arrasta pelo caminho.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Ps. 79, 3</em> Excita, Dómine, poténtiam tuam, et veni: ut salvos fácias nos. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Sl. 79, 3</em> Despertai o vosso poder, Senhor, e vinde, para que sejamos salvos. Aleluia.
</div>
</div>
</div>

<em>Depois da Septuagésima, omite-se o Aleluia e o seguinte, e diz-se:</em>

<h4 class="text-center">Trato <em>Sl. 78, 9-11</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Adjuva nos, Deus, salutáris noster: et propter honórem nóminis tui, Dómine, líbera nos: et propítius esto peccátis nostris, propter nomen tuum. ℣. Ne quando dicant gentes: Ubi est Deus eórum? et innotéscat in, natiónibus coram óculis nostris. ℣. Víndica sánguinem servórum tuórum, qui effúsus est: intret in conspéctu tuo gémitus compeditórum.
</div>
<div class="col-6 text-justify">
Socorrei-nos, ó Deus, nosso Salvador; pela glória do vosso nome, Senhor, livrai-nos: e perdoai os nossos pecados pelo vosso nome. ℣. Não digam algum dia os povos: onde está o seu Deus? Seja notório aos povos e aos nossos olhos. ℣. Vingai o sangue que os vossos servos derramaram: cheguem até Vós os gemidos dos cativos.
</div>
</div>
</div>

<em>No Tempo Pascal omite-se o Gradual e o Trato e diz-se:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Ps. 79, 3</em> Excita, Dómine, poténtiam tuam, et veni: ut salvos fácias nos. Allelúja. ℣. <em>ibid., 15-16</em> Deus virtútum, convértere, réspice de cœlo, et vide, et vísita víneam istam: et pérfice eam, quam plantávit déxtera tua. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Sl. 79, 3</em> Despertai o vosso poder, Senhor, e vinde para que sejamos salvos. Aleluia. ℣. <em>ibid., 15-16</em> Deus poderoso, volvei-Vos para nós, olhai para nós lá do céu, contemplai e visitai esta vinha: defendei esta vinha que a vossa mão dextra plantou. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho <em>Página rogacoes</em></h4>

<h4 class="text-center">Ofertório <em>Sl. 17, 28 & 32</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Pópulum húmilem salvum fácies: et óculos superbórum humiliábis: quóniam quis Deus præter te, Dómine? (T. P. Allelúja.)
</div>
<div class="col-6 text-justify">
Salvais o povo humilde e humilhais o povo soberbo: pois quem é Deus, senão Vós, Senhor? (T. P. Aleluia.)
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Sacrifícium, Dómine, quod immolámus, inténde: ut propugnatóres tuos ab omni éruas paganórum nequítia, et in tuæ protectiónis securitáte constítuas. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Olhai benignamente para o sacrifício que imolamos, Senhor, a fim de que defendais os vossos defensores de toda a malícia dos pagãos e os conserveis em segurança com vossa protecção. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio <em>Sl. 118, 81, 84 & 86</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
In salutári tuo ánima mea, et in verbum tuum sperávi: quando fácies de persequéntibus me judícium? Iníqui persecúti sunt me, ádjuva me, Dómine, Deus meus. (T. P. Allelúja.)
</div>
<div class="col-6 text-justify">
Anseia a minha alma com o desejo de que a salveis. Quando fareis justiça contra os que me perseguem? Os maus perseguem-me, auxiliai-me, Senhor, meu Deus. (T. P. Aleluia.)
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Protéctor noster, áspice, Deus: et propugnatóres tuos a paganórum defénde perículis; ut, omni perturbatióne submóta, líberis tibi méntibus desérviant. Per Dóminum nostrum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, nosso protector, lançai para nós os vossos olhares e defendei os vossos defensores contra os perigos dos pagãos, de modo que, afastados todos os perigos, Vos possam servir com liberdade de espírito. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
