<h2 class="text-center">Durante a Guerra</h2>

<h4 class="text-center">Intróito <em>Sl. 24, 6, 3 & 22</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Reminíscere miseratiónum tuarum, Dómine, et misericórdiæ tuæ, quæ a sǽculo sunt: ne umquam dominéntur nobis inimíci nostri: líbera nos, Deus Israël, ex ómnibus angústiis nostris. (T. P. Allelúja, allelúja.) <em>Ps. ibid., 1-2</em> Ad te, Dómine, levávi ánimam meam: Deus meus, in te confído, non erubéscam.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Lembrai-Vos, Senhor, de que as vossas misericórdias são eternas: e não permitais que os nossos inimigos nos dominem. Livrai-nos, Senhor, dos males que nos afligem. (T. P. Aleluia, aleluia.) <em>Sl. ibid., 1-2</em> A Vós elevei a minha alma. Ó meu Deus, confio em Vós: não permitireis que fique envergonhado.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Deus, qui cónteris bella, et impugnatóres in te sperántium potentia tuæ defensiónis expúgnas: auxiliáre fámulis tuis, implorántibus misericórdiam tuam; ut, inimicórum suórum feritáte depréssa, incessábili te gratiárum actióne laudémus. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus, que terminais as guerras e que com o poder do vosso socorro repelis os agressores daqueles que em Vós confiam, socorrei os vossos servos, que imploram a vossa misericórdia, a fim de que, sendo dominada a ferocidade dos inimigos, não cessemos de Vos louvar com acções de graças. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola <em>Jr. 42, 1-2 & 7-12</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio Jeremíæ Prophétæ.
</div>
<div class="col-6 text-justify">
Lição do Profeta Jeremias.
</div>
<div class="col-6 dropcaps text-justify">
In diébus illis: Accessérunt omnes príncipes bellatórum: dixerúntque ad Jeremíam Prophétam: Ora pro nobis ad Dóminum, Deum tuum. Et factum est verbum Dómini ad Jeremíam. Vocavítque omnes príncipes bellatórum, et univérsum pópulum a mínimo usque ad magnum. Et dixit ad eos: Hæc dicit Dóminus, Deus Israël, ad quem misístis me, ut prostérnerem preces vestras in conspéctu ejus: Si quiescéntes manséritis in terra hac, ædificábo vos, et non déstruam; plantábo, et non evéllam: jam enim placátus sum super malo, quod feci vobis. Nolíte timére a fácie regis Babylónis, quem vos pavídi formidátis; nolíte metúere eum, dicit Dóminus: quia vobíscum sum ego, ut salvos vos fáciam et éruam de manu ejus. Et dabo vobis misericórdias, et miserébor vestri, et habitáre vos fáciam in terra vestra: dicit Dóminus omnípotens.
</div>
<div class="col-6 dropcaps text-justify">
Naqueles dias, todos os principais guerreiros vieram ter com o Profeta Jeremias, dizendo: «Orai por nós ao Senhor, vosso Deus». Então o Senhor falou a Jeremias, que convocou todos os principais e todo o povo, desde o mais alto ao mais baixo, aos quais disse: «Eis o que diz o Senhor, Deus de Israel, a quem me mandastes para que Lhe apresentasse as vossas preces: «Se permanecerdes em repouso nesta mansão, edificarei para vosso proveito, e não destruirei; plantarei para vós, e não arrancarei; pois já estou aplacado pelo mal que contra mim praticastes», Não receeis, pois, o rei da Babilónia, que vos faz tremer; o não receeis, diz o Senhor, pois estou convosco para vos salvar e arrancar de suas mãos. Terei misericórdia e compaixão de vós, e vos farei permanecer em paz no vosso país»: diz o omnipotente Senhor.
</div>
</div>
</div>

<h4 class="text-center">Gradual <em>Sl. 76, 15-16</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Tu es Deus, qui facis mirabília solus: notam fecísti in géntibus virtútem tuam. ℣. Liberásti in bráchio tuo pópulum tuum, fílios Israël et Joseph.
</div>
<div class="col-6 dropcaps text-justify">
Sois o Senhor que opera prodígios! Fazeis conhecer aos povos o vosso poder. ℣. Livrastes com a força do vosso braço o vosso povo os filhos de Israel e de José.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Ps. 58, 2</em> Eripe me de inimícis meis, Deus meus: et ab insurgéntibus in me líbera me. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Sl. 58, 2</em> Livrai-me dos meus inimigos, ó meu Deus; livrai-me dos meus perseguidores. Aleluia.
</div>
</div>
</div>

<em>Após a Septuagésima, omite-se o Aleluia e o seguinte, e diz-se:</em>

<h4 class="text-center">Trato <em>Sl. 102, 10</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Dómine, non secúndum peccáta nostra, quæ fécimus nos: neque secúndum iniquitátes nostras retríbuas nobis. ℣. <em>Ps. 78, 8-9</em> Dómine, ne memíneris iniquitátum nostrárum antiquárum: cito antícipent nos misericórdiæ tuæ, quia páuperes facti sumus nimis. ℣. Adjuva nos, Deus, salutáris noster: et propter glóriam nóminis tui, Dómine, líbera nos: et propítius esto peccátis nostris, propter nomen tuum.
</div>
<div class="col-6 dropcaps text-justify">
Não nos castigueis, Senhor, consoante merecemos pelos nossos pecados e iniquidades. ℣. <em>Sl. 78, 8-9</em> Esquecei-Vos das nossas antigas iniquidades, Senhor: apressai-Vos em revestir-nos com vossas misericórdias, pois grande é a nossa miséria. ℣. Auxiliai-nos, ó Deus, nosso Salvador. Para glória do vosso nome, livrai-nos, Senhor! Para glória do vosso nome, perdoai-nos os nossos pecados, Senhor!
</div>
</div>
</div>

<em>No Tempo Pascal omite-se o Gradual e o Trato e diz-se: </em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Ps. 58, 2</em> Eripe me de inimícis meis, Deus meus: et ab insurgéntibus in me líbera me. Allelúja. ℣. <em>ibid., 17</em> Ego autem cantábo fortitúdinem tuam: et exsultábo mane misericórdiam tuam. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Sl. 58, 2</em> Livrai-me dos meus inimigos, ó meu Deus: livrai-me dos meus perseguidores. Aleluia. ℣. <em>ibid., 17</em> Pois engrandecerei o vosso poder: e louvarei desde manhã a vossa misericórdia. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho <em>Mt. 24, 3-8</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Sequéntia sancti Evangélii secúndum Matthǽum.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Continuação do santo Evangelho segundo S. Mateus.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Accessérunt ad Jesum discípuli secréto, dicéntes: Dic nobis, quando hæc erunt? et quod signum advéntus tui et consummatiónis sǽculi? Et respóndens Jesus, dixit eis: Vidéte, ne quis vos sedúcat. Multi enim vénient in nómine meo, dicéntes: Ego sum Christus; et multos sedúcent. Auditúri enim estis prǿlia et opiniónes prœliórum. Vidéte, ne turbémini. Opórtet enim hæc fíeri, sed nondum est finis. Consúrget enim gens in gentem, et regnum in regnum, et erunt pestiléntiæ et fames et terræmótus per loca. Hæc autem ómnia, inítia sunt dolórum.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, aproximaram-se de, Jesus os seus discípulos em particular, perguntando-Lhe: «Dizei-nos quando acontecerão essas coisas? Que sinal haverá da vossa vinda e da consumação dos séculos?». Então, respondendo Jesus, disse-lhes: «Acautelai-vos, para que ninguém Vos seduza; pois virão muitos, dizendo: «Eu sou o Cristo», seduzindo também muitas pessoas. Ouvireis falar de guerras e de rumores de guerras. Tende cuidado em vos não perturbardes; pois convém que tais coisas aconteçam, mas isso não será ainda o fim. Levantar-se-á povo contra povo, e reino contra reino; haverá peste, fome e tremores de terra em diversos lugares, mas todas estas coisas serão apenas o começo das aflições».
</div>
</div>
</div>

<h4 class="text-center">Ofertório <em>Sl. 17, 28 & 32</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Pópulum húmilem salvum fácies, Dómine, et óculos superbórum humiliábis: quóniam quis Deus præter te, Dómine? (T. P. Allelúja.)
</div>
<div class="col-6 dropcaps text-justify">
Salvareis o vosso povo, que se humilha, Senhor; e humilhareis os olhos dos soberbos: pois quem é Deus, senão Vós? (T. P. Aleluia.)
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Sacrifícium, Dómine, quod immolámus, inténde placátus: ut ab omni nos éruat bellórum nequítia, et in tuæ protectiónis securitáte constítuat. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Deixai-Vos aplacar, Senhor, e dignai-Vos lançar os vossos olhares para o sacrifício que Vos oferecemos, a fim de que, pelo seu poder, sejamos inteiramente preservados da guerra e gozemos com vossa protecção inteira segurança. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio <em>Sl. 30, 3</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Inclína aurem tuam: accélera, ut erípias nos. (T. P. Allelúja.)
</div>
<div class="col-6 dropcaps text-justify">
Inclinai os vossos ouvidos e apressai-Vos em socorrer-nos. (T. P. Aleluia.)
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Deus, regnórum ómnium regúmque dominátor, qui nos et percutiéndo sanas et ignoscéndo consérvas: præténde nobis misericórdiam tuam; ut tranquillitáte pacis, tua potestáte serváta, ad remédia correctiónis utámur. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus, que reinais sobre todas as nações e acima de todos os reis; que nos curais, castigando-nos, e, castigando-nos, nos conservais: acolhei-nos sob a vossa misericórdia, a fim de que, em virtude do vosso poder, guardada com tranquilidade a paz, nós a aproveitemos para nos curarmos e corrigirmos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>
