<h2 class="text-center">Para Evitar a Mortandade</h2>

<h4 class="text-center">Intróito</h4><em>2 Rs. 24, 16</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Recordáre, Dómine, testaménti tui, et dic Angelo percutiénti: Cesset jam manus tua, et non desolétur terra, et ne perdas omnem ánimam vivéntem. (T. P. Allelúja, allelúja.) <em>Ps. 79, 2</em> Qui regis Israël, inténde: qui dedúcis, velut ovem, Joseph.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 text-justify">
Recordai-Vos da vossa promessa, Senhor, e dizei ao Anjo que nos fere: «que a vossa mão cesse de ferir; que a terra já não seja desbaratada; não extermineis todos os seres viventes!». (T. P. Aleluia, aleluia.) <em>Sl. 79, 2</em> Ouvi, ó vós que governais Israel; ó vós que conduzis José, como uma ovelha.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Deus, qui non mortem, sed pœniténtiam desideras peccatórum: pópulum tuum ad te reverténtem propítius réspice; ut, dum tibi devótus exsístit, iracúndiæ tuæ flagélla ab eo cleménter amóveas. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ó Deus, que não desejais que os pecadores morram, mas que eles façam penitência, olhai benigno para o vosso povo, que se converte a Vós, de modo que, agora que ele se mostra fiel, o afasteis com clemência dos flagelos da vossa ira. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola</h4><em>2 Rs. 24, 15-19 & 25</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio libri Regum.
</div>
<div class="col-6 text-justify">
Lição do Livro dos Reis.
</div>
<div class="col-6 text-justify">
In diébus illis: Immísit Dóminus pestiléntiam in Israël, de mane usque ad tempus constitútum, et mórtui sunt ex pópulo, a Dan usque ad Bersabée, septuagínta mília virórum. Cumque extendísset manum suam Angelus Dómini super Jerúsalem, ut dispérderet eam, misértus est Dóminus super afflictióne, et ait Angelo percutiénti pópulum: Súfficit; nunc cóntine manum tuam. Erat autem Angelus Dómini juxta arcam Aréuna Jebusǽi. Dixítque David ad Dóminum, cum vidísset Angelum cædéntem pópulum: Ego sum, qui peccávi, ego iníque egi: isti, qui oves sunt, quid fecérunt? Vertátur, óbsecro, manus tua contra me et contra domum patris mei. Venit autem Gad prophéta ad David in die illa, et dixit ei: Ascénde, et constítue altare Dómino in área Aréuna Jebusǽi. Et ascéndit David juxta sermónem Gad, quem præcéperat ei Dóminus. Et ædificávit altáre Dómino, et óbtulit holocáusta et pacífica: et propitiátus est Dóminus terræ, et cohíbita est plaga ab Israël.
</div>
<div class="col-6 text-justify">
Naqueles dias, lançou o Senhor a peste em Israel, desde a manhã daquele dia até ao tempo marcado. Ora, desde o povo de Dan até Bersabeia, morreram setenta mil homens. O Anjo do Senhor ia já a estender a sua mão sobre Jerusalém para a ferir também, mas o Senhor teve piedade da sua aflição e disse ao Anjo exterminador: «Basta! Detém agora a tua mão». Estava, então, o Anjo do Senhor perto de Arauna de Jebuzeia; e, vendo David que ele feria o povo, disse ao Senhor: «Eu é que pequei; eu é que procedi iniquamente: que fizeram estes que são as vossas ovelhas? Que a vossa mão, eu o suplico, se volte contra mim e contra a casa de meu pai». Então o Profeta Gad veio dizer a David: «Erguei-vos, e levantai um altar ao Senhor em Arauna de Jebuzeia». David, segundo a ordem que Gad lhe deu da parte de Deus, foi logo erguer o altar ao Senhor, oferecendo nele holocaustos e hóstias pacíficas. E o Senhor se tornou propício à terra e curou a chaga com que havia ferido Israel.
</div>
</div>
</div>

<h4 class="text-center">Gradual</h4><em>Sl. 106, 20-21</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Misit Dóminus verbum suum, et sanávit eos: et erípuit eos de morte eórum. ℣. Confiteántur Dómino misericórdiæ ejus: et mirabília ejus fíliis hóminum.
</div>
<div class="col-6 text-justify">
Fez o Senhor ouvir a sua palavra, curou-os e salvou-os da morte. ℣. Cantem-se louvores em honra das misericórdias do Senhor: sejam engrandecidas as maravilhas que Ele praticou em favor dos filhos dos homens.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Ps. 68, 2</em> Salvum me fac, Deus, quóniam intravérunt aquæ usque ad ánimam meam. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Sl. 68, 2</em> Salvai-me, ó Deus, pois as águas (do mal) inundaram a minha alma, Aleluia.
</div>
</div>
</div>

<em>Após a Septuagésima, omite-se o Aleluia e o seguinte, e diz-se:</em>

<h4 class="text-center">Trato</h4><em>Sl. 102, 10</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Dómine, non secúndum peccáta nostra, quæ fécimus nos: neque secúndum iniquitátes nostras retríbuas nobis. ℣. <em>Ps. 78, 8-9</em> Dómine, ne memíneris iniquitátum nostrárum antiquárum: cito antícipent nos misericórdiæ tuæ, quia páuperes facti sumus nimis. ℣. Adjuva nos, Deus, salutáris noster: et propter glóriam nóminis tui, Dómine, líbera nos, et propítius esto peccátis nostris, propter nomen tuum.
</div>
<div class="col-6 text-justify">
Não nos castigueis, Senhor, consoante merecemos, pelos pecados que praticámos: nem nos julgueis segundo as nossas iniquidades. <em>Sl. 78, 8-9</em> Esquecei-Vos das nossas iniquidades, Senhor: apressai-Vos em cobrir-nos com vossas misericórdias, pois grande é a nossa miséria. ℣. Auxiliai-nos, ó Deus, nosso Salvador. Para glória do vosso nome, livrai-nos, Senhor! Por cansa do vosso nome, perdoai os nossos pecados, Senhor!
</div>
</div>
</div>

<em>No Tempo Pascal omite-se o Gradual e o Trato e diz-se:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Allelúja, allelúja. ℣. <em>Ps. 68, 2</em> Salvum me fac, Deus, quóniam intravérunt aquæ usque ad ánimam meam. Allelúja. ℣. <em>Zach. 8, 7</em> et 8</em> Salvábo pópulum meum Israël in die malo, et ero eis in Deum, in veritáte et justítia. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. ℣. <em>Sl. 68, 2</em> Salvai-me, ó Deus, pois as águas (do mal) inundaram a minha alma. Aleluia. ℣. <em>Zc. 8, 7</em> et 8</em> No dia mau Salvarei o meu povo de Israel: e serei o seu Deus com verdade e justiça. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho</h4><em>Lc. 4, 38-44</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Sequéntia sancti Evangélii secúndum Lucam.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Continuação do santo Evangelho segundo S. Lucas.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Surgens Jesus de synagóga, introívit in domum Simónis. Socrus autem Simónis tenebátur magnis fébribus: et rogavérunt illum pro ea. Et stans super illam, imperávit febri: et dimísit illam. Et contínuo surgens, ministrábat illis. Cum autem sol occidísset, omnes, qui habébant infírmos váriis languóribus, ducébant illos ad eum. At ille síngulis manus ímponens, curábat eos. Exíbant autem dæmónia a multis, clamántia et dicéntia: Quia tu es Fílius Dei: et íncrepans non sinébat ea loqui, quia sciébant ipsum esse Christum. Facta autem die egréssus ibat in desértum locum, et turbæ requirébant eum, et venerunt usque ad ipsum: et detinébant illum, ne discéderet ab eis. Quibus ille ait: Quia et aliis civitátibus opórtet me evangelizáre regnum Dei: quia ideo missus sum. Et erat prǽdicans in synagógis Galilǽæ.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, havendo Jesus saído da sinagoga, entrou na casa de Simão. Ora a sogra de Simão estava retida no leito com uma grande febre. Então eles rogaram a Jesus por ela. Logo Jesus impôs a sua vontade à febre, que deixou a doente, a qual, erguendo-se imediatamente, começou a servir Jesus e os seus companheiros. Quando foi sol-posto, todos os que tinham enfermos, atacados de diversas doenças, traziam-nos a Jesus, que, pondo as suas mãos sobre cada um deles, os curasse. E saíam demónios de muitos, gritando e dizendo: «Vós sois o Filho de Deus». Mas Jesus, repreendendo-os, lhes não permitia dizer que sabiam ser Ele o Cristo. Quando já era dia, saiu Jesus para ir a um lugar deserto; porém, o povo procurava-O. E vieram ter com Ele, detendo-O, com receio de que se afastasse deles. Então Jesus disse-lhes: «É necessário que Eu anuncie também às outras cidades o reino de Deus, pois para isso é que fui enviado». E Jesus andava pregando nas sinagogas da Galileia.
</div>
</div>
</div>

<h4 class="text-center">Ofertório</h4><em>Nm. 16, 48</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Stetit póntifex inter mórtuos et vivos, habens thuríbulum áureum in manu sua: et ófferens incénsi sacrifícium, placávit iram Dei, et cessávit quassátio a Dómino. (T. P. Allelúja.)
</div>
<div class="col-6 text-justify">
O Pontífice estava entre os mortos e os vivos, tendo na mão o turíbulo de ouro: e oferecendo um sacrifício com incenso, aplacou a cólera divina. Então o Senhor cessou de os castigar. (T. P. Aleluia.)
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Subvéniat nobis, quǽsumus, Dómine, sacrifícii præséntis oblátio: quæ nos et ab erróribus univérsis poténter absolvat, et a totíus erípiat perditiónis incúrsu. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Que a oblação do presente sacrifício nos sirva de auxílio, Vos suplicamos, Senhor; e dignai-Vos perdoar-nos todos nossos erros e livrar-nos dos males que nos cercam. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio</h4><em>Lc. 6, 17, 18 & 19</em>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Multitúdo languéntium, et qui vexabántur a spirítibus immúndis, veniébant ad eum: quia virtus de illo exíbat, et sanábat omnes. (T. P. Allelúja.)
</div>
<div class="col-6 text-justify">
Uma multidão de doentes e doutros que estavam atacados de espíritos imundos vinha ter com Ele; pois saía de Jesus um poder que os curava a todos. (T. P. Aleluia.)
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Exáudi nos, Deus, salutáris noster: et pópulum tuum ab iracúndiæ tuæ terróribus líberum, et misericórdiæ tuæ fac largitáte secúrum. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 text-justify">
Ouvi-nos, ó Deus, nosso salvador, e dignai-Vos permitir que o vosso povo seja livre de todos os flagelos da vossa ira; e pela vossa misericórdia seja restituído à paz e segurança. Por <em>&c.</em>
</div>
</div>
</div>