<h2 class="text-center">Missa da Paixão de N. S. Jesus Cristo <em>Para a Sexta-feira</em></h2>

<h4 class="text-center">Intróito <em>Fl. 2, 8-9</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Humiliávit semetípsum Dóminus Jesus Christus usque ad mortem, mortem autem crucis: propter quod et Deus exaltávit illum, et donávit illi nomen, quod est super omne nomen. (T. P. Allelúja, allelúja.) <em>Ps. 88, 2</em> Misericórdias Dómini in ætérnum cantábo: in generatiónem et generatiónem.
V. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
O Senhor Jesus Cristo humilhou-se a si próprio até à morte, e morte na Cruz; pelo que Deus o exaltou e Lhe deu um nome que é superior a todos os nomes. (T. P. Aleluia, aleluia.) <em>Sl. 88, 2</em> De geração em geração cantarei eternamente as misericórdias do Senhor.
V. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Dómine Jesu Christe, qui de cœlis ad terram de sinu Patris descendísti, et sánguinem tuum pretiósum in remissiónem peccatórum nostrórum fudísti: te humíliter deprecámur; ut in die judícii, ad déxteram tuam, audíre mereámur: Veníte, benedícti: Qui cum eodem Deo Patre et Spíritu Sancto vivis et regnas Deus, per ómnia sǽcula sæculórum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Senhor Jesus Cristo, que descestes do céu do seio do eterno Pai e espalhastes o vosso preciosíssimo Sangue em remissão dos nossos pecados, Vos pedimos humildemente, concedei-nos a graça, de, no dia de Juízo, nos encontrarmos colocados à vossa dextra para que mereçamos ouvir-Vos dizer: «Vinde, benditos do meu Pai». Ó Vós, que viveis e <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola <em>Zc. 12, 10-11; 13, 6-7</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio Zacharíæ Prophétæ.
</div>
<div class="col-6 text-justify">
Lição do Profeta Zacarias.
</div>
<div class="col-6 dropcaps text-justify">
Hæc dicit Dóminus: Effúndam super domum David et super habitatóres Jerúsalem spíritum grátiæ et precum: et aspícient ad me, quem confixérunt: et plangent eum planctu quasi super unigénitum, et dolébunt super eum, ut doléri solet in morte primogéniti. In die illa magnus erit planctus in Jerúsalem, et dicétur: Quid sunt plagæ istæ in médio mánuum tuárum? Et dicet: His plagátus sum in domo eórum, qui diligébant me. Frámea, suscitáre super pastórem meum, et super virum cohæréntem mihi, dicit Dóminus exercítuum: pércute pastórem, et dispergéntur oves: ait Dóminus omnípotens.
</div>
<div class="col-6 dropcaps text-justify">
Isto diz o Senhor: «Espalharei sobre a casa de David e sobre os moradores de Jerusalém o espírito da graça e da oração. Então ver-me-ão e conhecerão a quem traspassaram; e chorarão com lágrimas e suspiros, como quando se chora um filho único, penetrados de dor, como quando se pranteia a morte de um filho querido. Nesse dia haverá grande pranto em Jerusalém, perguntando-se: «Que chagas são estas no meio das vossas mãos?». E Ele responderá: «Com elas fui ferido em casa daqueles que me amavam!». Ó espada, que tu sejas desembainhada! Vem contra o meu pastor e contra aquele que é meu companheiro, diz o Senhor dos exércitos, fere este pastor, e as ovelhas serão dispersas», diz o Senhor omnipotente.
</div>
</div>
</div>

<h4 class="text-center">Gradual <em>Sl. 68,21-22</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Impropérium exspectávi cor meum et misériam: et sustínui, qui simul mecum contristarétur, et non fuit: consolántem me quæsívi, et non invéni. V. Dedérunt in escam meam fel, et in siti mea potavérunt me acéto.
</div>
<div class="col-6 dropcaps text-justify">
O meu coração não encontra senão impropérios e misérias. Tenho esperado quem tenha compaixão de mim, mas não apareceu ninguém! Procurei quem me consolasse, mas encontrei ninguém. V. Deram-me, fel para meu alimento: e, quando tinha sede, deram-me vinagre a beber.
</div>
<div class="col-6 text-justify">
Allelúja, allelúja. V. Ave, Rex noster: tu solus nostros es miserátus erróres: Patri obǿdiens, ductus es ad crucifigéndum, ut agnus mansúetus ad occisiónem. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. V. Ave, ó nosso Rei; só Vós tivestes compaixão de nossos erros. Sendo Vós obediente ao pai, fostes levado, como manso cordeiro, à crucifixão. Aleluia.
</div>
</div>
</div>

<em>Depois da Septuagésima omite-se o Aleluia e a Verso que se segue, e diz-se o:</em>

<h4 class="text-center">Trato <em>Is. 53, 4-5</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Vere languóres nostros ipse tulit et dolóres nostros ipse portávit. V. Et nos putávimus eum quasi leprósum et percússum a Deo et humiliátum. V. Ipse autem vulnerátus est propter iníquitates nostras, attrítus est propter scélera nostra. V. Disciplína pacis nostræ super eum: et livóre ejus sanáti sumus.
</div>
<div class="col-6 dropcaps text-justify">
Verdadeiramente tomou sobre si as nossas enfermidades e sofreu as nossas dores. V. Nós julgávamo-l’O como um leproso, como um homem ferido por Deus e humilhado pelos seus castigos. V. Porém Ele, foi ferido por causa das nossas iniquidades; foi cheio de dores por causa dos nossos crimes. V. Ele sofreu o castigo que nos alcançou a paz: fomos curados com seus vergões de sangue.
</div>
</div>
</div>

<em>No Tempo Pascal omite-se o Gradual e o Trato, e diz-se:</em>

<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Allelúja, allelúja. V. Ave, Rex noster: tu solus nostros es miserátus erróres: Patri obǿdiens, ductus es ad crucifigéndum, ut agnus mansúetus ad occisiónem. Allelúja. V. Tibi glória, hosánna: tibi triúmphus et victória: tibi summæ laudis et honóris coróna. Allelúja.
</div>
<div class="col-6 text-justify">
Aleluia, aleluia. V. Ave, ó nosso Rei; só Vós tivestes compaixão de nossos erros. Sendo Vós obediente ao Pai, fostes levado, como manso cordeiro, à crucifixão. Aleluia. V. A Vós Senhor, o triunfo e a vitória; a Vós, a coroa da maior homenagem e louvor. Aleluia.
</div>
</div>
</div>

<h4 class="text-center">Evangelho <em>Jo. 19, 28-35</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Sequéntia sancti Evangélii secúndum Joánnem.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Continuação do santo Evangelho segundo S. João.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Sciens Jesus, quia ómnia consummáta sunt, ut consummarétur Scriptúra, dixit: Sítio. Vas ergo erat pósitum acéto plenum. Illi autem spóngiam plenam acéto, hyssópo circumponéntes, obtulérunt ori ejus. Cum ergo accepísset Jesus acétum, dixit: Consummátum est. Et inclináto capite trádidit spíritum. Judǽi ergo (quóniam Parascéve erat), ut non remanérent in cruce córpora sábbato (erat enim magnus dies ille sábbati), rogavérunt Pilátum, ut frangeréntur eórum crura et tolleréntur. Venérunt ergo mílites: et primi quidem fregérunt crura et alteríus, qui crucifíxus est cum eo. Ad Jesum autem cum veníssent, ut vidérunt eum jam mórtuum, non fregérunt ejus crura, sed unus mílitum láncea latus ejus apéruit, et contínuo exívit sanguis et aqua. Et qui vidit, testimónium perhíbuit: et verum est testimónium ejus.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, sabendo Jesus que todas as coisas estavam completas, para que se cumprisse a Escritura, disse: «Tenho sede!». Estava ali um vaso cheio de vinagre. Então embeberam uma esponja no vinagre e, atando-a a um hissope, chegaram-lho à boca. E Jesus, havendo tomado o vinagre, disse: «Tudo está consumado!». Depois, tendo inclinado a cabeça, expirou. Porém os judeus, para que os corpos não ficassem na cruz, no sábado (porque era o dia da Preparação, e aquele sábado era dia solene) pediram licença a Pilatos que lhes fosse permitido quebrarem-lhes as pernas, e tirarem-nos. Vieram então os soldados e quebraram as pernas ao primeiro. Depois as do outro que havia sido crucificado com Ele. E, tendo vindo ao pé de Jesus e encontrando-O já morto, Lhe não quebraram as pernas, mas um dos soldados abriu-Lhe o lado com uma lança, donde logo saiu sangue e água. Aquele que viu isto, dá testemunho e o seu testemunho é verdadeiro.
</div>
</div>
</div>

<h4 class="text-center">Ofertório</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Insurrexérunt in me viri iníqui: absque misericórdia quæsiérunt me interfícere: et non pepercérunt in fáciem meam spúere: lánceis suis vulneravérunt me, et concússa sunt ómnia ossa mea. (T. P. Allelúja.)
</div>
<div class="col-6 dropcaps text-justify">
Homens iníquos levantaram-se contra mim; sem misericórdia alguma procuraram matar-me. Não hesitaram em escarrar na minha face. Feriram-me com suas lanças, ficando abalados todos meus ossos. (T. P. Aleluia.)
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Oblátum tibi, Dómine, sacrifícium, intercedénte unigéniti Fílii tui passióne, vivíficet nos semper et múniat: Qui tecum vivit <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Permiti, Senhor, pelos méritos da paixão de vosso Filho Unigénito, que este sacrifício, que Vos é oferecido, nos vivifique e fortifique para sempre. Ele, que, sendo Deus vive e reina <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio <em>Sl. 21,17-18</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Fodérunt manus meas et pedes meos: dinumeravérunt ómnia ossa mea. (T. P. Allelúja.)
</div>
<div class="col-6 dropcaps text-justify">
Atravessaram as minhas mãos e os meus pés, e contaram todos meus ossos. (T. P. Aleluia.)
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Dómine Jesu Christe, Fili Dei vivi, qui hora sexta pro redemptióne mundi Crucis patíbulum ascendísti, et sánguinem tuum pretiósum in remissiónem peccatórum nostrórum fudísti: te humíliter deprecámur; ut, post óbitum nostrum, paradísi jánuas nos gaudénter introíre concédas: Qui vivis <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Senhor Jesus Cristo, Filho de Deus vivo, que subistes ao patíbulo da Cruz, sendo a hora sexta, para redenção do mundo, e derramastes o vosso preciosíssimo Sangue para a redenção dos nossos pecados, concedei-nos a graça, humildemente Vos rogamos! de, após a nossa morte, podermos penetrar com alegria no paraíso, Ó Vós, que <em>&c.</em>
</div>
</div>
</div>
