<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
O salutaris Hostia,
Quæ cæli pandis ostium:
Bella premunt hostilia,
Da robur, fer auxilium.
Uni trinoque Domino
Sit sempiterna gloria,
Qui vitam sine termino
Nobis donet in patria.
Amen.
</div>
<div class="col-6 dropcaps text-justify">
Ó Hóstia salutar, porta do céu, divino Sacramento, o inimigo ameaça os nossos dias! Concedei-nos, Senhor, fortaleza e socorro. A Vós, Senhor, glória imortal! E que por Vós a alma fiel goze a vida e a felicidade na pátria sempiterna. Amen.
</div>
</div>
</div>