<h2 class="text-center">Segundo Domingo da Quaresma</h2>

<h4 class="text-center">Intróito <em>Sl. 24, 6, 3 & 22</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Reminíscere miseratiónum tuarum, Dómine, et misericórdiæ tuæ, quæ a sǽculo sunt: ne umquam dominéntur nobis inimíci nostri: líbera nos, Deus Israël, ex ómnibus angústiis nostris. <em>Ps. ibid., 1-2</em> Ad te, Dómine, levávi ánimam meam: Deus meus, in te confído, non erubéscam.
℣. Gloria Patri <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Lembrai-Vos, Senhor, de que a vossa bondade e misericórdia são eternas! Que os nossos inimigos nunca triunfem de nós. Ó Deus de Israel, livrai-nos de todas nossas angústias. <em>Sl. ibid., 1-2</em> A Vós, Senhor, elevei a minha alma: meu Deus, confio em Vós; não ficarei confundido.
℣. Glória ao Pai <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Oração</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Deus, qui cónspicis omni nos virtúte destítui: intérius exteriúsque custódi; ut ab ómnibus adversitátibus muniámur In córpore, et a pravis cogitatiónibus mundémur in mente. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus, que conheceis como somos destituídos de toda a virtude, guardai-nos interior e exteriormente, a fim de que o nosso corpo seja preservado de todas as adversidades e a nossa alma purificada de todos os maus pensamentos. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Epístola <em>1 Ts. 4, 1-7</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
Léctio Epístolæ beáti Pauli Apóstoli ad Thessalonicénses.
</div>
<div class="col-6 text-justify">
Lição da Ep.ª do B. Ap.º Paulo aos Tessalonicenses.
</div>
<div class="col-6 dropcaps text-justify">
Fratres: Rogámus vos et obsecrámus in Dómino Jesu: ut, quemádmodum accepístis a nobis, quómodo opórteat vos ambuláre et placére Deo, sic et ambulétis, ut abundétis magis. Scitis enim, quæ præcépta déderim vobis per Dóminum Jesum. Hæc est enim volúntas Dei, sanctificátio vestra: ut abstineátis vos a fornicatióne, ut sciat unusquísque vestrum vas suum possidére in sanctifícatióne et honóre; non in passióne desidérii, sicut et gentes, quæ ignórant Deum: et ne quis supergrediátur neque circumvéniat in negótio fratrem suum: quóniam vindex est Dóminus de his ómnibus, sicut prædíximus vobis et testificáti sumus. Non enim vocávit nos Deus in immundítiam, sed in sanctificatiónem: in Christo Jesu, Dómino nostro.
</div>
<div class="col-6 dropcaps text-justify">
Meus irmãos: Vos pedimos e exortamos, em nome do Senhor Jesus, que, havendo aprendido de nós como deveis conduzir-vos para agradar a Deus, tenhais uma conduta de modo a aperfeiçoar-vos cada vez mais. Com efeito, conheceis os preceitos que vos dei da parte do Senhor Jesus. O que Ele quer é a vossa santificação: que vos abstenhais da impureza carnal, para que cada um saiba guardar o vaso do seu corpo em santidade e honestidade, e não segundo os apetites das paixões, como os pagãos, que desconhecem Deus; e que ninguém engane o seu irmão, nem o prejudique, pois, o Senhor é vingador destas coisas, como já provámos e testemunhámos. Porquanto Deus vos não chamou para os gozos da carne, mas para a santificação em nosso Senhor Jesus Cristo.
</div>
</div>
</div>

<h4 class="text-center">Gradual <em>Sl. 24, 17-18</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Tribulatiónes cordis mei dilatátæ sunt: de necessitátibus meis éripe me, Dómine. ℣. Vide humilitátem meam et labórem meum: et dimítte ómnia peccáta mea.
</div>
<div class="col-6 dropcaps text-justify">
As tribulações do meu coração cresceram. Ó Senhor, livrai-me das minhas misérias. ℣. Vede a minha humilhação e fadiga e perdoai os meus pecados.
</div>
</div>
</div>

<h4 class="text-center">Trato <em>Sl. 105, 1-1</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Confitémini Dómino, quóniam bonus: quóniam in sǽculum misericórdia ejus. ℣. Quis loquétur poténtias Dómini: audítas fáciet omnes laudes ejus? ℣. Beáti, qui custódiunt judícium et fáciunt justítiam in omni témpore. ℣. Meménto nostri, Dómine, in beneplácito pópuli tui: vísita nos in salutári tuo.
</div>
<div class="col-6 dropcaps text-justify">
Louvai o Senhor, pois Ele é bom: a sua misericórdia é eterna. ℣. Quem será capaz de narrar as maravilhas da omnipotência do Senhor e apregoar os seus louvores? ℣. Bem-aventurados aqueles que procedem com equidade e justiça em todas as ocasiões. ℣. Pela vossa bondade para com vosso povo, Senhor, lembrai-Vos de nós: visitai-nos para alcançarmos a salvação.
</div>
</div>
</div>

<h4 class="text-center">Evangelho <em>Mt, 17, 1-9</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Sequéntia sancti Evangélii secúndum Matthǽum.
</div>
<div class="col-6 text-justify">
<span class="text-danger">&#10016;</span> Continuação do santo Evangelho segundo S. Mateus.
</div>
<div class="col-6 dropcaps text-justify">
In illo témpore: Assúmpsit Jesus Petrum, et Jacóbum, et Joánnem fratrem eius, et duxit illos in montem excélsum seórsum: et transfigurátus est ante eos. Et resplénduit fácies ejus sicut sol: vestiménta autem ejus facta sunt alba sicut nix. Et ecce, apparuérunt illis Móyses et Elías cum eo loquéntes. Respóndens autem Petrus, dixit ad Jesum: Dómine, bonum est nos hic esse: si vis, faciámus hic tria tabernácula, tibi unum, Móysi unum et Elíæ unum. Adhuc eo loquénte, ecce, nubes lúcida obumbrávit eos. Et ecce vox de nube, dicens: Hic est Fílius meus diléctus, in quo mihi bene complácui: ipsum audíte. Et audiéntes discípuli, cecidérunt in fáciem suam, et timuérunt valde. Et accéssit Jesus, et tétigit eos, dixítque eis: Súrgite, et nolíte timére. Levántes autem óculos suos, néminem vidérunt nisi solum Jesum. Et descendéntibus illis de monte, præcépit eis Jesus, dicens: Némini dixéritis visiónem, donec Fílius hóminis a mórtuis resúrgat.
</div>
<div class="col-6 dropcaps text-justify">
Naquele tempo, Jesus levou consigo Pedro, Tiago e João e conduziu-os a um monte alto e separado, transfigurando-se ante eles: seu rosto resplandecia, como o sol, e os seus vestidos tornaram-se brancos, como a neve! E Moisés e Elias apareceram, conversando com Jesus. Então, Pedro disse a Jesus: «Senhor, é tão bom estar aqui!... Se quereis, façamos aqui três tendas: uma para Vós, outra para Moisés e outra para Elias!». Ainda ele falava, eis que uma nuvem brilhante os envolveu, saindo do seio dela uma voz, que dizia: «Este é o meu Filho muito amado, em quem pus as minhas complacências; ouvi-O». Havendo escutado a voz, os discípulos caíram com o rosto no chão e ficaram atemorizados. Mas Jesus tocou-os e disse-lhes: «Levantai-vos; não vos amedronteis». Então, erguendo os olhos, já nada viram senão só Jesus. Desceram do monte, dando-lhes Jesus esta ordem: «Não conteis a ninguém esta visão até que o Filho do homem ressuscite dos mortos».
</div>
</div>
</div>

<h4 class="text-center">Ofertório <em>Sl. 118,47 & 48</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Meditábor in mandátis tuis, quæ diléxi valde: et levábo manus meas ad mandáta tua, quæ diléxi.
</div>
<div class="col-6 dropcaps text-justify">
Meditarei nos vossos Mandamentos, que muito amo: e levantarei as minhas mãos para cumprir esses Mandamentos, que, repito, muito amo.
</div>
</div>
</div>

<h4 class="text-center">Secreta</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Sacrifíciis præséntibus, Dómine, quǽsumus, inténde placátus: ut et devotióni nostræ profíciant et salúti. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Senhor, Vos suplicamos, dignai-Vos olhar benigno para o presente sacrifício, a fim de que sirva de proveito à nossa piedade e à nossa salvação. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>

<h4 class="text-center">Comúnio <em>Sl. 5, 2-4</em></h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Intéllege clamórem meum: inténde voci oratiónis meæ, Rex meus et Deus meus: quóniam ad te orábo, Dómine.
</div>
<div class="col-6 dropcaps text-justify">
Ouvi o meu clamor; ouvi a minha oração, ó meu Rei, ó meu Deus; pois orei a Vós.
</div>
</div>
</div>

<h4 class="text-center">Postcomúnio</h4>
<div class="container-fluid">
<div class="row">
<div class="col-6 dropcaps text-justify">
Súpplices te rogámus, omnípotens Deus: ut quos tuis réficis sacraméntis, tibi etiam plácitis móribus dignánter deservíre concédas. Per Dóminum <em>&c.</em>
</div>
<div class="col-6 dropcaps text-justify">
Ó Deus omnipotente, Vos suplicamos instantemente que aqueles a quem sustentais com vossos sacramentos tenham uma conduta de vida que Vos seja agradável. Por nosso Senhor <em>&c.</em>
</div>
</div>
</div>