---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link
      href="https://fonts.googleapis.com/css?family=Cardo|Berkshire+Swash&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --dark: #2f4cb3;
    --black: #17191e;
    --white: #f6f6f6;
    --gray-100: #f2f6fa;
    --gray-200: #bfc1c9;
    --gray-300: #858b98;
    --gray-400: #545864;
    --gray-500: #343841;
    --gray-600: #23262d;
    --gray-700: #17191e;
    --blue: #3245ff;
    --purple: #b845ed;
    --red: #d83333;
    --green: #4af2c8;
    --hover: #e8c4f9;
    --blue-red-gradient: linear-gradient(
      45deg,
      var(--dark) 0%,
      var(--red) 5%,
      white 80%
    );

    --gray-gradient: linear-gradient(
      45deg,
      var(--gray-100) 0%,
      var(--gray-200) 100%
    );
    --blue-purple-gradient: linear-gradient(
      83.21deg,
      var(--blue) 0%,
      var(--purple) 100%
    );
    --blue-green-gradient: linear-gradient(
      247.23deg,
      var(--green) 10%,
      var(--dark) 100%
    );
  }
</style>
