---
layout: default
title: Pequeno Ofício de Nossa Senhora
---

<div class="col-2 desktop">
    <nav id="toc" data-spy="affix" data-toggle="toc" class="toc-oficio"></nav>
</div>

<div class="col-md-10">

    <h1 class="text-center">Pequeno Ofício de Nossa Senhora</h1>

    <h2 class="text-center" id="item-1">Matinas 1</h2>

    {% include oficio/matins1.html %}

    <h2 class="text-center" id="item-2">Matinas 2</h2>

    {% include oficio/matins2.html %}

    <h2 class="text-center" id="item-3">Lauds 1</h2>

    {% include oficio/lauds1.html %}

    <h2 class="text-center" id="item-4">Lauds 2</h2>

    {% include oficio/lauds2.html %}

    <h2 class="text-center" id="item-5">Lauds 3</h2>

    {% include oficio/lauds3.html %}

    <h2 class="text-center" id="item-6">Prima 1</h2>

    {% include oficio/prima1.html %}

    <h2 class="text-center" id="item-7">Prima 2</h2>

    {% include oficio/prima2.html %}

    <h2 class="text-center" id="item-38">Prima 3</h2>

    {% include oficio/prima3.html %}

    <h2 class="text-center" id="item-9">Terça 1</h2>

    {% include oficio/terca1.html %}

    <h2 class="text-center" id="item-10">Terça 2</h2>

    {% include oficio/terca2.html %}

    <h2 class="text-center" id="item-11">Terça 3</h2>

    {% include oficio/terca3.html %}

    <h2 class="text-center" id="item-12">Sexta 1</h2>

    {% include oficio/sexta1.html %}

    <h2 class="text-center" id="item-13">Sexta 2</h2>

    {% include oficio/sexta2.html %}

    <h2 class="text-center" id="item-14">Sexta 3</h2>

    {% include oficio/sexta3.html %}

    <h2 class="text-center" id="item-15">Noa 1</h2>

    {% include oficio/noa1.html %}

    <h2 class="text-center" id="item-16">Noa 2</h2>

    {% include oficio/noa2.html %}

    <h2 class="text-center" id="item-17">Noa 3</h2>

    {% include oficio/noa3.html %}

    <h2 class="text-center" id="item-18">Vésperas 1</h2>

    {% include oficio/vespers1.html %}

    <h2 class="text-center" id="item-19">Vésperas 2</h2>

    {% include oficio/vespers2.html %}

    <h2 class="text-center" id="item-20">Vésperas 3</h2>

    {% include oficio/vespers3.html %}

    <h2 class="text-center" id="item-21">Completas 1</h2>

    {% include oficio/completas1.html %}

    <h2 class="text-center" id="item-22">Completas 2</h2>

    {% include oficio/completas2.html %}

    <h2 class="text-center" id="item-23">Completas 3</h2>

    {% include oficio/completas3.html %}

</div>