---

title: Orações Leoninas
---

<div class="col-2 desktop">
  <nav
    id="toc"
    data-spy="affix"
    data-toggle="toc"
    class="toc-oracoesleoninas"
  ></nav>
</div>

<div class="col-md-10">
  <h2 class="text-center">Orações Leoninas</h2>

  <em
    >De joelhos diante do altar, o Sacerdote diz com os fiéis as seguintes
    preces prescritas pelo Papa Leão XIII e por Pio XI enriquecidas de
    indulgências (10 anos). Este último Papa mandou se rezassem pela conversão
    da Rússia.</em
  >

  <h3 class="text-center">Ave Maria</h3>

  <em>Ave Maria repete-se três vezes</em>
  {% include oracoes/avemaria.html %}

  <h3 class="text-center">Salve Regina</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="dropcap text-justify">
        Salve, Regína, mater misericórdiæ; vita, dulcédo et spes nóstra, salve.
        Ad te clamámus éxsules fílii Hevæ. Ad te suspirámus geméntes et flentes
        In hac lacrimárum valle. Eia ergo, advocáta nostra, illos tuos
        misericórdes óculos ad nos convérte. Et Iesum, benedíctum fructum
        ventris tui, nobis post hoc exsílium osténde. O clemens, o pia, o dulcis
        Virgo María.
      </div>
      <div class="dropcap text-justify">
        Salvé, Rainha, mãe de misericórdia, vida, doçura, esperança nossa,
        salve! A Vós bradamos, os degredados filhos de Eva. A Vós suspiramos,
        gemendo e chorando neste vale de lágrimas. Eia, pois, advogada nossa,
        esses vossos olhos misericordiosos a nós volvei. E, depois deste
        desterro, nos mostrai Jesus, bendito fruto do vosso ventre. Ó clemente,
        ó piedosa, ó doce Virgem Maria.
      </div>
      <div class="text-justify">
        V. Ora pro nobis Sancta Dei Génitrix.
      </div>
      <div class="text-justify">V. Rogai por nós, Santa Mãe de Deus.</div>
      <div class="text-justify">
        <span class="text-danger">R.</span> Ut digni efficiámur promissiónibus
        Christi.
      </div>
      <div class="text-justify">
        <span class="text-danger">R.</span> Para que sejamos dignos das
        promessas de Cristo.
      </div>
      <div class="text-danger text-center">Orémus.</div>
      <div class="text-danger text-center">Oremos.</div>
      <div class="dropcap text-justify">
        Deus, refúgium nostrum et virtus, pópulum ad te clamántem propítius
        réspice; et intercedénte gloriósa, et immaculáta Vírgine Dei Genitríce
        María, cum beáto Joseph, ejus Sponso, ac beatis Apóstolis tuis Petro et
        Paulo, et ómnibus Sanctis, quas pro conversióne peccatórum, pro
        libertáte et exaltatióne sanctæ Matris Ecclésiæ, preces effúndimus,
        miséricors et benígnus exáudi. Per eúndem Christum Dóminum nostrum.
      </div>
      <div class="dropcap text-justify">
        Meu Deus, refúgio e fortaleza nossa, atendei propício aos clamores do
        vosso povo, e, pela intercessão da gloriosa e imaculada Virgem Maria,
        Mãe de Deus, do Bem-aventurado S. José, seu Esposo, dos bem-aventurados
        Apóstolos Pedro e Paulo e de todos os Santos, ouvi benigno e
        misericordioso as preces que fervorosamente Vos dirigimos pela conversão
        dos pecadores e pela libertação da santa Madre Igreja. Pelo mesmo
        Cristo, nosso Senhor.
      </div>
      <div class="text-justify">
        <span class="text-danger">R.</span> Amen.
      </div>
      <div class="text-justify">
        <span class="text-danger">R.</span> Amen.
      </div>
    </div>
  </div>

  <h3 class="text-center">Oração a São Miguel Arcanjo</h3>
  {% include oracoes/saomiguel.html %}

  <em>S. Pio X pediu se juntasse três vezes a seguinte jaculatória:</em>

  <div class="container-fluid">
    <div class="row">
      <div class="text-justify">V. Cor Jesu sacratíssimum:</div>
      <div class="text-justify">V. Coração sacratíssimo de Jesus:</div>
      <div class="text-justify">
        <span class="text-danger">R.</span> Miserére nobis.
      </div>
      <div class="text-justify">
        <span class="text-danger">R.</span> Tende misericórdia de nós.
      </div>
    </div>
  </div>
</div>
