---
layout: default
title: Orações Diversas
---

<div class="col-2 desktop">
	<nav id="toc" data-spy="affix" data-toggle="toc" class="toc-oracoesdiversas"></nav>
</div>

<div class="col-md-10">

<h1 class="text-center">Orações Diversas</h1>

{% include missal/oracoesdiversas/sufragiosantos1.html %}
{% include missal/oracoesdiversas/sufragiosantos2.html %}
{% include missal/oracoesdiversas/hierarquiaigreja.html %}
{% include missal/oracoesdiversas/sumopontifice.html %}
{% include missal/oracoesdiversas/imperador.html %}
{% include missal/oracoesdiversas/rei.html %}
{% include missal/oracoesdiversas/preladoscongregacoes.html %}
{% include missal/oracoesdiversas/congregacaofamilia.html %}
{% include missal/oracoesdiversas/concordiacongregacao.html %}
{% include missal/oracoesdiversas/perseguidoresigreja.html %}
{% include missal/oracoesdiversas/perseguidoresmalfeitores.html %}
{% include missal/oracoesdiversas/algumanecessidade.html %}
{% include missal/oracoesdiversas/tribulacao.html %}
{% include missal/oracoesdiversas/fome.html %}
{% include missal/oracoesdiversas/tremorterra.html %}
{% include missal/oracoesdiversas/implorarchuva.html %}
{% include missal/oracoesdiversas/bomtempo.html %}
{% include missal/oracoesdiversas/tempestades.html %}
{% include missal/oracoesdiversas/animais.html %}
{% include missal/oracoesdiversas/sacerdote.html %}
{% include missal/oracoesdiversas/lagrimas.html %}
{% include missal/oracoesdiversas/perdaopecados.html %}
{% include missal/oracoesdiversas/penitentespublicos.html %}
{% include missal/oracoesdiversas/tentadosatribulados.html %}
{% include missal/oracoesdiversas/mauspensamentos.html %}
{% include missal/oracoesdiversas/continencia.html %}
{% include missal/oracoesdiversas/humildade.html %}
{% include missal/oracoesdiversas/paciencia.html %}
{% include missal/oracoesdiversas/caridade.html %}
{% include missal/oracoesdiversas/amigos.html %}
{% include missal/oracoesdiversas/inimigos.html %}
{% include missal/oracoesdiversas/presos.html %}
{% include missal/oracoesdiversas/mareantes.html %}
{% include missal/oracoesdiversas/vivos.html %}
{% include missal/oracoesdiversas/vivosedefuntos.html %}
{% include missal/oracoesdiversas/portugaldominios.html %}
