---
layout: default
title: Próprio do Tempo
---

<div class="col-2 desktop">
	<nav id="toc" data-spy="affix" data-toggle="toc" class="toc-propriotempo"></nav>
</div>

<div class="col-md-10">
<h1 class="text-center">Próprio do Tempo</h1>
{% include missal/advento/1.html %}
{% include missal/advento/2.html %}
{% include missal/advento/3.html %}
{% include missal/advento/4.html %}
{% include missal/advento/quartafeiratemporas.html %}
{% include missal/advento/sextafeiratemporas.html %}
{% include missal/advento/sabadotemporasinverno.html %}

{% include missal/natal/vigilianatal.html %}
{% include missal/natal/1.html %}
{% include missal/natal/2.html %}
{% include missal/natal/3.html %}
{% include missal/natal/domingooitavarionatal.html %}
{% include missal/natal/circuncisao.html %}
{% include missal/natal/santissimonome.html %}

{% include missal/epifania/epifania.html %}
{% include missal/epifania/sagradafamilia.html %}
{% include missal/epifania/domingodentrooitavarioepifania.html %}
{% include missal/epifania/oitavaepifania.html %}
{% include missal/epifania/2.html %}
{% include missal/epifania/3.html %}
{% include missal/epifania/4.html %}
{% include missal/epifania/5.html %}
{% include missal/epifania/6.html %}
{% include missal/epifania/septuagesima.html %}
{% include missal/epifania/sexagesima.html %}
{% include missal/epifania/quinquagesima.html %}

{% include missal/quaresma/quartacinzas.html %}
{% include missal/quaresma/quintafeiradepoiscinzas.html %}
{% include missal/quaresma/sextafeiradepoiscinzas.html %}
{% include missal/quaresma/sabadodepoiscinzas.html %}
{% include missal/quaresma/1.html %}
{% include missal/quaresma/1segunda.html %}
{% include missal/quaresma/1terca.html %}
{% include missal/quaresma/1quarta.html %}
{% include missal/quaresma/1quinta.html %}
{% include missal/quaresma/1sexta.html %}
{% include missal/quaresma/1sabado.html %}
{% include missal/quaresma/2.html %}
{% include missal/quaresma/2segunda.html %}
{% include missal/quaresma/2terca.html %}
{% include missal/quaresma/2quarta.html %}
{% include missal/quaresma/2quinta.html %}
{% include missal/quaresma/2sexta.html %}
{% include missal/quaresma/2sabado.html %}
{% include missal/quaresma/3.html %}
{% include missal/quaresma/3segunda.html %}
{% include missal/quaresma/3terca.html %}
{% include missal/quaresma/3quarta.html %}
{% include missal/quaresma/3quinta.html %}
{% include missal/quaresma/3sexta.html %}
{% include missal/quaresma/3sabado.html %}
{% include missal/quaresma/4.html %}
{% include missal/quaresma/4segunda.html %}
{% include missal/quaresma/4terca.html %}
{% include missal/quaresma/4quarta.html %}
{% include missal/quaresma/4quinta.html %}
{% include missal/quaresma/4sexta.html %}
{% include missal/quaresma/4sabado.html %}

{% include missal/quaresma/paixao.html %}
{% include missal/quaresma/paixaosegunda.html %}
{% include missal/quaresma/paixaoterca.html %}
{% include missal/quaresma/paixaoquarta.html %}
{% include missal/quaresma/paixaoquinta.html %}
{% include missal/quaresma/paixaosexta.html %}
{% include missal/quaresma/paixaosabado.html %}

{% include missal/quaresma/ramos.html %}
{% include missal/quaresma/segundafeirasanta.html %}
{% include missal/quaresma/tercafeirasanta.html %}
{% include missal/quaresma/quartafeirasanta.html %}

{% include missal/quaresma/quintafeirasanta.html %}
{% include missal/quaresma/sextafeirasanta.html %}
{% include missal/quaresma/sabadosanto.html %}
{% include missal/pascoa/ressurreicao.html %}

{% include missal/pascoa/segundafeirapascoa.html %}
{% include missal/pascoa/tercafeirapascoa.html %}
{% include missal/pascoa/quartafeirapascoa.html %}
{% include missal/pascoa/quintafeirapascoa.html %}
{% include missal/pascoa/sextafeirapascoa.html %}
{% include missal/pascoa/sabadopascoa.html %}

{% include missal/pascoa/albis.html %}
{% include missal/pascoa/2.html %}
{% include missal/pascoa/3.html %}
{% include missal/pascoa/4.html %}
{% include missal/pascoa/5.html %}

{% include missal/pascoa/rogacoes.html %}
{% include missal/pascoa/vigiliaascensao.html %}

{% include missal/pascoa/ascensao.html %}
{% include missal/pascoa/domingodepoisascensao.html %}

{% include missal/pentecostes/vigiliapentecostes.html %}

{% include missal/pentecostes/pentecostes.html %}
{% include missal/pentecostes/segundafeirapentecostes.html %}
{% include missal/pentecostes/tercafeirapentecostes.html %}
{% include missal/pentecostes/quartafeirapentecostes.html %}
{% include missal/pentecostes/quintafeirapentecostes.html %}
{% include missal/pentecostes/sextafeirapentecostes.html %}
{% include missal/pentecostes/sabadopentecostes.html %}

{% include missal/pentecostes/santissimatrindade.html %}
{% include missal/pentecostes/1.html %}

{% include missal/pentecostes/santissimocorpo.html %}
{% include missal/pentecostes/2.html %}

{% include missal/pentecostes/santissimocoracao.html %}
{% include missal/pentecostes/3.html %}
{% include missal/pentecostes/4.html %}
{% include missal/pentecostes/5.html %}
{% include missal/pentecostes/6.html %}
{% include missal/pentecostes/7.html %}
{% include missal/pentecostes/8.html %}
{% include missal/pentecostes/9.html %}
{% include missal/pentecostes/10.html %}
{% include missal/pentecostes/11.html %}
{% include missal/pentecostes/12.html %}
{% include missal/pentecostes/13.html %}
{% include missal/pentecostes/14.html %}
{% include missal/pentecostes/15.html %}
{% include missal/pentecostes/16.html %}
{% include missal/pentecostes/17.html %}
{% include missal/pentecostes/18.html %}
{% include missal/pentecostes/19.html %}
{% include missal/pentecostes/20.html %}
{% include missal/pentecostes/21.html %}
{% include missal/pentecostes/22.html %}
{% include missal/pentecostes/23.html %}

{% include missal/pentecostes/epifania3.html %}
{% include missal/pentecostes/epifania4.html %}
{% include missal/pentecostes/epifania5.html %}

{% include missal/pentecostes/24.html %}
</div>