---
layout: default
title: Missas Votivas
---

<div class="col-2 desktop">
	<nav id="toc" data-spy="affix" data-toggle="toc" class="toc-votivas"></nav>
</div>

<div class="col-md-10">
<h1 class="text-center">Missas Votivas</h1>

{% include missal/votivas/santissimatrindade.html %}
{% include missal/votivas/anjos.html %}
{% include missal/votivas/jose.html %}
{% include missal/votivas/pedropaulo.html %}
{% include missal/votivas/apostolos.html %}
{% include missal/votivas/espiritosanto.html %}
{% include missal/votivas/santissimosacramento.html %}
{% include missal/votivas/jesuseternosacerdote.html %}
{% include missal/votivas/santacruz.html %}
{% include missal/votivas/paixao.html %}
{% include missal/votivas/coracaojesus.html %}
{% include missal/votivas/eleicaopapa.html %}
{% include missal/votivas/coroacaopapa.html %}
{% include missal/votivas/sagracaobispo.html %}
{% include missal/votivas/consagracaobispo.html %}
{% include missal/votivas/ordenacaopadre.html %}
{% include missal/votivas/propagacaofe.html %}
{% include missal/votivas/contrapagaos.html %}
{% include missal/votivas/unidadecrista.html %}
{% include missal/votivas/duranteguerra.html %}
{% include missal/votivas/pelapaz.html %}
{% include missal/votivas/evitarmortandade.html %}
{% include missal/votivas/gracaespiritosanto.html %}
{% include missal/votivas/remissaopecados.html %}
{% include missal/votivas/peregrinosviajantes.html %}
{% include missal/votivas/enfermos.html %}
{% include missal/votivas/boamorte.html %}
{% include missal/votivas/qualquernecessidade.html %}
{% include missal/votivas/accaogracas.html %}
</div>